<div id="add-individual-page">
  <div class="content-heading">
    <!-- Breadcrumb right aligned-->
    <breadcrumb class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-mg" [breadcrumbData]="breadcrumbData"></breadcrumb>
  </div>
  <ng-container *ngIf="!renderPage">
    <app-loader class="col-md-12" [loading]="!renderPage"></app-loader>
  </ng-container>
  <div class="container-fluid" *ngIf="renderPage">
    <form class="form-horizontal" [formGroup]="manageIndividualForm" novalidate>
      <div class="row no-mg">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
          <!-- <div class="panel-heading"> -->
          <h5 class="text-dark">
            <strong>{{'talent.individuals.labels.personalDetails'| translate}}</strong>
            <em class="pull-right mandatory">*{{'common.labels.mandatory'| translate}}</em>
          </h5>
          <!-- </div> -->
          <div class="panel panel-primary">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.firstName'
                    | translate}} <span style="color:red;">*</span></label>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input class="form-control" type="text" required formControlName="firstName"
                      placeholder="{{'talent.individuals.labels.firstName'| translate}}">
                    <div class="text-danger"
                      *ngIf="manageIndividualForm.controls['firstName']?.errors?.checkRequired && (manageIndividualForm.controls['firstName'].touched || submitIndividualForm)">{{'pages.errorMessages.fieldRequired'|
                          translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.lastName'
                    | translate}} <span style="color:red;">*</span></label>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input class="form-control" type="text" required formControlName="lastName"
                      placeholder="{{'talent.individuals.labels.lastName'| translate}}">
                    <div class="text-danger"
                      *ngIf="manageIndividualForm.controls['lastName']?.errors?.checkRequired && (manageIndividualForm.controls['lastName'].touched || submitIndividualForm)">{{'pages.errorMessages.fieldRequired'|
                          translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label class="control-label">{{'common.labels.email' | translate}}
                      <span class="mandatory" *ngIf="!individualID">*</span>
                    </label>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="!individualID">
                      <input name="email" class="form-control" formControlName="email"
                        oninput="this.value = this.value.replace(/[^@a-zA-Z0-9._-]/g, '');"
                        placeholder="{{'talent.individuals.labels.email' | translate}}"
                        (change)="transformToLowerCase()">
                      <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg"
                        *ngIf="manageIndividualForm.controls['email']?.errors?.checkRequired &&  (manageIndividualForm.controls['email'].touched  || submitIndividualForm)">{{'pages.errorMessages.fieldRequired'|
                      translate}}</div>
                      <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg"
                        *ngIf="!manageIndividualForm.controls['email']?.errors?.checkRequired && manageIndividualForm.controls['email']?.errors?.checkEmail && manageIndividualForm.controls['email'].touched && manageIndividualForm.controls['email'].dirty">{{'talent.individuals.errorMessages.invalidEmailId'
                      | translate}}</div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="individualID">
                      {{manageIndividualForm?.value?.email}}
                    </div>

                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.phone'
                        | translate}} <span class="mandatory">*</span>
                  </label>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input name="phone" class="form-control" formControlName="phone"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                      placeholder="{{'talent.individuals.labels.phone' | translate}}">
                    <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg"
                      *ngIf="manageIndividualForm.controls['phone']?.errors?.checkRequired &&  (manageIndividualForm.controls['phone'].touched  || submitIndividualForm)">{{'pages.errorMessages.fieldRequired'|
                      translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.address'
                          | translate}}</label>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <textarea name="address" class="form-control" formControlName="address"
                      placeholder="{{'talent.individuals.labels.address' | translate}}"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <h4 class="text-dark">
          <strong>{{'talent.individuals.labels.referredBy' |translate}}</strong>
        </h4>
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ml-3">
                <label class="radio-inline ptr" [ngClass]="(index!=0) ? 'ml-3':''"
                  *ngFor="let talentType of TALENT_TYPES_ARR;let index=index">
                  <input id="inlineradio{{index}}" (change)="talentTypeChanged()" type="radio"
                    formControlName="referredBy" [value]="talentType.id" />
                  {{'common.labels.'+ talentType.text | translate}}</label>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ml-3">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6  no-mg"
                  *ngIf="manageIndividualForm.value.referredBy == TALENT_TYPES_OBJ.agency; else individualBlock">
                  <label> {{'talent.individuals.labels.agency' |translate}}
                  </label>
                  <ngx-select [items]="agencyNamesArr" [allowClear]='true' (typed)="searchTypedAgencyName.next($event)"
                    placeholder="{{'common.labels.selectMode' |
                     translate}}" formControlName="referredAgencyName">
                    <ng-template ngx-select-option-not-found>
                      <ng-container *ngIf="isLoadingAgencyName; else elseBlock">
                        {{'biddings.labels.loading' | translate}}
                        <span class="fl-right">
                          <i class="fa fa-spinner fa-spin margin-right-5"></i>
                        </span>
                      </ng-container>
                      <ng-template #elseBlock>
                        {{ 'common.labels.recordNotFound' | translate }}
                      </ng-template>
                    </ng-template>
                  </ngx-select>
                </div>
                <ng-template #individualBlock>
                  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 no-mg">
                    <label> {{'talent.individuals.labels.talent' |translate}}
                    </label>
                    <ngx-select [items]="individualNamesArr" [allowClear]='true'
                      (typed)="searchTypedIndividualName.next($event)"
                      placeholder="{{'common.labels.selectMode' | translate}}" formControlName="referredIndividualName">
                      <ng-template ngx-select-option-not-found>
                        <ng-container *ngIf="isLoadingIndividualName; else elseBlock">
                          {{'biddings.labels.loading' | translate}}
                          <span class="fl-right">
                            <i class="fa fa-spinner fa-spin margin-right-5"></i>
                          </span>
                        </ng-container>
                        <ng-template #elseBlock>
                          {{ 'common.labels.recordNotFound' | translate }}
                        </ng-template>
                      </ng-template>
                    </ngx-select>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <h4 class="text-dark">
          <strong>{{'talent.individuals.labels.paymentDetails'| translate}}</strong>
        </h4>
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.currency' |
                      translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <ngx-select [items]="CURRENCY_CONSTANTS" formControlName="currency" [allowClear]='true'
                    placeholder="{{'common.labels.select' | translate}}">
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.mode' |
                      translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <ngx-select [items]="operationTypesArr" formControlName="modeOfOperation" [allowClear]='true'
                    placeholder="{{'common.labels.select' | translate}}">
                  </ngx-select>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.accountName' |
                                  translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="accountName" class="form-control" placeholder="{{'talent.individuals.labels.accountName' |
                                translate}}">
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.accountNumber' |
                                translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="accNumber" class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="{{'talent.individuals.labels.accountNumber' |
                              translate}}">
                </div>
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.bankName' |
                                    translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="bankName" class="form-control" placeholder="{{'talent.individuals.labels.bankName' |
                                  translate}}">
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.branchName' |
                                  translate}}
                </label>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="branch" class="form-control" placeholder="{{'talent.individuals.labels.branchName' |
                                  translate}}">
                </div>
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.clabe' |
                                        translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="clabe" class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="18" minlength="18" name="clabe"
                    placeholder="{{'talent.individuals.labels.clabe' | translate}}">
                  <div class="text-danger no-mg"
                    *ngIf="manageIndividualForm.controls['clabe']?.errors && (manageIndividualForm.controls['clabe'].touched  || submitIndividualForm)">{{'common.errorMessages.clabeMessage'|
                        translate}}</div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.taxIdRFC' |
                                        translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="taxId" class="form-control" placeholder="{{'common.labels.taxIdRFC' |
                                      translate}}">
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.address'
                            | translate}}</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <textarea name="bankAddress" class="form-control" formControlName="bankAddress"
                    placeholder="{{'talent.individuals.labels.address' | translate}}"></textarea>
                </div>
              </div>
            </div>

            <!-- <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-3">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" formControlName="thirdParty">
                  <span class="fa fa-check"></span>
                  {{'actors.vendors.labels.thirdParty'| translate}}
                </label>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <div class="panel panel-primary">
          <div class="panel-heading document-panel">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 no-mg">
                <h5 class="text-dark">
                  <strong>{{'common.labels.contractUpload'| translate}}
                  </strong>
                </h5>
              </div>
              <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 no-mg text-right">
                <label for="file2" class="file-upload m-0">
                  <em class="text-right text-dark pr-10">
                    <span class="small f-italic">
                      {{'common.labels.talentDocumentTypes' | translate}}&nbsp;
                    </span>
                  </em>
                  <button class="btn btn-default browse-btn"
                    type="button">{{'common.labels.browse'| translate}}</button>
                  <input id="file2" type="file" title="{{'common.labels.noFileChosen' | translate}}"
                    accept="{{ACCEPT_ATTACHMENT_FILE_FORMATS}}" multiple ng2FileSelect [uploader]="contractAttachments"
                    (change)="addFiles($event)" />
                </label>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-md-12">
              <div class="row attachment-section">
                <div class="col-md-6 dropZone">
                  <div ng2FileDrop [uploader]="contractAttachments" class="my-drop-zone dropzone">
                    <div class="attachUpload" *ngIf="contractAttachments.queue.length > 0">
                      <div class="listItem mb-2" *ngFor="let item of contractAttachments.queue;let i=index;">
                        <div class="row" *ngIf="item?.file !== undefined">
                          <div class="col-md-10  textElipses">
                            <a class="fileName document-link" data-toggle="tooltip" data-placement="top"
                              title="{{ item?.file?.name }}" target="_blank" *ngIf="item?.url" href="{{item.url}}"
                              download="{{item.url}}">
                              {{ item?.file?.name }}
                            </a>
                            <i *ngIf="item?.url == ''" class="fa fa-spinner fa-spin margin-right-5"></i>
                          </div>
                          <div class="col-md-2">
                            <a *ngIf="item?.url" class="attachRemoveBtn btn-default ptr">
                              <em class="fa fa-trash" (click)="removeFiles(i,item);"></em>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error" *ngIf="checkcontractAttachments && enableSaveButtonFlag">{{'actors.freelancers.errorMessages.fieldRequired'|
                        translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ui-control-permission [fieldName]="'projectCategory'" [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeFields"
        [uiPermissionObj]="uiAccessPermissionsObj">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
          <h5 class="text-dark">
            <strong>{{'actors.freelancers.labels.projectCategory'|
            translate}}/{{'actors.freelancers.labels.accountMapping'| translate}}</strong>
          </h5>
          <div class="card card-transparent">
            <tabset class="bg-white p-0" justified="true">
              <tab *ngFor="let tab of tabs;let tabIndex=index" (select)="showHideFloatingButtons(50)">
                <ng-template tabHeading>
                  {{tab.name | translate}}
                </ng-template>
                <div class="min-ht">
                  <ng-container *ngIf="showLoadingFlg">
                    <app-loader class="col-md-12" [loading]="showLoadingFlg"></app-loader>
                  </ng-container>
                  <table id="category-table" class="table table-bordered" *ngIf=" tab?.categories.length > 0"
                    [ngClass]="{'hide-content': showLoadingFlg}">
                    <thead>
                      <tr>
                        <th>{{'projects.labels.budgetLine'| translate}}</th>
                        <th>{{'common.labels.category'| translate}}</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <ng-container *ngFor="let category of tab?.categories;let i = index;">
                        <tr [attr.cat]="category.id">
                          <td>{{category?.budgetLine}}</td>
                          <td class="category-name c-pointer id_{{category.id}}"
                            (click)="selectCategories(category.id,tabIndex,'category_cell_',(category?.accounts ? false:true), '','category')"
                            [ngClass]="'category_cell_'+category.id">
                            <ng-container *ngIf="category?.accounts">
                              <span class="expander">
                                <i class="category-plus fa fa-plus-circle" [ngClass]="'category_'+category.id"
                                  (click)="subMenuShow(category.id, 'show',$event)"></i>
                              </span>
                              <span class="expander">
                                <i class="category-minus fa fa-minus-circle" [ngClass]="'category_'+category.id"
                                  (click)="subMenuShow(category.id, 'hide',$event)"></i>
                              </span>
                            </ng-container>
                            <span> {{category?.i18n?.mappingName}}</span>
                            <i class="fa fa-check pull-right"></i>
                          </td>
                        </tr>
                        <ng-container *ngIf="category?.accounts">
                          <ng-container *ngFor="let subCategory of category?.accounts;let subIndex = index;">
                            <tr class="sub-category sub-category_{{category.id}}"
                              [ngClass]="subCategory?.accounts?.length > 0 ? 'parent-node':'' " [attr.cat]="category.id"
                              [attr.account]="subCategory.id">
                              <td>{{subCategory?.budgetLine}}</td>
                              <td class="subcategory-name c-pointer id_{{subCategory.id}} pl-60"
                                [ngClass]="'sub_category_cell_'+subCategory.id"
                                (click)="selectCategories(subCategory.id,tabIndex,'sub_category_cell_',(subCategory?.accounts ? false:true),category.id, 'account')">
                                <ng-container *ngIf="subCategory?.accounts">
                                  <span class="expander">
                                    <i class="category-plus fa fa-plus-circle category-plus_{{category.id}}"
                                      [ngClass]="'category_'+subCategory.id"
                                      (click)="subSubMenuShow(subCategory.id, 'show',$event)"></i>
                                  </span>
                                  <span class="expander">
                                    <i class="category-minus fa fa-minus-circle category-minus_{{category.id}}"
                                      [ngClass]="'category_'+subCategory.id"
                                      (click)="subSubMenuShow(subCategory.id, 'hide',$event)"></i>
                                  </span>
                                </ng-container>
                                <span> {{subCategory?.i18n?.mappingName}}</span>
                                <i class="fa fa-check pull-right"></i>
                              </td>
                            </tr>
                            <ng-container *ngFor="let subSubCategory of subCategory?.accounts;let subSubIndex = index;">
                              <tr
                                class="sub-sub-category sub-sub-category_{{subCategory.id}} sub-sub-category_{{category.id}}"
                                [attr.cat]="category.id" [attr.account]="subCategory.id"
                                [attr.sub_account]="subSubCategory.id">
                                <td>{{subSubCategory?.budgetLine}}</td>
                                <td class="sub-sub-category-name c-pointer id_{{subSubCategory.id}} pl-80"
                                  (click)="selectCategories(subSubCategory.id,tabIndex,'sub_sub_category_cell_',true, '', 'subAccount')"
                                  [ngClass]="'sub_sub_category_cell_'+subSubCategory.id">
                                  <span> {{subSubCategory?.i18n?.mappingName}}</span>
                                  <i class="fa fa-check pull-right"></i>
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </ui-control-permission>
      <div class="floating-btn" *ngIf="showFloatingBtn">
        <button type="submit" (click)="saveIndividual()" [disabled]="!enableSaveButtonFlag"
          class="btn save-btn btn-success" type="submit"><i *ngIf="showSpinnerFlg"
            class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'| translate}}</button>
        <button type="button" class="btn cancel-btn btn-danger ml-1" [routerLink]="ROUTER_LINKS_FULL_PATH.individual"
          type="button">{{'common.labels.cancel'|
            translate}}</button>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 no-mg" id="fixed-btn">
        <button type="submit" (click)="saveIndividual()" [disabled]="!enableSaveButtonFlag"
          class="btn save-btn btn-success" type="submit"><i *ngIf="showSpinnerFlg"
            class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'| translate}}</button>
        <button type="button" class="btn cancel-btn btn-danger ml-1" [routerLink]="ROUTER_LINKS_FULL_PATH.individual"
          type="button">{{'common.labels.cancel'|
            translate}}</button>
      </div>
    </form>
  </div>
</div>