<div class="col-md-12" [formGroup]="formGroup">
  <div [ngStyle]="showDownload ? {} : {'display': 'none'}" class="col-md-12 spacing-element">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6 right-content-doc-search">
      <span class="button-documents">
        Download <i class="fas fa-share-square" (click)="mySelect.toggle()"></i>
        <mat-select disableOptionCentering panelClass="select-dropdown-class" #mySelect id="mySelect">
          <mat-option (click)="generatePDF()">
            <i class="far fa-file-pdf"></i> PDF
          </mat-option>
          <mat-option (click)="generateCSV()">
            <i class="far fa-file-excel"></i> CSV
          </mat-option>
        </mat-select>
      </span>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-12 textarea">
          <textarea matInput placeholder="Clause" formControlName="inputClause" aria-invalid="false"
            aria-required="false"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6" id="reference-no-div">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Reference No." formControlName="inputReferenceNo">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="col-md-6">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Related Reference No." formControlName="inputRelatedReferenceNo">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Percentage" formControlName="inputPercentage">
        <mat-error *ngIf="formGroup.get('inputPercentage').invalid">
          {{ getErrorMessage(formGroup.get('inputPercentage')) }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Value" formControlName="inputValue">
          <mat-error *ngIf="formGroup.get('inputValue').invalid">
            {{ getErrorMessage(formGroup.get('inputValue')) }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Billing Cycle" aria-invalid="false" aria-required="false" formControlName="inputBillingCycle"
            name="billingCycle" [matDatepicker]="billingCyclePicker" required="false"
            (click)="billingCyclePicker.open()" />
          <mat-datepicker-toggle matPrefix [for]="billingCyclePicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #billingCyclePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-6 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Date From" aria-invalid="false" aria-required="false" formControlName="inputDateFrom"
            name="endDate" (dateChange)="dateFromChanged($event)" [max]="maxDateFrom" [matDatepicker]="dateFromPicker"
            required="false" (click)="dateFromPicker.open()" />
          <mat-datepicker-toggle matPrefix [for]="dateFromPicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Date To" aria-invalid="false" aria-required="false" formControlName="inputDateTo"
            name="endDate" (dateChange)="dateToChanged($event)" [min]="minDateTo" [matDatepicker]="dateToPicker"
            required="false" (click)="dateToPicker.open()" />
          <mat-datepicker-toggle matPrefix [for]="dateToPicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateToPicker></mat-datepicker>
          <mat-error *ngIf="formGroup.get('inputDateTo').invalid">
            {{ getErrorMessage(formGroup.get('inputDateTo')) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Status"
            formControlName="selectedStatus">
            <mat-option *ngFor="let status of arrayEarlyPaymentDiscStatus" [value]="status.code">
              {{status.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6" id="alert-contract-owner">
        <div class="col-md-12">
          <p>Alert Contract Owner regarding early payment</p>
          <mat-radio-group formControlName="alertContractOwner" aria-label="Alert Owner">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="content-right btn-container ds-vw">
      <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
        Cancel
      </button>
      <button color="primary" class="cm-btn primary-pink-color" (click)="saveEarlyPayDisc()">
        SAVE AND CONTINUE
      </button>
    </div>

    <div class="content-right btn-mob-container">
      <button color="primary" class="cm-mob-btn mb-vw" id="cancel" (click)="cancel()">
        Cancel
      </button>
      <button color="primary" class="cm-mob-btn mb-vw primary-pink-color" (click)="saveEarlyPayDisc()">
        SAVE AND CONTINUE
      </button>
    </div>
  </div>