<div class="add-edit-mail-template-information">
  <form [formGroup]="addEditActionTemplateForm" novalidate>
    <div class="form-wrap row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <!--<div class="col-sm-3 col-xs-3">
            <div class="full-width-input-wrap select-box-wrap">
              <md-select placeholder="Action *" [disabled]="actionDisable" formControlName="action" (change)="changeMaleTemplate($event.value)">
                <md-option value="Select Action">Select Action</md-option>
                <md-option *ngFor="let action of actions" [value]="action.id">
                  {{ action.action }}
                </md-option>
              </md-select>
              <md-error *ngIf="addEditActionTemplateForm.controls['action'].hasError('required') && showActionError">
                Action Name is <strong>required</strong>
              </md-error>
            </div>
          </div>-->
          <!--<div class="col-sm-3 col-xs-3">
            <div class="full-width-input-wrap select-box-wrap">
              <md-select i18n-placeholder placeholder="Select Client *" formControlName="organizationId">
                <md-option value="">Select Client</md-option>
                <md-option *ngFor="let client of clients" [value]="client._id">
                  {{ client.organizationname }}
                </md-option>
              </md-select>
              <md-error i18n *ngIf="addEditActionTemplateForm.controls['organizationId'].hasError('required') && showClientError">
                Client is <strong>required</strong>
              </md-error>
            </div>
          </div>-->
          <div class="col-sm-12 col-xs-12">
            <app-text-editor (uploadImage)="uploadImage($event)" [organizationId]="organizationId"></app-text-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="action-wrap">
      <div class="text-right">
        <button i18n type="button" mat-button class="app-btn gray-button" (click)="gotoMailTemplate()">Cancel</button>
        <button i18n type="button" mat-button class="app-btn blue-button" (click)="setMailTemplate(addEditActionTemplateForm.get('action').value)">Reset</button>
        <button i18n type="submit" mat-button class="app-btn orange-button save-btn" (click)="saveTemplate(addEditActionTemplateForm)">Save</button>
      </div>
    </div>
  </form>
</div>