.mat-calendar-table {
    border: none;
}

.event-calnedar.mat-calendar-body-cell {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-size: 1.5rem;
    text-align: center;
    position: relative;

    &:not(.mat-calendar-body-disabled) {
        div {
            cursor: pointer;
        }
    }

    .mat-calendar-body-cell-content {
        position: static;
        display: flex;
        width: 2.7rem;
        height: 2.7rem;
        margin: auto;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }

    .mat-calendar-body-cell-dots  {
        white-space: nowrap;
        span {
            display: none;
            padding-left: .2rem;
        }
    }
    .mat-calendar-body-cell-dots.mat-calendar-body-cell-dots-show {
        position: absolute;
        right: 50%;
        transform: translateX(45%); // TODO: (Vido) First span in div with dots should not have padding-left.
        top: 85%;
        font-size: .5rem;
        &.orange span.orange {
            color: #f39c12;
            display: inline;
        }
        &.black span.black {
            color: #2c3e50;
            display: inline;
        }
        &.green span.green {
            color: #2ecc71;
            display: inline;
        }
        &.purple span.purple {
            color: #8e44ad;
            display: inline;
        }
        &.blue span.blue {
            color: #3498db;
            display: inline;
        }
        &.red span.red {
            color: #e74c3c;
            display: inline;
        }
        &.plus span.plus {
            color:#40505b;
            display: inline;
        }
    }

    &.mat-calendar-body-today .mat-calendar-body-cell-content {
        // background: #005183 !important;
        // color: white;
        border-radius: 3px;
        border: .05rem solid #d7d7d7
    }

    &.selected .mat-calendar-body-cell-content {
        background: #005183 !important;
        color: white;
        border-radius: 3px;
    }
}

.mat-calendar-body-disabled div {
    color: #40505b !important;
    opacity: 0.5;

}

.mat-calendar-table-header th {
    font-size: 1.2rem;
    font-weight: 600;
    color: #40505b;
    text-align: center;
}

tbody tr:first-of-type .mat-calendar-body-cell {
    padding-top: 1.5rem !important;
}
