// import variables scss
@import "../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../assets/styles/mixins.style.scss";

#list-purchase-order {
  .fl-right {
    float: right;
  }
  
  .w-0 {
    width: 0 !important;
  }

  #date-picker-wrapper .mydrp {
    width: 100% !important;
  }

  .red {
    border-color: red;
  }

  .custom-pagination {
    float: right;
  }

  .single-status {
    margin-right: -9px;
  }
  .export-button {
    display: block;
  }

  .export-btn {
    display: none;
  }
  .po-list-details {
    .items {
      @include padding(15px);
      @include border(1px, solid, $border-color2);
      font-size: 15px;

      .consecutive-number,
      .po-number {
        @include padding(2px 5px);
        font-size: 18px;
        @include color($black-color);
      }

      span {
        &.po-number {
          @include fa-icon-margin();
        }
      }

      .po-status {
        @include padding(3px 15px);
        @include border-radius(10px);
        @include border(1px, solid, $border-color3);
        @include color($black-color);
        @include status-color();

        span {
          @include fa-icon-margin();
        }

        width: 100%;
      }
      .po-status-reason {
        width: 100%;
      }

      .action-items {
        span {
          @include padding(5px 10px);
          margin: 0 10px;
          @include background-color($border-color2);
          @include border-radius(10px);
          cursor: pointer;
          @include fa-icon-margin();
        }
      }

      .amount-details {
        .details {
          @include background-color($theme-color5);
          @include color($white-color);
          @include border-radius(5px);
          @include padding(5px 10px);
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        .amount {
          @include color($white-color);
          font-size: 18px;
        }
      }
    }
  }

  .search-field-box {
    border-right: 1px solid #ddd;
  }

  .fa-globe:before {
    @include color($white-color);
  }

  .approval-status-bar {
    margin: 30px 0 80px 0;

    i.fa {
      @include color($white-color);
    }
  }

  .display-inline-block {
    display: inline-block;
  }

  .display-inline-flex {
    display: inline-flex;
  }

  @include progress ();

  .ptr-disabled {
    cursor: not-allowed !important;
  }

  .payment-approval-modal,
  .po-approval-modal {
    .approval-status-bar {
      .progress {
        width: 450px;

        .progress-bar {
          width: 450px;
          background: #bbbbbb;
        }
      }
    }
  }
}

@media (min-width: 1340px) and (max-width: 1460px) {
  #list-purchase-order {
    .po-list-details {
      .items {
        .po-status {
          width: 210px;
        }
      }
    }
  }
}



@media (min-width: 768px) {
  #list-purchase-order {
    #create-po-child-wrapper {
      text-align: center;
      height: 100px;
      display: table-cell;
      vertical-align: middle;
    }

    #create-po-parent-wrapper {
      display: table;
    }
  }
}

@media (max-width: 991px) {
  #list-purchase-order {
    .search-field-box {
      border-right: 0px !important;
    }
  }
}

@media (max-width: 1350px) {
  .po-list-details {
    .items {
      .po-status, .po-status-reason {
        width: 100% !important;
      }
    }

  }
}


@media (min-width: 992px) and (max-width: 1180px),(max-width: 360px) {
  #list-purchase-order {
    .export-button {
      display: none;
    }

    .export-btn {
      display: block;
    }

  }
}
