.row {
  margin: 0;

  &.btn-container {
    & > .content-left {
      position: relative;

      & > span {
        margin-right: 2rem;
      }

      & > button {
        padding: 0;
        font-size: 1.2rem;
      }

      & > .year-and-month {
        display: inline-block;
        margin-left: 1.5rem;
        button {
          span i {
            width: 2rem;
          }

          &:first-of-type {
            margin-right: 4rem;
          }

          &:last-of-type {
            margin-left: 4rem;
          }
        }
      }
    }

    & > .content-right {
      margin-left: auto;
      padding: 0;
      font-size: 1.2rem;
      display: flex;
      align-items: center;

      i {
        padding-left: 0.5rem;
        font-size: 1.4rem;

        &.selected {
          opacity: 0.5;
        }
      }

      & > .mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex {
        & > .mat-form-field-infix > span > label {
          font-size: 1.2rem;
        }
      }
      & > * {
        margin-left: 1.5rem;
      }

      & > div > span {
        color: #1d7ab4;
        font-weight: 600;
      }

      & > div > i {
        margin-left: 1.5rem;
        font-size: 1.4rem;
      }

      & > button {
        font-size: 1.4rem;
      }

      & > i:first-of-type {
        margin-left: auto;
      }
    }
  }
}

.row-datatable {
  padding-top: 1rem;
  width: 100%;
  .ngx-datatable {
    box-shadow: none;
    width: 100%;
  }
}

span.sort-fullwidth {
  width: auto;
  padding-right: 1rem;
}

.header-name,
.filter-continer {
  float: left;
}

.mat-menu-item {
  height: 30px !important; 
  line-height: 0px !important;
  label {
    font-weight: normal;
    padding: 7px 7px;
  }
}

.badge {
  width: 100%;
  font-size: 12px;
  letter-spacing: 1px;
  color: white !important;
}

.cm-btn-2 {
  border-radius: 0.5rem;
  font-size: 1.4rem !important;
  padding: 0.5rem 1.5rem !important;
  color: #74818a;
  border: none;
  box-shadow: none;
  cursor: pointer;

  &.primary-btn {
    background-color: #dce4e7;

    &:hover,
    &:active {
      background-color: #9e4000;
    }
  }
}

.cm-notification-list-header-label {
  flex: 1;
  height: 1em;
  font-weight: 600;
  text-align: center;
  font-size: 1.3rem;
}

.row-calendar {
  padding-top: 1rem;
  width: 100%;
}

.cal-month-view .cal-day-number {
  margin-left: 10px !important;
  float: left !important;
  opacity: 1;
  font-size: 1.2em !important;
}

.cal-day-number-span {
  margin-bottom: 0.3rem;
}

.cal-header {
  background-color: #f2f2f2;
  text-align: left !important;
  min-height: 30px;
  & > .cal-cell {
    padding: 5px !important;
    font-weight: bold;
    font-size: 1.3rem;
    color: #afb1b7;
    opacity: 1;
  }
}

.cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.5 !important;
}

.cal-month-view .cal-cell-top {
  flex: 0 !important;
  min-height: 37px !important;
}

.cal-month-view .cal-cell-bottom {
  height: 100% !important;
  overflow: hidden;
}

.notification-tab-icon {
  width: 20%;
  background-color: #1d7ab4;
}

.notification-tab-info {
  flex: 1;
  // height: 100%;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1.5rem;
  background-color: #a8deff;
  font-size: 1.3rem;
  #event-title{
    word-wrap: break-word;
    margin-bottom: 2rem;
    white-space: initial;
  }
  width: 80%;
}

.notification-tab-icon-i {
  display: block;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: white;
}

.btn-group {
  width: 20rem;
  height: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 0rem;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  border-color: #cccccc !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #007bff !important;
  color: white !important;
}

#add {
  margin-left: 1rem !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: #0062cc !important;
}

.mat-button-wrapper {
  border: 1px solid transparent;
}


.icon-container {
  position: relative;
  height: 2rem;
}
.action-items-icons {
  margin-bottom: 1rem;
  position: absolute;
  right: 0;

  i {
    font-size: 1.4rem;
    margin-left: 1.5rem;
  }
}
.square-arrow {
  border: 1px solid #ddd;
}

.heading-section-notification {
  padding-left: 10px;
  margin-bottom: 10px;

  div {
      padding-left: 0;
  }
}

.mat-calendar-body-cell-dots {
  padding: 0.2rem;
  font-size: 0.7rem;
}

span.orange {
    color: #f39c12;
    display: inline;
}
span.black {
    color: #2c3e50;
    display: inline;
}
span.green {
    color: #2ecc71;
    display: inline;
}
span.purple {
    color: #8e44ad;
    display: inline;
}
span.blue {
    color: #3498db;
    display: inline;
}
span.red {
    color: #e74c3c;
    display: inline;
}
span.plus {
    color:#40505b;
    display: inline;
}

.cal-cell-bottom {
  
  max-width: 289px;

  .cal-cell-bottom-repeater {
    width: 100%;
  }

  i.orange {
    background-color: #f39c12;
  }
  i.black {
    background-color: #2c3e50;
  }
  i.green {
    background-color: #2ecc71;
  }
  i.purple {
    background-color: #8e44ad;
  }
  i.blue {
    background-color: #3498db;
  }
  i.red {
    background-color: #e74c3c;
  }
  i.plus {
    background-color:#40505b;
  }
}

.cal-week-view .cal-day-column {
  width: 100%;
}

.cal-week-view .cal-time-label-column {
  display: none !important;
}

.cal-week-view .cal-day-headers {
  padding-left: 0;
}

.cal-week-view .cal-events-row {
  margin-left: 0 !important;
}

.cal-day-column .cal-hour mwl-calendar-week-view-hour-segment:nth-child(1) .cal-hour-segment{
	border-bottom: none !important;
}

.cal-day-column .cal-hour mwl-calendar-week-view-hour-segment:nth-child(2) .cal-hour-segment{
	border-bottom: thin solid #e1e1e1 !important;
}

mwl-calendar-week-view-hour-segment {
  height: 60px !important;
  .cal-hour-segment {
    height: 60px !important;
  }
}

mwl-calendar-week-view-event {
  .cal-cell-bottom {
    .row {
      min-height: 6rem;
    }
  }
}

.week-month-year {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 0rem;
  color: #b1b1b9;
  div {
    text-align: left;
    padding-left: 0rem;
  }

  #month-year {
    white-space: initial;
  }
}

.day-in-month {
  font-size: 2.5rem;
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.day-in-month-single-digit {
  font-size: 2.5rem;
  padding-top: 0.5rem;
}

.vertical-view{

  .cal-out-month {
    display: none;
  }

  mwl-calendar-month-view-header {
    display: none;
  }
  .cal-cell-row {
    display: grid;
  }

  .day-view-month-year {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b1b1b9;
    text-align: left;
    padding: 1rem 2rem;
  }


  .cal-cell-top {
    background: #f2f2f2;
  }

  .cal-cell-bottom {
    min-height: 9.9rem;
  }

  .event-information-wrapper {
    padding: 0rem;
    min-height: 9.5rem;
    width: 25%;
    flex: 0 0 auto;
    .row {
      min-height: 9.5rem;
      
    }
  }
}

.cal-cell-bottom-day {
  max-width: 174.5rem;
  max-height: 7.9rem !important;
  overflow-x: auto !important;
  flex-wrap: nowrap;
  display: flex;
  
  .event-information-wrapper {

    height: 7.9rem !important;

    .notification-tab-icon,
    .notification-tab-info {
      height: 7.9rem;
      min-height: 7.9rem !important;
    }
  }
}

.cal-day-column {
  min-width: 100px;
  position: unset !important;
  min-height: 366px !important;
  max-height: 561px !important;
  overflow: auto;

  .cal-hour {
    display: none;
  }
}

.cal-starts-within-day {
  width: inherit !important;
  position: unset !important;
  height: auto !important;
  margin-bottom: 0.1rem !important;
}

#cog {
  padding: 0rem !important;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

cm-notification-list .no-padding .mat-form-field { 
  min-width: 0% !important;
  .mat-form-field-wrapper {
    width: 10rem !important;
  }
}

cm-notification-list .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0.86rem;
}

.fa-chevron-left,
.fa-chevron-right {
  color:#888;
  font-size:14px;
}

.datatable-header-cell .datatable-checkbox {
  margin-top: 3rem;
  width: 0px;
}

.no-padding {
  padding: 0rem !important;
}

.fa-plus {
  color: black !important;
}
@import '../../../../node_modules/angular-calendar/css/angular-calendar.css';

cm-notification-list .datatable-row-center {
  .mat-checkbox-frame{
    background-color: white !important;
  }
  datatable-header-cell:nth-child(1) {
    padding-top: 7.2rem !important;
  }
}

.action-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding: 0;
}

.notify-header-right {
  display: flex;
    align-items: center;
    justify-content: center;
}

.wdth-2rem {
  width: 2rem
}

.noti-icon {
  font-size: 1.5em;
  margin: 10px
}

.selected-noti {
  opacity: 0.5;
}

.reset-adv-search,
.reset-adv-search:hover {
  padding: 0.9rem;
  color: #3084b7;
  background-color: white !important;
}

.mat-button-focus-overlay {
  background-color:transparent;
}