<div class="col-md-12">
  <div class="top-section row-10 mar-20 heading-section-contract-list">
    <div class="col-xs-12 col-sm-6">
      <app-heading-section heading="Contract List">
        <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
      </app-heading-section>
    </div>
    <div class="clearfix"></div>
        <!-- Mobile view  -->
    <div class="col-xs-12 mobile-view">
      <div class="row">
        <div class="col-xs-4">
          <mat-form-field class="contract-list">
            <input
              matInput
              [formControl]="globalSearch"
              class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
              placeholder="Search"
              aria-invalid="false"
              aria-required="false">
            <span style="font-size: 1.2rem" matPrefix><i class="fas fa-search"></i>&nbsp;</span>
          </mat-form-field>
        </div>
        <div class="col-xs-2">

        </div>
        <div class="col-xs-6 align-right">
          <button class="cm-btn primary-btn primary-pink-color" (click) = "navigateAddContract()">
            Add Contract
          </button>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="search-btn" (click)="slideInMobile = !slideInMobile">
          <span class="blue-letter">Advanced Search</span><i class="fa fa-angle-down"></i>
        </div>
        <div class="row row-search adv-search-wrapper" [@slideInOut]="slideInMobile ? 'in' : 'out'">
        <!-- 1 -->
          <div class="col-xs-12">
            <mat-form-field class="col-md-12 small-padding">
              <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Legal Entity" [(ngModel)]="selectedLegalEntity" (selectionChange)="filterLegalEntity()">
                <mat-option value="-1">Select legal entity</mat-option>
                <mat-option *ngFor="let le of arrayLegalEntities" [value]="le.code" name="arrayLegalEntities" ngDefaultControl>
                  {{le.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-1">
            <label for="defaultRadio" class="si si-radio">
                <input type="radio" 
                      id="defaultRadio" 
                      name="radioGroup"
                      (click)="showDatepicker('range')"
                      checked />
                <span class="si-label"></span>
            </label>
          </div>
            <!-- 3 -->
          <div class="col-xs-11" style="padding: 0px !important;">
            <div class="col-xs-6">
              <div style="white-space: nowrap; display:table;">
                  <div class="src-datepicker-wrapper">
                      <mat-form-field class="small-padding mat-form-field-has-prefix">
                          <input matInput
                                readonly
                                placeholder="Start Date Range"
                                aria-invalid="false" 
                                aria-required="false" 
                                class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                                [satDatepicker]="startPickerMobile"
                                [formControl]="startDateRangePicker"
                                (dateChange)="startDateRangeChanged($event)"
                                (click)="startPickerMobile.open()">
                          <sat-datepicker #startPickerMobile
                                          [rangeMode]="true"
                                          [closeAfterSelection]="true"
                                          [disabled]="!displayPicker">
                          </sat-datepicker>
                          <sat-datepicker-toggle matPrefix [for]="startPickerMobile">
                              <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                              </mat-icon>
                          </sat-datepicker-toggle>
                      </mat-form-field>
                  </div>
              </div>
            </div>
            <!-- 4 -->
            <div class="col-xs-6">
              <div style="white-space: nowrap; display:table;">
                  <div class="src-datepicker-wrapper">
                      <mat-form-field class="small-padding mat-form-field-has-prefix">
                          <input matInput
                                  readonly
                                  placeholder="End Date Range"
                                  aria-invalid="false" 
                                  aria-required="false" 
                                  class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                                  [satDatepicker]="endPickerMobile"
                                  [formControl]="endDateRangePicker"
                                  (dateChange)="endDateRangeChanged($event)"
                                  (click)="endPickerMobile.open()">
                          <sat-datepicker #endPickerMobile [rangeMode]="true"
                                          [closeAfterSelection]="true"
                                          [disabled]="!displayPicker">
                          </sat-datepicker>
                          <sat-datepicker-toggle matPrefix [for]="endPickerMobile">
                              <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                              </mat-icon>
                          </sat-datepicker-toggle>
                      </mat-form-field>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1">
            <label for="checkedRadio" class="si si-radio">
              <input type="radio" id="checkedRadio" name="radioGroup" (click)="showDatepicker('single')" />
              <span class="si-label"></span>
            </label>
          </div>
          <!-- 6 -->
          <div class="col-xs-11" style="padding: 0px !important;">
            <div class="col-xs-6">
              <div style="white-space: nowrap; display:table;">
                <div class="src-datepicker-wrapper">
                  <mat-form-field class="small-padding mat-form-field-has-prefix">
                    <input
                      matInput
                      readonly
                      class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                      placeholder="Start Date"
                      aria-invalid="false"
                      aria-required="false"
                      [formControl]="startDateControl"
                      [matDatepicker]="startDatePickerMobile"
                      [max]="maxStartDate"
                      (dateChange)="startDateChanged($event)"
                      required="false"
                      (click)="startDatePickerMobile.open()"/>
                    <mat-datepicker-toggle matPrefix [for]="startDatePickerMobile">
                      <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startDatePickerMobile [disabled]="displayPicker"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- 7 -->
            <div class="col-xs-6">
              <div style="white-space: nowrap; display:table;">
                <div class="src-datepicker-wrapper">
                  <mat-form-field class="small-padding mat-form-field-has-prefix">
                    <input
                      matInput
                      readonly
                      class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                      placeholder="End Date"
                      [formControl] = "endDateControl"
                      [matDatepicker]="endDatePickerMobile"
                      (dateChange)="endDateChanged($event)"
                      [min]="minEndDate"
                      required="false"
                      (click)="endDatePickerMobile.open()"
                    />
                    <mat-datepicker-toggle matPrefix [for]="endDatePickerMobile">
                      <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #endDatePickerMobile [disabled]="displayPicker"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- Mobile view ENDS-->
  </div>
        <div class="cm-card">
          <div class="cm-card-body">
            <div class="row btn-container screen-view">
              <div class="content-left btn-container">
                <mat-form-field>
                  <mat-label><i class="fa fa-cog"></i> Customize </mat-label>
                  <mat-select [disableOptionCentering]="true" [formControl]="customizeMenuSelect" [multiple]="true" #multiSelect>
                    <mat-option>
                      <ngx-mat-select-search [formControl]="customizeMenuFilter" [placeholderLabel]="'Find column...'"
                          [noEntriesFoundLabel]="'No matching column found'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor='let col of filteredColumnsMulti | async' [value]="col" (click)='toggleColumns(col)'>{{col.customizeName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="content-right btn-container">
                  <button mat-button class="reset-adv-search screen-view" (click)="resetAdvSearch()">
                      RESET
                  </button>
                <mat-form-field class="contract-list">
                  <input
                    matInput
                    [formControl]="globalSearch"
                    class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                    placeholder="Search"
                    
                    aria-invalid="false"
                    aria-required="false">
                  <span style="font-size: 1.2rem" matPrefix><i class="fas fa-search"></i>&nbsp;</span>
                </mat-form-field>
                <div class="search-btn screen-view" (click)="slideIn = !slideIn">
                  <span>Advanced Search</span><i class="fa fa-angle-down"></i>
                </div>
                <button class="cm-btn primary-btn primary-pink-color" (click) = "navigateAddContract()">
                  Add Contract
                </button>
              </div>
            </div>
            <!-- Start -->
            <div class="row row-search adv-search-wrapper"
              [@slideInOut]="slideIn ? 'in' : 'out'">
              <!-- 1 -->
                <div class="legal-input">
                  <mat-form-field class="col-md-12 small-padding">
                    <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Legal Entity" [(ngModel)]="selectedLegalEntity" (selectionChange)="filterLegalEntity()">
                      <mat-option value="-1">Select legal entity</mat-option>
                      <mat-option *ngFor="let le of arrayLegalEntities" [value]="le.code" name="arrayLegalEntities" ngDefaultControl>
                        {{le.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="mt-2 ml-3">
                <label for="defaultRadio" class="si si-radio">
                    <input type="radio" 
                          id="defaultRadio" 
                          name="radioGroup"
                          (click)="showDatepicker('range')"
                          checked />
                    <span class="si-label"></span>
                </label>
              </div>
                <!-- 3 -->
                <div style="white-space: nowrap; display:table;" class="flx-1">
                    <div class="src-datepicker-wrapper">
                        <mat-form-field class="small-padding mat-form-field-has-prefix">
                            <input matInput
                                  readonly
                                  placeholder="Start Date Range"
                                  aria-invalid="false" 
                                  aria-required="false" 
                                  class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                                  [satDatepicker]="startPicker"
                                  [formControl]="startDateRangePicker"
                                  (dateChange)="startDateRangeChanged($event)"
                                  (click)="startPicker.open()">
                            <sat-datepicker #startPicker
                                            [rangeMode]="true"
                                            [closeAfterSelection]="true"
                                            [disabled]="!displayPicker">
                            </sat-datepicker>
                            <sat-datepicker-toggle matPrefix [for]="startPicker">
                                <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                                </mat-icon>
                            </sat-datepicker-toggle>
                        </mat-form-field>
                    </div>
                </div>
                <!-- 4 -->
                <div style="white-space: nowrap; display:table;" class="flx-1">
                    <div class="src-datepicker-wrapper">
                        <mat-form-field class="small-padding mat-form-field-has-prefix">
                            <input matInput
                                  readonly
                                  placeholder="End Date Range"
                                  aria-invalid="false" 
                                  aria-required="false" 
                                  class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                                  [satDatepicker]="endPicker"
                                  [formControl]="endDateRangePicker"
                                  (dateChange)="endDateRangeChanged($event)"
                                  (click)="endPicker.open()">
                            <sat-datepicker #endPicker [rangeMode]="true"
                                            [closeAfterSelection]="true"
                                            [disabled]="!displayPicker">
                            </sat-datepicker>
                            <sat-datepicker-toggle matPrefix [for]="endPicker">
                                <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                                </mat-icon>
                            </sat-datepicker-toggle>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mt-2">
                <label for="checkedRadio" class="si si-radio">
                    <input type="radio" 
                          id="checkedRadio" 
                          name="radioGroup" 
                          (click)="showDatepicker('single')"
                          />
                  <span class="si-label"></span>
                </label>
                </div>
                <!-- 6 -->
                <div style="white-space: nowrap; display:table;" class="flx-1">
                  <div class="src-datepicker-wrapper">
                      <mat-form-field class="small-padding mat-form-field-has-prefix">
                          <input
                            matInput
                            readonly
                            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                            placeholder="Start Date"
                            aria-invalid="false"
                            aria-required="false"
                            [formControl]="startDateControl"
                            [matDatepicker]="startDatePicker"
                            [max]="maxStartDate"
                            (dateChange)="startDateChanged($event)"
                            required="false"
                            (click)="startDatePicker.open()"
                          />
                          <mat-datepicker-toggle matPrefix [for]="startDatePicker">
                            <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                            </mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #startDatePicker [disabled]="displayPicker"></mat-datepicker>
                        </mat-form-field>
                  </div>
                </div>
                <!-- 7 -->
                <div style="white-space: nowrap; display:table;" class="flx-1">
                  <div class="src-datepicker-wrapper">
                      <mat-form-field class="small-padding mat-form-field-has-prefix">
                          <input
                            matInput
                            readonly
                            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                            placeholder="End Date"
                            [formControl] = "endDateControl"
                            [matDatepicker]="endDatePicker"
                            (dateChange)="endDateChanged($event)"
                            [min]="minEndDate"
                            required="false"
                            (click)="endDatePicker.open()"
                          />
                          <mat-datepicker-toggle matPrefix [for]="endDatePicker">
                            <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                            </mat-icon>
                          </mat-datepicker-toggle>
                          <mat-datepicker #endDatePicker [disabled]="displayPicker"></mat-datepicker>
                        </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="row row-datatable">
              <ngx-datatable
                #datatable
                class="material striped expandable "
                [rows]="rowsTable"
                [columns]="columnsTable"
                [footerHeight]="50"
                [messages]="myMessages"
                [headerHeight]="80"
                [rowHeight]="'100%'"
                [columnMode]="'force'"
                [externalPaging]="true"
                [externalSorting]="true"
                [count]="pageTable.count"
                [offset]="pageTable.offset"
                [limit]="pageTable.limit"
                [sortType]="'single'"
                (page)='pageCallback($event, true)'
                (sort)='sortCallback($event)'
              >
                <ng-template #actionColumnTemplate let-row="row" let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="screen-view">
                    <div class="action-items-i">
                      <i matTooltip="Edit" matTooltipClass="tooltip-closer" class="fas fa-pencil-alt" (click)="navigateEditContract(row)"></i>
                    </div>
                  </div>
                </ng-template>
                <ng-template #firstHeaderTemplate let-column="column" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}</span>
                  </div>
                  <div class="mobile-view">
                    <mat-form-field>
                      <mat-label><i class="fa fa-cog"></i> Customize </mat-label>
                      <mat-select [disableOptionCentering]="true" [formControl]="customizeMenuSelect" [multiple]="true" #multiSelect>
                        <mat-option>
                          <ngx-mat-select-search [formControl]="customizeMenuFilter" [placeholderLabel]="'Find column...'"
                                [noEntriesFoundLabel]="'No matching column found'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor='let col of filteredColumnsMulti | async' [value]="col" (click)='toggleColumnsForMobile(col)'>{{col.customizeName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </ng-template>
                <ng-template #textHeaderTemplate let-column="column" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}</span>
                  </div>
                </ng-template>
                <ng-template #sortableHeaderTemplateInput let-column="column" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}</span>
                    <div class="filter-continer">
                      <input class="filter src-filters" placeholder='Filter' (keyup)="filterCallback($event, column.searchName)" />
                    </div>
                  </div>
                </ng-template>
                <ng-template #sortableHeaderTemplateSelectCategories let-column="column" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}</span>
                    <div class="filter-continer">
                      <select [(ngModel)]="selectedCategories" class="filter" placeholder='Filter'
                        (change)="filterCategoriesAndCreateSubCategories()">
                        <option value="-1" selected>Filter</option>
                        <option *ngFor="let category of arrayCategories" [value]="category.code">
                            {{ category.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-template>
                <ng-template #sortableHeaderTemplateSelectSubCategories let-column="column" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}</span>
                    <div class="filter-continer">
                      <select [(ngModel)]="selectedSubCategories" class="filter" placeholder='Filter'
                        (change)="filterSubCategories()">
                        <option value="-1" selected>Filter</option>
                        <option *ngFor="let subcategory of arraySubCategories" [value]="subcategory.code">
                            {{ subcategory.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-template>

                <ng-template #sortableHeaderTemplateStartDate let-sort="sortFn" let-column="column" let-sortDir="sortDir" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">
                      {{column.name}}
                    </span>
                    <div class="filter-continer">
                      <input #fromInput matInput class="filter bg-white" [matDatepicker]="startDatePicker" (click)="startDatePicker.open()"
                      placeholder='Filter' (dateChange)="filterDate($event, column.searchName)"/>
                    </div>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                  </div>
                </ng-template>

                <ng-template #sortableHeaderTemplateEndDate let-sort="sortFn" let-column="column" let-sortDir="sortDir" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}
                    </span>
                    <div class="filter-continer">
                      <input #toInput matInput class="filter bg-white" [matDatepicker]="endDatePicker" (click)="endDatePicker.open()"
                      placeholder='Filter' (dateChange)="filterDate($event, column.searchName)" readonly/>
                    </div>
                    <mat-datepicker (opened)="resetEndDatePicker()" #endDatePicker></mat-datepicker>
                  </div>
                </ng-template>

                <ng-template #sortableHeaderTemplateSelectStatus let-column="column" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}</span>
                    <div class="filter-continer">
                      <select class="filter" placeholder='Filter' [(ngModel)]="selectedStatusFilter"
                        (change)="filterCallback($event, column.filterCode)">
                        <option value="-1" selected>Filter</option>
                        <option *ngFor="let status of arrayStatus" [value]="status.code">
                            {{ status.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-template>
                <ng-template #sortableHeaderTemplateSelectLegalEntities let-column="column" ngx-datatable-header-template>
                  <div class="screen-view">
                    <span class="header-name">{{column.name}}</span>
                    <div class="filter-continer">
                      <select class="filter" placeholder='Filter' [(ngModel)]="selectedLegalEntityFilter"
                        (change)="filterCallback($event, column.filterCode)">
                        <option value="-1" selected>Filter</option>
                        <option *ngFor="let legalent of arrayLegalEntities" [value]="legalent.code">
                            {{ legalent.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-template>
                <ng-template #statusColumnTemplate let-row="row" let-value="value" let-rowIdentity="rowIdentity" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="action-items-i screen-view">
                  <span class="badge badge-{{row.status.code.toLowerCase()}}">{{row.status.name}}</span>
                  </div>
                </ng-template>
                <ng-template #firstColumnTemplate let-row="row" let-value="value" let-rowIdentity="rowIdentity" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span class="screen-view">{{value}}</span>
                  <div class="mobile-view">
                    <div class="row">
                      <div class="col-xs-6 mobile-inner-div" *ngFor="let oneColumn of columnsTableForMobile;let i = index">
                        <div class="col-xs-12" [ngClass]="{'align-right': i % 2 === 1, 'align-left': i % 2 === 0}">
                          {{oneColumn.name}}
                        </div>
                        <div class="col-xs-12" [ngClass]="{'align-right': i % 2 === 1, 'align-left': i % 2 === 0}" *ngIf="oneColumn.name === 'STATUS'">
                          <span class="badge badge-{{row.status.code.toLowerCase()}}">{{row.status.name}}</span>
                        </div>
                        <div class="col-xs-12" [ngClass]="{'align-right': i % 2 === 1, 'align-left': i % 2 === 0}" *ngIf="oneColumn.name === 'START DATE'">
                          <div>{{row.term.start_date | date:"MM/dd/yyyy"}}</div>
                        </div>
                        <div class="col-xs-12"  [ngClass]="{'align-right': i % 2 === 1, 'align-left': i % 2 === 0}" *ngIf="oneColumn.name === 'END DATE'">
                          <div>{{row.term.end_date | date:"MM/dd/yyyy"}}</div>
                        </div>
                        <div class="col-xs-12" [ngClass]="{'align-right': i % 2 === 1, 'align-left': i % 2 === 0}" *ngIf="oneColumn.name === 'ACTION'">
                          <div class="action-items-i">
                            <i matTooltip="Edit" matTooltipClass="tooltip-closer" class="fas fa-pencil-alt" (click)="navigateEditContract(row)"></i>
                          </div>
                        </div>
                        <div class="col-xs-12" [ngClass]="{'align-right': i % 2 === 1, 'align-left': i % 2 === 0}" *ngIf="oneColumn.name !== 'STATUS' && oneColumn.name !== 'START DATE' && oneColumn.name !== 'END DATE' && oneColumn.name !== 'ACTION'">
                          {{oneColumn.prop.includes('.') ?
                            row[oneColumn.prop.substring(0,oneColumn.prop.indexOf('.'))][oneColumn.prop.substring(oneColumn.prop.indexOf('.')+1)]
                            :row[oneColumn.prop]}}
                        </div>
                      </div>
                    </div>
                    
                  </div>
              </ng-template>
              <ng-template #textColumnTemplate let-row="row" let-value="value" let-rowIdentity="rowIdentity" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span class="screen-view">{{value}}</span>
              </ng-template>
              <ngx-datatable-footer>
                <ng-template
                ngx-datatable-footer-template
                let-rowCount="rowCount"
                let-pageSize="pageTable.limit"
                let-curPage="curPage"
                let-offset="pageTable.offset"
                let-isVisible="isVisible">
                  <div class="page-count screen-view" [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)">
                    {{datatable.messages.totalMessage}}{{pageTable.offset * pageTable.limit + 1}} -
                    {{pageTable.offset * pageTable.limit + pageTable.limit > rowCount ? rowCount : pageTable.offset * pageTable.limit + pageTable.limit }}
                    of {{rowCount.toLocaleString()}}
                  </div>
                  <div class="screen-view" [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)">
                    <input style="width:40px" placeholder='Page' (change)="onInputPageChange($event.target.value)" >
        <!--
                    <select (change)="onLimitChange($event.target.value)">
                      <option *ngFor="let option of pageLimitOptions" [value]="option.value" [selected]="option.value == pageTable.limit">
                          {{ option.value }}
                      </option>
                    </select>
        -->
                  </div>
                  <datatable-pager class="screen-view"
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'"
                    [page]="curPage"
                    [size]="pageTable.limit"
                    [count]="rowCount"
                    [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)"
                    (change)="datatable.onFooterPage($event)">
                  </datatable-pager>
                  <div class="mobile-view mobile-footer col-xs-12" [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)">
                    <p class="blue-letter" (click)="showMore()">Show More</p>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
        </div>
      </div>
    </div>
  </div>