.row {
    margin: 0;

    &.btn-container {

        & > .content-left {
            flex:auto;

            & > button {
                padding: 0;
                font-size: 1.2rem;
            }
        }

        & > .content-right {
            flex:auto;
            padding: 0;
            display: flex;
            align-items: center;
            font-size: 1.2rem;

            & > .mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex {
                & > .mat-form-field-infix > span > label {
                    font-size: 1.2rem;
                }
            }
            & > * {
                margin-left: 2rem;
            }

            & > div > span {
                color: #1d7ab4;
                font-weight: 600;
            }

            & > div > i {
                margin-left: 1.5rem;
                font-size: 1.4rem;
            }

            & > button {
                font-size: 1.4rem;
            }

            & > :first-child {
                margin-left: auto;
            }
        }
    }
}

.row-search {
    & > *, & > * > .mat-form-field {
        padding: 0 .5rem;
    }

    & > :first-child, & > :first-child > .mat-form-field {
        padding-left: 0;
        padding-right: 0.5rem;
    }

    & > :last-child, & > :last-child > .mat-form-field {
        padding-left: 0.5rem;
        padding-right: 0;
    }
}

.src-datepicker-wrapper {
    display: inline;
    position: relative;
    // border-bottom: 1px solid #9FB6C1;
}

.search-btn {
    cursor: pointer;
}

.row-datatable {
    padding-top: 1rem;
    width: 100%;
    .ngx-datatable {
        box-shadow: none;
        width: 100%;
    }
}

span.sort-fullwidth {
    width: auto;
    padding-right: 1rem;
}

.header-name, .filter-continer {
    float: left;
}

.mat-menu-item {
    height: 35px;
}

.badge {
    width:100%;
    font-size: 12px;
    letter-spacing: 1px;
    color:white !important;
}

.heading-section-contract-list {
    padding-left: 10px;
    margin-bottom: 10px;

    div {
        padding-left: 0;
    }
}

.date-input-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    .date-input-picker {
        width:97%;
        font-size: 1.4rem;
        border: none;
        font-family: 'Work Sans';
        font-weight: 400;
        outline: none;
    }
}

.bg-white {
    background-color: white !important;
}

.date-radio {
    margin: 5px;
    width: 1.8em;
    height: 1.8em;
}

::ng-deep .mat-select-panel {
  margin-top: 0;
}

::ng-deep .cdk-overlay-pane-select-search {
    margin-top: 1.4%;
    margin-left: 1.3%;
  }
  

::ng-deep .owl-dt-container {
    transform-origin: center !important;
}

.test-csls {
    margin-left: 1.6%;
}

.reset-adv-search,
.reset-adv-search:hover,
.reset-adv-search ::ng-deep .mat-button-focus-overlay {
  padding: 0.9rem;
  color: #3084b7;
  background-color: white !important;
}

.adv-search-wrapper {
    display: flex;
    align-items: center;
}

.legal-input {
    flex: 2.5;
}

.flx-1 {
    flex: 1;
}

// RADIO STYLE 

/* custom properties (AKA css variables) */
.si {
    --color-label: #9aa6bf;
    --color-default:#9aa6bf;
    --color-active: white;
    --rotate-default: 180deg;
    --rotate-active: 40deg;
    --border-size-checkmark: 2px;
    --border-size-box: 1px;
    --input-size: 20px;
    --guter: 15px;
  }
  /* basic reset */
  .si,
  .si *,
  .si *::before,
  .si *::after {
    box-sizing: border-box;
  }
  /* label */
  .si {
    cursor: pointer;
    position: relative;
  }
  .si .si-label {
    display: inline-block;
    padding-left: var(--guter);
    color: var(--color-label);
    vertical-align: text-top;
  }

.si > input { display: none; }
/* OR */ 
.si > input { opacity: 0; }
/* OR */ 
.si > input { visibility: hidden; }

.si > input[type="checkbox"],
.si > input[type="radio"] {
  clip-path: polygon(0 0);
}

/* circles, alignment */
.si.si-radio .si-label::before,
.si.si-radio .si-label::after {
  border-radius: 100%;
  top: -2px;
}
/* radio bullet circle */
.si.si-radio .si-label::after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 0;
  top: 100%;
  left: 4px;
}

.si.si-radio > input:checked + .si-label::after {
    background-color:#40505B;
    height: 12px;
    top: 2px;
  }
  .si.si-radio > input:checked + .si-label::before {
    background-color:var(--color-active);
  }

  /* change property values smoothly */
.si .si-label::before,
.si .si-label::after {
  transition: all 0.2s ease-in-out;
}
/* an element for both checkbox and radio */
.si .si-label::before {
  content: '';
  display: block;
  width: var(--input-size);
  height: var(--input-size);
  border: var(--border-size-box) solid var(--color-default);
  position: absolute;
  top: -3px;
  left: 0;
  transform: rotate(0deg) scale(1);
}
/* feedback when the user interacts with an element */
.si .si-label:hover::before {
  border-color: #9aa6bf;
}

.align-right {
  text-align: right;
}

@media screen and (max-width: 900px) {
  .screen-view {
    display: none;
  }

  .mobile-view {
    display: initial;
    margin-top: 50px;
  }

  .cm-card > .cm-card-body {
    padding: 0rem !important;
  }

  ::ng-deep .datatable-header-cell {
    background-color: white !important;
    width: 100% !important;
  }

  ::ng-deep .datatable-body-cell {
    width: 100% !important;
  }

  .row-datatable {
    padding-top: 0rem !important;
  }

  ::ng-deep .datatable-body-cell-label {
    font-size:10px;
  }

  ::ng-deep .contract-list .mat-form-field-infix {
    width: 115px !important;
  }

  .mobile-inner-div {
    padding-bottom: 5px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .mobile-footer {
    margin-top: 0px !important;
    text-align: center;
  }

  .blue-letter {
    color: #1277D9;
  }

  .align-right {
    text-align: right;
  }

  .align-left {
    text-align: left;
  }
}

@media screen and (min-width: 900px) {
  .screen-view {
    display: initial;
  }

  .mobile-view {
    display: none;
  }

  ::ng-deep .datatable-header-cell {
    min-height: 80px !important;
  }
}

