<div class="select-theme-wrap"  *ngIf="themes.length>0;else showErrorMessage">
  <div class="select-theme-error" *ngIf="themeRequired">Please select one theme.</div>
  <div class="theme-selection-carousel-wrap">
    <div class="theme-selection-carousel owl-carousel" #carousel carousel [options]="{items: 4, dots: false, nav: true, margin: 20}" [responsive]="responsive" [navText]="navText" [refresh]="refresh">    
      <div *ngFor="let theme of themes" style="width: 210px;">
        <div class="theme-wrap" [class.selected-theme]="selectedTheme == theme.id" (click)="selectTheme(theme)">
          <h2 class="theme-name-ellipsis" title="{{theme.name}}">{{theme.name}}</h2>
              <div class="colors-wrap">
                  <p i18n>Colors</p>
                  <div class="colors-boxes">
                  <div class="color-box" *ngFor="let color of theme.colors" [style.background-color]="color"></div>
                  </div>
              </div>
          <div class="font-wrap">
            <p i18n>Font</p>
            <span>{{theme.font}}</span>
          </div>
          <div i18n class="select-link">SELECT</div>        
        </div>
      </div>
      
    </div>
  </div>
  <div class="action-wrap" [formGroup]="form">    
    <div class="text-right">        
        <input type="hidden" formControlName="storeFrontTheme"/>
        <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="saveContinue(form)">Save and Continue</button>
    </div>
  </div>
</div>
<ng-template i18n #showErrorMessage>No theme available</ng-template>

