@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
.theme-selection-carousel-wrap {
    height: 200px;
}

.select-theme-wrap {
    .select-theme-error {
        @include applyFont($fontSize: 13px);        
        color: #f44336;
        margin-bottom: 14px;
    }

    .theme-wrap {
        border-radius: 4px;
        border: 2px dotted #EBEBEB;
        background-color: #FAFEFF;
        padding: 15px;      
        cursor: pointer;

        &.selected-theme {
            border-color: $primary-link;
            background-color: #D8F6FE;
        }

        h2 {
            text-align: center;
            @include applyFont($fontSize: 14px, $fontWeight: 600);
            color: #222222;
            margin: 0px;
            text-transform: capitalize;
        }
        
        .colors-wrap {           
            margin-top: 20px;

            p {
                @include applyFont($fontSize: 13px, $fontWeight: 600);
                margin: 0px;
            }

            .colors-boxes {
                margin-top: 5px;
                text-align: center;

                .color-box {
                    width: 23%;
                    height: 20px;
                    display: block;
                    display: inline-block;
                }
            }            
        }

        .font-wrap {
            margin-top: 15px;

            p {
                @include applyFont($fontSize: 13px, $fontWeight: 600);
                margin: 0px;
            }

            span {
                @include applyFont($fontSize: 13px);
                margin-top: 10px;
            }
        }

        .select-link {
            margin-top: 15px;            
            @include applyFont($fontSize: 15px, $fontWeight: 600);            
            cursor: pointer;
            color: $secondary-color;
            text-align: center;
        }
    }

    .action-wrap {
        margin-top: 40px;
    }
}


.theme-name-ellipsis{

    white-space: nowrap;
    max-width:300px;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: block;
}