.buttons-class {
    float: right;
}

.checkbox-class {
    height: 40px;
    margin-top: 10px;
}

.title-position {
  float:left;
  margin-right:5px;
}

.close-button-position {
  text-align: right;
  & > .close-button {
    line-height: normal;
    border: none;
    background: white;
  }
}

.drop-point {
  width: 100%;
  height: 100%;
  border: 1px dashed lightgray;
  border-radius: 0.5rem;
  background-color: #fafeff;
  text-align: center;
  padding-top: 4rem;
  cursor: pointer;
}

.upload-document {
  color: black;
  i {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

}