.buttons-class {
    float: right;
}

.dialog-button {
    color: #ffffff;
    width: 90px;
    background-color: #D71996;
}

.title-position {
  float:left;
  margin-right:5px;
}

.close-button-position {
  color: #808080;
  text-align: right;
  height: 1.5rem;
  & > .close-button {
    line-height: normal;
    border: none;
    background: white;
  }
}