<div class="component-wrap add-edit-user-setup">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()">
        <i class="material-icons">close</i>
      </div>
    </div>
  </div>
  <form [formGroup]="addEventNotificationForm" novalidate>
    <div class="form-wrap row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <mat-form-field class="full-width-input-wrap">
              <input i18n-placeholder matInput placeholder="Event Name*" formControlName="eventname" maxlength="30">
              <mat-error i18n *ngIf="addEventNotificationForm.controls['eventname'].hasError('required') && addEventNotificationForm.controls['eventname'].touched">
                Event Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-xs-6">
            <mat-form-field class="mat-select-full-width">
              <mat-select i18n-placeholder placeholder="Event Type" formControlName="eventtype">
                  <mat-option *ngFor="let eventtype of eventtypes" [value]="eventtype.value">
                      {{ eventtype.text }}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-xs-12">
            <mat-form-field class="full-width-input-wrap">
              <input i18n-placeholder matInput placeholder="Description*" formControlName="description"  maxlength="50">
              <mat-error i18n *ngIf="addEventNotificationForm.controls['description'].hasError('required')">
                Description is  <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-6 col-xs-6 validation-error">
            <mat-form-field class="mat-select-full-width">
              <mat-select i18n-placeholder placeholder="Rule*" formControlName="rule">
                  <mat-option *ngFor="let rule of ruleList" [value]="rule._id">
                      {{ rule.rule }}
                  </mat-option>
              </mat-select>
              <mat-error i18n *ngIf="addEventNotificationForm.controls['rule'].hasError('required') && addEventNotificationForm.controls['rule'].touched">
                  Rule is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
         <div class="col-sm-6 col-xs-6 validation-error">
            <mat-form-field class="mat-select-full-width">
              <mat-select i18n-placeholder placeholder="Escalation Method*" formControlName="escalationmethodname" (selectionChange)="onChanges($event)">
                  <mat-option *ngFor="let escalationmethodname of records"  [value]="escalationmethodname.escalation_method">
                      {{ escalationmethodname.escalation_method }}
                  </mat-option>
              </mat-select>
              <mat-error i18n *ngIf="addEventNotificationForm.controls['escalationmethodname'].hasError('required') && addEventNotificationForm.controls['escalationmethodname'].touched">
                  Escalation method is <strong>required</strong>
                </mat-error>         
            </mat-form-field>
          </div>

          <div class="col-sm-12 col-xs-12">
              <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Customer Group" formControlName="customerGroup">
                    <mat-option *ngFor="let cg of customergroup" [value]="cg.customer_segment">
                        {{ cg.customer_segment }}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          <div class="col-sm-6 col-xs-6">
            <div class="full-width-input-wrap">
              <div i18n class="popup-heading">Messaging Options</div>
              <div class="inner checkbox-wrap">
                <mat-checkbox i18n formControlName="sms" (click)="selectSmsBox(addEventNotificationForm)">SMS</mat-checkbox>
                <mat-checkbox i18n formControlName="email" (click)="selectEmailBox(addEventNotificationForm)">Email</mat-checkbox>
              </div>
              <mat-error i18n *ngIf="errorMsg">Please select Sms Or Email </mat-error>
            </div>
          </div>

          <div class="col-sm-12 col-xs-12">
              <mat-form-field class="full-width-input-wrap">
                <input i18n-placeholder matInput placeholder="SMS" formControlName="smstext" (keypress)="addSmsBody(addEventNotificationForm)"  maxlength="40"> 
              </mat-form-field>
                <mat-error i18n *ngIf="smsText">Please Add Sms Body </mat-error>
            </div>

            <div class="col-sm-12 col-xs-12">
                <mat-form-field class="full-width-input-wrap">
                  <input i18n-placeholder matInput placeholder="EMAIL" formControlName="emailtext" (keydown)="addEmailBody(addEventNotificationForm)"  maxlength="100">
            </mat-form-field>
                <mat-error i18n *ngIf="emailText"> Please Add Email Body </mat-error>
              </div>
  
        </div>
      </div>
    </div>
    <div class="action-wrap">
      <div class="text-right">
        <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="closePopup()">Cancel</button>
        <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="saveEventNotificationForm(addEventNotificationForm)">Save</button>
      </div>
    </div>
  </form>
</div>