@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
    ::ng-deep ng-data-tables {
        table {
            tbody {
                tr {
                    td {
                        @media(min-width: 992px) and (max-width: 999999px) {
                            &:nth-child(1) {
                                width: 14%;
                            }

                            &:nth-child(2) {
                                width: 10%;

                                span {
                                    display: block;
                                    width: 100px;
                                    overflow: hidden;
                                    @include wrap-text();
                                }
                            }

                            &:nth-child(3) {
                                width: 16%;
                            }

                            &:nth-child(4) {
                                width: 22%;
                            }

                            &:nth-child(5) {
                                width: 13%;
                            }

                            &:nth-child(6) {
                                width: 12%;
                            }
                        }      

                        @media(min-width: 100px) and (max-width: 991px) {
                            &:nth-child(2) {
                                span {
                                    display: block;
                                    width: 50%;
                                    overflow: hidden;
                                    text-align: right;
                                    @include wrap-text();
                                }
                            }
                        }              
                    }
                }
            }
        }
    }
}