<div class="section-wrap">
  <div class="top-section row-10">
    <div class="hidden-xs col-xs-12 col-sm-6">
      <app-heading-section [heading]="heading">
        <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
      </app-heading-section>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="middle-section mail-template-tabs-wrap">
    <mat-card class="mail-template-tabs-card">
      <div class="mail-template-tabs">
        <ul>
          <li *ngFor="let tab of tabs; let i = index" [class.current-tab]="currentTab == tab.key" [class.hide-tab]="tab.visible == false"
            (click)="onSelectTab(tab.key)">
            {{tab.name}}
          </li>
        </ul>
      </div>
      <div class="mail-template-content">
        <div class="information-tab" *ngIf="currentTab == 'information-tab'">
          <app-exela-mail-template-information [mode]="mode" [actionId]="actionId" [organizationId]="organizationId"></app-exela-mail-template-information>
        </div>
      </div>
    </mat-card>
  </div>
</div>

