.additional-reporting-fields-color {
    color:#d71996;
}

.spacing-element {
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
}

.additional-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media only screen and (min-width: 1024px) {
    .mb-vw{
        display: none;
    }
    .ds-vw {
        display: flex;
    }
  }
  @media only screen and (max-width: 1024px) {
    .mb-vw{
        display: block;
    }
    .ds-vw {
        display: none;
    }
  }

.btn-mob-container {
    display: flex !important;
    -webkit-box-pack: end;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.cm-mob-btn {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}
   