<div class="col-md-12" [formGroup]="formGroup">
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Line Item" formControlName="inputLineItem">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Tier Type"
            formControlName="selectedTierType" ngDefaultControl>
            <mat-option *ngFor="let tierType of arrayTierTypes" [value]="tierType.code">
              {{tierType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12" *ngIf="formGroup.get('selectedTierType').value === 'SIMPLE'">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Volume Split"
            formControlName="selectedVolumeSplit">
            <mat-option *ngFor="let volumeSplit of arrayVolumeSplit" [value]="volumeSplit.code">
              {{volumeSplit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-12" *ngIf="formGroup.get('selectedTierType').value === 'GROUP'">
          <input matInput placeholder="Volume Group Name" formControlName="inputVolumeGroupName">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="col-md-12">
      <div class="col-md-12 datatable-div" formArrayName="tableGroup">
        <ngx-datatable #datatable class="material striped border border-light" [rows]="rowsTable.getRawValue()"
          [columns]="columnsTable" [footerHeight]="50" [messages]="myMessages" [rowHeight]="'100%'"
          [count]="pageTable.count" [offset]="pageTable.offset" [limit]="pageTable.limit" [columnMode]="'force'">
          <ng-template #actionColumnTemplate let-row="row" let-value="value" let-rowIndex="rowIndex"
            ngx-datatable-cell-template>
            <div class="action-items-i">
              <i style="margin-right:15px;" class="fas"
                [ngClass]="rowIndex === lastIndexInTable ? 'fa-plus' : 'fa-pencil-alt'"
                (click)="rowIndex === lastIndexInTable ? addNewRow() : changeEditable(rowIndex)">
              </i>
              <i *ngIf="rowIndex !== lastIndexInTable" class="fas fa-trash-alt" (click)="deleteRow(rowIndex)"></i>
            </div>
          </ng-template>
          <ng-template #textFieldLowerTierColumnTemplate let-rowIndex="rowIndex" let-row="row" let-value="value"
            ngx-datatable-cell-template>
            <mat-form-field class="col-md-12" [formGroupName]="rowIndex">
              <input matInput value="{{row.lower_tier}}" formControlName="lower_tier"
                (input)="setApplicableFactor('lower_tier',$event.target.value,row,rowIndex)">
              <mat-error *ngIf="getTable(rowIndex).controls['lower_tier'].invalid">
                {{getErrorMessage(getTable(rowIndex).controls['lower_tier'])}}
              </mat-error>
            </mat-form-field>
          </ng-template>
          <ng-template #textFieldUpperTierColumnTemplate let-rowIndex="rowIndex" let-row="row" let-value="value"
            ngx-datatable-cell-template>
            <mat-form-field class="col-md-12" [formGroupName]="rowIndex">
              <input formControlName="upper_tier" matInput value="{{row.upper_tier}}"
                (input)="setApplicableFactor('upper_tier',$event.target.value,row,rowIndex)">
              <mat-error *ngIf="getTable(rowIndex).controls['upper_tier'].invalid">
                {{getErrorMessage(getTable(rowIndex).controls['upper_tier'])}}
              </mat-error>
            </mat-form-field>
          </ng-template>
          <ng-template #textFieldRateColumnTemplate let-rowIndex="rowIndex" let-row="row" let-value="value"
            ngx-datatable-cell-template>
            <mat-form-field class="col-md-12" [formGroupName]="rowIndex">
              <input formControlName="rate" matInput value="{{row.rate}}"
                (input)="setApplicableFactor('rate',$event.target.value,row,rowIndex)">
              <mat-error *ngIf="getTable(rowIndex).controls['rate'].invalid">
                {{getErrorMessage(getTable(rowIndex).controls['rate'])}}
              </mat-error>
            </mat-form-field>
          </ng-template>
          <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageTable.limit"
              let-curPage="curPage" let-offset="pageTable.offset" let-isVisible="isVisible">
              <div class="page-count" [hidden]="!((rowCount / pageTable.limit) > 1)">
                {{datatable.messages.totalMessage}}{{pageTable.offset * pageTable.limit + 1}} -
                {{pageTable.offset * pageTable.limit + pageTable.limit > rowCount ? rowCount : pageTable.offset * pageTable.limit + pageTable.limit }}
                of {{rowCount.toLocaleString()}}
              </div>
              <div [hidden]="!((rowCount / pageTable.limit) > 1)">
                <select (change)="onLimitChange($event.target.value)">
                  <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                    [selected]="option.value == pageTable.limit">
                    {{ option.value }}
                  </option>
                </select>
              </div>
              <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageTable.limit" [count]="rowCount"
                [hidden]="!((rowCount / pageTable.limit) > 1)" (change)="changePage($event)">
              </datatable-pager>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
        <ng-template #selectApplicableFactorColumnTemplate let-row="row" let-value="value" let-rowIndex="rowIndex"
          ngx-datatable-cell-template>
          <mat-form-field class="col-md-12" [formGroupName]="rowIndex">
            <mat-select disableOptionCentering panelClass="select-dropdown-class" formControlName="applicable_factor"
              [(value)]="row.applicable_factor" [disabled]="getTable(rowIndex).controls['applicable_factor'].disabled">
              <mat-option (click)="setApplicableFactor('applicable_factor',applicableFactor.code,row,rowIndex)"
                *ngFor="let applicableFactor of arrayApplicableFactor" [value]="applicableFactor.code">
                {{applicableFactor ? applicableFactor.name : ''}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select formControlName="uom" placeholder="UOM" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="uomFilterCtrl" [placeholderLabel]="'Find UOM'"
                  [noEntriesFoundLabel]="'No matching UOM found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor='let uom of filteredUoms | async' [value]="uom.code">{{uom.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('UOM','UOM')"></i>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Effective Start Date" aria-invalid="false" aria-required="false"
            formControlName="effectiveStartDate" name="effectiveStartDate" [matDatepicker]="effectiveStartDatePicker"
            (click)="effectiveStartDatePicker.open()" (dateChange)="dateFromChanged($event)" [max]="maxDateFrom">
          <mat-datepicker-toggle matPrefix [for]="effectiveStartDatePicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #effectiveStartDatePicker></mat-datepicker>
          <!-- <mat-error *ngIf="formGroup.get('billingStartDate').invalid">
            {{getErrorMessage(formGroup.get('billingStartDate'))}}
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Effective End Date" aria-invalid="false" aria-required="false"
            formControlName="effectiveEndDate" name="effectiveEndDate" [matDatepicker]="effectiveEndDatePicker"
            (click)="effectiveEndDatePicker.open()" (dateChange)="dateToChanged($event)" [min]="minDateTo">
          <mat-datepicker-toggle matPrefix [for]="effectiveEndDatePicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #effectiveEndDatePicker></mat-datepicker>
          <!-- <mat-error *ngIf="formGroup.get('billingStartDate').invalid">
            {{getErrorMessage(formGroup.get('billingStartDate'))}}
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Reference No." formControlName="inputReferenceNo">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Related Reference No." formControlName="inputRelatedRefNo">
          <mat-error *ngIf="formGroup.get('inputRelatedRefNo').invalid">
            {{ getErrorMessage(formGroup.get('inputRelatedRefNo'), { pattern: 'Enter Numeric, non-decimal value' }) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Linked Opportunity" formControlName="selectedLinkedOpportunity">
              <mat-option>
                <ngx-mat-select-search [formControl]="linkedOpportunityFilter"
                  [placeholderLabel]="'Find Linked Opportunity'"
                  [noEntriesFoundLabel]="'No matching Linked Opportunity found'">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let linkedOpportunity of filteredLinkedOpportunities | async"
                [value]="linkedOpportunity.code">
                {{linkedOpportunity.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg"
            (click)="openCreateNewObjectDialog('Linked Opportunity','LINKED_OPPORTUNITY')"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Related Doc"
            formControlName="selectedRelatedDoc">
            <mat-option *ngFor="let relatedDoc of arrayRelatedDoc" [value]="relatedDoc.code">
              {{relatedDoc.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="col-md-12">
      <div class="col-md-12">
        <h5><b>REPORTING FIELDS</b></h5>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Platforms Applicable" formControlName="inputPlatformsApplicable">
        </mat-form-field>
      </div>
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Service" formControlName="selectedService">
              <mat-option>
                <ngx-mat-select-search [formControl]="serviceFilter" [placeholderLabel]="'Find Service'"
                  [noEntriesFoundLabel]="'No matching Service found'">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let service of filteredService | async" [value]="service.code">
                {{service.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('Service','SERVICE')"></i>
        </div>
      </div>
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Sub Service" formControlName="selectedSubService">
              <mat-option>
                <ngx-mat-select-search [formControl]="subserviceFilter" [placeholderLabel]="'Find Sub Service'"
                  [noEntriesFoundLabel]="'No matching Sub Service found'">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let subservice of filteredSubService | async" [value]="subservice.code">
                {{subservice.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('Sub Service','SUB_SERVICE')"></i>
        </div>
      </div>
    </div>
    <div class="col-md-12 spacing-element">
      <div class="row">
        <div class="col-md-4 fields-with-plus">
          <div class="col-md-11">
            <mat-form-field class="col-md-12">
              <mat-select placeholder="Project" formControlName="selectedProject">
                <mat-option>
                  <ngx-mat-select-search [formControl]="projectFilter" [placeholderLabel]="'Find Project'"
                    [noEntriesFoundLabel]="'No matching Project found'">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let project of filteredProject | async" [value]="project.code">
                  {{project.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1 new-plus-small-padding">
            <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('Project','PROJECT')"></i>
          </div>
        </div>
        <div class="col-md-4">
          <mat-form-field class="col-md-12">
            <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Sub Project"
              formControlName="selectedSubProject">
              <mat-option *ngFor="let subProject of arraySubProject" [value]="subProject.code">
                {{subProject.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="col-md-12">
            <input (keyup)="onManualChangeInputLocation($event)" matInput type="text"
              class="google-place-input mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
              #location formControlName="location" name="location" google-place placeholder="Location">
            <i class="fas fa-search" matSuffix></i>
            <mat-error *ngIf="formGroup.get('location').invalid">
              {{getErrorMessage(formGroup.get('location'))}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <cm-additional-reporting-fields formGroupName="additionalFormGroup" [numOfFieldsInRow]="3"
      [(additionalReportingFields)]="additionalReportingFields"
      [(additionalReportingFieldsArray)]="additionalReportingFieldsArray" [cdr]="cd"></cm-additional-reporting-fields>
    <div class="content-right btn-container ds-vw">
      <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
        Cancel
      </button>
      <button color="primary" class="cm-btn primary-pink-color" (click)="saveTransactionRateVolume()">
        Save and Continue
      </button>
    </div>
    <div class="content-right btn-mob-container">
      <button color="primary" class="cm-mob-btn mb-vw" id="cancel" (click)="cancel()">
        Cancel
      </button>
      <button color="primary" class="cm-mob-btn mb-vw primary-pink-color" (click)="saveTransactionRateVolume()">
        Save and Continue
      </button>
    </div>
  </div>