@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.app-footer{
    height: 25px;
    display: block;
    position: absolute;
    z-index: 2;
    width: 98.5%;
    bottom: 0px;
}


.main-footer{
    display: block;
    position: absolute;
    z-index: 1000;
    width: 100%;
    bottom: 0px;
    padding: 2rem;
    background: #eee;

    @media(min-width:100px) and (max-width:768px){
        height: 60px;
        width:100%;
    }

    

    p{
        margin: 0px !important;
        text-align: center;
      
        color: #124E73;
        
        @media(min-width: 100px) and (max-width:768px){
            font-size: 12px;
        }

    }

    .pull-sm-left{
        @media(min-width:100px) and (max-width:768px){
            float: none;
        }
    }
        .pull-sm-right{
        float: right;
        @media(min-width:100px) and (max-width:768px){
            float: none;
        }
    }
}