.cm-header-container {
    display: block;

    &.fixed {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    & > nav {
        max-width: 100%;
        margin: 0 auto;
        height: 7rem;
        background: #A8DEFF;
        color: #2a2a2a;
        align-items: center;
        justify-content: flex-start;
        display: flex;

        & > .cm-logo {
            min-width: 23rem;
            padding: 1.25rem;
            background: white;
            display: inline-block;
            height: 100%;
    
            & > img {
                height: 100%; 
                width: 100%; 
                object-fit: contain;
            }
        }

        & > .cm-logo-small {
            padding: 1.25rem;
            width: 3.5rem;
            height: 100%;
            background: white;
            font-size: 1.75rem;
            white-space: nowrap;
            position: relative;
      
            & img {
              position: absolute;
              left:0;
              top:0;
            }
        }
    
        & > .cm-navigation {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative;

            & > .cm-navigation-left {
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 2rem;
            }

            & > .cm-navigation-right {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }

            & > .cm-navigation-right > a {
                position: relative;
                top: -1.4rem;
                padding-right: 2rem;
                cursor: pointer;
            }

            & > .cm-navigation-right > a:last-of-type {
                padding-left: 0.5rem;
                padding-right: 2.5rem;
            }

            /deep/ .icon-container {
                // TODO
                color: #2a2a2a !important;
                font-size: 1.4rem;
            }

            /deep/ .user-container {
                display: inline-block;

                & > .user-picture {
                    border-radius: 50%;
                    height: 4rem;
                    width: 4rem;
                    border: none;
                    background: #ffffff;
                    display: inline-block;
                }
                & > .user-info {
                    margin-left: 1rem;
                    font-size: 1.4rem;
                    color: #40505B ;
                    font-weight: 600;
                    display: inline-block;
                    height: 4rem;
                }

                & > .user-info > .user-info-name {
                    position: relative;
                    top: -0.25rem;
                }

                & > .user-info > .user-info-role {
                    position: relative;
                    top: -0.75rem;
                    font-size: 1.2rem;
                    padding-top: 1rem;
                }
            }


        }
    }
}

