<div id="list-roles">
  <div class="content-heading">
    <!-- Breadcrumb right aligned-->
    <breadcrumb class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-mg" [breadcrumbData]="breadcrumbData"></breadcrumb>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right no-mg">
      <action-permission [permissionArr]="permissionArr" [MODULE_ID]="MODULE_ID" [actionType]="ACTION_TYPES.ADD">
        <button mat-button class="btn add-btn btn-primary" (click)="navigateTo()" type="button">
          {{'common.labels.add'| translate}}</button>
      </action-permission>
    </div>
  </div>
  <div class="card card-default">
    <div class="card-body">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-pd">
        <app-loader class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [loading]="showLoaderFlag"></app-loader>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive no-pd"
          [ngClass]="{'hide-content': showLoaderFlag}">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="">#</th>
                <th class="">{{ 'roles.labels.roleName' | translate }}</th>
                <th class="">{{ 'roles.labels.parentRole' | translate }}</th>
                <th class="">{{ 'common.labels.action' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of rolesListingArr;let srno = index; ">
                <td>{{srno + index}}</td>
                <td>{{ role?.roleName }}</td>
                <td>{{ role?.parent?.roleName ? role?.parent?.roleName : "-" }}</td>
                <td class="center">
                  <action-permission [permissionArr]="permissionArr" [MODULE_ID]="MODULE_ID"
                    [actionType]="ACTION_TYPES.EDIT">
                    <div class="d-inline-flex">
                      <a class="ptr" title="{{ 'common.labels.edit' | translate }}" (click)="navigateTo(role.id)"><em
                          class="fa fa-edit edit icon-size"></em></a>
                    </div>
                  </action-permission>
                </td>
              </tr>
              <tr *ngIf="rolesListingArr?.length == 0 && !showLoaderFlag">
                <td colspan="4">
                  <p class="text-danger text-center">{{'common.labels.recordNotFound' | translate}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="(totalItems > itemsPerPage)"
      [ngClass]="{'hide-content': showLoaderFlag}">
      <pagination class="pagination-sm pull-right" [(ngModel)]="page" [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage" [firstText]="'common.labels.first' | translate"
        [lastText]="'common.labels.last' | translate" [previousText]="'common.labels.previous' | translate"
        [nextText]="'common.labels.next' | translate" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
        (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
      </pagination>
    </div>
  </div>
</div>
