<div class="branding-wrap">
  <div class="form-wrap" [formGroup]="autoRoutingForm">
    <div class="row">
      <div class="padding-left-0 padding-right-0 col-sm-12 col-xs-12">
        <div class="col-sm-4 col-xs-12 ">
          <mat-form-field class="mat-select-full-width">
            <mat-select i18n-placeholder placeholder="Event Type*" formControlName="eventType" (change)="onChangeEvent($event)">
              <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.value">
                {{ eventType.text }}
              </mat-option>
            </mat-select>
            <mat-error i18n *ngIf="autoRoutingForm.controls['eventType'].hasError('required') && autoRoutingForm.controls['eventType'].touched">
              Event Type is
              <strong> required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3 col-xs-12 auto-complete" *ngIf="showEmailList" [ngStyle]="{'paddingTop.rem': 0.6}">
          <p-autoComplete class="ui-state-style" formControlName="lookupInput" (onClear)="onClear()" (onFocus)="onFocus($event)" maxlength="100" (onSelect)="selectMailAdmin($event)"
            [suggestions]="results" (completeMethod)="search($event)">
            <ng-template let-mailadmin pTemplate="item">
              <div class="ui-helper-clearfix row">
                <div class="col-md-3">
                  <img class="profile" *ngIf="mailadmin.profilePhoto?true:false" src="{{mailadmin.profilePhoto}}" />
                  <div *ngIf="mailadmin.profilePhoto?false:true" class="user-image">
                    <i class="material-icons">perm_identity</i>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="mail-admin-details" title="{{mailadmin.firstname}} {{mailadmin.lastname}}">
                    {{mailadmin.firstname}} {{mailadmin.lastname}}
                    <div class="mail-admin-email" title="{{mailadmin.email}}">
                      {{mailadmin.email}}
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-autoComplete>
          <mat-error i18n *ngIf="showEmailRequiredError" class="email-error">
            Email is <strong>required </strong>
          </mat-error>
        </div>
        <div class="col-sm-4 col-xs-12" *ngIf="!showEmailList">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="Selected Folder" formControlName="absolutePath" readonly>
          </mat-form-field>
        </div>
        <div class="col-sm-1 col-xs-12" *ngIf="!showEmailList">
          <div class="full-width-input-wrap select-box-wrap">
            <button i18n type="submit" mat-button class="app-btn orange-button save-btn" (click)="showFileCabinet()">Look Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="action-wrap">
    <div class="text-right">
      <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="gotoRoutingRuleList()">Cancel</button>
      <button i18n type="button" mat-button class="app-btn dark-blue-button" (click)="previous()">Previous</button>
      <button i18n type="submit" mat-button class="app-btn orange-button save-btn" (click)="save(autoRoutingForm)">Save</button>
    </div>
  </div>
</div>
