.btn-container-bottom {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.content-right-cp {
    width: 100%;
    padding-right: 2rem;
    text-align: right;
}

#saveButton {
  margin-left:1rem;
}

#resetButton {
  color: #1277d9;
  background-color: white;
  border: none;
}

#clearButton {
  color: #1277d9;
  background-color: white;
  margin-left:1rem;
  border: none;
}

#previewButton {
    color: #1277d9;
    background-color: white;
    margin-left:1rem;
    border: 0.1rem solid #1277d9;
}

#cancel {
  color: #1277d9;
  background-color: white;
  border: none;
}

.cm-btn {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.add-new-field {
    padding-left: 1.3rem;
    color: #1277d9 !important;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}
