<div [formGroup]="formGroup">
    <div class="col-12 col-md-12">
        <div class="fieldDropList" cdkDropList (cdkDropListDropped)="dropField($event)">
            <div cdkDragBoundary=".fieldDropList" *ngFor="let item of formArrayData.controls; let i = index" cdkDrag>
                <cm-add-contract-meta-model-fields
                    [isTableView]="isTableView"
                    [attributeIndex]="i"
                    (removeFieldId)="removeField($event)"
                    (parentVisibleId)="parentVisibility($event)"
                    (parentInvisibleId)="parentInvisibility($event)"
                    [formGroup]="item"
                >
                </cm-add-contract-meta-model-fields>
            </div>
        </div>
        <a *ngIf="subtab.add_new_fields" class="add-new-field" (click)="addNewAttribute()">
            <i class="fa fa-plus-circle"></i> {{addTypeName}}
        </a>
    </div>
    <div class="btn-container-bottom content-right-cp">
        <button *ngIf="!checkUserIfClientEditor()" color="primary" class="cm-btn" id="cancel" (click) = "cancelAction()">
            CANCEL
        </button>
        <button class="cm-btn" id="resetButton" (click) = "resetAction()">
            RESET
        </button>
        <button class="cm-btn" id="previewButton" (click) = "previewAction()">
            PREVIEW
        </button>
        <button color="primary" class="cm-btn primary-pink-color" id="saveButton" (click) = "saveAction(false)">
            SAVE
        </button>
    </div>
</div>