<div class="component-wrap cost-center-selection-wrap cost-center-selection-popup-wrap">
    <div class="heading-wrap">
        <div class="inner">
            <div class="popup-heading">Cost Center</div>
            <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
        </div>
    </div>

    <div class="middle-wrap">
        <p class="label-text">Please select cost center</p>
        <p class="error-text" *ngIf="selectCostCenterError">Please select at least one cost center.</p>
        <mat-radio-group [(ngModel)]="selectedCostCenter">
            <table>
                <thead>
                    <tr>
                        <th>COST CENTER</th>
                        <th>DEAL CODE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let center of costCenters">
                        <td>
                            <mat-radio-button [value]="center.id">{{center.costCenterName}}</mat-radio-button>
                        </td>
                        <td>{{center.dealCode}}</td>
                    </tr>                    
                </tbody>
            </table>
        </mat-radio-group>
    </div>

    <div class="action-wrap">
        <div class="text-right">
            <button type="button" mat-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
            <button type="button" mat-button class="app-btn orange-button save-btn" (click)="addSelectedCostCenter()">Add</button>
        </div>
    </div>
</div>