<!-- <div class="row">
  <div class="form-group col-md-12" *ngFor="let value of addsubpoArray">

    <div class="col-md-12">
      <div class="col-md-12">
        <span>ISR withholding(%)</span>:
        <span>{{value.ISR}}</span>
      </div>

      <div class="col-md-12">
        <span>VAT (%)</span>:
        <span>{{value.vat}}</span>

      </div>
      <div class="col-md-12">
        <span>VAT withholding(%)</span>:
        <span>{{value.vatholding}}</span>


      </div>
      <div class="col-md-12">
          <span>Country</span>:
          <span>{{value.country}}</span>


        </div>
    </div>
  </div>
</div>


<form [formGroup]="subLocationForm" *ngIf="subLocationFormFlag">

  <div class="panel-body sublocation-body">

    <div class="form-group">
      <h5 class="text-dark mt-1 ml-3">
        <strong>{{'location.labels.AddaddsubLocationPO' | translate}}</strong>
        <button class="btn btn-primary pull-right mr-3" (click)="navigateTo(ROUTER_LINKS?.purchaseOrderList)">Back To List</button>
      </h5>
    </div>

    <div class="form-group">
      <div class="row no-mg"> -->
        <!-- <label class="col-md-3 col-xs-3 col-sm-8">{{'projects.labels.budgetLine'| translate}}
          <span style="color:red;">*</span>
        </label>
      <div class=" col-xs-12 col-sm-12">
        <div class="col-md-3 col-xs-12 col-sm-12">
          <ng-select [items]="ages" [selectOnTab]="true" bindValue="value" labelForId="age">
          </ng-select>

        </div>
      </div> -->
        <!-- <div class="col-md-2">
          <label class="control-label">{{'projects.labels.budgetLine'| translate}}</label>
          <ngx-select formControlName="budgetLine" [items]="ages"></ngx-select>
        </div>
        <div class="col-md-1 or">
          <span>OR</span>
        </div>
        <div class="col-md-3">
          <label class=" control-label">Category</label>
          <select class="form-control">
          </select>
        </div>
        <div class="col-md-3">
          <label class=" control-label">{{'common.labels.account' | translate}}</label>
          <select class="form-control">
          </select>
        </div>
        <div class="col-md-3">
          <label class=" control-label">{{'common.labels.subAccount' | translate}}</label>
          <select class="form-control">
          </select>
        </div>
      </div>

    </div>
    <div class="form-group">
      <label class="col-md-12 col-xs-12 col-sm-12">{{'common.labels.location' | translate}}
        <span style="color:red;">*</span>
      </label>
      <div class="row col-xs-12 col-sm-8">
        <div class="col-md-9">
          <select class="form-control" name="roleId" formControlName="country">
            <option value="">{{'common.labels.select'| translate}}</option>
            <option>DEPORTIVO 18 DE MARZO</option>
            <option>DELICATESSEN</option>
            <option>LA SELECTA SABORES</option>
            <option>VILLA DE MADRID ABARROTES</option>
            <option>SALON MEXICO</option>
            <option>HACIENDA DE LOS LEONES</option>
            <option>LA SALLE</option>
            <option>LOMA DEL VALLE</option>
            <option>SAYAVEDRA</option>
            <option>XOCHITLA</option>
            <option>La Teatrería</option>
            <option>Rhodesia</option>
            <option>Yuban</option>
            <option>Monumento a la Revolución</option>
          </select>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary">{{'projects.labels.addLocation'| translate}}</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-12 col-xs-12 col-sm-12">{{'projects.labels.scouter'| translate}}
        <span style="color:red;">*</span>
      </label>
      <div class="row col-xs-12 col-sm-8">
        <div class="col-md-9">
          <select class="form-control" name="roleId">
            <option value="">{{'common.labels.select'| translate}}</option>
            <option>Aurora Salazar Figueroa</option>
            <option>Sergio Aguilar</option>
            <option>Aleks Lira</option>
            <option>Charlotte Wegner</option>
          </select>
        </div>
        <div class="col-md-3  mt-2">
          <input type="checkbox">
          <span class="ml-2">{{'projects.labels.isBeneficiary'| translate}}</span>
        </div>
      </div>
    </div> -->
    <!-- <div class="form-group">
      <label class="col-md-12 control-label">{{'projects.labels.paymentDate'| translate}}
        <span class="">*</span>
      </label>
      <div class="col-md-12  col-xs-12 col-sm-12 no-mg">
        <div class="col-md-4 col-xs-4 col-sm-4">
          <my-date-picker class="bbdate" placeholder="{{'projects.labels.paymentDate'| translate}}"></my-date-picker>
        </div>
      </div>
    </div> -->
    <!-- <div class="form-group">
      <div class="row no-mg">


        <div class="col-md-3">
          <label class=" control-label">Preparation Days</label>
          <select class="form-control">
          </select>
        </div>
        <div class="col-md-3">
          <label class=" control-label">Shooting days</label>
          <select class="form-control">
          </select>
        </div>
        <div class="col-md-3">
          <label class=" control-label">Dismantle days</label>
          <select class="form-control">
          </select>
        </div>
      </div>

    </div>
    <div class="form-group">
      <div class="row no-mg">


        <div class="col-md-5">
          <label class="control-label">Daily rate</label>
          <span style="color:red;">*</span>
          <div class="col-md-8 no-mg">
            <input class="form-control">
          </div>
        </div>

        <div class="col-md-3">
          <label class=" control-label">Total amount</label>
          <span style="color:red;">*</span>
          <input name="firstName" class="form-control">

        </div>
      </div>

    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Currency
      </label>
      <div class="col-md-8">
        <select class="form-control"> </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">VAT (%)
      </label>
      <div class="col-md-8">
        <input type="number" formControlName="vat" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">
        Sub total
      </label>
      <div class="col-md-8">
        <span class="subtotal">00.00</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">

        <label class="col-md-3 control-label">ISR withholding(%)
        </label>
        <div class="col-md-12">
          <input type="number" formControlName="ISR" class="form-control">
        </div>
      </div>
      <div class="form-group col-md-2">
        <label class="col-md-2 control-label">Amount
        </label>
        <div class="col-md-8">
          <span>00.00</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">

        <label class="col-md-3 control-label">VAT withholding(%)
        </label>
        <div class="col-md-12">
          <input type="number" formControlName="vatholding" class="form-control">
        </div>
      </div>
      <div class="form-group col-md-2">
        <label class="col-md-2 control-label">Amount
        </label>
        <div class="col-md-8">
          <span>00.00</span>
        </div>
      </div>
    </div> -->
    <!-- <div class="row" style="width:90%;">
      <div class="col-md-4">
        <label class="col-md-12 col-xs-12 col-sm-12">{{'projects.labels.approvedBy'| translate}}
          <span style="color:red;">*</span>
        </label>
        <div class="col-md-12  col-xs-12 col-sm-12 no-mg">
          <div class="col-md-9">
            <select class="form-control" name="roleId">
              <option value="">{{'common.labels.select'| translate}}</option>
              <option>Magali</option>
              <option>Sandra</option>
              <option>Brooklyn</option>
            </select>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-12 col-xs-12 col-sm-8">{{'projects.labels.operation'| translate}}
          <span style="color:red;">*</span>
        </label>
        <div class="col-md-12  col-xs-12 col-sm-8 no-mg">
          <div class="col-md-9">
            <select class="form-control" name="operation">
              <option value="">{{'common.labels.select'| translate}}</option>
              <ng-container *ngFor="let mode of OPERATION_MODES">
                <option [value]="mode.value">{{mode.name}}</option>
              </ng-container>
            </select>

          </div>

        </div>
      </div>
    </div> -->
    <!-- <div class="form-group">
      <label class="col-md-2 control-label">Mode of operation
        <span class="">*</span>
      </label>
      <div class="col-md-8">
        <select class="form-control" formcontrolname="mode" name="operation">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">{{'projects.labels.RequestedBy' | translate}}
        <span class="">*</span>
      </label>
      <div class="col-md-8">
        <select class="form-control" formcontrolname="mode" name="operation">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Notes
        <span style="color:red">*</span>
      </label>
      <div class="col-md-8">
        <textarea class="form-control" rows="2" cols="5"></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3">

    <button (click)="addData()" class="btn btn-success">{{'common.labels.save'| translate}}</button>
    <button (click)="navigateTo(ROUTER_LINKS?.purchaseOrderList)" [routerLink]="ROUTER_LINKS_FULL_PATH.projects" class="btn btn-danger ml-1">{{'common.labels.cancel'| translate}}</button>

  </div>
</form> -->




<!-- <div class="panel panel-primary secondPanel">
    <div class="row no-mg">
        <div class="col-md-12 sublocation">

       <div class="row">
        <div class="form-group ">
          <h5 class="text-dark mt-1 pd-left">
            <strong>{{'location.labels.subLocationPO' |  translate}}</strong>
          </h5>
        </div>
          <div class="form-group col-md-12" *ngFor="let value of addsubpoArray;let i=index">

            <div class="subpo-border" >

            <div class="col-md-12 no-mg" >
                <div class="col-md-12">
                    <span>Country</span>:
                    <span>{{value.country}}</span>
                    <div class="col-md-2 action-icons">
                      <span><i class="fa icon-close pull-right" (click) = "delete(i)"></i></span>
                      <span><i class="fa fa-pencil pull-right" (click) = "edit(i)"></i></span>

                    </div>

                  </div>

              <div class="col-md-8">
                <span>Scouter</span>:
                <span>{{value.scouter}}</span>

              </div>
              <div class="col-md-12">
                <span>Budget line</span>:
                <span>{{value.budgetline}}</span>


              </div>

            </div>
        </div>
      </div>
      </div>
</div>
</div>
</div> -->
<!-- <div class="panel panel-primary">
  <div class="panel-body"> -->

<div class="panel-body sublocation-body">

<!-- <div class="col-md-9 no-mg project-tabs">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../'+ROUTER_LINKS_FULL_PATH.purchaseOrderLocation " routerLinkActive="active">Location Purchase Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../'+ROUTER_LINKS?.purchaseOrderSubLocation" routerLinkActive="active" >Sub Location Purchase Order</a>
          </li>

        </ul>
      </div> -->
      <div class="row no-mg">
          <div class="col-md-12 sublocation" *ngIf="subPoLocationFlag">

        <!-- <app-add-sub-po-location  *ngIf="sublocationFlag"></app-add-sub-po-location> -->
         <div class="row">
          <div class="form-group ">
            <h5 class="text-dark mt-1 pd-left">
              <strong>{{'location.labels.subLocationPO' |  translate}}</strong>
            </h5>
          </div>
            <div class="form-group col-md-12" *ngFor="let value of addsubpoArray;let i=index">

              <div class="subpo-border" >

              <div class="col-md-12 no-mg" >
                  <div class="col-md-12">
                      <span>{{'sidebar.location' | translate}}</span>:
                      <span>{{value.country}}</span>
                      <div class="col-md-2 action-icons">
                        <span><i class="fa icon-close pull-right" (click) = "delete(i)"></i></span>
                        <span><i class="fa fa-pencil pull-right pencil-icon" (click) = "edit(i)"></i></span>

                      </div>

                    </div>

                <div class="col-md-8">
                  <span>Scouter</span>:
                  <span>{{value.scouter}}</span>

                </div>
                <div class="col-md-12">
                  <span>{{'projects.labels.budgetline' | translate}}</span>:
                  <span>{{value.budgetline}}</span>


                </div>

              </div>
          </div>
        </div>
        </div>

      </div>

      </div>
      <div class="showLink" *ngIf="showLinkFlag">
        <a href="#" class="pull-right" (click)="addSubLocation()">{{'location.labels.addsubLocationPO' | translate}}</a>

      </div>
        <form [formGroup]="subLocationForm" *ngIf="subLocationFormFlag">

          <div >

            <div class="form-group">
              <h5 class="text-dark mt-1 ml-3">
                <strong>{{'location.labels.AddaddsubLocationPO' | translate}}</strong>
                <!-- <button class="btn btn-primary pull-right mr-3" (click)="navigateTo(ROUTER_LINKS?.purchaseOrderList)">Back To List</button> -->
                <!-- <button class="btn btn-primary pull-right mr-3" >Delete</button> -->
              </h5>
            </div>

            <div class="form-group">
              <div class="row no-mg">
                <!-- <label class="col-md-3 col-xs-3 col-sm-8">{{'projects.labels.budgetLine'| translate}}
                  <span style="color:red;">*</span>
                </label>
              <div class=" col-xs-12 col-sm-12">
                <div class="col-md-3 col-xs-12 col-sm-12">
                  <ngx-select [items]="ages" [selectOnTab]="true" bindValue="value" labelForId="age">
                  </ngx-select>

                </div>
              </div> -->
                <div class="col-md-2">
                  <label class="control-label">{{'projects.labels.budgetLine'| translate}}</label>
                  <ngx-select [items]="ages" name="roleId" formControlName="budgetline" placeholder ="Select">
                      <!-- <option value="">{{'common.labels.select'| translate}}</option>
                      <option>10-00</option>
                      <option>10-01</option>
                      <option>10-02</option> -->
                    </ngx-select>
                </div>
                <div class="col-md-1 or">
                  <span>OR</span>
                </div>
                <div class="col-md-3">
                  <label class=" control-label">{{'common.labels.category' | translate}}</label>
                  <ngx-select [items]="categoryArr" placeholder ="Select"></ngx-select>
                </div>
                <div class="col-md-3">
                  <label class=" control-label">{{'common.labels.account' | translate}}</label>
                  <ngx-select [items]="accountsArr" placeholder ="Select"></ngx-select>
                </div>
                <div class="col-md-3">
                  <!-- {{'common.labels.subAccount' | translate}} -->
                  <label class=" control-label">{{'common.labels.subAccount' | translate}}</label>
                  <ngx-select [items]="subAccountsArr" placeholder ="Select"></ngx-select>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label class="col-md-12 col-xs-12 col-sm-12">{{'common.labels.location' | translate}}
                <span class="mandatory">*</span>
              </label>
              <div class="row col-xs-12 col-sm-8">
                <div class="col-md-9">
                  <ngx-select [items] = "location" name="roleId" formControlName="country" placeholder ="Select">
                    <!-- <option value="">{{'common.labels.select'| translate}}</option>
                    <option>DEPORTIVO 18 DE MARZO</option>
                    <option>DELICATESSEN</option>
                    <option>LA SELECTA SABORES</option>
                    <option>VILLA DE MADRID ABARROTES</option>
                    <option>SALON MEXICO</option>
                    <option>HACIENDA DE LOS LEONES</option>
                    <option>LA SALLE</option>
                    <option>LOMA DEL VALLE</option>
                    <option>SAYAVEDRA</option>
                    <option>XOCHITLA</option>
                    <option>La Teatrería</option>
                    <option>Rhodesia</option>
                    <option>Yuban</option>
                    <option>Monumento a la Revolución</option> -->
                  </ngx-select>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-primary save-btn">{{'projects.labels.addLocation'| translate}}</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 col-xs-12 col-sm-12">{{'common.labels.locationType' | translate}}
                <span class="mandatory">*</span>
              </label>
              <div class="row col-xs-12 col-sm-8">
                <div class="col-md-9">
                  <ngx-select [items] = "locationType" name="locationType" formControlName="locationType" placeholder ="Select">
                  </ngx-select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-12 col-xs-12 col-sm-12">{{'projects.labels.scouter'| translate}}
                <span class="mandatory">*</span>
              </label>
              <div class="row col-xs-12 col-sm-8">
                <div class="col-md-9">
                  <ngx-select [items]="scouter"  name="roleId" formControlName="scouter" placeholder ="Select">
                    <!-- <option value="">{{'common.labels.select'| translate}}</option>
                    <option>Aurora Salazar Figueroa</option>
                    <option>Sergio Aguilar</option>
                    <option>Aleks Lira</option>
                    <option>Charlotte Wegner</option> -->
                  </ngx-select>
                </div>
                <div class="col-md-3  mt-2">
                  <input type="checkbox">
                  <span class="ml-2">{{'projects.labels.isBeneficiary'| translate}}</span>
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="col-md-12 control-label">{{'projects.labels.paymentDate'| translate}}
                <span class="">*</span>
              </label>
              <div class="col-md-12  col-xs-12 col-sm-12 no-mg">
                <div class="col-md-4 col-xs-4 col-sm-4">
                  <my-date-picker class="bbdate" placeholder="{{'projects.labels.paymentDate'| translate}}"></my-date-picker>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <div class="col-md-3">
              <label>{{'projects.labels.paidVia' | translate}} :</label>
            </div>
              <div class="row no-mg">
                <div class="col-md-3">
                  <label class=" control-label">{{'projects.labels.preparationDays' | translate}}</label>
                  <input name="preparationDays" class="form-control max-width" maxlength="5">
                </div>
                <div class="col-md-3">
                  <label class=" control-label">{{'projects.labels.shootingDays' | translate}}</label>
                  <input name="shootingDays" class="form-control max-width" maxlength="5">
                </div>
                <div class="col-md-3">
                  <label class=" control-label">{{'projects.labels.dismantleDays' | translate}}</label>
                  <input name="dismantleDays" class="form-control max-width" maxlength="5">
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="row no-mg">


                <div class="col-md-3">
                  <label class="control-label">{{'projects.labels.dailyRate' | translate}}</label>
                  <span style="color:red;">*</span>
                  <div class="col-md-12 no-mg">
                    <input class="form-control">
                  </div>
                </div>

                <div class="col-md-3">
                  <label class=" control-label">{{'projects.labels.totalAmount' | translate}}</label>
                  <!-- <span style="color:red;">*</span>
                  <input name="firstName" class="form-control"> -->
                  <div class="col-md-3">
                    <span class="subtotal">00.00</span>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">{{'projects.labels.currency' | translate}}</label>
              <div class="col-md-3">
                <ngx-select  [items]="currencyArr" placeholder ="Select"> </ngx-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">{{'payments.labels.vatPercent' | translate}}
              </label>
              <div class="col-md-3">
                <!-- formControlName="vat" -->
                <input type="text"  class="form-control" maxlength="5">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">
                {{'common.labels.subTotal' | translate}}
              </label>
              <div class="col-md-3">
                <span class="subtotal">00.00</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3 max-width">
                <label class="col-md-3 control-label max-width">{{'payments.labels.isrWithHoldingPercent' | translate}}
                </label>
                <div class="col-md-6 max-width">
                  <input type="text" formControlName="ISR" class="form-control" maxlength="5">
                </div>
              </div>
              <div class="form-group col-md-2 max-width">
                <label class="col-md-2 control-label max-width">{{'common.labels.amount' | translate}}
                </label>
                <div class="col-md-4 max-width">
                  <span>00.00</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3 max-width">

                <label class="col-md-3 control-label max-width">{{'payments.labels.vatWithHoldingPercent' | translate}}
                </label>
                <div class="col-md-6 max-width">
                  <!-- formControlName="vatholding" -->
                  <input type="text" formControlName="vatholding"  class="form-control" maxlength="5">
                </div>
              </div>
              <div class="form-group col-md-2 max-width">
                <label class="col-md-2 control-label  max-width">{{'common.labels.amount' | translate}}
                </label>
                <div class="col-md-3 max-width " >
                  <span>00.00</span>
                </div>
              </div>
            </div>
            <!-- <div class="row" style="width:90%;">
              <div class="col-md-4">
                <label class="col-md-12 col-xs-12 col-sm-12">{{'projects.labels.approvedBy'| translate}}
                  <span style="color:red;">*</span>
                </label>
                <div class="col-md-12  col-xs-12 col-sm-12 no-mg">
                  <div class="col-md-9">
                    <select class="form-control" name="roleId">
                      <option value="">{{'common.labels.select'| translate}}</option>
                      <option>Magali</option>
                      <option>Sandra</option>
                      <option>Brooklyn</option>
                    </select>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <label class="col-md-12 col-xs-12 col-sm-8">{{'projects.labels.operation'| translate}}
                  <span style="color:red;">*</span>
                </label>
                <div class="col-md-12  col-xs-12 col-sm-8 no-mg">
                  <div class="col-md-9">
                    <select class="form-control" name="operation">
                      <option value="">{{'common.labels.select'| translate}}</option>
                      <ng-container *ngFor="let mode of OPERATION_MODES">
                        <option [value]="mode.value">{{mode.name}}</option>
                      </ng-container>
                    </select>

                  </div>

                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label class="col-md-3 control-label">{{'common.labels.mode' | translate}}
                <span class="mandatory">*</span>
              </label>
              <div class="col-md-3">
                <!-- formcontrolname="mode" -->
                <ngx-select [items] = "modeOfOperation" formcontrolname="mode" name="operation" placeholder ="Select">
                </ngx-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">{{'projects.labels.requestedBy' | translate}}
              <span class="mandatory">*</span>
              </label>
              <div class="col-md-3">
                <!-- formcontrolname="mode" -->
                <ngx-select  [items]="requestedBy" formcontrolname="operation"  name="operation" placeholder ="Select">
                </ngx-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">{{'projects.labels.notes' | translate}}
                <span class="mandatory">*</span>
              </label>
              <div class="col-md-8">
                <textarea class="form-control" formControlName="notes" rows="2" cols="5"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">

            <button (click)="addData()" class="btn btn-success save-btn">ss{{'common.labels.save'| translate}}</button>
            <button (click)="cancel()"  class="btn btn-danger ml-1 cancel-btn">{{'common.labels.cancel'| translate}}</button>

            <!-- <button (click)="navigateTo(ROUTER_LINKS?.purchaseOrderList)" [routerLink]="ROUTER_LINKS_FULL_PATH.projects" class="btn btn-danger ml-1">{{'common.labels.cancel'| translate}}</button> -->

          </div>
        </form>

        </div>
      <!-- </div>
</div> -->
