.table-graph-view {
  width: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 410px;

  thead,
  tbody {
    display: table;
    width: 100%;
  }

  thead tr {
    background-color: #f2f2f2;

    th {
      font-size: 1.2rem;
      font-weight: 600;

      &.download i {
        cursor: auto;
      }
    }
  }

  thead tr,
  tbody tr {
    height: 4rem;
    border: 1px solid #dee2e6;

    td {
      font-size: 1.2rem;
    }

    td input,
    th input {
      cursor: pointer;
    }

    .checkbox {
      min-width: 5rem;
      width: 10%;
      padding-left: 3.5rem;
      margin-right: 141px;
    }

    .year {
      min-width: 5rem;
      width: 10%;
      padding: 7px;
    }

    .graph-view {
      min-width: 50rem;
      width: 50%;

      div {
        position: relative;
        display: flex;
        width: 6rem;
        height: 2rem;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        z-index: 10;

        .selectedNode {
          box-shadow: 0 0 3pt 2pt black;
        }

        .tail {
          border: 1px #cccccc solid;
          border-right: 0;
          border-top: 0;
          position: absolute;
          border-radius: 2px;
          bottom: 1rem;
          left: -3rem;
          height: 4rem;
          z-index: 0;
        }

        div.draft {
          background-color: #d3f9d4;
          border: 1px solid #3bb44b;
          color: #3bb44b;
        }
        div.yts {
          background-color: #dcdcdc;
          border: 1px solid #a2a2a2;
          color: #a2a2a2;
        }

        div.active {
          background-color: #bff1e6;
          border: 1px solid #4cb6aa;
          color: #4cb6aa;
        }

        div.terminated {
          background-color: #dcdcdc;
          border: 1px solid #a2a2a2;
          color: #a2a2a2;
        }

        div.approved {
          background-color: #f3e8ca;
          border: 1px solid #f9a825;
          color: #f9a825;
        }

        div.expired {
          background-color: #ecbbbe;
          border: 1px solid #f5511e;
          color: #f5511e;
        }

        div.for.renewal {
          background-color: #eacaef;
          border: 1px solid #aa47bc;
          color: #aa47bc;
        }
        div.archived {
          background-color: #b0d36b;
          border: 1px solid #4f6228;
          color: #4f6228;
        }
        div.sent.for.approval {
          background-color: #f1b39b;
          border: 1px solid #eb8359;
          color: #eb8359;
        }
        div.expired {
          background-color: #d68689;
          border: 1px solid #cd2026;
          color: #cd2026;
        }
        div.nda {
          background-color: #cabeb4;
          border: 1px solid #c1997a;
          color: #c1997a;
        }
      }
    }

    .comment {
      min-width: 10rem;
      width: 15%;
    }

    .status {
      min-width: 10rem;
      width: 10%;
      text-transform: capitalize;
    }

    .download {
      min-width: 5rem;
      width: 5%;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background: white;
    }

    tr:nth-child(even) {
      background: #f2f2f2;
    }

    tr .status .badge {
      width: 75%;
      font-size: 1.2rem;
    }
  }
}

.no-display {
  display: none !important;
}

.edit-comment {
  float: right;
  margin-right: 20px;
}

.full-comment {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 120px;
  background-color: lightgray;
  top: 1;
  left: 1;
}

.comment-wrapper:hover .full-comment {
  display: inline;
}
.year-row {
  height: 2rem !important;
}

.year-cell {
  text-align: center;
  min-width: 4rem;
  max-width: 4%;
  width: 4%;
}

.smaller-size {
  display: none;
}

@media screen and (max-width: 1500px) {
  .bigger-size {
    display: none;
  }
  .smaller-size {
    display: inline;
  }
}

.parent {
  display: flex;
  overflow: hidden;
  margin: 1em 0;
  align-items: center;
}

#parent1 {
  .left {
      margin-right: auto;
  }
}

#parent2 {
  .left {
      flex-grow: 1;
  }
}


