#checkbox-div {
  padding: 2.5rem 3rem;
}

::ng-deep #checkbox-div label {
  font-weight: 400;
  font-size: 1.4rem;
}

::ng-deep #reference-no-div .mat-form-field-wrapper {
  padding-top: 3.4rem;
}

.cm-btn {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-container {
  padding: 3rem 0rem;
}
@media only screen and (min-width: 1024px) {
  .mb-vw{
      display: none;
  }
  .ds-vw {
      display: flex;
      justify-content: flex-end;
  }
}
@media only screen and (max-width: 1024px) {
  .mb-vw{
      display: block;
  }
  .ds-vw {
      display: none;
  }
}
.form-checkbox {
  ::ng-deep .mat-checkbox-layout {
      margin-top: 0 !important;
  }
}

.btn-mob-container {
  display: flex !important;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.cm-mob-btn {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}
.mat-checkbox-label {
  line-height: 24px;
  white-space: normal !important;
}