<div id="budget-working-page" class="mt-2">

  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-body">
        <ng-container *ngIf="!renderPage">
          <app-loader class="col-md-12" [loading]="!renderPage"></app-loader>
        </ng-container>
        <form [formGroup]="workingForm" novalidate [hidden]="!renderPage">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="workingDetails?.length == 0 && !renderPage">
            <h5 class="text-center text-danger">
              <!-- {{'common.labels.noRecord' | translate}} -->
              {{'common.labels.recordNotFound' | translate}}

            </h5>
          </div>
          <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
              <div id="budget-working">
                <table id="budget-working-table" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class=" text-center">
                        <strong>{{'budgetView.labels.budgetLine'| translate}}</strong>
                      </th>
                      <th class=" text-center">
                        <strong>{{'common.labels.category'| translate}}</strong>
                      </th>
                      <th class="w-25 text-center w-md-35" *ngIf="showAdditionalColumns">
                        <strong>{{'projects.labels.working' | translate}}</strong>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="workingArr">
                      <ng-container *ngFor="let category of workingForm.controls.workingArr['controls']; let categoryIndex = index;let lst=last;">
                        <ng-container [formGroupName]="categoryIndex">
                          <tr>
                            <td>
                              <h4 class="text-dark text-center fs-14">
                                {{category?.value?.budgetLine}}
                              </h4>
                            </td>
                            <td colspan="4" class="ptr category-plus category_{{category?.value?.budgetLine}}" (click)="showHideCategoryDetails(category,'show',$event);">
                              <h4 class="text-dark pull-left">
                                {{category?.value?.categoryName}}
                              </h4>
                              <div class="pull-right">
                                <a class="click-cursor">
                                  <i class="fa fa-plus"></i>
                                </a>
                              </div>
                            </td>
                            <td colspan="4" class="ptr category-minus category_{{category?.value?.budgetLine}}" (click)="showHideCategoryDetails(category,'hide',$event);">
                              <h4 class="text-dark pull-left">
                                {{category?.value?.categoryName}}
                              </h4>
                              <div class="pull-right">
                                <a class="click-cursor">
                                  <i class="fa fa-minus"></i>
                                </a>
                              </div>
                            </td>
                          </tr>
                          <ng-container formArrayName="subWorkingArr">
                            <ng-container *ngFor="let subCategory of category?.controls.subWorkingArr['controls'];let subCategoryIndex = index;">
                              <ng-container [formGroupName]="subCategoryIndex">
                                <tr class="sub-category_{{category?.value?.budgetLine}} sub-categories" *ngIf="subCategory?.value?.subBudgetLine">
                                  <td>
                                    <h4 class=" text-center mb-0 fs-14">
                                      {{subCategory?.value?.subBudgetLine}}
                                    </h4>
                                  </td>
                                  <td>
                                    <span class="text-dark">
                                      {{subCategory?.value?.subCategoryName}}
                                    </span>
                                  </td>
                                  <td>
                                    <!-- <div class="d-inline-block mr-10">
                            <select id="currency-dropdown" class="form-control">
                              <option *ngFor="let currency of currencies;let i = index;" [selected]="currency.value == defaultCurrency"
                                value="currency.value">{{currency.label}}</option>
                            </select>
                          </div> -->
                                    <div>
                                      <input class="form-control" maxlength="8" (change)="checkIntegerValue(subCategory, 'workingRate')"
                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '');" style="width:150px;display: inline;"
                                        formControlName="workingRate" placeholder="{{'budgetView.labels.amount'| translate}}"
                                        title="{{'budgetView.labels.ratePerday'| translate}}">
                                      <span class="currency-val">{{this.DEFAULT_WORKING_CURRENCY.name}}</span>
                                    </div>
                                    <div class="text-danger" *ngIf="subCategory.controls['workingRate']?.errors?.checkDecimal && (subCategory.controls['workingRate'].touched) && subCategory.controls['workingRate'].dirty">{{'pages.errorMessages.validDecimal'|
                                      translate}}</div>
                                  </td>
                                </tr>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="floating-btn" *ngIf="showFloatingBtn">
            <button [disabled]="isClicked" (click)="saveWorkingChart()" class="btn btn-success"> <i *ngIf="spinnerFlag"
                class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'| translate}}</button>
            <button class="btn btn-primary ml-1" (click)='navigateToBudgetList()'>{{'common.labels.cancel'| translate}}</button>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 p-0" id="fixed-btn">
            <button [disabled]="isClicked" (click)="saveWorkingChart()" class="btn btn-success"> <i *ngIf="spinnerFlag"
                class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'| translate}}</button>
            <button class="btn btn-primary ml-1" (click)='navigateToBudgetList()'>{{'common.labels.cancel'| translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
