<mat-tab-group flex="1" vertical class="vertical-mat-tab" #matGroupSubTab [(selectedIndex)]="selectedIndex" *ngIf = "arraySubtabs.length > 1" [ngStyle]="{'minHeight.rem': arraySubtabs.length*4.8}">
  <mat-tab *ngFor = "let subtab of arraySubtabs; let index = index" [label]="subtab.name">
    <ng-template matTabContent>
      <cm-contracts-meta-tab-subtab [oneSubtab]="oneSubtab" [addContractMetaModelId]="addContractMetaModelId" [addContractMetaModelTabId]="addContractMetaModelTabId" [subtab]="subtab" [tab]="tab" [matGroupTab]="matGroupTab" [matGroupSubTab]="matGroupSubTab">
      </cm-contracts-meta-tab-subtab>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div *ngIf = "arraySubtabs.length === 1">
    <cm-contracts-meta-tab-subtab [oneSubtab]="oneSubtab" [addContractMetaModelId]="addContractMetaModelId" [addContractMetaModelTabId]="addContractMetaModelTabId" [subtab]="arraySubtabs[0]" [tab]="tab" [matGroupTab]="matGroupTab" [matGroupSubTab]="matGroupSubTab">
    </cm-contracts-meta-tab-subtab>
</div>
