@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';
.section-wrap{
    .mar10{
        margin:5px ;
       
    }

}
:host {
    ::ng-deep ng-data-tables {
        table {
            tbody {
                tr {
                    td {
                        @media(min-width: 992px) and (max-width: 999999px) { 
                            &:nth-child(1) {
                                width: 18%;
                            }
                            &:nth-child(2) {
                                width: 20%;
                                span {
                                    display: block;
                                    width: 150px;
                                    overflow: hidden;
                                    @include wrap-text();
                                }
                            }
                            &:nth-child(3) {
                                width: 17%;
                            }
                            &:nth-child(4) {
                                width: 17%;
                            }
                        }     

                        @media(min-width: 100px) and (max-width: 992px) {
                            &:nth-child(2) {        
                                span {
                                    display: block;
                                    width: 120px;
                                    overflow: hidden;
                                    @include wrap-text();
                                }
                            }
                        }               
                    }
                }
            }
        }
    }
}