<div class="ng-data-table-wrap">
    <div class="top-toolbar-wrap">
     <div class="extra-toolbar-left">
        <ng-content select="[button-toolbar-left]"></ng-content>
        </div>
        <div class="extra-toolbar">
            <ng-content select="[button-toolbar]"></ng-content>
        </div>
        <div class="all-search-box" *ngIf="searchBox">
            <label><input type="search" placeholder="{{'Search'}}" (keyup)="search()" #filterInputs /></label>
        </div>
        <div class="extra-toolbar">
            <ng-content select="[content-toolbar]"></ng-content>
        </div>
        <div class="clearfix"></div>
    </div>

 <div class="table-responsive">
    <table class="responsive">
        <thead>
            <tr>
                <th *ngIf="showCheckBox"> <input type="checkbox" (change)="checkAll($event)" #selectAllCheckbox/> </th>
                <th *ngFor="let column of columns; let i = index" class="{{column.key}}_column" [attr.id]="column.key" [class.sortable]="column.sortable" [class.hiddenColumn]="column.hiddenColumn">
                    <span (click)="sort(column.key)">
                        {{column.title}} 
                        <div class="sort-arrows" *ngIf="column.sortable">
                            <i class="fa fa-sort" *ngIf="column.key != sortColumn"></i>
                            <i class="fa fa-sort-asc" *ngIf="column.key == sortColumn && isDesc == false"></i>
                            <i class="fa fa-sort-desc" *ngIf="column.key == sortColumn && isDesc == true"></i>
                        </div>
                    </span>
                    <input *ngIf="column.filter" class="filter-input" [ngClass] = "{'single-col-filter' : singleColummn,'scroll-if-expand':showScrollBar}"   type="text" placeholder="{{'Filter'}}" [attr.data-column]="column.key" (keyup)="search(column.key)"
                        #filterInputs />
                    <!--<div *ngIf="!column.filter" style="height: 35px;"></div>-->
                </th>
                <th *ngIf="hasActionButtons" class="actions">
                    <span>{{'ACTION' }}</span>
                    <!--<div style="height: 35px;"></div>-->
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let row of rows; index as i; trackBy: trackByFn" (click)="rowSelected(row,i)" 
            [ngClass] = "{'highlight' : row.tempDelete}" [class.highlightRow]="i==highlightedIndex && isHighlight"
                (dblclick)="rowDoubleClicked(row)">
                <td *ngIf="showCheckBox"> <input type="checkbox" [checked]="row.selectedItem" [(ngModel)]="row.selectedItem" (click)="$event.stopPropagation()"
                        (change)="rowCheck($event, row)" /> </td>
                <td *ngFor="let column of columns" class="{{column.key}}" [attr.data-title]="column.title" [class.link]="column.link" [class.hiddenColumn]="column.hiddenColumn">
                    <span *ngIf="column.displayBooleanAsIcon?!column.displayBooleanAsIcon:true  && !row.isEdit && !column.displayColumnEvent" class="data-el{{tagClass(row[column.key], column.isTag)}}" (click)="gotoLink(row, column)" [attr.title]="row[column.key]">
                        {{echo(row, column)}}
                    </span>
                     <span *ngIf="showInputBox && row.isEdit" class="data-el{{tagClass(row[column.key], column.isTag)}}" (click)="gotoLink(row, column)" [attr.title]="row[column.key]">
                        <input type="text"  (keyup)="customerSegment(row)" [(ngModel)]=row.customer_segment />
                    </span> 
                    <span *ngIf="column.displayBooleanAsIcon"> <i [class]="row[column.key]==true?'fa fa-check-circle check_icon':'fa fa-times-circle uncheck_icon'" aria-hidden="true" (click)="$event.stopPropagation()"></i> </span>
                    <span *ngIf="column.displayColumnEvent" style="cursor:pointer" (click)="onClickEvent(row,column.key)"> <i [class]="row[column.key]==true?'fa fa-check-circle check_icon':'fa fa-times-circle uncheck_icon'" aria-hidden="true"></i> </span>
                </td>
                <td *ngIf="hasActionButtons" data-title="ACTION" >
                    <div class="action_buttons"   [ngClass] = "{'action_buttons1' : i==highlightedIndex && isHighlight}">
                        <a href="javascript:void(0);" tabindex="0" class="up" (click)="up(row)" *ngIf="showUpArrowButton" title="Up">
                            <i class="{{upArrowButtonIcon}}"></i>
                        </a>
                        <a href="javascript:void(0);" tabindex="0" class="down" (click)="down(row)" *ngIf="showDownArrowButton" title="Down">
                            <i class="{{downArrowButtonIcon}}"></i>
                        </a>
                        <a href="javascript:void(0);" tabindex="0" class="users" (click)="showUsers(row)" *ngIf="showUsersButton" title="Users">
                            <i class="{{usersButtonIcon}}"></i>
                        </a>
                        <a href="javascript:void(0);" tabindex="0"   class="edit" (click)="edit(row)" *ngIf="showEditButton" title="{{editButtonTooltip }}">
                            <i class="{{editButtonIcon}}" ></i>
                        </a>
                        <a href="javascript:void(0);" tabindex="0"  class="delete"(click)="delete(row)" *ngIf="showDeleteButton" title="{{deleteButtonTooltip }}">
                            <i class="{{deleteButtonIcon}}"></i>
                        </a>
                        
                        <a href="javascript:void(0);" tabindex="0" class="calender" (click)="calender(row)" *ngIf="showCalenderButton" title="Calender">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </a>
                            <span *ngIf=showMailButton>
                            <a href="javascript:void(0);" tabindex="0" class="mail" (click)="mail(row)" *ngIf="row.email && !row.sms" title="Mail">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <a href="javascript:void(0);" tabindex="0" class="sms" (click)="sms(row)" *ngIf="row.sms && !row.email" title="Sms">
                                <i class="fa fa-mobile  mob-font"></i>
                            </a>
                            <a href="javascript:void(0);" tabindex="0" class="forward" (click)="forward(row)" *ngIf="row.email && row.sms" title="Mail And SMS">
                                <i class="fa fa-forward forword-font"></i>
                            </a>
                            </span>
                            <span class="delete" *ngIf="showBlockUnblockButton" title="{{blockUnblockToolTip}}">
                                <label class="switch">
                                    <input type="checkbox" [checked]="row.isBlocked" [(ngModel)]="row.isBlocked" (change)="blockUnblock($event, row)">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                            <!-- <span *ngIf="showTestButton" (click)="testTargetModel(row)" class="mail" title="Test">
                            <i class="fa fa-caret-square-o-right"></i>
                        </span> -->
                        <span class="switchText" *ngIf="showDeactivateButton">
                            <label class="switch">
                            <input type="checkbox" [checked]="row.active" [(ngModel)]="row.active" (change)="deActivate($event, row)">
                            <span class="slider round"> </span> </label>
                        </span>

                        <a href="javascript:void(0);" tabindex="0"  class="delete" (click)="history(row)" *ngIf="showHistoryButton" title="History">
                            <i class="fa fa-history"></i>
                        </a>

                        <a href="javascript:void(0);" tabindex="0"  class="delete" (click)="versionInfo($event,row)" *ngIf="showVersionInfoButton" title="Versions">
                            <i class="fa fa-info-circle"></i>
                        </a>

                        <a href="javascript:void(0);" tabindex="0" class="delete" (click)="fileComments(row)" *ngIf="showFileCommentButton" title="Comments">
                            <i class="fa fa-comment"></i>
                        </a>

                        <a href="javascript:void(0);" tabindex="0" class="delete" (click)="fileLock(row)" *ngIf="showLockFileButton && row['checkout'].length>0" title="{{row['checkoutTitle']}}">
                            <i *ngIf="row['checkout'][row['checkout'].length-1].status==1" class="fa fa-lock"></i>
                            <i *ngIf="row['checkout'][row['checkout'].length-1].status==0" class="fa fa-unlock"></i>
                        </a>
                        <a href="javascript:void(0);" tabindex="0" class="delete" (click)="fileLock(row)" *ngIf="showLockFileButton && row['checkout'].length==0" title="Checkout">
                            <i class="fa fa-unlock"></i>
                        </a>

                    </div>
                </td>
            </tr>
            <tr *ngIf="rows.length == 0">
                <td *ngIf="!hasActionButtons && showCheckBox" [attr.colspan]="columns.length + 1" class="no-records">{{'No data available' }}</td>
                <td *ngIf="!hasActionButtons && !showCheckBox" [attr.colspan]="columns.length" class="no-records">{{'No data available' }}</td>
                <td *ngIf="hasActionButtons && !showCheckBox" [attr.colspan]="columns.length + 1" class="no-records">{{'No data available' }}</td>
                <td *ngIf="hasActionButtons && showCheckBox" [attr.colspan]="columns.length + 2" class="no-records">{{'No data available' }}</td>
            </tr>
        </tbody>
    </table>
 </div>

    <div class="bottom-bar-wrap">
        <div class="table-info" *ngIf="totalRows !== 0">{{'Displaying item' }} : {{first}} - {{last}} {{'of' }} {{totalRows}}</div>
        <div class="pagination-wrap">
            <ng-pagination [isAjax]="isAjax" [totalRows]="totalRows" [perPage]="perPage" (paginateRecords)="paginateRecords($event)"></ng-pagination>
        </div>
        <div class="per-page-select-wrap">
            <select type="number" [(ngModel)]="perPage" (ngModelChange)="onPerPage($event)">
             <option *ngFor="let page of perPageArray" [value]="page.number">{{page.number}}</option>
          </select>
        </div>
        <div class="clearfix"></div>
    </div>
</div>