<div class="component-wrap add-edit-user-setup">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()" aria-label="Close Model Setup">
        <span aria-hidden="true"><i class="material-icons" title="Close Model Setup">close</i></span>
      </div>
    </div>
  </div>

  <form [formGroup]="addEditModelSetupForm" novalidate>
    <div class="form-wrap col">

      <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Name*" formControlName="modelname" maxlength="30">
          <mat-error i18n *ngIf="addEditModelSetupForm.controls['modelname'].hasError('required')">
            Model Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        <mat-form-field class="mat-select-full-width">
          <mat-select i18n-placeholder   placeholder="Select Language*" formControlName="language">
            <mat-option *ngFor="let lang of languages" [value]="lang">
              {{lang}}
            </mat-option>
          </mat-select>
          <mat-error i18n *ngIf="this.selectLanguageError && addEditModelSetupForm.controls['language'].value== '' " >
            Please select a <strong>language</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
        <mat-form-field class="full-width-input-wrap" >
          <input i18n-placeholder matInput placeholder="Input Directory*" formControlName="inputDir" maxlength="30">
          <mat-error i18n *ngIf="addEditModelSetupForm.controls['inputDir'].hasError('required')">
            Please give <strong>input directory </strong>name
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-xs-6 col-lg-6 col-md-4 col-sm-6">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Output Directory*" formControlName="outputDir" maxlength="30">
          <mat-error i18n>
            Please give <strong>output directory </strong>name
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 upload-margin">
          <div class="file-upload-inner image-file-uploader-box">
            <label class="uploader" for="input-file" tabindex="0">
                <div class="icon-text-wrap">
                    <div class="col-xs-12 text-center">
                      <i class="icon-upload3" *ngIf="!fileSelected"></i>
                      <i class="fa fa-file-excel-o file-selected-icon" *ngIf="fileSelected"></i>
                    </div>
                    <div class="col-xs-12 text-center">
                      <span i18n *ngIf="!fileSelected">Upload Files</span>
                      <span class="file-selected-name" *ngIf="fileSelected">{{selectedFileName}}</span>
                    </div>
                    <!-- <span class="file-upload-hint-text">(file Size 230px X 80px)</span>  -->
                </div>
            </label>
            <input id="input-file" type="file" name="file" (change)="selectfile(input)" #input />
            <div i18n class="select-logo-error" *ngIf="logoValidation == true">Please select file.</div>
            <a (click)="downloadFileToClient();" class="download-use-file" *ngIf="mode === 'Edit'" download>{{oldFileName}}</a>
            <!-- <a href="assets\upload_file_templates\pynode.py" class="download-excel-template" download>Download Program Template</a> -->
          </div>
       </div>

    </div>

    <div class="action-wrap">
      <div class="text-right">
        <button i18n type="button" aria-label="Cancel Model Setup" mat-button class="app-btn" id="cancel" (click)="closePopup()">Cancel</button>
        <button type="submit" aria-label="Save Model Setup"  mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="addOrUpdateModelSetup(addEditModelSetupForm)">{{saveBtnTitle}}</button>
        <!-- <button type="submit" md-button class="app-btn orange-button save-btn" (click)="onlyUpdateRule(addEditModelSetupForm)">{{saveBtnTitle}}</button> -->
        <!--<button type="submit" md-button class="app-btn orange-button save-btn" (click)="saveSentiments(addEditModelSetupForm)">{{saveBtnTitle}}</button>-->
      </div>
    </div>
  </form>

</div>