<div class="branding-wrap">
  <div class="form-wrap" [formGroup]="autoRoutingForm">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-4 col-xs-12 required-col ">
          <mat-form-field class="mat-select-full-width">
            <mat-select i18n-placeholder placeholder="Project*" formControlName="projectCode">
              <mat-option *ngFor="let project of projectList" [value]="project.code">
               {{project.name}}
              </mat-option>
            </mat-select>
            <mat-error i18n *ngIf="autoRoutingForm.controls['projectCode'].hasError('required') && autoRoutingForm.controls['projectCode'].touched">
              Project is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4 col-xs-12 ">
          <div class="full-width-input-wrap">
            <mat-form-field class="full-width-input-wrap">
              <input matInput i18n-placeholder placeholder="Rule Name*" formControlName="ruleName" maxlength="30">
            </mat-form-field>
            <mat-error i18n *ngIf=" autoRoutingForm.controls['ruleName'].hasError('required') && autoRoutingForm.controls['ruleName'].touched">
              Rule Name is <strong>required</strong>
            </mat-error>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 ">
          <mat-form-field class="mat-select-full-width">
            <mat-select i18n-placeholder placeholder="Invocation Trigger*" formControlName="invocationTrigger">
              <mat-option *ngFor="let invocationTrigger of invocationTriggers" [value]="invocationTrigger.value">
                {{ invocationTrigger.text }}
              </mat-option>
            </mat-select>
            <mat-error i18n *ngIf="autoRoutingForm.controls['invocationTrigger'].hasError('required')  && autoRoutingForm.controls['invocationTrigger'].touched">
              Invocation Trigger is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="action-wrap">
    <div class="text-right">
        <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="gotoRoutingRuleList()" >Cancel</button>
      <button i18n type="submit" mat-button class="app-btn orange-button save-btn" (click)="next()">Next</button>
    </div>
  </div>
</div>
