@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.add-edit-rule {
    margin-top: 25px;
    .checkbox-wrap {
        margin-top: 15px;
        margin-bottom: 15px;

        .mat-checkbox {
            margin-left: 15px;

            &:first-child {
                margin-left: 0px;
            }

            @media(min-width: 100px) and (max-width: 767px) {
                margin-left: 0px;
                display: block;
            }
        } 

        @include checkbox-styled();
    }    
   
    // .full-width-input-wrap .mat-select {
    //     padding-bottom: 1.29688em;
    // }  
  
}
.width_85{
    width: 85%;
    float: left;
}  
.top_mar_20{
    margin-top: 20px;
}  
.top_mar_25{
    margin-top: 25px;
}
.rule_group_icon{
    font-size: 18px;
}
.mar40{
    margin-bottom: 40px;
}

.execution-output {
    @include applyFont($fontSize: 13px);
    table {
        width: 100%;
        border: 1px solid #D8D8D8;
        margin-top: 7px;
    }

    tbody {
        tr:nth-child(even) {
            background: #FAFAFA;
        }
        tr:nth-child(odd) {
            background: #FFFFFF;
        }
        td {
            color: #767676;
            padding: 10px 20px;                 
            border-bottom: 1px solid #D8D8D8; 
        }
    }
}

.bool-radio-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.bool-radio-button-margin {
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 12px;
}

.radio-cols {
    .radio-buttons-col {
        margin-bottom: 0px;

        @media(min-width: 100px) and (max-width: 767px) {
            display: inline-block;
            margin-bottom: 10px;
        }
    }

    .mat-radio-button {
        margin-top: 20px;

        &:first-child {
            margin-top: 0px;
        }

        label {
            margin: 0px;
        }

        .mat-radio-container {
            background-color: #F2F2F2;
            border-radius: 100%;
        }

        
        .mat-radio-label-content {
            @include applyFont($fontSize: 14px, $fontWeight: 600);
            color: #40505B;
        }

        .mat-ripple-element {
            background-color: rgba(33, 138, 204, .26);
        }

        .mat-radio-outer-circle {
            border: 1px solid #CFD3D4;
        }

        &.mat-radio-checked {
            .mat-radio-container {
                background-color: $white;
            }
            .mat-radio-label-content {
                color: #218ACC;
            }
            .mat-radio-outer-circle {
                border-color: #218ACC;
            }
            .mat-radio-inner-circle {
                background-color: #218ACC;
            }
        }

        
    }
}
    
.icon_button{
    background: white;
    border: 0;
    color: #337ab7;
}
.icon_button:hover,.icon_button:focus{
    outline: 0;
}