// import variables scss
@import "../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../assets/styles/mixins.style.scss";

#recover-screen{
    .logo-style{
        @include background-color ($theme-color1);
    }
    .google-btn{
        @include background-color ($red-color);
    }
    .pv {
        @include padding-top ($unset);
    }
    .panel{
        @include border-radius(4px);
        @include background-color ($white-color);
        @include border(1px,$solid, $transprent);
        @include border-color($border-color1);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .switch-field {
        margin-right: 25px;
        text-align: right;
        @include padding-top (3%);
    }
    @include switch-field();
    .form-control {
        box-shadow: 0 0 0 #000;
        @include border-radius(1px);
    }
    .mw-35p{
        max-width: 35%;
    }
}






// .reset-password-page .logoStyle {
//     background-color: #3a3f51;
//   }
  
//   .reset-password-page .loginbtn {
//     background-color: #5d9cec !important;
//   }
  
//   .reset-password-page .googlebtn {
//     background-color: #f32e06 !important;
//   }
  
//   .reset-password-page .pv {
//     padding-top: unset;
//   }
  
//   .reset-password-page .panel {
//     box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
//     border: 0;
//     border-radius: 4px;
//     margin: 0!important !important;
//     border: 0;
//     margin-bottom: 21px;
//     background-color: #fff;
//     border: 1px solid transparent;
//     border-radius: 4px;
//     box-shadow: 0 1px 1px rgba(0,0,0,.05);
//     border-color: #cfdbe2;
//   }
  
//   .reset-password-page .switch-field {
//     margin-right: 25px;
//     text-align: right;
//     padding-top: 3%;
//   }
  
//   .reset-password-page .switch-field label {
//     display: inline-block;
//     width: 78px;
//     background-color: #e4e4e4;
//     color: #3a3f51;
//     font-size: 14px;
//     font-weight: 400;
//     text-align: center;
//     text-shadow: none;
//     padding: 6px 10px;
//     margin-left: -3px;
//     float: none;
//   }
  
//   .reset-password-page .switch-field input {
//     position: absolute!important;
//     clip: rect(0,0,0,0);
//     height: 1px;
//     width: 1px;
//     border: 0;
//     overflow: hidden;
//   }
  
//   .reset-password-page .form-control {
//     box-shadow: 0 0 0 #000!important;
//     border-radius: 1px;
//   }
  
//   .reset-password-page label.selected-lang {
//     background-color: #3a3f51!important;
//     color: #fff!important;
//     box-shadow: none;
//   }
  
  