<div id="step-one-activation">
  <div class="row no-mg">
    <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5">
      <h4 class="setPassowrd">
        <strong>{{'actors.vendors.labels.setPassowrd'| translate}}</strong>
      </h4>
    </div>
    <div class="col-12 col-sm-6 col-md-7 col-lg-7 col-xl-7 changeLanguage switch-field block-center mt-xxl text-right">
      <!-- <div class="switch-field block-center mt-xxl wd-xxl"> -->
      <input type="radio" id="switch_right" name="switch_2" [value]="LANGUAGE_CODES.en_US"
        (click)="setLanguage(LANGUAGE_CODES.en_US)" />
      <label class="ptr" [ngClass]="selectedLang == LANGUAGE_CODES.en_US ? 'selected-lang' : ''"
        for="switch_right">ENGLISH</label>
      <input type="radio" id="switch_left" name="switch_2" [value]="LANGUAGE_CODES.es_MX"
        (click)="setLanguage(LANGUAGE_CODES.es_MX)" />
      <label class="ptr" [ngClass]="selectedLang == LANGUAGE_CODES.es_MX ? 'selected-lang' : ''"
        for="switch_left">ESPAÑOL</label>
      <!-- </div> -->
    </div>
  </div>
  <div class="row no-mg">

    <div class="col-md-8">

      <div class="panel-body">
        <form class="form-horizontal" [formGroup]="step1Form" novalidate>
          <div class="form-group input-group with-focus">
            <label class="col-md-12 col-xs-12 col-sm-12 control-label">{{'pages.labels.newPassword'| translate}}
              <span class="mandatory">*</span>
            </label>
            <div class="col-md-8 col-xs-12 col-sm-8">
              <input class="form-control" (focus)="showErrorBox=true" (blur)="showErrorBox=false"
                (keyup)="checkPasswordValidations()" type="password" formControlName="password"
                placeholder="{{'pages.labels.newPassword'| translate}}">
              <div class="text-danger"
                *ngIf="step1Form.controls['password']?.errors?.checkRequired && (step1Form.controls['password'].touched || submittedFormFlag)">
                {{'pages.errorMessages.fieldRequired'| translate}}</div>
              <!-- <div *ngIf="step1Form.controls['password'].errors?.checkPassword  && !showErrorBox" class="text-danger">
                {{'pages.errorMessages.invalidPassword' | translate}}
              </div> -->
              <div class="pswd_info" *ngIf="showErrorBox && !step1Form.controls['password']?.errors?.checkRequired">
                <password-verification [passwordInfoArr]="passwordInfoArr"></password-verification>
              </div>


            </div>

          </div>

          <div class="form-group input-group with-focus">
            <label class="col-md-12 col-xs-12 col-sm-9 control-label">{{'actors.vendors.labels.confirm'| translate}}
              <span class="mandatory">*</span>
            </label>
            <div class="col-md-8 col-xs-12 col-sm-8">
              <input class="form-control" type="password" formControlName="confirmPassword"
                placeholder="{{'actors.vendors.labels.confirm'| translate}}">
              <div class="text-danger"
                *ngIf="step1Form.controls['confirmPassword']?.errors?.checkRequired && (step1Form.controls['confirmPassword'].touched || submittedFormFlag)">
                {{'pages.errorMessages.fieldRequired'| translate}}</div>
              <span class="text-danger"
                *ngIf="step1Form.controls['confirmPassword'].hasError('MatchPassword') && (step1Form.controls['confirmPassword'].dirty || step1Form.controls['confirmPassword'].touched)">{{'pages.errorMessages.passwordMismatch' | translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8 col-xs-12 col-sm-8">
              <button (click)="nextStep()" [disabled]="disableButtonFlag" class="btn btn-success"><i *ngIf="spinnerFlag"
                  class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.submit'| translate}}</button>
              <button class="btn btn-danger ml-1"
                (click)="navigateToLogin()">{{'common.labels.cancel'| translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
