<div id="agency-listing">
  <div class="content-heading">
    <!-- Breadcrumb right aligned-->
    <breadcrumb class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-mg" [breadcrumbData]="breadcrumbData"></breadcrumb>
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right no-mg">
      <action-permission [permissionArr]="permissionArr" [MODULE_ID]="MODULE_ID" [actionType]="ACTION_TYPES.ADD">
        <button class="btn add-btn btn-primary" [routerLink]="ROUTER_LINKS_TALENT_FULL_PATH.manageAgency" type="button">
          {{'common.labels.add'| translate}}</button>
      </action-permission>
    </div>
  </div>
  <div class="card card-default">
    <div class="card-body">
      <form [formGroup]="agencyListFilterForm" role="form" (submit)="search()">
        <div class="row mb-3">
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10">
            <input class="form-control" formControlName="commercialName" type="text"
              placeholder="{{'common.labels.commercialName'| translate}}" />
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10">
            <input class="form-control" formControlName="email" id="" type="text"
              placeholder="{{'common.labels.email'| translate}}" />
          </div>
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10">
            <input class="form-control" formControlName="phone" type="text"
              placeholder="{{'common.labels.phone'| translate}}" />
          </div>
          <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3">
            <button class="btn search-btn btn-primary mb-10" type="submit" [disabled]="showLoaderFlag">
              {{'common.labels.search'| translate}}</button>
            <button class="btn cancel-btn btn-primary mb-10" (click)="clear()" type="button"
              [disabled]="showLoaderFlag">
              {{'common.labels.clear'| translate}}</button>
          </div>
        </div>
      </form>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-pd">
        <app-loader class="col-md-12" [loading]="showLoaderFlag"></app-loader>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive no-pd"
          [ngClass]="{'hide-content': showLoaderFlag}">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="">{{'common.labels.hash'| translate}}</th>
                <th class="">{{'common.labels.commercialName' | translate}}</th>
                <th class="">{{'common.labels.email' | translate}}</th>
                <th class="">{{'common.labels.phone' | translate}}</th>
                <th class="center">{{'common.labels.action' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="agencyList?.length == 0">
                <tr>
                  <td colspan="12">
                    <p class="text-danger text-center">{{'common.labels.noRecord' | translate}}</p>
                  </td>
                </tr>
              </ng-container>
              <tr *ngFor="let agency of agencyList;let agencyIndex=index">
                <td>{{agencyIndex + index}}</td>
                <td>{{agency?.i18n?.displayName}}</td>
                <td>{{agency?.emailId ? agency?.emailId : '-'}}</td>
                <td>{{agency?.phoneNo ? agency?.phoneNo : '-' }}</td>
                <td class="center">
                  <div class="d-inline-flex">
                    <action-permission [permissionArr]="permissionArr" [MODULE_ID]="MODULE_ID"
                      [actionType]="ACTION_TYPES.EDIT">
                      <i style="cursor: pointer;" class="edit fa fa-edit edit-ico edit-icon f-17 mr-5"
                        (click)="editAgency(agency.id)"></i>
                    </action-permission>
                    <label class="switch switch-md">
                      <input type="checkbox" [checked]="agency.status === 1"
                        (change)="openSwapPopUp($event, agencyIndex, agency)" />
                      <span></span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="totalItems>itemsPerPage"
      [ngClass]="{'hide-content': showLoaderFlag}">
      <pagination *ngIf="config.paging" class="pagination-sm pull-right" [(ngModel)]="page" [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" [firstText]="'common.labels.first' | translate" [lastText]="'common.labels.last' | translate" [previousText]="'common.labels.previous' | translate"
        [nextText]="'common.labels.next' | translate" (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
      </pagination>
    </div>

  </div>
</div>
