<table class="table-graph-time-view">
    <thead>
        <tr>
          <th class="year-cell">Years</th>
          <th *ngFor="let month of months" class="month-cell">{{month.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="year-cell" style="font-size: 1.8rem;">
            <i class="fas fa-angle-up" (click)="changeYear(1)"></i>
          </td>
          <td colspan="12"></td>
        </tr>
        <ng-container *ngFor="let in of yearsToDisplay(11); let i = index">
          <tr *ngIf="in.display" [ngStyle]="{'height.rem': in.numOfRows*4}">
            <td class="year-cell">{{firstYear + in.number}}</td>
            <td *ngFor="let month of months" class="month-cell"></td>
          </tr>
        </ng-container>
        <tr>
          <td class="year-cell" style="font-size: 1.8rem;">
            <i class="fas fa-angle-down" (click)="changeYear(-1)"></i>
          </td>
          <td *ngFor="let month of months" class="month-cell"></td>
        </tr>
        <!-- <div *ngFor="let row of data1; let i = index" -->
        <!-- [ngStyle]="calculatePosition(row.year, row.month)"> -->
          <ng-containter *ngFor="let row of data1; let i = index">
            <div *ngFor="let i of countNumOfDivs(row); first as isFirst; last as isLast"
                  class="
                  {{row.parent ? 'tail' : 'no-display'}}
                  {{activeNode == row._id || !pathSelected || activeNodes.includes(row._id) ? 'inFocus' : ''}}
                  {{activeChildNodes.includes(row._id) && pathSelected ? 'inFocusChild' : ''}}
                  {{!activeChildNodes.includes(row._id) && !activeNodes.includes(row._id) ? 'outOfFocus' : ''}}
                  {{!pathSelected ? 'notFocusedPath' : ''}}"
                  [ngStyle]="i"
                  [ngClass]="calculateClass(i, row, isFirst, isLast)"></div>
          </ng-containter>
          <div *ngFor="let row of data1; let i = index"
                class="content 
                  {{row.status | lowercase}}
                  {{activeNode == row._id || !pathSelected || activeNodes.includes(row._id) ? 'inFocus' : ''}}
                  {{activeChildNodes.includes(row._id) && pathSelected ? 'focusText' : ''}}
                  {{documentId}}
                  {{row.document_id == documentId ? 'selectedNode' : ''}}"
                [ngStyle]="calculatePosition(row.month, row._id)"
                (mousedown)="mousedown(row._id, row.parent)" (mouseup)="mouseup()"
                >
            {{row.type_of_doc ? row.type_of_doc : ''}}
          </div>
          <div class="div-for-hide up-arrow"></div>
          <div class="div-for-hide down-arrow"></div>
        <!-- </div> -->
      </tbody>
  </table>
