.content-right {
    text-align: right;
    padding-right: 2.5rem;

    &.content-right-doc {
        padding-right: 6rem;
    }
}

.content-left {
    text-align: left;
    padding-left: 2.5rem;
}

.btn-container {
    padding-bottom: 3rem;
    width: 50%;
}

.btn-container .mat-button, .btn-container .button-documents {
    margin-top: 25px;
}

span.button-documents{
    display: inline-block;
    width: 30px;
    text-align: center;
}

span.table-button-documents{
    display: inline-block;
    width: 20px;
    text-align: center;
}

.css-datatable {
    max-width: 98% !important;
}


.datatable-new-div .ngx-datatable.material {
    box-shadow: none;
    width: 100% !important;
    .datatable-header {
      width: 100% !important;
      .datatable-header-inner{
        width: 100% !important;
        .datatable-row-center{
          width: 100% !important;
          .datatable-header-cell {
            background-color: #F2F2F2;
          }
        }
      }
    }
    .datatable-scroll{
      width: 100% !important;
      .datatable-body-row{
        width: 100% !important;
        .datatable-row-center{
          width: 100% !important;
        }
      }
    }
}

.cm-btn {
    box-shadow: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.btn-container-bottom {
    padding-bottom: 3rem;
}

.button-documents-container {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 1rem; 
    text-align: right;
}

.cm-btn[disabled] {
  opacity: 0.2;
}

.buttons-documents-icons {
  display: inline-block;
  position: absolute;
  bottom: 1.3rem;
  right: 14rem;
}

::ng-deep cm-document .datatable-row-center {
  .mat-checkbox-frame{
    background-color: white !important;
  }
  datatable-header-cell:nth-child(1) {
    padding-top: 7.2rem !important;
  }
}