<div class="row">
    <div class="col-md-12 css-datatable datatable-new-div">
        <div class = "col-md-12 button-documents-container">
          <div class="buttons-documents-icons">
            <span class="button-documents">
                <i matTooltip="Download selected" class="fa fa-download fa-lg" (click)="getUploadedDocumentsZip()" [ngStyle]="{'position': 'absolute', 'bottom.rem': -0.2}"></i>
            </span>
            <span class="button-documents"><i matTooltip="Delete selected" class="far fa-trash-alt fa-lg" (click)="openDialogForDeleteConfirmation(undefined)"></i></span>
          </div>
          <button class="button-documents cm-btn primary-pink-color" (click)="openAddDocumentDialog()">
            Add Document
          </button>
        </div>
        <ngx-datatable
            #datatable
            class="material striped expandable"
            [rows]="rowsTable"
            [columns]="columnsTable"
            [footerHeight]="50"
            [messages]="myMessages"
            [headerHeight]="70"
            [rowHeight]="35"
            [loadingIndicator]="isLoadingDataTable"
            [selectionType]="'checkbox'"
            [columnMode]="'force'"
            [count]="pageTable.count"
            [offset]="pageTable.offset"
            [limit]="pageTable.limit"
            >
            <ng-template #chkBxTmplCell let-row="row">
              <mat-checkbox [checked]="row.checked" type="checkbox" (change)="onSelectCell($event, row)">
              </mat-checkbox>
            </ng-template>
            <ng-template #chkBxTmpl let-row="row">
              <mat-checkbox [checked]="headerCheckBox" type="checkbox" (change)="onSelect($event)">
              </mat-checkbox>
            </ng-template>

            <ng-template #sortableHeaderTemplate let-column="column" ngx-datatable-header-template>
                <span class="header-name" >{{column.name}}</span>
                <div class="filter-continer">
                    <input class="filter" placeholder='Filter' (keyup)="updateFilter($event, column.prop)" />
                </div>
            </ng-template>

            <ng-template #sortableHeaderTemplateStartDate let-sort="sortFn" let-column="column" let-sortDir="sortDir" ngx-datatable-header-template>
                <span class="header-name">
                  {{column.name}}
                </span>
                <div class="filter-continer">
                  <input class="filter" [ngModel]="startDate" [matDatepicker]="startDatePicker" (click)="startDatePicker.open()"
                  placeholder='Filter' (dateChange)="updateFilter($event, column.prop)" readonly/>
                </div>
                 <mat-datepicker (opened)="resetStartDatePicker()" #startDatePicker></mat-datepicker>
            </ng-template>

            <ng-template #sortableHeaderTemplateSignedDate let-sort="sortFn" let-column="column" let-sortDir="sortDir" ngx-datatable-header-template>
                <span class="header-name">
                  {{column.name}}
                </span>
                <div class="filter-continer">
                  <input class="filter" [ngModel]="signedDate" [matDatepicker]="signedDatePicker" (click)="signedDatePicker.open()"
                  placeholder='Filter' (dateChange)="updateFilter($event, column.prop)" readonly/>
                </div>
                 <mat-datepicker (opened)="resetSignedDatePicker()" #signedDatePicker></mat-datepicker>
            </ng-template>

            <ng-template #sortableHeaderTemplateUploadDate let-sort="sortFn" let-column="column" let-sortDir="sortDir" ngx-datatable-header-template>
              <span class="header-name">
                {{column.name}}
              </span>
              <div class="filter-continer">
                <input class="filter" [ngModel]="uploadDate" [matDatepicker]="uploadDatePicker" (click)="uploadDatePicker.open()"
                placeholder='Filter' (dateChange)="updateFilter($event, column.prop)" readonly/>
              </div>
               <mat-datepicker (opened)="resetUploadDatePicker()" #uploadDatePicker></mat-datepicker>
          </ng-template>

            <ng-template #sortableHeaderTemplateSelectStatus let-column="column" ngx-datatable-header-template>
              <span class="header-name">{{column.name}}</span>
              <div class="filter-continer">
                <select class="filter" placeholder='Filter' [(ngModel)] = "selectedStatusFilter"
                  (change)="updateFilter($event, column.prop)">
                  <option value="" selected>Filter</option>
                  <option *ngFor="let status of arrayStatus" [value]="status.code">
                      {{ status.name }}
                  </option>
                </select>
              </div>
            </ng-template>

            <ng-template #sortableHeaderTemplateSelectDocType let-column="column" ngx-datatable-header-template>
              <span class="header-name">{{column.name}}</span>
              <div class="filter-continer">
                <select class="filter" placeholder='Filter' [(ngModel)] = "selectedDocTypeFilter"
                  (change)="updateFilter($event, column.prop)">
                  <option value="" selected>Filter</option>
                  <option *ngFor="let docType of arrayDocTypes" [value]="docType.code">
                      {{ docType.name }}
                  </option>
                </select>
              </div>
            </ng-template>

            <ng-template #dateColumnTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
                <div>{{value | date:"MM/dd/yyyy"}}</div>
            </ng-template>

            <ng-template #statusColumnTemplate let-row="row" let-value="value" let-rowIdentity="rowIdentity" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <div class="action-items-i">
                 <span class="badge badge-{{row.status ? row.status.code.toLowerCase() : ''}}">{{row.status ? row.status.name : ''}}</span>
                </div>  
            </ng-template>

            <ng-template #actionColumnTemplate let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="action-items-i">
                    <span class="table-button-documents">
                        <i style="margin-right:15px;" matTooltip="Edit" class="fas fa-pencil-alt" (click)="openDialogForEdit(row)"></i>
                    </span>
                    <span class="table-button-documents" hidden>
                        <i style="margin-right:15px;" matTooltip="Share" class="fa fa-share-alt fa-sm"></i>
                    </span>
                    <span class="table-button-documents">
                        <i style="margin-right:15px;" matTooltip="Download" class="fa fa-download fa-sm" (click)="getUploadedDocument(row.id_document_efa_reference, row.name_document_efa, false, row.file_type)"></i>
                    </span>
                    <span class="table-button-documents">
                        <i matTooltip="Delete" class="fas fa-trash-alt fa-sm" (click)="openDialogForDeleteConfirmation(row)"></i>
                    </span>
                </div>
            </ng-template>
            <ngx-datatable-footer>
                <ng-template 
                ngx-datatable-footer-template
                let-rowCount="rowCount"
                let-pageSize="pageTable.limit"
                let-curPage="curPage"
                let-offset="pageTable.offset"
                let-isVisible="isVisible">
                  <div class="page-count" [hidden]="!((rowCount / pageTable.limit) > 1)">
                    {{datatable.messages.totalMessage}}{{pageTable.offset * pageTable.limit + 1}} - 
                    {{pageTable.offset * pageTable.limit + pageTable.limit > rowCount ? rowCount : pageTable.offset * pageTable.limit + pageTable.limit }} 
                    of {{rowCount.toLocaleString()}}
                  </div>
                  <div [hidden]="!((rowCount / pageTable.limit) > 1)">
                    <select (change)="onLimitChange($event.target.value)">
                      <option *ngFor="let option of pageLimitOptions" [value]="option.value" [selected]="option.value == pageTable.limit">
                          {{ option.value }} 
                      </option>
                    </select>
                  </div>
                  <datatable-pager
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'"
                    [page]="curPage"
                    [size]="pageTable.limit"
                    [count]="rowCount"
                    [hidden]="!((rowCount / pageTable.limit) > 1)"
                    (change)="changePage($event)">
                  </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</div>
<div class="content-right btn-container-bottom content-right-doc">
    <button class="cm-btn" id="cancel" (click)="cancel()" [disabled]="rowsTable.length < 1">Cancel</button>
    <button class="cm-btn primary-pink-color" (click)="submitContract()" [disabled]="rowsTable.length < 1">Submit</button>
</div>
