<div class="section-wrap">
  <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [hasActionButtons]="hasActionButtons" (edit)="addOrEditFormElementGroup($event)"
    (delete)="deleteFormElementGroup($event)">
    <div class="align-right" button-toolbar>
      <div class="inner">
        <button mat-button class="app-btn mat-primary mat-flat-button" (click)="addOrEditFormElementGroup(undefined)">
          Add Form Element Group
        </button>
      </div>
    </div>
  </ng-data-tables>
</div>
