<!-- <p>
    bid-listing works!
  </p>
  <button (click)="navigateToManageBid()" class="btn default-btn btn-default manage-project-btn">
      manage-bid</button> -->
<div id="bidding-list-page">
  <div class="content-heading row">
    <!-- Breadcrumb right aligned-->
    <breadcrumb [breadcrumbData]="breadcrumbData" class="col-12 col-sm-6 col-md-6 col-lg-8 col-xl-6 mb-10 p-0">
    </breadcrumb>
    <ui-control-permission class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-6 p-0">

      <div class="text-right">
        <!-- <button class="btn btn-primary mb-10" type="button" (click)="navigateToManageBid()">{{'biddings.buttons.newBidBtn'| translate}}</button> -->
        <ui-control-permission [fieldName]="'masterConfiguration'"
          [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions" [uiPermissionObj]="uiAccessPermissionsObj">
          <button class="btn default-btn btn-primary ml-1 mb-10"
            (click)="navigateTo(BIDDING_ROUTER_LINKS_FULL_PATH.manageMasterConfiguration)">{{'biddings.labels.masterConfig'|
          translate}}</button>
        </ui-control-permission>
        <ui-control-permission [fieldName]="'approvalHierarchy'"
        [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions" [uiPermissionObj]="uiAccessPermissionsObj">
          <button class="btn default-btn btn-primary ml-1 mb-10" (click)="navigateToBiddingApprovalHierarchy()">{{'biddings.labels.approvalHierarchy' | translate}}</button>
        </ui-control-permission>
      </div>
    </ui-control-permission>
  </div>
  <div class="container-fluid">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" style="padding-bottom: 15px;">
      <div class="row bidding-list">
        <ui-control-permission class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
          <form [formGroup]="bidListFilterForm">
            <div class="form-group">
              <div class="row no-mg">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                  <input class="form-control" formControlName="projectName"
                    placeholder="{{'biddings.placeholder.projectName'| translate}}">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                  <input class="form-control" formControlName="clientName"
                    placeholder="{{'biddings.placeholder.client'| translate}}">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                  <input class="form-control" formControlName="agencyName"
                    placeholder="{{'biddings.placeholder.agency'| translate}}">
                </div>
              </div>
              <div class="row no-mg">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                  <ngx-select [items]="BID_STATUS" placeholder="{{'common.labels.status'| translate}}"
                    data-toggle="tooltip" data-placement="top" title="{{'common.labels.status'| translate}}"
                    formControlName="status" [defaultValue]='defaultStatusValue'>
                  </ngx-select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                  <button class="btn search-bth btn-primary" [disabled] = "disableSearch" (click)='search();'>{{'common.labels.search'| translate}}</button>
                  <button class="btn clear-btn btn-primary" [disabled] = "disableSearch" (click)='clear();'>{{'common.labels.clear'| translate}}</button>
                </div>
              </div>
            </div>
            <hr class="no-mg" />
          </form>
        </ui-control-permission>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-30">
          <div class="row" infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScrollDown()">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
              *ngFor="let bidding of bidListingArr;let i = index;">
              <div class="panel panel-default">
                <div class="panel-heading col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0 m0 panel-title">
                  <h4 class="text-center textElipses">
                    <span data-toggle="tooltip" data-placement="top"
                      title="{{bidding?.projectName}}">{{bidding?.projectName}}</span>
                  </h4>
                </div>
                <div class="biddingList">
                  <div class="row no-mg">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ptb-5 text-center">
                      <strong>{{'biddings.placeholder.client'| translate}}: </strong>
                      <span> {{bidding?.clientName}} </span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ptb-5 text-center">
                      <strong>{{'biddings.placeholder.agency'| translate}}: </strong>
                      <span> {{bidding?.agencyName}} </span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ptb-5 text-center">
                      <strong>{{'biddings.placeholder.estimate'| translate}}: </strong>
                      <span> {{bidding?.currencyCode}} </span>
                      <span>{{bidding?.estimate}}</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ptb-5 text-center"
                      [ngSwitch]="bidding?.status">
                      <strong>{{'common.labels.status'| translate}}: </strong>
                      <label *ngSwitchCase="BID_STATUS_TYPE_CONSTANT.inProgress" id="status" class="bg-yellow">
                        {{'biddings.labels.inProgress'| translate}}</label>
                      <label *ngSwitchCase="BID_STATUS_TYPE_CONSTANT.won" id="status" class="bg-green">
                        {{'biddings.labels.won'| translate}}</label>
                      <label *ngSwitchCase="BID_STATUS_TYPE_CONSTANT.lost" id="status" class="bg-danger">
                        {{'biddings.labels.lost'| translate}}</label>
                      <label *ngSwitchCase="BID_STATUS_TYPE_CONSTANT.inactive" id="status" class="bg-gray">
                        {{'biddings.labels.inactive'| translate}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0 m0 text-center">
                      <button class="btn default-btn btn-default manage-project-btn"
                        (click)="navigateTo(BIDDING_ROUTER_LINKS_FULL_PATH.manageBid, bidding)">
                        {{'biddings.labels.manageDealTitle'| translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="showLoaderFlag && bidListingArr?.length == 0">
          <app-loader class="col-md-12" [loading]="showLoaderFlag"></app-loader>
        </ng-container>
        <div class="col-md-12">
          <ng-container *ngIf="bidListingArr?.length == 0 && !showLoaderFlag">
            <p class="text-danger text-center">{{'common.labels.recordNotFound' | translate}}</p>
          </ng-container>
        </div>
        <div class="col-md-12 text-center">
          <i class="fa fa-spinner fa-spin margin-right-5" *ngIf="showLoaderFlag && bidListingArr?.length !== 0"></i>
        </div>
      </div>
    </div>
  </div>
</div>