// import variables scss
@import "../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../assets/styles/mixins.style.scss";

#bidding-list-page{
    .bidding-list{
        padding:14px 12px;
        @include background-color($white-color);
    }
    @include manage-project-btn();
    .biddingList{
        @include min-height(103px);
    }
    .panel-title{
        @include min-height(20px);
    }
    .mt-30{
        margin-top: 30px;
    }
    .bg-green{
        background: #65C438;
    }
    .bg-gray{
        background: lightgray;
    }
    
    .ptb-5{
        padding: 5px 0px;
    }
    .textElipses {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #status{
        color: #fff;
        padding: 1px 5px;
        margin-left: 5px;
        border-radius: 2px;
        width: 82px;
    }
}