<div class="section-wrap ">
    <div class="top-section row mar10">
        <div class="col-xs-12 col-sm-12">
    <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [hasActionButtons]="hasActionButtons"
    (edit)="editQueuePopup($event)"
    (delete)="deleteQueue($event)">
        <div class="align-right" button-toolbar>
            <div class="inner">
                <button mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="addQueuePopup()">
                    Add Queue
                </button> 
            </div>
        </div>
    </ng-data-tables>
</div>
</div>
</div>





