<div class="section-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section [heading]="heading">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>          
        <div class="clearfix"></div>
    </div>

    <div class="middle-section client-setup-tabs-wrap">
        <mat-card class="client-setup-tabs-card">
          <div class="client-setup-tabs">
            <ul>
              <li *ngFor="let tab of tabs; let i = index" [class.current-tab]="currentTab == tab.key" (click)="onSelectTab(tab.key)"  [class.hide-tab]="tab.visible == false">
                <div>{{tab.name}}</div>
              </li>
            </ul>
          </div>
          <div class="client-setup-tabs-content">
             <div class="information-tab" *ngIf="currentTab == 'information-tab'">
              <app-exela-product-information-tab [mode]="mode" [productId]="productId"></app-exela-product-information-tab>
            </div>
            <div class="menu-tab" *ngIf="currentTab == 'menu-tab'">
              <app-exela-product-menu-setup-tab [productId]="productId"></app-exela-product-menu-setup-tab>
            </div>
            <div class="action-tab" *ngIf="currentTab == 'action-tab'">
              <app-exela-product-action-tab></app-exela-product-action-tab>
            </div>
          </div>
        </mat-card>
    </div>
</div>