<ng-container *ngIf="this.manageBidData.showLoaderFlag">
  <app-loader class="col-md-12" [loading]="this.manageBidData.showLoaderFlag"></app-loader>
</ng-container>
<div id="talent-info" *ngIf="!this.manageBidData.showLoaderFlag">
  <div class="container-fluid">
    <form [formGroup]="manageTalentForm" class="form-horizontal" (change)="updateFormStatus()" novalidate>
      <div class="panel panel-primary">
        <div class="panel-body panel-outer-body">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.talentBuyOut'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <div formGroupName="talentBuyOutForm">
                      <div class="col-md-12 col-xs-12 col-sm-12 no-mg">
                        <div class="row">
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.term' | translate}}
                              </label>
                              <div>
                                <input class="form-control" formControlName="term"
                                  placeholder="{{'biddings.labels.term'| translate}}">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label>{{'biddings.labels.media'| translate}}</label>
                              <div>
                                <input class="form-control" formControlName="media"
                                  placeholder="{{'biddings.labels.media'| translate}}">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.territory' | translate}}
                              </label>
                              <div>
                                <input class="form-control" formControlName="territory"
                                  placeholder="{{'biddings.labels.territory'| translate}}">
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label>{{'biddings.labels.exclusivity'| translate}}</label>
                              <div>
                                <input class="form-control" formControlName="exclusivity"
                                  placeholder="{{'biddings.labels.exclusivity'| translate}}">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.principal'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <div formGroupName="principalsForm">
                      <div formArrayName="principals" class="col-md-12 col-xs-12 col-sm-12 no-mg">
                        <div
                          *ngFor="let principal of getFormArrayControls('principalsForm', 'principals'); let i=index;let lst1=last; let fst=first;">
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.name' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updatePrincipalValidations(FORM_CONST.principalsForm,  principal)"
                                      formControlName="name" placeholder="{{'biddings.labels.name'| translate}}">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('principalsForm', 'principals', 'name', i)?.errors?.checkRequired && (getFormArrayIndexControls('principalsForm', 'principals', 'name', i)?.touched || formSubmittedFlag || principal?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                                <div class="form-group">
                                  <label>{{'biddings.labels.prep'| translate}}</label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updatePrincipalValidations(FORM_CONST.principalsForm,  principal);checkIntegerValue(principal, 'prep');"
                                      formControlName="prep" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                    <!-- (change)="checkRequired(principal, 'prep', 'shoot');checkIntegerValue(principal, 'prep');" -->
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('principalsForm', 'principals', 'prep', i)?.errors?.checkRequired && (getFormArrayIndexControls('principalsForm', 'principals', 'prep', i)?.touched || formSubmittedFlag || principal?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('principalsForm', 'principals', 'prep', i)?.errors?.checkRequired) && getFormArrayIndexControls('principalsForm', 'principals', 'prep', i)?.errors?.checkDecimal && getFormArrayIndexControls('principalsForm', 'principals', 'prep', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.shoot' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updatePrincipalValidations(FORM_CONST.principalsForm,  principal);checkIntegerValue(principal, 'shoot');"
                                      formControlName="shoot" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                    <!-- (change)="checkRequired(principal, 'prep', 'shoot');checkIntegerValue(principal, 'shoot');" -->
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('principalsForm', 'principals', 'shoot', i)?.errors?.checkRequired && (getFormArrayIndexControls('principalsForm', 'principals', 'shoot', i)?.touched || formSubmittedFlag || principal?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('principalsForm', 'principals', 'shoot', i)?.errors?.checkRequired) && getFormArrayIndexControls('principalsForm', 'principals', 'shoot', i)?.errors?.checkDecimal && getFormArrayIndexControls('principalsForm', 'principals', 'shoot', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.costPerDay' | translate}}
                                  </label>
                                  <div class="row">
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pr-0">
                                      <input class="form-control"
                                        (change)="updatePrincipalValidations(FORM_CONST.principalsForm,  principal);checkIntegerValue(principal, 'costPerDay');"
                                        formControlName="costPerDay"
                                        placeholder="{{'biddings.labels.costPerDay1' | translate}}"
                                        oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                      <!-- (change)="checkIntegerValue(principal, 'costPerDay');" -->
                                    </div>
                                    <div class="col-5 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                      <!-- <ngx-select [items]="currencies" name="currency" [defaultValue]="defaultCurrency"
                                        placeholder="Select" formControlName="currencyId"></ngx-select> -->
                                      <select class="form-control" formControlName="currencyId">
                                        <option *ngFor="let item of currencies" [value]="item?.id">{{item?.text}}
                                        </option>
                                      </select>
                                    </div>
                                    <div class="col-3 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-8">
                                      <a class="click-cursor">
                                        <i *ngIf="manageTalentForm.controls.principalsForm.controls.principals['controls'].length > 1"
                                          (click)="removeFormGroup(i, FORM_GROUP_CONST_1[0], FORM_ARRAY_CONST_1[0]);"
                                          class="fa fa-minus"></i>
                                      </a>
                                      <a class="click-cursor" [ngClass]="fst ? '' : 'ml-15'">
                                        <i *ngIf="lst1 &&  manageTalentForm.controls.principalsForm.controls.principals['controls'].length > 0"
                                          (click)="addFormGroup(true, i, FORM_GROUP_CONST_1[0], FORM_ARRAY_CONST_1[0], true );"
                                          class="fa fa-plus"></i>
                                      </a>
                                    </div>
                                    <div class="bb-error pl-15"
                                      *ngIf="getFormArrayIndexControls('principalsForm', 'principals', 'costPerDay', i)?.errors?.checkRequired && (getFormArrayIndexControls('principalsForm', 'principals', 'costPerDay', i)?.touched || formSubmittedFlag || principal?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                      translate}}</div>
                                    <div class="bb-error pl-15"
                                      *ngIf="!(getFormArrayIndexControls('principalsForm', 'principals', 'costPerDay', i)?.errors?.checkRequired) && getFormArrayIndexControls('principalsForm', 'principals', 'costPerDay', i)?.errors?.checkDecimal && getFormArrayIndexControls('principalsForm', 'principals', 'costPerDay', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                      translate}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error col-md-12 col-xs-12 col-sm-12" *ngIf="arrayRecordEmptyFlag.principals">{{'pages.errorMessages.atleastOneFieldRequired'|
                      translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.secondaries'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <div formGroupName="secondriesForm">
                      <div formArrayName="secondries" class="col-md-12 col-xs-12 col-sm-12 no-mg">
                        <div
                          *ngFor="let secondry of getFormArrayControls('secondriesForm', 'secondries'); let i=index;let lst2=last; let fst=first;">
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.name' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updatePrincipalValidations(FORM_CONST.secondaries,  secondry);"
                                      formControlName="name" placeholder="{{'biddings.labels.name'| translate}}">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('secondriesForm', 'secondries', 'name', i)?.errors?.checkRequired && (getFormArrayIndexControls('secondriesForm', 'secondries', 'name', i)?.touched || formSubmittedFlag || secondry?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                                <div class="form-group">
                                  <label>{{'biddings.labels.prep'| translate}}</label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updatePrincipalValidations(FORM_CONST.secondaries,  secondry);checkIntegerValue(secondry, 'prep');"
                                      formControlName="prep" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                    <!-- (change)="checkRequired(secondry, 'prep', 'shoot');checkIntegerValue(secondry, 'prep');" -->
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('secondriesForm', 'secondries', 'prep', i)?.errors?.checkRequired && (getFormArrayIndexControls('secondriesForm', 'secondries', 'prep', i)?.touched || formSubmittedFlag || secondry?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('secondriesForm', 'secondries', 'prep', i)?.errors?.checkRequired) && getFormArrayIndexControls('secondriesForm', 'secondries', 'prep', i)?.errors?.checkDecimal && getFormArrayIndexControls('secondriesForm', 'secondries', 'prep', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.shoot' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updatePrincipalValidations(FORM_CONST.secondaries,  secondry);checkIntegerValue(secondry, 'shoot');"
                                      formControlName="shoot" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                    <!-- (change)="checkRequired(secondry, 'prep', 'shoot');checkIntegerValue(secondry, 'shoot');" -->
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('secondriesForm', 'secondries', 'shoot', i)?.errors?.checkRequired && (getFormArrayIndexControls('secondriesForm', 'secondries', 'shoot', i)?.touched || formSubmittedFlag || secondry?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('secondriesForm', 'secondries', 'shoot', i)?.errors?.checkRequired) && getFormArrayIndexControls('secondriesForm', 'secondries', 'shoot', i)?.errors?.checkDecimal && getFormArrayIndexControls('secondriesForm', 'secondries', 'shoot', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.costPerDay' | translate}}
                                  </label>
                                  <div class="row">

                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 pr-0">
                                      <input class="form-control"
                                        (change)="updatePrincipalValidations(FORM_CONST.secondaries,  secondry);checkIntegerValue(secondry, 'costPerDay');"
                                        formControlName="costPerDay"
                                        placeholder="{{'biddings.labels.costPerDay1' | translate}}"
                                        oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                      <!-- (change)="checkIntegerValue(secondry, 'costPerDay');" -->
                                    </div>
                                    <div class="col-5 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                      <!-- <ngx-select [items]="currencies" name="currency" [defaultValue]="defaultCurrency"
                                        placeholder="Select" formControlName="currencyId"></ngx-select> -->
                                      <select class="form-control" formControlName="currencyId">
                                        <option *ngFor="let item of currencies" [value]="item?.id">{{item?.text}}
                                        </option>
                                      </select>
                                    </div>
                                    <div class="col-3 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-8">
                                      <a class="click-cursor"
                                        *ngIf="manageTalentForm.controls.secondriesForm.controls.secondries['controls'].length > 1">
                                        <i (click)="removeFormGroup(i, FORM_GROUP_CONST_1[1], FORM_ARRAY_CONST_1[1]);"
                                          class="fa fa-minus"></i>
                                      </a>
                                      <a class="click-cursor"
                                        *ngIf="lst2 &&  manageTalentForm.controls.secondriesForm.controls.secondries['controls'].length > 0">
                                        <i (click)="addFormGroup(true, i, FORM_GROUP_CONST_1[1], FORM_ARRAY_CONST_1[1], true );"
                                          class="fa fa-plus" [ngClass]="fst ? '' : 'ml-15'"></i>
                                      </a>
                                    </div>
                                    <div class="bb-error pl-15"
                                      *ngIf="getFormArrayIndexControls('secondriesForm', 'secondries', 'costPerDay', i)?.errors?.checkRequired && (getFormArrayIndexControls('secondriesForm', 'secondries', 'costPerDay', i)?.touched || formSubmittedFlag || secondry?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                      translate}}</div>
                                    <div class="bb-error pl-15"
                                      *ngIf="!(getFormArrayIndexControls('secondriesForm', 'secondries', 'costPerDay', i)?.errors?.checkRequired) && getFormArrayIndexControls('secondriesForm', 'secondries', 'costPerDay', i)?.errors?.checkDecimal && getFormArrayIndexControls('secondriesForm', 'secondries', 'costPerDay', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                      translate}}</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error col-md-12 col-xs-12 col-sm-12" *ngIf="arrayRecordEmptyFlag.secondries">{{'pages.errorMessages.atleastOneFieldRequired'|
                      translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.featuredExtras'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <div formGroupName="featuredExtrasForm">
                      <div formArrayName="featuredExtras" class="col-md-12 col-xs-12 col-sm-12 no-mg">
                        <div
                          *ngFor="let featuredExtra of getFormArrayControls('featuredExtrasForm', 'featuredExtras'); let i=index;let lst3=last; let fst=first;">
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.description' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.featuredExtra,  featuredExtra)"
                                      formControlName="description"
                                      placeholder="{{'biddings.labels.description'| translate}}">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'description', i)?.errors?.checkRequired && (getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'description', i)?.touched || formSubmittedFlag || featuredExtra?.value?.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>{{'biddings.labels.days'| translate}}</label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.featuredExtra,  featuredExtra);checkIntegerValue(featuredExtra, 'days');"
                                      formControlName="days" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                    <!-- (change)="checkIntegerValue(featuredExtra, 'days');" -->
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'days', i)?.errors?.checkRequired && (getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'days', i)?.touched || formSubmittedFlag || featuredExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'days', i)?.errors?.checkRequired) && getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'days', i)?.errors?.checkDecimal && getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'days', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-10 col-sm-5 col-md-5 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.quantity' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.featuredExtra,  featuredExtra);checkIntegerValue(featuredExtra, 'quantity');"
                                      formControlName="quantity" placeholder="{{'biddings.labels.quantity'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9()+-\s]/g, '');">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'quantity', i)?.errors?.checkRequired && (getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'quantity', i)?.touched || formSubmittedFlag || featuredExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'quantity', i)?.errors?.checkRequired) && getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'quantity', i)?.errors?.checkDecimal && getFormArrayIndexControls('featuredExtrasForm', 'featuredExtras', 'quantity', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-2 col-sm-1 col-md-1 col-lg-1 item-center mt-35">
                                <a class="click-cursor">
                                  <i *ngIf="manageTalentForm.controls.featuredExtrasForm.controls.featuredExtras['controls'].length > 1"
                                    (click)="removeFormGroup(i, FORM_GROUP_CONST_2[0], FORM_ARRAY_CONST_2[0]);"
                                    class="fa fa-minus"></i>
                                </a>
                                <a class="click-cursor" [ngClass]="fst ? '' : 'ml-15'">
                                  <i *ngIf="lst3 &&  manageTalentForm.controls.featuredExtrasForm.controls.featuredExtras['controls'].length > 0"
                                    (click)="addFormGroup(true, i, FORM_GROUP_CONST_2[0], FORM_ARRAY_CONST_2[0], false );"
                                    class="fa fa-plus"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error col-md-12 col-xs-12 col-sm-12" *ngIf="arrayRecordEmptyFlag.featuredExtras">{{'pages.errorMessages.atleastOneFieldRequired'|
                      translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.genericExtras'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <div formGroupName="genericExtrasForm">
                      <div formArrayName="genericExtras" class="col-md-12 col-xs-12 col-sm-12 no-mg">
                        <div
                          *ngFor="let genericExtra of getFormArrayControls('genericExtrasForm', 'genericExtras'); let i=index;let lst4=last; let fst=first;">
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.description' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.genericExtra,  genericExtra)"
                                      formControlName="description"
                                      placeholder="{{'biddings.labels.description'| translate}}">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'description', i)?.errors?.checkRequired && (getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'description', i)?.touched || formSubmittedFlag || genericExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>{{'biddings.labels.days'| translate}}</label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.genericExtra,  genericExtra);checkIntegerValue(genericExtra, 'days');"
                                      formControlName="days" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                    <!-- (change)="checkIntegerValue(genericExtra, 'days');" -->
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'days', i)?.errors?.checkRequired && (getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'days', i)?.touched || formSubmittedFlag || genericExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'days', i)?.errors?.checkRequired) && getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'days', i)?.errors?.checkDecimal && getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'days', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-10 col-sm-5 col-md-5 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.quantity' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.genericExtra,  genericExtra);checkIntegerValue(genericExtra, 'quantity');"
                                      formControlName="quantity" placeholder="{{'biddings.labels.quantity'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9()+-\s]/g, '');">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'quantity', i)?.errors?.checkRequired && (getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'quantity', i)?.touched || formSubmittedFlag || genericExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'quantity', i)?.errors?.checkRequired) && getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'quantity', i)?.errors?.checkDecimal && getFormArrayIndexControls('genericExtrasForm', 'genericExtras', 'quantity', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-2 col-sm-1 col-md-1 col-lg-1 item-center mt-35">
                                <a class="click-cursor">
                                  <i *ngIf="manageTalentForm.controls.genericExtrasForm.controls.genericExtras['controls'].length > 1"
                                    (click)="removeFormGroup(i, FORM_GROUP_CONST_2[2], FORM_ARRAY_CONST_2[2]);"
                                    class="fa fa-minus"></i>
                                </a>
                                <a class="click-cursor" [ngClass]="fst ? '' : 'ml-15'">
                                  <i *ngIf="lst4 &&  manageTalentForm.controls.genericExtrasForm.controls.genericExtras['controls'].length > 0"
                                    (click)="addFormGroup(true, i, FORM_GROUP_CONST_2[2], FORM_ARRAY_CONST_2[2], false );"
                                    class="fa fa-plus"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error col-md-12 col-xs-12 col-sm-12" *ngIf="arrayRecordEmptyFlag.genericExtras">{{'pages.errorMessages.atleastOneFieldRequired'|
                      translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.specialExtras'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <div formGroupName="specialExtrasForm">
                      <div formArrayName="specialExtras" class="col-md-12 col-xs-12 col-sm-12 no-mg">
                        <div
                          *ngFor="let specialExtra of getFormArrayControls('specialExtrasForm', 'specialExtras'); let i=index;let lst6=last; let fst=first;">
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.description' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.specialExtra,  specialExtra)"
                                      formControlName="description"
                                      placeholder="{{'biddings.labels.description'| translate}}">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'description', i)?.errors?.checkRequired && (getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'description', i)?.touched || formSubmittedFlag || specialExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>{{'biddings.labels.days'| translate}}</label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.specialExtra,  specialExtra);checkIntegerValue(specialExtra, 'days');"
                                      formControlName="days" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                  </div>
                                  <!-- (change)="checkIntegerValue(specialExtra, 'days');" -->
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'days', i)?.errors?.checkRequired && (getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'days', i)?.touched || formSubmittedFlag || specialExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'days', i)?.errors?.checkRequired) && getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'days', i)?.errors?.checkDecimal && getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'days', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-10 col-sm-5 col-md-5 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.quantity' | translate}}
                                  </label>
                                  <div>
                                    <input
                                      (change)="updateValidations(FORM_CONST.specialExtra,  specialExtra);checkIntegerValue(specialExtra, 'quantity');"
                                      class="form-control" formControlName="quantity"
                                      placeholder="{{'biddings.labels.quantity'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9()+-\s]/g, '');">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'quantity', i)?.errors?.checkRequired && (getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'quantity', i)?.touched || formSubmittedFlag || specialExtra?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'quantity', i)?.errors?.checkRequired) && getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'quantity', i)?.errors?.checkDecimal && getFormArrayIndexControls('specialExtrasForm', 'specialExtras', 'quantity', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-2 col-sm-1 col-md-1 col-lg-1 item-center mt-35">
                                <a class="click-cursor">
                                  <i *ngIf="manageTalentForm.controls.specialExtrasForm.controls.specialExtras['controls'].length > 1"
                                    (click)="removeFormGroup(i, FORM_GROUP_CONST_2[3], FORM_ARRAY_CONST_2[3]);"
                                    class="fa fa-minus"></i>
                                </a>
                                <a class="click-cursor" [ngClass]="fst ? '' : 'ml-15'">
                                  <i *ngIf="lst6 &&  manageTalentForm.controls.specialExtrasForm.controls.specialExtras['controls'].length > 0"
                                    (click)="addFormGroup(true, i, FORM_GROUP_CONST_2[3], FORM_ARRAY_CONST_2[3], false );"
                                    class="fa fa-plus"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error col-md-12 col-xs-12 col-sm-12" *ngIf="arrayRecordEmptyFlag.specialExtras">{{'pages.errorMessages.atleastOneFieldRequired'|
                      translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.crowds'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <div formGroupName="crowdsForm">
                      <div formArrayName="crowds" class="col-md-12 col-xs-12 col-sm-12 no-mg">
                        <div
                          *ngFor="let crowd of getFormArrayControls('crowdsForm', 'crowds'); let i=index;let lst5=last; let fst=first;">
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.description' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control" (change)="updateValidations(FORM_CONST.crowds,  crowd)"
                                      formControlName="description"
                                      placeholder="{{'biddings.labels.description'| translate}}">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('crowdsForm', 'crowds', 'description', i)?.errors?.checkRequired && (getFormArrayIndexControls('crowdsForm', 'crowds', 'description', i)?.touched || formSubmittedFlag || crowd?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="form-group">
                                  <label>{{'biddings.labels.days'| translate}}</label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.crowds,  crowd);checkIntegerValue(crowd, 'days');"
                                      formControlName="days" placeholder="{{'biddings.labels.noOfDays'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9\.]+/g, '');">
                                    <!-- (change)="" -->
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('crowdsForm', 'crowds', 'days', i)?.errors?.checkRequired && (getFormArrayIndexControls('crowdsForm', 'crowds', 'days', i)?.touched || formSubmittedFlag || crowd?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('crowdsForm', 'crowds', 'days', i)?.errors?.checkRequired) && getFormArrayIndexControls('crowdsForm', 'crowds', 'days', i)?.errors?.checkDecimal && getFormArrayIndexControls('crowdsForm', 'crowds', 'days', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-10 col-sm-5 col-md-5 col-lg-3">
                                <div class="form-group">
                                  <label>
                                    {{'biddings.labels.quantity' | translate}}
                                  </label>
                                  <div>
                                    <input class="form-control"
                                      (change)="updateValidations(FORM_CONST.crowds,  crowd);checkIntegerValue(crowd, 'quantity');"
                                      formControlName="quantity" placeholder="{{'biddings.labels.quantity'| translate}}"
                                      oninput="this.value = this.value.replace(/[^0-9()+-\s]/g, '');">
                                  </div>
                                  <div class="bb-error"
                                    *ngIf="getFormArrayIndexControls('crowdsForm', 'crowds', 'quantity', i)?.errors?.checkRequired && (getFormArrayIndexControls('crowdsForm', 'crowds', 'quantity', i)?.touched || formSubmittedFlag || crowd?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'pages.errorMessages.fieldRequired'|
                                    translate}}</div>
                                  <div class="bb-error"
                                    *ngIf="!(getFormArrayIndexControls('crowdsForm', 'crowds', 'quantity', i)?.errors?.checkRequired) && getFormArrayIndexControls('crowdsForm', 'crowds', 'quantity', i)?.errors?.checkDecimal && getFormArrayIndexControls('crowdsForm', 'crowds', 'quantity', i)?.touched">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </div>
                              <div class="col-2 col-sm-1 col-md-1 col-lg-1 item-center mt-35">
                                <a class="click-cursor">
                                  <i *ngIf="manageTalentForm.controls.crowdsForm.controls.crowds['controls'].length > 1"
                                    (click)="removeFormGroup(i, FORM_GROUP_CONST_2[1], FORM_ARRAY_CONST_2[1]);"
                                    class="fa fa-minus"></i>
                                </a>
                                <a class="click-cursor" [ngClass]="fst ? '' : 'ml-15'">
                                  <i *ngIf="lst5 &&  manageTalentForm.controls.crowdsForm.controls.crowds['controls'].length > 0"
                                    (click)="addFormGroup(true, i, FORM_GROUP_CONST_2[1], FORM_ARRAY_CONST_2[1], false );"
                                    class="fa fa-plus"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error col-md-12 col-xs-12 col-sm-12" *ngIf="arrayRecordEmptyFlag.crowds">{{'pages.errorMessages.atleastOneFieldRequired'|
                      translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>

          </div>
          <action-permission [actionType]="ACTION_TYPES.ADD" [MODULE_ID]="MODULE_ID" [permissionArr]="permissionObject">
            <div class="row p-0 m-0">
              <div class="col-12 pull-right">
                <button class="btn save-btn btn-success pull-right" (click)="openAICPReflectionIntimationPopup()"
                  [disabled]="this.manageBidData.disableButtonFlag"><i *ngIf="this.manageBidData.spinnerFlag"
                    class="fa fa-spinner fa-spin margin-right-5"></i>{{'biddings.buttons.next'|
                translate}}</button>
              </div>
            </div>
          </action-permission>
        </div>
      </div>
    </form>
  </div>
</div>