i{
    cursor: pointer;
}

.row-datatable {
  padding-top: 2rem;
  width: 100%;
  .ngx-datatable {
      box-shadow: none;
      width: 100%;
  }
}

.row {
  margin: 0;

  &.btn-container {

      & > .content-left {
          flex:auto;

          & > button {
              padding: 0;
              font-size: 1.2rem;
          }
      }

      & > .content-right {
          flex:auto;
          padding: 0; 
          display: flex;
          align-items: center;
          font-size: 1.2rem;

          & > .mat-form-field > .mat-form-field-wrapper > .mat-form-field-flex {
              & > .mat-form-field-infix > span > label {
                  font-size: 1.2rem;
              }
          }
          & > * {
              margin-left: 1.5rem; 
          }

          & > div > span {
              color: #1d7ab4;
              font-weight: 600;
          }

          & > div > i {
              margin-left: 1.5rem; 
              font-size: 1.4rem;
          }

          & > button {
              font-size: 1.4rem;
          }

          & > :first-child {
              margin-left: auto;
          }
      }
  }
}

.content-right-cp {
      width: 100%;
      padding-right: 0rem;
      text-align: right;
}

.btn-container-bottom {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
@media only screen and (min-width: 1024px) {
    .mb-vw{
        display: none;
    }
    .ds-vw {
        display: flex;
        justify-content: flex-end;
    }
  }
  @media only screen and (max-width: 1024px) {
    .mb-vw{
        display: block;
    }
    .ds-vw {
        display: none;
    }
  }
  
  .btn-mob-container {
    display: flex !important;
    -webkit-box-pack: end;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .cm-mob-btn {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
  }