<div class="section-wrap">
  <div class="top-section row-10">
    <div class="hidden-xs col-xs-12 col-sm-6">
      <app-heading-section heading="Model Assignment">
        <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
      </app-heading-section>
    </div>
    <div class="clearfix"></div>
  </div>

  <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [hasActionButtons]="hasActionButtons"
    [showDeactivateButton]="showDeactivateButton" [searchBox]="searchBox" (edit)="editModelPopup($event)" (delete)="deleteModel($event)"
    (deActivate)="deActivateModel($event)">
    <div *ngIf="showClientList" button-toolbar-left>
      <mat-form-field class="mat-select-full-width">
        <mat-select i18n-placeholder [(ngModel)]="organizationId" placeholder="Select Client" (selectionChange)="onClientChange($event.value)">
          <mat-option i18n value="">Select Client</mat-option>
          <mat-option *ngFor="let client of clients" [value]="client._id">
            {{ client.organizationname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="align-right" button-toolbar>
      <div class="inner">
        <button i18n aria-label="Assign Model" mat-button class="app-btn mat-primary mat-flat-button" (click)="addModelPopup()">
          Assign Model
        </button>
      </div>
    </div>
  </ng-data-tables>
</div>
