<div class="cm-header-container fixed">
  <nav>
      <div class="{{headerClass}}">
          <img src="{{urlLogo}}" alt="Exela" style='height: 100%; width: 100%; object-fit: contain'>
      </div>
      <div class="cm-navigation">
          <div class="cm-navigation-left">
            <a (click) = "toggleSidebar()" class="icon-container" href="#">
              <i class="fas fa-bars"></i>
            </a>
          </div>
          <div class="cm-navigation-right">
            <a class="icon-container" (click)="navigateAddContract()">
              <i class="fa fa-plus"></i>
            </a>
            <a class="icon-container" (click)="navigateAddNotification()">
              <i class="fa fa-bell"></i>
            </a>
            <a class="icon-container" href="#">
              <i class="fa fa-bullhorn"></i>
            </a>
            <a class="icon-container" (click)="openUploadDialog()">
              <i class="fa fa-cog"></i>
            </a>
            <div class="user-container">
              <div style="overflow: hidden;" class="user-picture">
                <img style="height: 100%; width: 100%;" id="userPicture" src="{{userPicture}}">
              </div>
              <div class="user-info">
                <div class="user-info-name">{{userCredentials}}</div>
                <div class="user-info-role">User</div>
              </div>
            </div>
            <a class="icon-container">
              <i class="fas fa-chevron-down" (click)="logout()"></i>
            </a>
          </div>
      </div>
  </nav>
</div>