<div id="location-review-page">
  <div class="content-heading row">
    <!-- Breadcrumb right aligned-->
    <breadcrumb [breadcrumbData]="breadcrumbData" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-10 p-0">
    </breadcrumb>
  </div>
  <div class="review-list">
    <div class="container-fluid">
      <form [formGroup]="reviewFilterForm">
        <div class="row mb-3">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
            <input class="form-control" formControlName="locationName"
              placeholder="{{'location.labels.searchByName'| translate}}" data-toggle="tooltip" data-placement="top"
              title="{{'location.labels.searchByName'| translate}}" class="form-control">
          </div>

          <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-2">
            <ngx-select [autoClearSearch]="true" [items]="categoryDropdown" formControlName="category" [multiple]="true" placeholder="{{'location.labels.category' | translate}}"
              data-toggle="tooltip" data-placement="top" title="{{'location.labels.category' | translate}}">
            </ngx-select>
          </div> -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
            <!-- <ngx-select [autoClearSearch]="true" [items]="tagsList" formControlName="locationTags" [multiple]="true"
              [allowClear]="true" placeholder="{{'location.labels.searchByTags'| translate}}" data-toggle="tooltip"
              data-placement="top" title="{{'location.labels.searchByTags'| translate}}"></ngx-select> -->
            <ngx-select [multiple]="true" [autoClearSearch]="true" (select)="tagsSelected($event)"
              (remove)="tagRemoved($event)" (typed)="searchTags.next($event)" data-placement="top" [allowClear]='true'
              title="{{'location.labels.searchByTags' | translate}}" formControlName="locationTags" [items]="tagsList"
              placeholder="{{'location.labels.searchByTags' | translate}}">

              <ng-template ngx-select-option-not-found>
                <ng-container *ngIf="isLoadingTagName; else elseBlock">
                  {{'biddings.labels.loading' | translate}}
                  <span class="fl-right">
                    <i class="fa fa-spinner fa-spin margin-right-5"></i>
                  </span>
                </ng-container>
                <ng-template #elseBlock>
                  {{ 'common.labels.recordNotFound' | translate }}
                </ng-template>
              </ng-template>
            </ngx-select>
            <!-- <ngx-select [multiple]="true" [autoClearSearch]="true" formControlName="locationTags" [items]="tagsList"
              name="locationTags" (typed)="getLocationTags($event)" (select)="tagsSelected($event)"
              (remove)="tagRemoved($event)" placeholder="{{'common.labels.tags' | translate}}" data-toggle="tooltip"
              data-placement="top" title="{{'location.labels.searchByTags' | translate}}">
            </ngx-select> -->
          </div>

        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="category-name-wrapper mb-10 project-type ptr" (click)="openAddCategoryModel();"
              contentEditable=false data-text="Enter text here">
              <span *ngIf="!categorylist?.length || categorylist?.length < 1"
                style="padding: 0.375rem 1rem; color: #bbbbbb;">{{'common.labels.category'
                      | translate}}</span>
              <span class="category-name" *ngFor="let category of categorylist; let i=index">
                <span class="vertical-middle" title="{{category.fullPath}}"
                  (click)="$event.stopPropagation(); openAddCategoryModel();">
                  {{category?.name}} </span>
                <span class="close vertical-middle"
                  (click)="$event.stopPropagation(); closeCategoryName(category, $event);">&times;</span>
              </span>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2">
            <button class="btn btn-primary" [disabled]="buttonDisable"
              (click)="searchReviewLocations()">{{'common.labels.search' | translate}}</button>
            <button class="btn btn-primary" [disabled]="buttonDisable"
              (click)="clear()">{{'common.labels.clear' | translate}}</button>
          </div>
        </div>
      </form>

      <hr class="no-mg mb-50" />
    </div>
    <div class="row">
      <ng-container *ngIf="showLoadingFlg">
        <app-loader class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [loading]="showLoadingFlg"></app-loader>
      </ng-container>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="reviewlocationsList?.length == 0 && !refresh">
        <h5 class="text-center text-danger">
          {{'common.labels.recordNotFound' | translate}}

        </h5>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2"
        *ngFor="let project of reviewlocationsList;let i = index;">
        <div class="panel panel-default ptr" (click)="viewTag(project)">
          <div class="panel-heading">
            <div class="text-center">{{project?.i18n?.name}}</div>
          </div>

          <div class="panel-body">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="text-center">
                <img *ngIf="!project?.locationImage[0]?.thumbnailImageUrl" [src]="'assets/img/placeholder.png'"
                  class="img-fluid image-size" />
                <img *ngIf="project?.locationImage[0]?.thumbnailImageUrl"
                  [src]="project?.locationImage[0]?.thumbnailImageUrl" class="img-fluid image-size" />
              </div>
            </div>
          </div>
          <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID" [actionType]="ACTION_TYPES.EDIT">
            <div class="panel-heading">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="text-center">
                  <button type="button" class="btn btn-sm btn-success">
                    {{'common.labels.view' |translate}}
                  </button>
                </div>
              </div>
            </div>
          </action-permission>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4 p-0" *ngIf="(totalItems > itemsPerPage)"
      [ngClass]="{'hide-content': showLoadingFlg}">
      <!-- <div class="pull-right"> -->
      <pagination class="pagination-sm pull-right" [(ngModel)]="currentPage" [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage" [firstText]="'common.labels.first' | translate"
        [lastText]="'common.labels.last' | translate" [previousText]="'common.labels.previous' | translate"
        [nextText]="'common.labels.next' | translate" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
        (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
      </pagination>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="modal gallery-modal" bsModal #galleryModal="bs-modal" tabindex='-1'>
  <div class="modal-dialog modal-dialog-centered modal-lg gallery-modal-dialog">
    <div class="modal-content gallery-modal-content">
      <div class="modal-body text-center">
        <ngx-gallery #gallery [options]="galleryOptions" [images]="galleryImages"
          (previewChange)="setOrientationToImage($event)" (previewClose)="previewClose();">
        </ngx-gallery>
      </div>
    </div>
  </div>
</div>