// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

#location-review-page {
  bs-modal-backdrop.modal-backdrop.show {
    opacity: 0.80;
    background-color: black;
  }

  .review-panel {
    border: 1px solid #00000029;
    padding-bottom: 10px;
  }

  tag-input tag {
    border-radius: 0 !important;
  }

  .panel-alignment {
    margin-top: 4%;
  }
  .fl-right {
    float: right;
}
  .mb-50 {
    margin-bottom: 50px;
  }

  #review-input-images {
    overflow-y: scroll;
    height: 500px;
  }

  .category-name-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 100px;
    border: 1px solid #dde6e9;
    min-height: 35px;
    background-color: #fff;
  }

  .vertical-middle {
    vertical-align: middle;
    margin: 0px 5px;
  }

  .category-name .close {
    float: initial;
  }

  .category-name {
    padding: 2px 5px;
    background-color: #e2e2e2;
    margin: 1px;
    border-radius: 15px;
  }
  .img-fluid {
    max-height: 200px;
  }
}
.gallery-modal-dialog {
  max-width: 100% !important;
}

.gallery-modal {
  background-color: #000;
}

.gallery-modal-content {
  background-color: transparent;
}
// OLD CSS
//  .review-list .image-size{
//   height: auto;
//   width: auto;
//   max-height:100%;
//   max-width: 100%;
//  }
//  bs-modal-backdrop.modal-backdrop.show {
//   opacity: 0.80;
//   background-color: black;
// }
// .review-panel{
//   border: 1px solid #00000029;
//   padding-bottom: 10px;
// }
// tag-input tag{
//   border-radius:0 !important; 
// }
// .panel-alignment{
//   margin-top:4%; 
// }
