<div class="col-md-12">
  <div class="top-section row-10 mar-20 heading-section-contract-list">
    <div class="col-xs-12 col-sm-6">
        <app-heading-section heading="Trash">
            <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
        </app-heading-section>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="cm-card">
    <div class="cm-card-body">
      <div class="btn-container">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-8">
          <div class="float-right row">
            <div class="reset-button">
              <button mat-button class="reset-adv-search " (click)="resetAdvSearch()">
                Reset
              </button>
            </div>
            <div class="start-end-date">
              <div style="white-space: nowrap; display:table;">
                <div class="src-datepicker-wrapper">
                  <mat-form-field class="small-padding mat-form-field-has-prefix">
                    <input
                      matInput
                      readonly
                      class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                      placeholder="From"
                      aria-invalid="false"
                      aria-required="false"
                      [formControl]="startDateControl"
                      [matDatepicker]="startDatePickerMobile"
                      [max]="maxStartDate"
                      (dateChange)="startDateChanged($event)"
                      required="false"
                      (click)="startDatePickerMobile.open()"/>
                    <mat-datepicker-toggle matPrefix [for]="startDatePickerMobile">
                      <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startDatePickerMobile [disabled]="displayPicker"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- 7 -->
            <div class="start-end-date">
              <div style="white-space: nowrap; display:table;">
                <div class="src-datepicker-wrapper">
                  <mat-form-field class="small-padding mat-form-field-has-prefix">
                    <input
                      matInput
                      readonly
                      class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                      placeholder="To"
                      [formControl] = "endDateControl"
                      [matDatepicker]="endDatePickerMobile"
                      (dateChange)="endDateChanged($event)"
                      [min]="minEndDate"
                      required="false"
                      (click)="endDatePickerMobile.open()"
                    />
                    <mat-datepicker-toggle matPrefix [for]="endDatePickerMobile">
                      <mat-icon style="font-size: 14px !important;" matDatepickerToggleIcon class="fa fa-calendar">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #endDatePickerMobile [disabled]="displayPicker"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="">
              <mat-form-field class="">
                <input
                  matInput
                  [formControl]="globalSearch"
                  class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                  placeholder="Search"
                  
                  aria-invalid="false"
                  aria-required="false">
                <span style="font-size: 1.2rem" matPrefix><i class="fas fa-search"></i>&nbsp;</span>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <ngx-datatable
          #datatable
          class="material striped expandable"
          [rows]="rowsTable"
          [columns]="columnsTable"
          [footerHeight]="50"
          [messages]="myMessages"
          [headerHeight]="70"
          [rowHeight]="'100%'"
          [columnMode]="'force'"
      >
        <ng-template #sortableHeaderTemplateDate let-sort="sortFn" let-column="column" let-sortDir="sortDir" ngx-datatable-header-template>
          <div class="screen-view">
            <span class="header-name">{{column.name}}
            </span>
            <div class="filter-continer">
              <input class="filter" [matDatepicker]="endDatePicker" (click)="endDatePicker.open()"
              placeholder='Filter' (dateChange)="filterDate($event, column.searchName)" readonly/>
            </div>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </div>
        </ng-template>
        <ng-template #sortableHeaderTemplateInput let-sort="sortFn" let-column="column" let-sortDir="sortDir" ngx-datatable-header-template>
          <div class="screen-view">
            <span (click)="sort($event, sortDir, sortFn)" class="header-name">
              {{column.name}}
            </span>
            <div class="filter-continer">
              <input class="filter src-filters" placeholder='Filter' (keyup)="filterCallback($event, column.searchName)" />
            </div>
          </div>
        </ng-template>
        <ng-template #dateColumnTemplate let-row="row" let-value="value" let-rowIdentity="rowIdentity" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <div class="">
            <div>{{row.deleted_date | date:'MM/dd/yyyy'}}</div>
          </div>
        </ng-template>
        <ng-template #actionColumnTemplate let-row="row" let-value="value"  let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <div class="">
            <div class="action-items-i">
              <i matTooltip="Delete" matTooltipClass="tooltip-closer" class="fa fa-trash-o" (click)="openDialogForDeleteConfirmation(row)"></i>
              <i matTooltip="History" class="fa fa-history"></i>
            </div>
          </div>
        </ng-template>
        <ng-template #chkBxTmplCell let-row="row">
          <div class="">
            <mat-checkbox [checked]="row.checked" type="checkbox" (change)="onSelectCell($event, row)">
            </mat-checkbox>
          </div>
        </ng-template>
        <ng-template #chkBxTmpl let-row="row">
          <div class="">
            <mat-checkbox [checked]="headerCheckBox" type="checkbox" (change)="onSelect($event)">
            </mat-checkbox>
          </div>
        </ng-template>
        <ngx-datatable-footer>
          <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageTable.limit"
          let-curPage="curPage"
          let-offset="pageTable.offset"
          let-isVisible="isVisible">
            <div class="page-count screen-view" [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)">
              {{datatable.messages.totalMessage}}{{pageTable.offset * pageTable.limit + 1}} -
              {{pageTable.offset * pageTable.limit + pageTable.limit > rowCount ? rowCount : pageTable.offset * pageTable.limit + pageTable.limit }}
              of {{rowCount.toLocaleString()}}
            </div>
            <div class="screen-view" [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)">
              <input style="width:40px" placeholder='Page' (change)="onInputPageChange($event.target.value)" >
            </div>
            <datatable-pager class="screen-view"
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageTable.limit"
              [count]="rowCount"
              [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)"
              (change)="datatable.onFooterPage($event)">
            </datatable-pager>
            <!-- <div class="mobile-view mobile-footer col-xs-12" [hidden]="!((rowCount / pageTable.limit) > 1) && !(pageTable.limit > 10)">
              <p class="blue-letter" (click)="showMore()">Show More</p>
            </div> -->
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>