<div [formGroup]="formGroup">
    <div class="col-12 col-md-12">
        <div *ngFor="let item of formArrayData.controls; let i = index">
            <cm-dashboard-configuration-tab-fields
                [attributeIndex]="i"
                [formGroup]="item"
                (removeFieldId)="removeField($event)"
                [arrayContractStatuses]="arrayContractStatuses"
            >
            </cm-dashboard-configuration-tab-fields>
        </div>
        <a class="add-new-field" (click)="addNewAttribute()">
            <i class="fa fa-plus-circle"></i> ADD NEW WIDGET
        </a>
    </div>
    <div class="btn-container-bottom content-right-cp">
        <button color="primary" class="cm-btn" id="resetButton" (click) = "resetAction()">
            RESET
        </button>
        <button color="primary" class="cm-btn primary-pink-color" id="saveButton" (click) = "saveAction()">
            SAVE
        </button>
    </div>
</div>