#cancel {
    background-color: white;
    color: #1277d9;
    border: none;
}

.dialog-button {
    color: #ffffff;
    width: 90px;
    background-color: #d71996;
    margin-left: 1.7rem !important;
}

.close-button-position {
  color: #808080;
  text-align: right;
  height: 1.5rem;
  & > .close-button {
    line-height: normal;
    border: none;
    background: white;
  }
}