<div id="error403Page">
  <div class="container-fluid">
    <div class="page-container">
      <!-- START panel-->
      <div class="text-center mb-xl">
        <div class="mb-lg">
          <em class="fa fa-wrench fa-5x text-muted"></em>
        </div>
        <div class="text-lg mb-lg">{{'pages.errorMessages.error403' | translate}}</div>
        <p class="lead m0">{{'pages.errorMessages.permissionsDenied' | translate}}</p>
        <p>{{'pages.errorMessages.dontHavePermissionsToThisPage' | translate}}</p>
        <p>{{'pages.errorMessages.contactSystemAdministrator' | translate}}</p>
      </div>
    </div>
  </div>
</div>
