<div class="section-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section [heading]="heading">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>          
        <div class="clearfix"></div>
    </div>

    <div class="middle-section client-setup-tabs-wrap">
        <mat-card class="client-setup-tabs-card">
          <div class="client-setup-tabs">
            <ul>
              <li *ngFor="let tab of tabs; let i = index" [class.current-tab]="currentTab == tab.key" [class.hide-tab]="tab.visible == false" (click)="onSelectTab(tab.key)">
                {{tab.name}}
              </li>
            </ul>
          </div>
          <div class="client-setup-tabs-content">
            <div class="information-tab" *ngIf="currentTab == 'information-tab'">
              <app-exela-project-information [mode]="mode" [organizationId]="organizationId" [projectId]="projectId"></app-exela-project-information>
            </div>
            <div class="project-queue-setup-tab" *ngIf="currentTab == 'project-queue-setup-tab'">
              <app-project-queue-setup [mode]="mode" [projectId]="projectId"></app-project-queue-setup>
            </div>
            <div class="project-doctype-setup-tab" *ngIf="currentTab == 'project-doctype-setup-tab'">
              <app-project-doctype-setup [mode]="mode" [projectId]="projectId"></app-project-doctype-setup>
            </div>
          </div>
        </mat-card>
    </div>
</div>