.sublocation-spinner.fa-spinner {
  display: none;
}

.table-top-border {
  border-top: 2px solid #ccc;
}
.fl-right {
  float: right;
}
.list-purchase-order {
  .w-0 {
    width: 0 !important;
  }

  .range-picker .mydrp {
    width: 100% !important;
  }
  .mb-10 {
    margin-bottom: 10px;
  }

  .subLocationPO {
    border-left: 1px solid;
  }

  .po-number {
    min-width: 100px;
  }

  .reason-section {
    border: black solid 1px;
  }

  .po-list-details {
    .create-po-btn {
      margin-top: 27px;
      text-align: center;
    }
    .items {
      padding: 15px;
      font-size: 15px;
      border: 1px solid #ddd;

      .consecutive-number,
      .po-number {
        padding: 2px 5px;
        font-size: 18px;
        color: #000;
      }

      span.po-number i.fa {
        margin-right: 5px;
      }

      .po-status,
      .payment-status {
        padding: 3px 15px;
        border-radius: 10px;
        border: 1px solid #eee;
        // width: 150px;
        text-align: center;
        color: #000;
      }

      .po-status.pending,
      .payment-status.pending {
        background: yellow;
      }

      .po-status.approved,
      .payment-status.paid {
        background: #65C438;
      }

      .po-status.cancelled {
        background: gray;
      }

      .po-status.rejected,
      .payment-status.rejected {
        background: red;
      }

      .payment-status.scheduled {
        background: orange;
      }

      .items .status-bar {
        max-width: 200px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .po-status span i.fa {
        padding-right: 5px;
      }

      .action-items span {
        padding: 5px 10px;
        margin: 0 10px;
        background-color: #ddd;
        border-radius: 10px;
        cursor: pointer;
      }

      .action-items span i.fa {
        margin-right: 5px;
      }

      .amount-details .details {
        background: #f44336;
        color: white;
        border-radius: 5px;
        padding: 5px 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .amount-details .amount {
        color: white;
        font-size: 18px;
      }

      .approval-details {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  .search-field-box {
    border-right: 1px solid #ddd;
  }

  .fa-globe:before {
    color: #fff;
  }


  .approval-status-bar {
    margin: 30px 0 80px 0;
  }

  .approval-status-bar i.fa {
    color: #fff;
  }

  .progress {
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
    left: 0;
    right: 0px;
    margin: 0 auto;

    .progress-bar {
      border-radius: 15px;
      box-shadow: none;
      position: relative;
      animation: animate-positive 2s;
    }

    .progress-icon,
    .progress-value {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 18px;
      background: #1f75c4;
      border: 7px solid #1f75c4;
      font-size: 15px;
      font-weight: 600;
      color: #1f75c4;
      position: absolute;
      top: -12px;
      right: -5px;
    }

    .progress-icon.approved,
    .progress-value.approved,
    .progress-icon.autoapproved,
    .progress-value.autoapproved {
      background: #65C438;
      border: 7px solid #65C438;
    }

    .progress-icon.pending,
    .progress-value.pending {
      background: yellow;
      border: 7px solid yellow;
    }

    .progress-icon.cancelled,
    .progress-value.cancelled {
      background: gray;
      border: 7px solid gray;
    }

    .progress-icon.rejected,
    .progress-value.rejected {
      background: red;
      border: 7px solid red;
    }

    .progress-icon {
      right: auto;
      left: -5px;
    }

    .approver-name {
      position: absolute;
      top: 25px;
      margin-left: -15px;
      color: #656565;
      text-align: left;
      text-align: center;
      width: 150px;
      margin-left: -75px;
      font-size: 0.875rem;
    }
  }

  .ptr-disabled {
    cursor: not-allowed !important;
  }

  .custom-pagination {
    float: right;
  }

  .dropdown-menu {
    min-width: 174px;
  }

  .pl-10 {
    padding-left: 10px;
  }

  .payment-approval-modal,
  .po-approval-modal {
    .approval-status-bar {
      .progress {
        width: 450px;

        .progress-bar {
          width: 450px;
          background: #bbbbbb;
        }
      }
    }
  }
}

@media (min-width: 1340px) and (max-width: 1460px) {
  #list-purchase-order {
    .po-list-details {
      .items {
        .po-status {
          width: 210px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .list-purchase-order {
    .form-control, input {
      margin-bottom: 10px !important;
    }
    .amount-details {
      margin-top: 10px;
    }
    .search-field-box {
      border-right: none;
    }
    .create-po-btn {
      margin-top: 10px;
      text-align: left;
    }
  }
}
