<context-consumer consume="projectTypeId loadingFlag"></context-consumer>
<div class="list-purchase-order">
  <div class="container-fluid">
    <div class="row no-mg">
      <div class="col-md-12 no-mg">
        <div class="panel panel-primary">
          <div class="panel-body pb-0">
            <div class="row col-lg-12 no-mg">
              <!-- <div class="card card-default"> -->
              <div class="col-md-12 col-sm-12 col-xs-12">

                <form [formGroup]="poFilterForm" novalidate>
                  <div class="row mb-3">
                    <div class="no-mg col-12 col-sm-12 col-md-12 "
                      [ngClass]="uiAccessPermissionsObj && uiAccessPermissionsObj.removeActions && uiAccessPermissionsObj.removeActions.addPO ? 'col-lg-12 col-xl-12 ':'col-lg-10 col-xl-10 search-field-box search-field-box'">
                      <div class="row col-md-12 no-mg">
                        <div class=" col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                          <input class="form-control mb-3" id="" type="text" formControlName="consecutiveNumber"
                            placeholder="{{'projects.labels.consecutive'| translate}}#" data-toggle="tooltip"
                            data-placement="top" title="{{'projects.labels.consecutive'| translate}}#" />
                        </div>
                        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                          <input class="form-control mb-3" id="" type="text"
                            placeholder="{{'projects.labels.viewPONumber'| translate}}" formControlName="poNumber"
                            data-toggle="tooltip" data-placement="top"
                            title="{{'projects.labels.viewPONumber'| translate}}" />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-xl-5">
                          <my-date-range-picker class="range-picker mb-3" [options]="myDateRangePickerOptions"
                            formControlName="dateRange" name="mydaterange"
                            placeholder="{{'common.labels.daterange'| translate}}" data-toggle="tooltip"
                            data-placement="top" title="{{'common.labels.daterange'| translate}}">
                          </my-date-range-picker>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                          <ngx-select [allowClear]="true" [items]="PO_FOR_TYPE_CONST" formControlName="type"
                            placeholder=" {{'projects.labels.type'| translate}}" data-toggle="tooltip"
                            data-placement="top" title="{{'projects.labels.type'| translate}}">
                          </ngx-select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

                          <ngx-select (typed)="searchSupplierName.next($event)" data-placement="top" [allowClear]='true'
                            title="{{'common.labels.supplierName' | translate}}" formControlName="supplierName"
                            [items]="supplierDropDown" placeholder="{{'common.labels.supplierName' | translate}}">

                            <ng-template ngx-select-option-not-found>
                              <ng-container *ngIf="isLoadingSupplierName; else elseBlock">
                                {{'biddings.labels.loading' | translate}}
                                <span class="fl-right">
                                  <i class="fa fa-spinner fa-spin margin-right-5"></i>
                                </span>
                              </ng-container>
                              <ng-template #elseBlock>
                                {{ 'common.labels.recordNotFound' | translate }}
                              </ng-template>
                            </ng-template>
                          </ngx-select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                          <button class="btn search-btn btn-primary" [disabled]="showLoadingFlg || loadingFlag"
                            (click)="search()" type="submit">
                            {{'common.labels.search'| translate}}</button>
                          <button class="btn clear-btn btn-primary" [disabled]="showLoadingFlg || loadingFlag"
                            (click)="clear()" type="button">
                            {{'common.labels.clear'|
                            translate}}</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 no-mg">
                      <div class="col-md-12 create-po-btn">
                        <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID"
                          [actionType]="ACTION_TYPES.ADD">
                          <div class="">
                            <button class="btn add-btn btn-primary dropdown-toggle" [disabled]="defaultCurrencyFlag"
                              type="button" data-toggle="dropdown">
                              {{'projects.labels.createPo'|
                                translate}}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pl-10">
                              <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_IDs.freelancerPO"
                                [actionType]="ACTION_TYPES.ADD">
                                <li>
                                  <a style="text-decoration: none;cursor: pointer;"
                                    (click)="navigateTo(ROUTER_LINKS_FULL_PATH?.manageFreelancerPO)">{{'common.labels.freelancer'|
                                    translate}}
                                  </a>
                                </li>
                              </action-permission>
                              <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_IDs.vendorPO"
                                [actionType]="ACTION_TYPES.ADD">
                                <li>
                                  <a style="text-decoration: none;cursor: pointer;"
                                    (click)="navigateTo(ROUTER_LINKS_FULL_PATH?.manageVendorPO)">{{'common.labels.vendor'|
                                    translate}}
                                  </a>
                                </li>
                              </action-permission>
                              <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_IDs.locationPO"
                                [actionType]="ACTION_TYPES.ADD">
                                <li>
                                  <a style="text-decoration: none;cursor: pointer;"
                                    (click)="navigateTo(ROUTER_LINKS_FULL_PATH?.manageLocationPO)">{{'common.labels.location'|
                                    translate}}
                                  </a>
                                </li>
                              </action-permission>
                              <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_IDs.advancePO"
                                [actionType]="ACTION_TYPES.ADD">
                                <li>
                                  <a style="text-decoration: none;cursor: pointer;"
                                    (click)="navigateTo(ROUTER_LINKS_FULL_PATH?.manageAdvancePO)">{{'common.labels.advance'|
                                    translate}}
                                  </a>
                                </li>
                              </action-permission>
                              <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_IDs.talentPO"
                                [actionType]="ACTION_TYPES.ADD">
                                <li>
                                  <a style="text-decoration: none;cursor: pointer;"
                                    (click)="navigateTo(ROUTER_LINKS_FULL_PATH?.manageTalentPO)">{{'common.labels.talent'|
                                    translate}}
                                  </a>
                                </li>
                              </action-permission>
                            </ul>
                          </div>
                        </action-permission>
                      </div>
                    </div>

                  </div>
                </form>


                <div class="">

                  <div class="panel panel-primary">
                    <div class="col-md-12 no-mg project-tabs">
                      <ul class="nav nav-pills nav-justified">
                        <li class="nav-item ptr" *ngFor="let obj of PO_STATUS_CONST;let index=index">
                          <a class="nav-link nav-link_{{index}}" id="advances-tab"
                            (click)="showPurchaseOrders($event, obj?.id)">{{'projects.labels.'
                            + obj?.text | translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="po-list-details">
                      <ng-container *ngIf="(purchaseOrderList?.length == 0) && !showLoadingFlg && !loadingFlag">
                        <div class="row mt-1">
                          <div class="col-md-12 text-center">
                            <p class="text-danger">{{'common.labels.recordNotFound' | translate}}</p>
                          </div>
                        </div>
                      </ng-container>
                      <div *ngIf="showLoadingFlg || loadingFlag;else showListBlock">
                        <app-loader class="col-md-12" [loading]="true"></app-loader>
                      </div>
                      <ng-template #showListBlock>
                        <ng-container *ngFor="let purchaseOrder of purchaseOrderList">
                          <div class="items">
                            <div class="row"
                              *ngIf="(projectTypeId!==PROJECT_TYPES.corporate) && (purchaseOrder?.purchaseOrderFor!==PURCHASE_ORDER_CONST.talent)">
                              <div class="col-md-12 text-danger"
                                *ngIf="!purchaseOrder?.palAccepted && !purchaseOrder?.contractAccepted; else showRespectiveMsgs">
                                <span>
                                  {{'common.labels.palContractNotAccepted'| translate}}
                                </span>
                              </div>
                              <ng-template #showRespectiveMsgs>
                                <div class="col-md-12 text-danger" *ngIf="!purchaseOrder?.palAccepted">
                                  <span>
                                    {{'common.labels.palNotAccepted'| translate}}
                                  </span>
                                </div>
                                <div class="col-md-12 text-danger" *ngIf="!purchaseOrder?.contractAccepted">
                                  <span>
                                    {{'common.labels.contractNotAccepted'| translate}}
                                  </span>
                                </div>
                              </ng-template>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                <div class="row mb-2">
                                  <div class="col-md-4">
                                    <span>
                                      <strong>{{'projects.labels.consecutive'| translate}}#:</strong>
                                    </span>
                                    <span class="consecutive-number">
                                      {{ purchaseOrder?.consecutiveNumber | fillZero : 3 }}</span>
                                  </div>
                                  <div class="col-md-4">
                                    <span>
                                      <strong>{{'common.labels.type'| translate}}:</strong>
                                    </span>
                                    <span>{{ 'common.labels.'+typeKeyArr[purchaseOrder?.purchaseOrderFor] | translate }}</span>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="po-status ptr status-bar"
                                      [ngClass]="((purchaseOrder?.status==PO_APPROVAL_CONST.pending || purchaseOrder?.status==PO_APPROVAL_CONST.generated) ? 'pending':'') || ((purchaseOrder.status==PO_APPROVAL_CONST.approved) ? 'approved':'') || ((purchaseOrder?.status==PO_APPROVAL_CONST.rejected) ? 'rejected':'')|| ((purchaseOrder?.status==PO_APPROVAL_CONST.cancelled) ? 'cancelled':'')"
                                      (click)="openApprovalModal(purchaseOrder)"
                                      tooltip="{{'projects.labels.purchaseOrderStatus'| translate}}">
                                      <span class="">
                                        {{'projects.labels.PO' | translate | uppercase}} - {{ purchaseOrder?.status ?
                                      ((('projects.labels.' + statusKeyArr[purchaseOrder?.status]) | translate) |
                                      uppercase)
                                      :'common.labels.pending'| translate}}
                                        <i class="fa fa-eye"></i>
                                        <!-- {{ purchaseOrder?.status | uppercase }} -->
                                      </span>
                                    </div>
                                    <div class="text-center">
                                      <span
                                        *ngIf="((!purchaseOrder?.status || purchaseOrder?.status==PO_APPROVAL_CONST.pending || purchaseOrder?.status==PO_APPROVAL_CONST.generated) &&  (purchaseOrder?.approver?.reasons?.length >= 1))"><u
                                          class="ptr"
                                          (click)="openReasonsModal(purchaseOrder)">{{'projects.labels.pendingReason'| translate}}</u></span>

                                      <span
                                        *ngIf="((purchaseOrder?.status==PO_APPROVAL_CONST.rejected) &&  (purchaseOrder?.approver?.reasons?.length >= 1))"><u
                                          class="ptr"
                                          (click)="openReasonsModal(purchaseOrder)">{{'projects.labels.rejectionReason'| translate}}</u></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mb-2">
                                  <div class="col-md-4">
                                    <span>
                                      <strong>{{'projects.labels.poWithoutDot'| translate}}#:</strong>
                                    </span>
                                    <span class="po-number">
                                      {{ purchaseOrder?.purchaseOrderNumber }}
                                    </span>
                                  </div>
                                  <div class="col-md-4">
                                    <span>
                                      <strong>{{'projects.labels.supplier'| translate}}:</strong>
                                    </span>
                                    <span>{{ purchaseOrder?.supplierName }}
                                      ({{ 'common.labels.'+supplierKeyArr[purchaseOrder?.supplierType] | translate }})</span>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="status-bar">
                                      <span>
                                        <strong>{{'projects.labels.paidVia'| translate}}:</strong>
                                      </span>
                                      <ng-container *ngIf="purchaseOrder?.thirdPartyVendorName">
                                        <span>{{ purchaseOrder?.thirdPartyVendorName }}</span>
                                      </ng-container>
                                      <ng-container *ngIf="!purchaseOrder?.thirdPartyVendorName">
                                        <span>{{'common.labels.na'| translate}}</span>
                                      </ng-container>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col-md-8">
                                    <div class="row mb-2">
                                      <div class="col-md-6">
                                        <span>
                                          <strong>{{'projects.labels.createdOn'| translate}}:</strong>
                                        </span>
                                        <span>{{ purchaseOrder?.orderDate | dateFormat}}</span>
                                      </div>
                                      <div class="col-md-6">
                                        <span>
                                          <strong>{{'projects.labels.createdBy'| translate}}:</strong>
                                        </span>
                                        <span>{{ purchaseOrder?.createdBy ?purchaseOrder?.createdBy:'-'}}</span>
                                      </div>
                                    </div>
                                    <div class="row" *ngIf="(purchaseOrder?.status==PO_APPROVAL_CONST.approved ||
                                    purchaseOrder?.paymentStatus) && purchaseOrder?.purchaseOrderFor==PURCHASE_ORDER_CONST.advance
                                    && !(purchaseOrder?.status==PO_APPROVAL_CONST.cancelled)">
                                      <div class="col-md-6">
                                        <span>
                                          <strong>{{'projects.labels.paymentDate'| translate}}:</strong>
                                        </span>
                                        <span>{{purchaseOrder?.paymentDate ? (purchaseOrder?.paymentDate | dateFormat) :
                                        '-'
                                        }}</span>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center"
                                    *ngIf="((purchaseOrder?.status == PO_APPROVAL_CONST.approved || purchaseOrder?.paymentStatus) && purchaseOrder?.purchaseOrderFor == PURCHASE_ORDER_CONST.advance && !(purchaseOrder?.status == PO_APPROVAL_CONST.cancelled)); else elseBlock;">
                                    <div class="payment-status text-center status-bar"
                                      [ngClass]="((purchaseOrder?.paymentStatus || purchaseOrder?.paymentStatus === 0) ? '':'pending') || ((purchaseOrder.paymentStatus===PAYMENT_APPROVAL_CONSTANTS.scheduled) ? 'scheduled':'') || ((purchaseOrder?.paymentStatus===PAYMENT_APPROVAL_CONSTANTS.rejected) ? 'rejected':'')|| ((purchaseOrder?.paymentStatus===PAYMENT_APPROVAL_CONSTANTS.paid) ? 'paid':'')"
                                      tooltip="{{'projects.labels.paymentStatus'| translate}}">
                                      <!-- <span class="" (click) = "viewPo(purchaseOrder?.type)"> -->
                                      <span class="">
                                        <!-- {{ purchaseOrder?.paymentStatus | uppercase }} -->
                                        {{'projects.labels.payment' | translate | uppercase}} - {{
                                      (purchaseOrder?.paymentStatus || purchaseOrder?.paymentStatus === 0) ?
                                      ((('projects.labels.' + paymentStatusKeyArr[purchaseOrder?.paymentStatus]) |
                                      translate) | uppercase)
                                      :'common.labels.pending'| translate}}
                                        <i class="fa fa-eye"></i>
                                      </span>
                                    </div>
                                    <span *ngIf="purchaseOrder?.paymentStatus==PAYMENT_APPROVAL_CONSTANTS.rejected"><u
                                        class="ptr" (click)="openRejectionModal(purchaseOrder)">Rejection
                                        Reason</u></span>
                                  </div>
                                  <ng-template #elseBlock>
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                      <span>
                                        <strong>{{'projects.labels.paymentDate'| translate}}:</strong>
                                      </span>
                                      <span>{{purchaseOrder?.paymentDate ? (purchaseOrder?.paymentDate | dateFormat) :
                                      '-'
                                      }}</span>
                                    </div>
                                  </ng-template>
                                </div>

                                <div class="row mb-10">
                                  <div class="col-md-12 action-items center">
                                    <ng-container>
                                      <span (click)="viewPO(purchaseOrder?.id,purchaseOrder?.purchaseOrderFor)">
                                        <i class="fa fa-eye view-icon"></i>{{'projects.labels.viewPo'| translate}}
                                      </span>
                                    </ng-container>
                                    <ng-container>
                                      <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID"
                                        [actionType]="ACTION_TYPES.EDIT">
                                        <span
                                          [ngClass]="(purchaseOrder?.canEdit && !purchaseOrder?.ownPo) ? '' : 'ptr-disabled'"
                                          (click)="editPO(purchaseOrder)">
                                          <i class="fa fa-edit edit-icon"
                                            [ngClass]="(purchaseOrder?.canEdit && !purchaseOrder?.ownPo) ? '' : 'ptr-disabled'"></i>{{'projects.labels.editPo'|
                                        translate}}
                                        </span>
                                      </action-permission>
                                    </ng-container>

                                    <ng-container>
                                      <ui-control-permission [fieldName]="'cancelPO'"
                                        [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions"
                                        [uiPermissionObj]="uiAccessPermissionsObj">
                                        <span
                                          (click)="cancelPO(purchaseOrder?.id,(purchaseOrder?.status != PO_APPROVAL_CONST.cancelled),purchaseOrder?.status, purchaseOrder?.ownPo, purchaseOrder?.paymentStatus)"
                                          [ngClass]="((purchaseOrder?.status != PO_APPROVAL_CONST.cancelled && !purchaseOrder?.ownPo) && (purchaseOrder?.paymentStatus != PAYMENT_APPROVAL_CONSTANTS.paid)) ? '' : 'ptr-disabled'">
                                          <i class="ptr fa fa-times-circle cancel-icon"
                                            [ngClass]="((purchaseOrder?.status != PO_APPROVAL_CONST.cancelled && !purchaseOrder?.ownPo) && (purchaseOrder?.paymentStatus != PAYMENT_APPROVAL_CONSTANTS.paid)) ? '' : 'ptr-disabled'"></i>{{'projects.labels.cancelPo'|
                                        translate}}
                                        </span>
                                      </ui-control-permission>
                                    </ng-container>
                                    <!-- <span *ngIf="purchaseOrder?.purchaseOrderFileUrl">
                                    <a style="color: #656565;text-decoration:none;"
                                      href="{{purchaseOrder?.purchaseOrderFileUrl}}"
                                      download="{{purchaseOrder?.purchaseOrderFileUrl}}"><i
                                        class="fa fa-download download-icon"></i>{{'projects.labels.poWithoutDot'|
                                      translate}}</a>
                                  </span> -->
                                    <span *ngIf="showPalIcon(purchaseOrder) && purchaseOrder?.projectContractFileUrl">
                                      <a style="color: #656565;text-decoration:none;"
                                        href="{{purchaseOrder?.projectContractFileUrl}}"
                                        download="{{purchaseOrder?.projectContractFileUrl}}">
                                        <i
                                          class="fa fa-download download-icon"></i>{{'projects.labels.pal'| translate}}</a>
                                    </span>
                                    <ui-control-permission [fieldName]="'addInvoice'"
                                      [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions"
                                      [uiPermissionObj]="uiAccessPermissionsObj">
                                      <ng-container
                                        *ngIf="purchaseOrder?.purchaseOrderFor != PURCHASE_ORDER_CONST.advance">
                                        <span
                                          [ngClass]="(purchaseOrder?.canRaiseInvoice && !purchaseOrder?.ownPo) ? '' : 'ptr-disabled'"
                                          (click)="navigateToInvoice(purchaseOrder?.id,(purchaseOrder?.canRaiseInvoice && !purchaseOrder?.ownPo))">
                                          <i class="ptr fa fa-file-text-o"
                                            [ngClass]="(purchaseOrder?.canRaiseInvoice && !purchaseOrder?.ownPo) ? '' : 'ptr-disabled'"></i>{{'projects.labels.raisePaymentOrder'|
                                        translate}}
                                        </span>
                                      </ng-container>
                                    </ui-control-permission>
                                    <ui-control-permission [fieldName]="'settlePO'"
                                      [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions"
                                      [uiPermissionObj]="uiAccessPermissionsObj">
                                      <ng-container
                                        *ngIf="purchaseOrder?.purchaseOrderFor == PURCHASE_ORDER_CONST.advance">
                                        <span (click)="navigateToSettlePO(purchaseOrder)"
                                          [ngClass]="purchaseOrder?.canSettle  ? '' : 'ptr-disabled'">
                                          <i class="ptr fa fa-file-text-o"
                                            [ngClass]="purchaseOrder?.canSettle ? '' : 'ptr-disabled'"></i>{{'projects.labels.settlePo'|
                                        translate}}
                                        </span>
                                      </ng-container>
                                    </ui-control-permission>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="amount-details center">
                                  <div class="details">
                                    <div class="currency">
                                      {{ this.currentCurrencyObj?.code ? this.currentCurrencyObj?.code
                                      :(purchaseOrder?.currencyCode) }}
                                    </div>
                                    <div class="amount">
                                      <strong>{{getConvertedValue(purchaseOrder?.defaultCurrencyAmount,purchaseOrder?.totalAmount)
                                        | twoDecimal | absolute | numberFormat}}</strong>
                                    </div>
                                  </div>
                                </div>
                                <div class="approval-details" [ngSwitch]="purchaseOrder?.approverStatus">
                                  <div *ngSwitchCase="PO_APPROVAL_CONST.pending">
                                    <span>
                                      <strong>{{'projects.labels.nextApprover'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div *ngSwitchCase="PO_APPROVAL_CONST.approved">
                                    <span>
                                      <strong>{{'projects.labels.finalApprovedBy'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div *ngSwitchCase="PO_APPROVAL_CONST.rejected">
                                    <span>
                                      <strong>{{'projects.labels.rejectedBy'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div *ngSwitchCase="PO_APPROVAL_CONST.cancelled">
                                    <span>
                                      <strong>{{'projects.labels.cancelledBy'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div> {{ purchaseOrder?.approverName }}</div>
                                  <div>
                                    <small>({{ purchaseOrder?.approverRole }})</small>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </ng-container>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-pagination" *ngIf="totalItems>itemsPerPage"
                [ngClass]="{'hide-content': (showLoadingFlg || loadingFlag)}">
                <pagination class="pagination-sm" [(ngModel)]="currentPage" [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage" [firstText]="'common.labels.first' | translate"
                  [lastText]="'common.labels.last' | translate" [previousText]="'common.labels.previous' | translate"
                  [nextText]="'common.labels.next' | translate" [maxSize]="maxSize" [boundaryLinks]="true"
                  [rotate]="false" (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="modal po-approval-modal" bsModal #approvalStatusModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{'projects.labels.poApprovalDetails'| translate}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal"
            (click)="approvalStatusModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-common-approval-hierarchy #commonApprovalModal [listDetails]="purchaseOrderDetails"
            [projectTypeId]="projectTypeId" [statusKeyArr]="statusKeyArr" [onHoldReasonArrConstant]="onHoldReasons"
            [otherReasonArrConstant]="OTHER_REASONS" [rejectionReasonArrConstant]="rejectionReasons"
            [approvalRejectURL]="poApprovalHierarchyURL" [lisType]="LISTING_TYPE.purchaseOrder">
          </app-common-approval-hierarchy>
          <!-- <div class="row text-center" *ngIf="(projectTypeId!==PROJECT_TYPES.corporate) && (purchaseOrderDetails?.purchaseOrderFor!==PURCHASE_ORDER_CONST.talent)">
            <div class="col-md-12 text-danger"
              *ngIf="!purchaseOrderDetails?.palAccepted && !purchaseOrderDetails?.contractAccepted; else showRespectiveMsgs">
              <span>
                {{'common.labels.palContractNotAccepted'| translate}}
              </span>
            </div>
            <ng-template #showRespectiveMsgs>
              <div class="col-md-12 text-danger" *ngIf="!purchaseOrderDetails?.palAccepted">
                <span>
                  {{'common.labels.palNotAccepted'| translate}}
                </span>
              </div>
              <div class="col-md-12 text-danger" *ngIf="!purchaseOrderDetails?.contractAccepted">
                <span>
                  {{'common.labels.contractNotAccepted'| translate}}
                </span>
              </div>
            </ng-template>
          </div>
          <div class="approval-status-bar">
            <div class="progress">
              <div class="progress-bar">

                <div class="progress-value approved" tooltip="{{('common.labels.generated'| translate) | titlecase}}"
                  placement="right" [ngStyle]="{'left' : 'calc(0% - 15px)'}">
                  <span>
                    <i class="fa fa-check"></i>
                  </span>
                </div>
                <div class="approver-name" [ngStyle]="{'left' : 'calc(0% - 5px)'}">
                  <div>{{('common.labels.generated'| translate) | titlecase}}</div>
                </div>
                <ng-container *ngFor="let approval of approvalHierarchyArr; let srNo = index; let first = first">
                  <div class="progress-value {{statusKeyArr[approval?.status] | lowercase}}"
                    [ngSwitch]="approval?.status"
                    tooltip="{{('projects.labels.' + statusKeyArr[approval?.status] | translate) | titlecase}}"
                    placement="right" [ngStyle]="{'left' : 'calc(' + approval?.percent + '% - 15px)'}">

                    <span *ngSwitchCase="PO_APPROVAL_CONST.approved">
                      <i class="fa fa-check"></i>
                    </span>
                    <span *ngSwitchCase="PO_APPROVAL_CONST.autoapproved">
                      <i class="fa fa-check"></i>
                    </span>
                    <span *ngSwitchCase="PO_APPROVAL_CONST.pending">
                      <i class="fa fa-question"></i>
                    </span>
                    <span *ngSwitchCase="PO_APPROVAL_CONST.cancelled">
                      <i class="fa fa-ban"></i>
                    </span>
                    <span *ngSwitchCase="PO_APPROVAL_CONST.rejected">
                      <i class="fa fa-remove"></i>
                    </span>
                  </div>

                  <div class="approver-name" [ngStyle]="{'left' : 'calc(' + approval?.percent + '% - 5px)'}">
                    <div>{{ approval?.approverName }}</div>
                    <div *ngIf="approval?.approverRole">
                      <small>({{ approval?.approverRole }})</small>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-20"
            *ngIf="((purchaseOrderDetails?.status===PO_APPROVAL_CONST.pending || purchaseOrderDetails?.status===PO_APPROVAL_CONST.generated) && (purchaseOrderDetails?.approverId==userInfo.id))">
            <div class="form-group">
              <label>
                <strong>
                  {{'projects.labels.poApprovalWaiting'| translate}}
                </strong>
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-warning" [disabled]="disableButtonFlag"
                (click)="showReasons('pending')">{{'projects.labels.onHold'| translate}}</button>
              <button [disabled]="disableButtonFlag" class="btn btn-success" (click)="approvePO()">
                <i *ngIf="approvedSpinnerFlag"
                  class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.approve'| translate}}</button>
              <button class="btn btn-danger ml-1" [disabled]="disableButtonFlag"
                (click)="showReasons('reject')">{{'common.labels.reject'| translate}}</button>
            </div>
          </div>
          <ng-container *ngIf="showReasonsBox">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-20  reason-section">
              <h4 class="text-center"> <u>
                  {{(selectedStatus == 'pending') ? ('projects.labels.onHoldeReason'| translate):('projects.labels.rejectionReason'| translate)}}</u>
              </h4>
              <form [formGroup]="reasonsForm">
                <ng-container *ngIf="(selectedStatus === 'pending');else elseBlock">
                  <ng-container formArrayName="onHoldReasonsArr"
                    *ngFor="let item of reasonsForm['controls'].onHoldReasonsArr['controls']; let index=index;let lst=last">
                    <ng-container [formGroupName]="index">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                        <div class="form-check mb-2 mr-sm-2">
                          <div class="checkbox c-checkbox">
                            <label>
                              <input formControlName="selected" type="checkbox" class="ptr" value="1" name="check"
                                (click)="selectReason(item,$event)" />
                              <span class="fa fa-check"></span> {{item?.value?.text}}</label>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #elseBlock>
                  <ng-container formArrayName="rejectionReasonsArr"
                    *ngFor="let item of reasonsForm['controls'].rejectionReasonsArr['controls']; let index=index;let lst=last">
                    <ng-container [formGroupName]="index">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                        <div class="form-check mb-2 mr-sm-2">
                          <div class="checkbox c-checkbox">
                            <label>
                              <input formControlName="selected" type="checkbox" class="ptr" value="1" name="check"
                                (click)="selectReason(item,$event)" />
                              <span class="fa fa-check"></span> {{item?.value?.text}}</label>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-template>


                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-2"
                  *ngIf="reasonsForm?.value?.showOthersReason">
                  <textarea placeholder="Reason" formControlName="othersReason" class="form-control ml-1"
                    rows="3"></textarea>
                </div>
                <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  *ngIf="!reasonsForm?.value?.showOthersReason && showSelectAtLeastOneReasonMsg">
                  {{'projects.errorMessages.pleaseSelectOneReasonMsg'| translate}}</div>
                <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  *ngIf="reasonsForm?.value?.showOthersReason && reasonsForm.controls['othersReason']?.errors?.checkRequired && (reasonsForm.controls['othersReason']?.touched || submittedReasonFlag)">
                  {{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  mt-20  text-center">
                  <div class="form-group">
                    <button class="btn btn-success" [disabled]="disableButtonFlag" (click)="submitReason()">
                      <i *ngIf="submitSpinnerFlag"
                        class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.submit'| translate}}</button>
                    <button class="btn btn-danger ml-1" [disabled]="disableButtonFlag"
                      (click)="hideReasons()">{{'common.labels.cancel'| translate}}</button>
                  </div>
                </div>
              </form>
            </div>
          </ng-container> -->
        </div>
      </div>
    </div>
  </div>


  <div class="modal payment-approval-modal" bsModal #paymentApprovalStatusModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{'projects.labels.paymentApprovalDetails'| translate}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal"
            (click)="paymentApprovalStatusModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="approval-status-bar">
            <div class="progress" [ngClass]="(paymentApprovalHierarchyArr?.length > 1) ? '' : 'w-0'">
              <div class="progress-bar" [ngClass]="(paymentApprovalHierarchyArr?.length > 1 )  ? '' : 'w-0'">
                <ng-container *ngFor="let approval of paymentApprovalHierarchyArr; let srNo = index; let first = first">
                  <div class="progress-value {{statusKeyArr[approval?.status] | lowercase}}"
                    tooltip="{{('projects.labels.' + statusKeyArr[approval?.status] | translate) | titlecase}}"
                    placement="right" [ngStyle]="{'left' : 'calc(' + approval?.percent + '% - 15px)'}">

                    <span *ngIf="approval?.status == PO_APPROVAL_CONST.approved">
                      <i class="fa fa-check"></i>
                    </span>
                    <span *ngIf="approval?.status == PO_APPROVAL_CONST.autoapproved">
                      <i class="fa fa-check"></i>
                    </span>
                    <span *ngIf="approval?.status == PO_APPROVAL_CONST.pending">
                      <i class="fa fa-question"></i>
                    </span>
                    <span *ngIf="approval?.status == PO_APPROVAL_CONST.cancelled">
                      <i class="fa fa-ban"></i>
                    </span>
                    <span *ngIf="approval?.status == PO_APPROVAL_CONST.rejected">
                      <i class="fa fa-remove"></i>
                    </span>
                  </div>

                  <div class="approver-name" [ngStyle]="{'left' : 'calc(' + approval?.percent + '% - 5px)'}">
                    <div>{{ approval?.approverName }}</div>
                    <div *ngIf="approval?.approverRole">
                      <small>({{ approval?.approverRole }})</small>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-20"
            *ngIf="(! (purchaseOrderDetails?.paymentStatus || purchaseOrderDetails?.paymentStatus == '0') && (purchaseOrderDetails?.approverId==userInfo.id))">
            <div class="form-group">
              <label>
                <strong>
                  {{'projects.labels.paymentApprovalWaiting'| translate}}
                </strong>
              </label>
            </div>
            <div class="form-group">
              <button [disabled]="showPopUpLoadingFlag" class="btn btn-success" (click)="approvePayment()">
                <i *ngIf="!paymentRejectionFlag && showPopUpLoadingFlag"
                  class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.approve'| translate}}</button>
              <button [disabled]="showPopUpLoadingFlag" class="btn btn-danger ml-1"
                (click)="showReasonBox=!showReasonBox">{{'common.labels.reject'| translate}}</button>
            </div>
          </div>

          <div class="row" *ngIf="showReasonBox">
            <div class="col-md-2">
              <span class="pull-right">{{'common.labels.reason'| translate}}:</span></div>
            <div class="col-md-8">
              <textarea class="form-control ml-1" #reason="ngModel" [(ngModel)]="rejectionReason" rows="3"
                required></textarea>
              <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg"
                *ngIf="reason?.errors?.required && (reason.dirty || reason.touched || submittedReasonFlag)">
                {{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-20" *ngIf="showReasonBox">
            <div class="form-group">
              <button [disabled]="showPopUpLoadingFlag" class="btn btn-success" (click)="rejectPayment()">
                <i *ngIf="paymentRejectionFlag && showPopUpLoadingFlag"
                  class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.ok'| translate}}</button>
              <button [disabled]="showPopUpLoadingFlag" class="btn btn-danger ml-1"
                (click)="cancelPaymentRejection()">{{'common.labels.cancel'| translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" bsModal #rejectModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{'projects.labels.rejectionReason'| translate}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal" (click)="rejectModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-2">{{'projects.labels.reason'| translate}}:</div>
            <div class="col-8">
              <textarea disabled class="form-control" rows="3">{{paymentRejectionReason}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" bsModal #reasonsModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{((purchaseOrderDetails?.status===PO_APPROVAL_CONST.pending) || (purchaseOrderDetails?.status===PO_APPROVAL_CONST.generated)) ? ('projects.labels.pendingReasons'| translate):('projects.labels.rejectionReasons'| translate)}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal" (click)="reasonsModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <ng-container *ngFor="let reason of purchaseOrderDetails?.approver?.reasons;let srNo = index;">
              <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>{{srNo+1}}.</span>
                <span
                  *ngIf="((reason?.id != OTHER_REASONS.onhold)&&(reason?.id != OTHER_REASONS.rejection));else showOtherLabel">
                  {{ ((purchaseOrderDetails?.status===PO_APPROVAL_CONST.pending) || (purchaseOrderDetails?.status===PO_APPROVAL_CONST.generated)) ?('projects.reasons.onholdPO.' +
                    onHoldReasonsKeyArr[reason?.id] | translate) :('projects.reasons.rejectPO.' +
                    rejectionReasonsKeyArr[reason?.id] | translate) }}</span>
                <ng-template #showOtherLabel>
                  <span>{{reason?.text}}</span>
                </ng-template>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>