@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
    ::ng-deep ng-data-tables {
        table {
            tbody {
                tr {
                    td {
                        @media(min-width: 992px) and (max-width: 999999px) {
                            &:nth-child(1) {
                                width: 20%;
                            }
                            &:nth-child(2) {
                                width: 20%;
                            }
                            &:nth-child(3) {
                                width: 20%;
                            }
                            &:nth-child(4) {
                                width: 20%;
                            }
                            &:nth-child(5) {
                                width: 10%;
                            }
                        }                    
                    }
                }
            }
        }
    }
}
.mar-20{
    margin-bottom: 20px;
}

:host {
    .download-button{
        min-width:12px;
        top:1px;
        height:41px;
        .fa-download{
            top:-2px;
            font-size:15px;
        }
    }
}

.button-dropdown{
    width: auto;
    display: inline-block;
 
}

i.fa-download {
  margin: 0 !important;
}

.add-user-button {
  margin-right: 1rem;
}