.pagination-sm {
    float: right;
  }
.searchClear{
    margin-left: 55px;
}
.selectClass{
    width: 29% !important;
}

@media (min-width: 576px){
.form-inline .form-control{
width: 100% !important;
}
}

.list-settlement .range-picker .mydrp {
    width: 100% !important;
  }