#manage-invoice{
    .card .card-header{
        background-color: #eaeaea;
             
    }
    .card .card-header.collapsed:after {
        font-family: 'FontAwesome';
        content: "\f105";   
        float: right;
        background-color: #eaeaea;
    }
    .card .card-header:after {
        font-family: 'FontAwesome';
        content: "\f107";   
        float: right;
        background-color: transparent;
    }
    a {
        color: #656565;
    }
    a:hover {
        color: #656565;
    }
    .pr-10{
      padding-right: 10px;
    }
    
    .fa-trash{
        cursor:pointer;
      }
      .attachRemoveBtn em {
        margin: 0 auto;
        color: white !important;
        background-color: red;
        padding: 10px;
        border-radius: 4px;
      }
      .textElipses {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}
