.pull-right {
  text-align: right;
}
.pagination-sm {
  float: right;
}

.table-row{
  width: 100%;
}

.settle-advances{
  padding-left: 12px;
}

.mr-1 {
    margin-right: 0.25rem;
}
.list-advances .range-picker .mydrp {
  width: 100% !important;
}