<div class="password-verification ">
  <div id="pswd_info">
    <h5>{{'common.labels.passwordRequirements' | translate}}:</h5>
    <ul>
      <li id="{{item.key}}" [ngClass]="item.valid ? 'valid':'invalid'" *ngFor="let item of passwordInfoArr">
        <i class="fa f-15" [ngClass]="item.valid ? 'fa-check':'fa-times'" aria-hidden="true"></i>
        <span class="ml-1 f-14">{{'common.labels.' + item.normalMsg  | translate}}
          <strong>{{'common.labels.' + item.boldMsg | translate}}</strong>
        </span>
      </li>
      <!-- <li id="capital" [ngClass]="capitalLetterInvalidFlag? 'invalid':'valid'"><i class="fa f-15"
        [ngClass]="capitalLetterInvalidFlag? 'fa-times':'fa-check'" aria-hidden="true"></i>
      <span class="ml-1 f-14">{{'common.labels.atLeast' | translate}}
        <strong>{{'common.labels.oneCapitalLetter' | translate}}</strong></span> </li>
    <li id="number" [ngClass]="numberInvalidFlag? 'invalid':'valid'"><i class="fa f-15"
        [ngClass]="numberInvalidFlag? 'fa-times':'fa-check'" aria-hidden="true"></i>
      <span class="ml-1 f-14">
        {{'common.labels.atLeast' | translate}}
        <strong>{{'common.labels.oneNumber' | translate}}</strong></span></li>
    <li id="length" [ngClass]="lengthInvalidFlag ? 'invalid':'valid'"><i class="fa f-15"
        [ngClass]="lengthInvalidFlag? 'fa-times':'fa-check'" aria-hidden="true"></i>
      <span class="ml-1 f-14">
        {{'common.labels.beAtLeast' | translate}}
        <strong>{{'common.labels.eightCharacters' | translate}}</strong></span></li> -->
    </ul>
  </div>
</div>
