<div [formGroup]="formGroup">
  <div mat-dialog-title>
      <div class="title-position">
          <h3>Change Password</h3>
      </div>
      <div class="close-button-position">
          <button class="close-button" mat-dialog-close (click)="closePopup()">
              x
          </button>
      </div>
  </div>
  <mat-dialog-content>
      <div class="row">
          <div class="col-md-12">
              <mat-form-field class="col-md-12" >
              <input matInput [type]="showCurrentPassword ? 'text' : 'password'" class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
              placeholder="Current Password" aria-invalid="false" aria-required="false" formControlName="currentPassword" required='false'
              name="currentPassword">
              <i class="far fa-eye fa-2x" (mouseup)="hidePassword('current')" (mousedown)="showText('current')" matSuffix></i>
              <mat-error *ngIf="formGroup.get('currentPassword').invalid">
                  {{getErrorMessage(formGroup.get('currentPassword'), { required: 'Current Password is required' })}}
              </mat-error>
              </mat-form-field>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <mat-form-field class="col-md-12" >
            <input matInput [type]="showNewPassword ? 'text' : 'password'" class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="New Password" aria-invalid="false" aria-required="false" formControlName="newPassword" required='false'
            name="newPassword">
            <i class="far fa-eye fa-2x" (mouseup)="hidePassword('new')" (mousedown)="showText('new')" matSuffix></i>
            <mat-error *ngIf="formGroup.get('newPassword').invalid">
                {{getErrorMessage(formGroup.get('newPassword'), { required: 'New Password is required', pattern: 'Password does not meet requirements' })}}
            </mat-error>
            </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <mat-form-field class="col-md-12" >
            <input matInput [type]="showConfirmPassword ? 'text' : 'password'" class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Confirm New Password" aria-invalid="false" aria-required="false" formControlName="confirmNewPassword" required='false'
            name="confirmNewPassword">
            <i class="far fa-eye fa-2x" (mouseup)="hidePassword('newConfirm')" (mousedown)="showText('newConfirm')" matSuffix></i>
            <mat-error *ngIf="formGroup.get('confirmNewPassword').invalid">
                {{getErrorMessage(formGroup.get('confirmNewPassword'), { required: 'Confirm New Password is required', pattern: 'Password does not meet requirements' })}}
            </mat-error>
            </mat-form-field>
        </div>
      </div>
      <div class="col-md-12">
        <p class="password-rule-text">{{passwordRuleText}}</p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="buttons-class">
        <button class="dialog-button" id="cancel" mat-button mat-dialog-close (click)="closePopup()">Cancel</button>
        <button class="dialog-button primary-pink-color" mat-raised-button #saveButton (click)="updatePassword()">Save</button>
    </mat-dialog-actions>
  </div>