// import variables scss
@import "../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../assets/styles/mixins.style.scss";


#freelancer-activation {
  @include switch-field();
  @include activation-heading();
  @include json-block();
  @include upload-pictur-btn(150px);
}

@media (min-width:992px) {
  #freelancer-activation {
    .date-action-btns {
      position: relative;
      top: 35px;
    }

    .mt-50 {
      margin-top: 50px;
    }

  }
}

a:hover {
  color: white;
}

