.cm-btn {
    box-shadow: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;

    &.cm-btn-orange {
        background-color: #C75000;
    }

    &.cm-btn-gray {
        background-color: #5C6B70;
    }

    margin-left: 1rem;
  }
  
  .content-right {
    width: 100%;
  }
  
  .btn-container {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  .spacing-element {
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
  }

  #downloadSelect {
      width: 0;
      position: relative;
      left: 2.5rem;
  }

::ng-deep .doc-type-select mat-option { 
    font-size: 1.4rem !important;
    padding-left: 1rem;
    padding-right: 0;

    i {
        padding-right: .5rem;
    }
}

.form-checkbox {
    ::ng-deep .mat-checkbox-layout {
        margin-top: 0 !important;
    }
}

@media only screen and (min-width: 1024px) {
  .mb-vw{
      display: none;
  }
  .ds-vw {
      display: flex;
      justify-content: flex-end;
  }
}
@media only screen and (max-width: 1024px) {
  .mb-vw{
      display: block;
  }
  .ds-vw {
      display: none;
  }
}

.btn-mob-container {
  display: flex !important;
  -webkit-box-pack: end;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.cm-mob-btn {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}