<div id="passes-info">
  <div class="container-fluid">
    <div class="row no-mg">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="row col-lg-12 no-mg">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <form [formGroup]="passesFilterForm">
                  <div class="row mb-3">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                      <div class="row no-mg">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10">
                          <!-- <select class="form-control"  name="passNumber" formControlName="passNumber">
                                <option value="" [disabled]="true">{{'biddings.placeholder.pass'| translate}}</option>
                                <ng-container *ngFor="let item of passesDropdown">
                                  <option [value]="item.id">{{item?.passName}}</option>
                                </ng-container>
                              </select> -->
                          <ngx-select [items]="passDropDownlist" formControlName="passNumber"
                            placeholder=" {{'biddings.placeholder.pass'| translate}}">
                          </ngx-select>
                        </div>
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10">
                          <ngx-select [items]="PASSES_STATUS_CONST" formControlName="status"
                            placeholder=" {{'common.labels.status'| translate}}">
                          </ngx-select>
                          <!-- <select class="form-control"  name="currency" formControlName="status">
                            <option value="" [disabled]="true">{{'common.labels.status'| translate}}</option>
                            <ng-container *ngFor="let item of PASSES_STATUS_CONST">
                              <option [value]="item.id">{{item?.text}}</option>
                            </ng-container>
                          </select> -->
                        </div>
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10 d-flex">

                          <input class="form-control redcolor" type="text" formControlName="estimateRangeFrom"
                            placeholder="{{'biddings.placeholder.from'| translate}}"
                            title="{{'biddings.placeholder.from'| translate}}"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '');" />

                        </div>
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10">
                          <input class="form-control redcolor" type="text" formControlName="estimateRangeTo"
                            placeholder="{{'biddings.placeholder.to'| translate}}"
                            title="{{'biddings.placeholder.to'| translate}}"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '');" />
                        </div>
                      </div>
                      <div class="row no-mg">
                        <div id="date-picker-wrapper" class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 mb-10">
                          <my-date-range-picker class="range-picker" [options]="myDateRangePickerOptions"
                            name="mydaterange" formControlName="daterange"
                            placeholder="{{'biddings.placeholder.lastUpdatedRange'| translate}}"></my-date-range-picker>
                        </div>

                        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 mb-10 searchClear">
                          <button mat-button class="btn search-btn btn-primary mr-1" [disabled]="showLoadingFlg"
                            (click)="search()" type="button">
                            {{'common.labels.search'| translate}}</button>
                          <button mat-button class="btn clear-btn btn-primary" [disabled]="showLoadingFlg"
                            (click)="clear()" type="button"> {{'common.labels.clear'|
                            translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>

                <div>
                  <ng-container *ngIf="(passesList?.length == 0 && !showLoadingFlg)">
                    <div class="row mt-1">
                      <div class="col-md-12 text-center">
                        <p class="text-danger">{{'common.labels.recordNotFound' | translate}}</p>
                      </div>
                    </div>
                  </ng-container>
                  <div *ngIf="showTableLoadingFlg">
                    <app-loader class="col-md-12" [loading]="showLoadingFlg"></app-loader>
                  </div>
                  <div class="panel panel-primary" *ngIf="!showLoadingFlg">
                    <div class="passes-details">
                      <ng-container *ngFor="let passes of passesList">
                        <div class="items">
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                              <div class="row mb-2">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                                  <div class="row">
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                      <span>
                                        <strong>{{'biddings.placeholder.pass'| translate}}: </strong>
                                      </span>
                                      <span class="pass">
                                        {{ passes?.pass? (passes?.pass) : '-'}}</span>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                      <span *ngIf="passes?.createdFrom">
                                        <strong>{{'biddings.labels.createdFrom' | translate}}: </strong>
                                      </span>
                                      <span *ngIf="!passes?.createdFrom">
                                        <strong>Master</strong>
                                      </span>
                                      <span *ngIf="passes?.createdFrom" class="pass">
                                        {{ passes?.createdFrom? ( passes?.createdFrom) : '-'}}
                                      </span>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                      <span>
                                        <strong>{{'biddings.labels.lastUpdatedOn' | translate}}: </strong>
                                      </span>
                                      <span class="pass">
                                        {{ (passes?.daterange | dateFormat)? ( passes?.daterange | dateFormat): '-'}}
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center">
                                  <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-3">
                                      <div [ngClass]="passes?.status ==STATUS_CONST.draft ? 'draft' : 'published'"
                                        class="passes-status ">

                                        <span class="pass" title="{{'biddings.labels.status'|translate}}">

                                          {{(passes?.status==STATUS_CONST.draft)? ('dropDownLabels.draft' | translate |
                                          uppercase):('dropDownLabels.published'| translate | uppercase)}}

                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center"
                                      *ngIf="passes?.status==STATUS_CONST.published && passes?.approvalStatus">
                                      <div
                                        class="passes-status text-center ptr {{statusKeyObj[passes?.approvalStatus]}}"
                                        (click)="openApprovalModal(passes)"
                                        tooltip="{{'biddings.labels.projectCreationStatus'|translate}}">
                                        <span class="">
                                          {{ statusKeyObj[passes?.approvalStatus] | uppercase }}
                                        </span>
                                      </div>
                                      <span *ngIf="passes?.approvalStatus==projectApprovalStatusObj.rejected"><u
                                          class="ptr" (click)="openRejectionModal(passes?.rejectionReason)">{{'biddings.labels.rejectionReason'
                                          | translate}}</u></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div
                                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 action-items center display-inline-block">
                                  <!--For future use-->
                                  <!-- <div class="display-inline-flex mt-10"
                                    *ngIf="((passes?.status ==STATUS_CONST.draft) && passes?.allowToCreatePass)">
                                    <span
                                      (click)="navigateTo(BIDDING_ROUTER_LINKS_FULL_PATH?.bidAicp, true, passes, true)">
                                      <i class="fa fa-edit edit-icon"></i>{{'biddings.labels.edit' | translate}}
                                    </span>
                                  </div>
                                  <div class="display-inline-flex mt-10"
                                    *ngIf="((passes?.status == STATUS_CONST.published) || !passes?.allowToCreatePass)">
                                    <span
                                      (click)="navigateTo(BIDDING_ROUTER_LINKS_FULL_PATH?.bidAicp, true, passes, false)">
                                      <i class="fa fa-eye view-icon"></i>{{'common.labels.view' | translate}}
                                    </span>
                                  </div> -->
                                  <!--For future use-->
                                  <div class="display-inline-flex mt-10"
                                    [ngClass]="!passes?.allowToCreatePass ? 'ptr-disabled' : ''"
                                    *ngIf="(passes?.status ==STATUS_CONST.draft)">
                                    <span [ngClass]="!passes?.allowToCreatePass ? 'pointer-events-none' : ''"
                                      (click)="editPass(true, passes,passes?.allowToCreatePass)">
                                      <i class="fa fa-edit edit-icon"></i>{{'biddings.labels.edit' | translate}}
                                    </span>
                                  </div>
                                  <div class="display-inline-flex mt-10"
                                    *ngIf="(passes?.status == STATUS_CONST.published)">
                                    <span
                                      (click)="navigateTo(true, passes, false)">
                                      <i class="fa fa-eye view-icon"></i>{{'common.labels.view' | translate}}
                                    </span>
                                  </div>
                                  <div class="display-inline-flex mt-10"
                                    [ngClass]="passes?.status ==STATUS_CONST.draft ? 'ptr-disabled' : ''">
                                    <a class="download-aicp" *ngIf="passes?.aicpFileUrl" [href]="passes?.aicpFileUrl"
                                      [download]="passes?.aicpFileUrl">
                                      <span [ngClass]="passes?.status ==STATUS_CONST.draft ? 'pointer-events-none' : ''"
                                        class="">
                                        <i class="fa fa-download download-icon"></i>{{'biddings.labels.download' |
                                        translate}}
                                      </span>
                                    </a>
                                    <span *ngIf="!passes?.aicpFileUrl"
                                      [ngClass]="passes?.status ==STATUS_CONST.draft ? 'pointer-events-none' : ''"
                                      class="">
                                      <i class="fa fa-download download-icon"></i>{{'biddings.labels.download' |
                                      translate}}
                                    </span>

                                  </div>
                                  <div class="display-inline-flex mt-10"
                                    [ngClass]="((passes?.status == STATUS_CONST.draft) || !passes?.allowToCreatePass) ? 'ptr-disabled' : ''">
                                    <span (click)="createPass(passes)"
                                      [ngClass]="((passes?.status == STATUS_CONST.draft) || !passes?.allowToCreatePass) ? 'pointer-events-none' : ''">
                                      <i class="fa fa-edit edit-icon"></i>{{'biddings.labels.createPass' | translate}}
                                    </span>
                                  </div>
                                  <div class="display-inline-flex mt-10"
                                    *ngIf="passes?.convertToProject && !passes?.approvalStatus">
                                    <span (click)="openConvertToProjectPopUp(passes)">
                                      {{'biddings.labels.convertToProject' | translate}}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                              <div class="approval-details text-center mt-10">
                                <span>
                                  <strong>{{'biddings.labels.estimate' | translate}}</strong>
                                </span>
                              </div>
                              <div class="amount-details center">
                                <div class="details">
                                  <div class="currency">
                                    {{ passes?.currency}}
                                  </div>
                                  <div class="amount">
                                    <strong>{{ passes?.currencyAmount | twoDecimal | absolute | numberFormat}}</strong>
                                  </div>
                                </div>
                              </div>
                              <div class="approval-details text-center mt-10"
                                *ngIf="passes?.approvalStatus && (passes?.status===STATUS_CONST.published)">
                                <div *ngIf="passes?.approvalStatus == projectApprovalStatusObj.pending">
                                  <span>
                                    <strong>{{'biddings.labels.nextApprover' | translate}}</strong>
                                  </span>
                                </div>
                                <div *ngIf="passes?.approvalStatus== projectApprovalStatusObj.approved">
                                  <span>
                                    <strong>{{'biddings.labels.finalApprovedBy' | translate}}</strong>
                                  </span>
                                </div>
                                <div *ngIf="passes?.approvalStatus == projectApprovalStatusObj.rejected">
                                  <span>
                                    <strong>{{'biddings.labels.rejectedBy' | translate}}</strong>
                                  </span>
                                </div>
                                <div> {{ passes?.approverName }}</div>
                                <div>
                                  <small>({{ passes?.approverRole }})</small>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                    </div>
                  </div>
                </div>
                <div class="custom-pagination" *ngIf="totalItems>itemsPerPage">
                  <pagination class="pagination-sm" [(ngModel)]="currentPage" [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage" [firstText]="'common.labels.first' | translate"
                    [lastText]="'common.labels.last' | translate" [previousText]="'common.labels.previous' | translate"
                    [nextText]="'common.labels.next' | translate" [maxSize]="maxSize" [boundaryLinks]="true"
                    [rotate]="false" (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
                  </pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" bsModal #approvalStatusModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{'biddings.labels.projectApprovalDetails' | translate}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal"
            (click)="approvalStatusModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="approval-status-bar">
            <div class="progress" [ngClass]="(approvalHierarchyArr?.length > 1) ? '' : 'w-0'">
              <div class="progress-bar" [ngClass]="(approvalHierarchyArr?.length > 1 )  ? '' : 'w-0'">
                <ng-container *ngFor="let approval of approvalHierarchyArr; let srNo = index; let first = first">
                  <div class="progress-value {{statusKeyObj[approval?.status] | lowercase}}"
                    [ngSwitch]="approval?.status"
                    tooltip="{{('biddings.labels.' + statusKeyObj[approval?.status] | translate) | titlecase}}"
                    placement="right" [ngStyle]="{'left' : 'calc(' + approval?.percent + '% - 15px)'}">

                    <span *ngSwitchCase="projectApprovalStatusObj.approved">
                      <i class="fa fa-check"></i>
                    </span>
                    <span *ngSwitchCase="projectApprovalStatusObj.pending">
                      <i class="fa fa-question"></i>
                    </span>
                    <span *ngSwitchCase="projectApprovalStatusObj.rejected">
                      <i class="fa fa-remove"></i>
                    </span>
                  </div>

                  <div class="approver-name" [ngStyle]="{'left' : 'calc(' + approval?.percent + '%'}">
                    <div>{{ approval?.i18n?.name }}</div>
                    <div *ngIf="approval?.approverRole">
                      <small>({{ approval?.approverRoleName }})</small>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" bsModal #rejectModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{'biddings.labels.rejectionReason'| translate}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal" (click)="rejectModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-2">{{'biddings.labels.reason'| translate}}:</div>
            <div class="col-8">
              <textarea disabled class="form-control" rows="3">{{rejectionReason}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
