<div class="feature-setup-wrap vendor-mapper-wrap">
    <div class="vendor-mapper-card-wrap">
    <form [formGroup]="roleListHeaderFrom" novalidate>
        <!--<h2 class="heading-text">Feature Setup for Client Admin</h2>
        <div class="assign-menu-text">Assign Menu</div>-->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Select Project*" formControlName="project" (selectionChange)="onProjectChange($event)">
                    <mat-option *ngFor="let project of projects" [value]="project">
                        {{ project.projectName }}
                    </mat-option>
                </mat-select>
                <mat-error i18n *ngIf="roleListHeaderFrom.controls['project'].hasError('required') && roleListHeaderFrom.controls['project'].touched">
                    Project is <b>required</b>.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Select DocType*" formControlName="docType" (selectionChange)="onDocTypeChange($event)">
                    <mat-option *ngFor="let dt of docTypes" [value]="dt">
                        {{ dt.name }}
                    </mat-option>
                </mat-select>
                <mat-error i18n *ngIf="roleListHeaderFrom.controls['docType'].hasError('required') && roleListHeaderFrom.controls['docType'].touched">
                    DocType is <b>required</b>.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="vendor-mapping-box-wrap col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 list-col">
                    <div class="inner">
                        <div i18n class="col-heading">Accessible Form Element</div>
                        <div class="listing"
                        pDroppable="headerUsers" 
                        (onDrop)="drop($event)">
                            <ul>
                                <li *ngFor="let item of roleListHeaderFrom.controls['accessibleFormEle']['controls']; let i = index" [class.active]="selectedItem == item"
                                pDraggable="accessibleUsers"
                                (onDragStart)="dragStart(item, i, 'left')" (onDragEnd)="dragEnd($event)"
                                    (click)="onSelectItem(item, i, 'left')">
                                    <div [formGroup]="item">
                                        <input type="hidden" formControlName="_id" /> {{item.controls.name.value}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1 buttons-col">
                    <div class="inner">
                        <button type="button" (click)="moveUp()"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button type="button" (click)="moveRight()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        <button type="button" (click)="moveAllRight()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                        <button type="button" (click)="moveLeft()"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                        <button type="button" (click)="moveAllLeft()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
                        <button type="button" (click)="moveDown()"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 list-col">
                    <div class="inner">
                        <div i18n class="col-heading">Header Element</div>
                        <div class="listing"
                        pDroppable="accessibleUsers" 
                        (onDrop)="drop($event)">
                            <ul>
                                <li *ngFor="let item of roleListHeaderFrom.controls['assignedHeaderEle']['controls']; let i = index" [class.active]="selectedItem == item"
                                pDraggable="headerUsers"
                                (onDragStart)="dragStart(item, i, 'right')" (onDragEnd)="dragEnd($event)"
                                    (click)="onSelectItem(item, i, 'right')">
                                    <!-- <span>{{item}}</span> -->
                                    <div [formGroup]="item">
                                        <input type="hidden" formControlName="_id" /> {{item.controls.name.value}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="action-wrap">
            <div class="text-right">
                <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="gotoClientVendorSetup()">Cancel</button>
               <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="save(roleListHeaderFrom)">Assign</button>
            </div>
        </div>
    </form>
    </div>
</div>