.buttons-class {
    float: right;
}

.title-position {
  font-family: "Work Sans" !important;
  float:left;
  margin-right:5px;
}

.mat-dialog-actions {
  padding: 2.5rem 0rem !important;
}

.close-button-position {
  text-align: right;
  & > .close-button {
    line-height: normal;
    border: none;
    background: white;
  }
}

.password-rule-text {
  color: red;
  margin: 2rem 0rem;
  text-align: justify;
  font-size:1.2rem;
  font-weight: bold;
}