<div class="section-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section [heading]="heading">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>          
        <div class="clearfix"></div>
    </div>

    <div class="middle-section client-setup-tabs-wrap">
        <mat-card class="client-setup-tabs-card">
          <div class="client-setup-tabs">
            <ul>
              <li *ngFor="let tab of tabs; let i = index" [class.current-tab]="currentTab == tab.key" [class.hide-tab]="tab.visible == true" (click)="onSelectTab(tab.key)">
                {{tab.name}}
              </li>
            
            </ul>
          </div>
          <div class="client-setup-tabs-content">
             <div class="information-tab" *ngIf="currentTab == 'information-tab'">
              <app-client-role-setup-information-tab [organizationId]="organizationId" [mode]="mode"></app-client-role-setup-information-tab>
            </div>
            <div class="role-menu-assignment-tab" *ngIf="currentTab == 'role-menu-assignment-tab'">
              <app-client-role-menu-assignment-tab [mode]="mode" [roleId]="roleId"></app-client-role-menu-assignment-tab>
            </div>
            <div class="role-project-assignment-tab" *ngIf="currentTab == 'role-project-assignment-tab'">
              <app-client-role-project-assignment-tab [mode]="mode" [organizationId]="organizationId" [roleId]="roleId"></app-client-role-project-assignment-tab>
            </div>
            <!--<div class="role-shared-mailbox-assignment-tab" *ngIf="currentTab == 'role-shared-mailbox-assignment-tab'">
              <app-client-role-shared-mailbox-assignment-tab [mode]="mode" [organizationId]="organizationId" [roleId]="roleId"></app-client-role-shared-mailbox-assignment-tab>
            </div>-->
            
            <div class="role-formtype-access-tab" *ngIf="currentTab == 'role-formtype-access-tab'">
              <app-client-role-formtype-access-tab [mode]="mode" [roleId]="roleId" [organizationId]="organizationId"></app-client-role-formtype-access-tab>
            </div>
            <div class="app-client-role-list-header-tab" *ngIf="currentTab== 'role-list-header'">
              <app-client-role-list-header-tab  [roleId]="roleId" [organizationId]="organizationId"></app-client-role-list-header-tab>
            </div>
          </div>
        </mat-card>
    </div>
</div>