.dropdown-currency {
    min-width: 4.5rem !important;
    transform: scale(1) translateY(1rem) !important;
}

.select-prefix.no-display-arrow
  mat-select
  .mat-select-trigger
  .mat-select-arrow-wrapper
  .mat-select-arrow::before {
  display: none;
}

.select-prefix.no-display-arrow mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
    left: -1rem;
}