<div class="col-md-12 form-content" [formGroup]="formGroup">
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-12 textarea">
          <textarea matInput placeholder="Clause" formControlName="inputClause" aria-invalid="false"
            aria-required="false"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6" id="type-div">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Type" formControlName="inputType">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-12 mat-form-field-has-prefix">
          <div (click)="focusSelect()">
            <input matInput
              class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored required"
              placeholder="Value" required='false' aria-invalid="false" aria-required="false"
              formControlName="inputValue" name="value">
          </div>
          <span class="select-prefix" [ngClass]="{'no-display-arrow' : (formGroup.get('currencyType').value &&
                                                formGroup.get('currencyType').value !== '')}" style="font-size: 1.6rem"
            matPrefix>
            <mat-select disableOptionCentering panelClass="select-dropdown-class" #currencyDropDown
              formControlName="currencyType" (selectionChange)="selectedCurrency()" panelClass="dropdown-currency">
              <mat-option *ngFor="let cur of arrayCurrencies" [value]="cur.code" required='false' name="currencyType"
                ngDefaultControl>
                {{cur.symbol}}
              </mat-option>
            </mat-select>
            &nbsp;
          </span>
          <mat-error *ngIf="formGroup.get('currencyType').invalid || formGroup.get('inputValue').invalid">
            {{getErrorMessage(formGroup.get('currencyType').invalid ? formGroup.get('currencyType') :
                              formGroup.get('inputValue'))}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Reference No." formControlName="inputReferenceNo">
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12 content-right btn-container spacing-element">
    <button color="primary" class="cm-btn" id="cancel" (click) = "cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-btn primary-pink-color" (click) = "saveTermination()">
      SAVE AND CONTINUE
    </button>
  </div> -->

  <div class="content-right btn-container ds-vw">
    <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-btn primary-pink-color" (click)="saveTermination()">
      SAVE AND CONTINUE
    </button>
  </div>

  <div class="content-right btn-mob-container">
    <button color="primary" class="cm-mob-btn mb-vw" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-mob-btn mb-vw primary-pink-color" (click)="saveTermination()">
      SAVE AND CONTINUE
    </button>
  </div>
</div>