<ng-container *ngIf="!renderPage">
  <app-loader class="col-md-12" [loading]="!renderPage"></app-loader>
</ng-container>
<ng-container *ngIf="renderPage">
<div class="add-po-advance">
  <div class="panel panel-primary">
    <div class="panel-body">
      <form [formGroup]="poAdvanceForm" novalidate>
        <div class="col-lg-12 col-md-12 col-lg-12 col-sm-12 col-sm-12">
          <div class="form-group ng-star-inserted">
            <h5 class="text-dark mt-1">
              <strong *ngIf="!advancePOId">{{'projects.labels.addAdvancePurchaseOrder'| translate}}</strong>
              <strong *ngIf="advancePOId">{{'projects.labels.editAdvancePurchaseOrder'| translate}}</strong>
              <button class="btn btn-primary pull-right" (click)="navigateTo()"> {{'common.labels.backToList' |
                translate}}</button>
            </h5>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>
                <strong>
                  <u>{{'projects.labels.supplierType' | translate}}</u><span class="text-danger"> *</span>
                </strong>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>
                <label class="ptr">
                  <input type="radio" class="ptr" [value]="0" (change)="changeSupplier(0, true)" formControlName="supplierType"
                    selected="true">
                  {{'common.labels.freelancer' | translate}}</label>
              </span>
              <span class="ml-5">
                <label class="ptr">
                  <input type="radio" class="ptr" [value]="1" (change)="changeSupplier(1, true)" formControlName="supplierType">
                  {{'common.labels.vendor' | translate}}</label>
              </span>
              <span class="ml-5">
                <label class="ptr">
                  <input type="radio" class="ptr" [value]="2" (change)="changeSupplier(2, true)" formControlName="supplierType">
                  {{'projects.labels.productionCoordinator' | translate}}</label>
              </span>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-12">
              <label>
                <strong>
                  <u>{{'projects.labels.services' | translate}}</u>
                </strong>
              </label>
            </div>
          </div>
          <div *ngIf="poAdvanceForm.controls['supplierType'].value == ADVANCE_PO_FOR.freelancer || poAdvanceForm.controls['supplierType'].value == ADVANCE_PO_FOR.vendor">
            <div class="row">
              <div class="col-md-4 no-mg">
                <div class="form-group">
                  <label class="col-md-12 col-xs-12 col-sm-8">{{'projects.labels.BudgetLine' | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-md-12 col-xs-12 col-sm-8 mt-1">
                    <div style="width:100%;">
                      <ngx-select [items]="budgetLineList"  (remove)="removedBudgetLine()" [allowClear] = "true" (ngModelChange)="setDropdown($event, true)" formControlName="budgetline"
                        placeholder="{{'common.labels.select'| translate}}"></ngx-select>
                      <div class="bb-error" *ngIf="poAdvanceForm.controls['budgetline']?.errors?.checkRequired && (poAdvanceForm.controls['budgetline'].touched || submitAdvancePOForm)">{{'pages.errorMessages.fieldRequired'|
                        translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 no-mg">
                <div class="form-group">
                  <label class="col-md-12 col-xs-12 col-sm-8">{{'common.labels.description' | translate}}
                    <span class="text-danger">*</span>
                  </label>
                  <div class="col-md-12 col-xs-12 col-sm-8 mt-1">
                    <div style="width:100%;">
                      <textarea rows="5" formControlName="description" class="form-control"></textarea>
                      <div class="bb-error" *ngIf="poAdvanceForm.controls['description']?.errors?.checkRequired && (poAdvanceForm.controls['description'].touched || submitAdvancePOForm)">{{'pages.errorMessages.fieldRequired'|
                        translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.productionCoordinator">
            <div class="row mt-1">
              <div class="col-md-12">
                <button class="btn btn-primary ng-invalid" (click)="addService()">+ {{'common.labels.addService'|
                  translate}}</button>
                <div class="bb-error" *ngIf="tabledata.length == 0 && submitAdvancePOForm">{{'common.errorMessages.budgetline'|
                  translate}}
                </div>
              </div>
            </div>
            <div class="row mt-3" *ngIf="showtable && tabledata.length>0">
              <div class="col-md-9">
                <div class="form-group col-md-11">
                  <div class="row mt-1">

                    <table class="table table-bordered text-center service-table">
                      <thead>
                        <tr>
                          <th>{{'projects.labels.BudgetLine' | translate}}</th>
                          <th>{{'projects.labels.itemDescription' | translate}}</th>
                          <th>{{'common.labels.amount' | translate}}</th>
                          <th>{{'common.labels.action'| translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of tabledata;let i = index;">
                          <td>{{budgetLineName ? budgetLineName[item.budgetline] : ''}}</td>
                          <td>{{item.description}}</td>
                          <td>{{item.amount | twoDecimal}}</td>
                          <td>
                            <i class="fa fa-pencil pencil-icon ptr" data-toggle="tooltip" (click)="editBudgetLine(item,i)"
                              data-placement="top" title="{{'common.labels.edit' | translate}}"></i>
                            <i class="fa fa-trash ml-1 ptr" *ngIf="showtable && tabledata.length > 1" (click)="deleteRecord(i)" data-toggle="tooltip"
                              data-placement="top" title="{{'common.labels.delete' | translate}}"></i>
                          </td>

                        </tr>
                      </tbody>
                    </table>


                  </div>
                  <span>{{currency}}</span>

                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label>
                <strong>
                  <u>{{'projects.labels.poAmt' | translate}}</u>
                </strong>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" *ngIf="poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.vendor || poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.freelancer">
              <label>{{'common.labels.amount' | translate}}
                <span class="text-danger">*</span>
              </label>
              <input class="form-control" (change) = "checkAmount();" oninput="this.value = this.value.replace(/[^0-9.]/g,'');" formControlName="amount"
                type="text">
              <div class="bb-error" *ngIf="poAdvanceForm.controls['amount']?.errors?.checkRequired && (poAdvanceForm.controls['amount'].touched || submitAdvancePOForm)">{{'pages.errorMessages.fieldRequired'|
                translate}}</div>
                <div class="bb-error" *ngIf="!poAdvanceForm.controls['amount']?.errors?.checkRequired && poAdvanceForm.controls['amount']?.errors?.checkDecimal && (poAdvanceForm.controls['amount'].touched || submitAdvancePOForm) && poAdvanceForm.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'|
                  translate}}</div>
            </div>
            <div class="col-md-2" *ngIf="poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.productionCoordinator">
              <label>{{'common.labels.amount' | translate}}</label>
              <div> {{totalAmount | twoDecimal}}
                <span>MXN</span>
                <!-- <span>{{defaultCurrency.name}}</span> -->
              </div>

            </div>

            <div class="col-md-1" *ngIf="poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.vendor || poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.freelancer">
              <label class="col-md-12 col-xs-12 col-sm-8 mt-1">
                <span style="color: white">.</span>
              </label>
              <span>MXN</span>
              <!-- <span>{{defaultCurrency.name}}</span> -->
            </div>
            <div class="col-md-3">
              <label>{{'projects.labels.paymentDate' | translate}}
                  <span class="text-danger">*</span></label>
              <my-date-picker class="bbdate" placeholder="{{'common.labels.datePickerPlaceholder' | translate}}" formControlName="paymentDate" [options]="datePickerOptions"></my-date-picker>
              <div class="bb-error" *ngIf="poAdvanceForm.controls['paymentDate']?.errors?.checkRequired && (poAdvanceForm.controls['paymentDate'].touched || submitAdvancePOForm)">{{'pages.errorMessages.fieldRequired'|
                translate}}</div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label>
                <strong>
                  <u>{{'projects.labels.supplier' | translate}}</u>
                </strong>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" *ngIf="poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.freelancer || poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.productionCoordinator">
              <label>{{'common.labels.freelancer' | translate}}
                <span class="text-danger">*</span>
              </label>
              <ngx-select [items]="freelancersList"  [allowClear] = "true" (select)="setMode($event,true)" formControlName="freelancerId"
                placeholder="{{'common.labels.select'| translate}}"></ngx-select>
              <div class="bb-error" *ngIf="poAdvanceForm.controls['freelancerId']?.errors?.checkRequired && (poAdvanceForm.controls['freelancerId'].touched || submitAdvancePOForm)">{{'pages.errorMessages.fieldRequired'|
                translate}}</div>
              <!-- <div class="text-danger col-md-12 no-mg" *ngIf="incompleteProfileDetailsFlag">{{'actors.errorMessages.incompleteProfile'|
                    translate}}</div> -->
            </div>
            <div class="col-md-4" *ngIf="poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.vendor">
              <label>{{'common.labels.vendor' | translate}}
                <span class="text-danger">*</span>
              </label>
              <ngx-select [items]="poVendorDropdown"  [allowClear] = "true" (select)="setMode($event)" formControlName="vendorId" placeholder="{{'common.labels.select'| translate}}"></ngx-select>
              <div class="bb-error" *ngIf="poAdvanceForm.controls['vendorId']?.errors?.checkRequired && (poAdvanceForm.controls['vendorId'].touched || submitAdvancePOForm)">{{'pages.errorMessages.fieldRequired'|
                translate}}</div>
                <!-- <div class="text-danger col-md-12 no-mg" *ngIf="incompleteProfileDetailsFlag">{{'actors.errorMessages.incompleteProfile'|
                    translate}}</div> -->
            </div>
            <div class="col-md-4">
              <label>{{'common.labels.mode' | translate}}
                <span class="text-danger">*</span>
              </label>
              <ngx-select [items]="mode"  [allowClear] = "true" formControlName="modeOfOperation" placeholder="{{'common.labels.select'| translate}}"></ngx-select>
              <div class="bb-error" *ngIf="poAdvanceForm.controls['modeOfOperation']?.errors?.checkRequired && (poAdvanceForm.controls['modeOfOperation'].touched || submitAdvancePOForm)">{{'pages.errorMessages.fieldRequired'|
                translate}}</div>
            </div>
          </div>
          <div class="row mt-3" *ngIf="poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.freelancer || poAdvanceForm.controls['supplierType'].value==ADVANCE_PO_FOR.productionCoordinator">
            <div class="col-md-12">
              <ng-container *ngIf="!thirdPartyVendorDetails">
                <p>{{'projects.labels.thirdPartyPaidNo' | translate}}</p>
                <p>{{'projects.labels.paidVia' | translate}}: {{'common.labels.na' | translate}}</p>
              </ng-container>
              <ng-container *ngIf="thirdPartyVendorDetails">
                <p>{{'projects.labels.thirdPartyPaidYes' | translate}}</p>
                <p>{{'projects.labels.paidVia' | translate}}:
                   {{thirdPartyVendorDetails}}</p>
              </ng-container>
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <button (click)="saveAdvancePO()" [disabled]="buttonDisable" class="btn btn-success" value="Save PO"><i *ngIf="spinnerFlag"
          class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'|
        translate}} PO</button>
      <button (click)="navigateTo()" class="btn btn-danger ml-1" value="Cancel">{{'common.labels.cancel' | translate}}</button>
    </div>
  </div>
</div>

<div class="modal" bsModal #addServiceModal="bs-modal" (onShow) = "checkModalOpen(true)" (onHide) = "checkModalOpen(false)">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <p class="modal-title">
          <strong *ngIf="!showUpdateButton">{{'common.labels.addService'| translate}}</strong>
          <strong *ngIf="showUpdateButton">{{'common.labels.editService'| translate}}</strong>
        </p>
        <button type="button" class="close ptr" data-dismiss="modal" (click)="addServiceModal.hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="productionCoordinatorForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group col-md-12">
                <div class="row">
                  <div class="col-md-6 no-mg">
                    <div class="form-group">
                      <label class="col-md-12 col-xs-12 col-sm-8">{{'projects.labels.BudgetLine' | translate}}
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-md-12 col-xs-12 col-sm-8 mt-1">
                        <div style="width:100%;">
                          <ngx-select [items]="budgetLineList"  [allowClear] = "true" placeholder="{{'common.labels.select'| translate}}" formControlName="budgetline"></ngx-select>
                          <div class="bb-error" *ngIf="productionCoordinatorForm.controls['budgetline']?.errors?.checkRequired && (productionCoordinatorForm.controls['budgetline'].touched || submitAdvancePOService)">{{'pages.errorMessages.fieldRequired'|
                            translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 no-mg">
                    <div class="form-group">
                      <div class="row no-mg">
                        <div class="col-md-9">
                          <label>{{'common.labels.amount' | translate}}
                            <span style="color:red;">*</span>
                          </label>
                          <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');" (change) = "checkAmount();" formControlName="amount" type="text">
                          <div class="bb-error" *ngIf="productionCoordinatorForm.controls['amount']?.errors?.checkRequired && (productionCoordinatorForm.controls['amount'].touched || submitAdvancePOService)">{{'pages.errorMessages.fieldRequired'|
                            translate}}</div>
                          <div class="bb-error" *ngIf="!productionCoordinatorForm.controls['amount']?.errors?.checkRequired && productionCoordinatorForm.controls['amount']?.errors?.checkDecimal && (productionCoordinatorForm.controls['amount'].touched || submitAdvancePOService) && productionCoordinatorForm.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'|
                            translate}}</div>
                        </div>
                        <div class="col-md-3">
                          <label class="col-md-12 col-xs-12 col-sm-8 mt-1">
                            <span style="color: white">.</span>
                          </label>
                          <!-- <span>{{defaultCurrency.name}}</span> -->
                          <span>MXN</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10 no-mg">
                    <div class="form-group">
                      <label class="col-md-12 col-xs-12 col-sm-8">{{'common.labels.description' | translate}}
                        <span style="color:red;">*</span>
                      </label>
                      <div class="col-md-12 col-xs-12 col-sm-8 mt-1">
                        <div style="width:100%;">
                          <textarea rows="5" class="form-control" formControlName="description"></textarea>
                          <div class="bb-error" *ngIf="productionCoordinatorForm.controls['description']?.errors?.checkRequired && (productionCoordinatorForm.controls['description'].touched || submitAdvancePOService)">{{'pages.errorMessages.fieldRequired'|
                            translate}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-2 col-xs-2 col-sm-2">
                    <div style="width:100%;">

                      <button (click)="productionCooordinatorPOAdd()" [disabled]="disableAddButton" *ngIf="!showUpdateButton"
                        class="btn add-btn btn-primary">
                        {{'common.labels.add'| translate}} </button>
                      <button (click)="productionCooordinatorPOAdd()" [disabled]="disableAddButton" *ngIf="showUpdateButton"
                        class="btn add-btn btn-primary">
                        {{'common.labels.update'| translate}} </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</ng-container>
