<div class="section-wrap">
    <div class="top-section row-10">
        <div class="col-xs-12 group-add-edit-nav">
            <div class="inner" (click)="gotoGroups()">
                <i class="fa fa-angle-left"></i>
                <span *ngIf="selectedGroup == ''">Add Group</span>
                <span *ngIf="selectedGroup != ''">{{selectedGroup.groupName}}</span>
            </div>
        </div>
        <div class="clearfix"></div>        
    </div>

    <form [formGroup]="addGroupsForm" novalidate>         
        <div class="middle-section">        
            <div class="col-xs-12 col-sm-12 padding-left-0 padding-right-0">
                <div class="md-card-col col-xs-12 col-1">
                    <mat-card>
                        <div class="md-card-inner">
                            <div class="form-wrap row">
                                <div class="col-sm-6 col-xs-12 cols">
                                    <mat-form-field class="full-width-input-wrap">
                                        <input matInput placeholder="Enter Group Name" formControlName="groupName">
                                        <mat-error *ngIf="addGroupsForm.controls['groupName'].hasError('required')">
                                            Group Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-6 col-xs-12 cols">
                                    <div class="full-width-input-wrap select-box-wrap" formGroupName="facility">
                                        <mat-select placeholder="Select Facility" formControlName="facilityId">
                                            <mat-option *ngFor="let facility of facilities" [value]="facility.facilityId" >
                                                {{ facility.facilityName }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="this.addGroupsForm.get('facility').get('facilityId').hasError('required') && this.addGroupsForm.get('facility').get('facilityId').touched">
                                            Facility is <strong>required</strong>
                                        </mat-error>
                                    </div> 
                                </div>
                                <div class="col-sm-6 col-xs-12 cols">
                                    <mat-form-field class="full-width-input-wrap">
                                        <input matInput placeholder="Enter Number of Jobs Per Day" formControlName="numberOfJobsPerDay">
                                        <mat-error *ngIf="addGroupsForm.controls['numberOfJobsPerDay'].hasError('required')">
                                            No of jobs is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="addGroupsForm.controls['numberOfJobsPerDay'].hasError('pattern')">
                                            Please enter valid number of jobs
                                        </mat-error>
                                         <mat-error *ngIf="addGroupsForm.controls['numberOfJobsPerDay'].hasError('min')">
                                            Minimum number of jobs per day should be <strong>1</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 col-xs-12 cols col-second">
                                    <div class="full-width-input-wrap select-box-wrap">
                                        <mat-select placeholder="Select Product" formControlName="groupProducts" multiple>
                                            <mat-option *ngFor="let product of products" [value]="product.productId" selected="1 == 1">
                                                {{ product.productName }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="addGroupsForm.controls['groupProducts'].hasError('required') && addGroupsForm.controls['groupProducts'].touched">
                                            Products Name is <strong>required</strong>
                                        </mat-error>
                                    </div>  
                                </div>
                                <div class="col-sm-6 col-xs-12 cols">
                                    <mat-form-field class="full-width-input-wrap">
                                        <input matInput placeholder="Enter Total Job Price Per User Per Day" formControlName="jobPricePerUserPerDay">
                                        <mat-error *ngIf="addGroupsForm.controls['jobPricePerUserPerDay'].hasError('required')">
                                            Total job price is <strong>required</strong>
                                        </mat-error>
                                         <mat-error *ngIf="addGroupsForm.controls['jobPricePerUserPerDay'].hasError('pattern')">
                                            Please enter valid total job price
                                        </mat-error>
                                         <mat-error *ngIf="addGroupsForm.controls['jobPricePerUserPerDay'].hasError('min')">
                                            Minimum total job price should be <strong>1</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div><!--.form-wrap-->                        
                        </div>
                    </mat-card>
                </div>
                <div class="md-card-col col-xs-12 col-sm-6 col-2">
                    <mat-card>
                            <div class="md-card-inner">
                                <div class="form-wrap row">
                                    <mat-card-title>
                                        <div class="col-sm-8 col-xs-8 card_head text-left"> Users ({{_users.length}})</div>
                                        <div class="col-sm-4 col-xs-4 text-right card_head blue_text link" (click)="addUserPopup('user')" *ngIf="!disabled">ADD</div>
                                    </mat-card-title>
                                    <mat-card-content class="users-manager-cards-wrap">
                                        <mat-list>
                                            <mat-list-item *ngFor="let user of addGroupsForm.controls['users']['controls']; let i = index">
                                                <div class="list-inner" [formGroup]="user">
                                                    <span>{{user.controls.userName.value}}</span>
                                                    <input type="hidden" formControlName="userName">
                                                    <input type="hidden" formControlName="userId">
                                                    <i class="material-icons remove-item" (click)="removeUser(i)" *ngIf="!disabled">close</i> 
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-card-content>
                                </div>
                            </div>
                    </mat-card>
                </div>
                <div class="md-card-col col-xs-12 col-sm-6 col-3">
                    <mat-card>
                        <div class="md-card-inner">
                            <div class="form-wrap row">
                                <mat-card-title>
                                    <div class="col-sm-8 col-xs-8 card_head text-left"> Approver Manager ({{_managers.length}})</div>
                                    <div class="col-sm-4 col-xs-4 text-right card_head blue_text link" (click)="addUserPopup('manager')" *ngIf="!disabled">ADD</div>
                                </mat-card-title>
                                <mat-card-content class="users-manager-cards-wrap">
                                    <mat-list>
                                        <mat-list-item *ngFor="let manager of addGroupsForm.controls['approvalManagers']['controls']; let i = index">
                                            <div class="list-inner" [formGroup]="manager">
                                                <span>{{manager.controls.userName.value}}</span>
                                                <input type="hidden" formControlName="userName">
                                                <input type="hidden" formControlName="userId">
                                                <i class="material-icons remove-item" (click)="removeManager(i)" *ngIf="!disabled">close</i> 
                                            </div>
                                        </mat-list-item>                                
                                    </mat-list>
                                </mat-card-content>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="clearfix"></div>
            </div>                  
        </div>

        <div class="action-wrap">
            <div class="text-right">
                <button type="button" mat-button class="app-btn gray-button" (click)="gotoGroups()">Cancel</button>
                <button type="submit" mat-button class="app-btn orange-button save-btn" (click)="saveGroup(addGroupsForm)" *ngIf="!disabled">Save</button>
            </div>
        </div>
    </form>
</div>
