<ng-container *ngIf="this.manageBidData.showLoaderFlag">
  <app-loader class="col-md-12" [loading]="this.manageBidData.showLoaderFlag"></app-loader>
</ng-container>
<div id="editing-and-post-info" *ngIf="!this.manageBidData.showLoaderFlag">
  <div class="container-fluid">
    <form [formGroup]="editingAndPostForm" class="form-horizontal" (change)="updateFormStatus()" novalidate>
      <div class="panel panel-primary">
        <div class="panel-body panel-outer-body">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.editorAndAssistant'| translate}} and Post Coordinator</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <ng-container formArrayName="editorAndPost" *ngFor="let item of editingAndPostForm['controls'].editorAndPost['controls']; let index=index;let lst=last">
                      <ng-container [formGroupName]="index">
                        <div class="row">
                          <div class="col-12 col-sm-5 col-md-3">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.commercialTitle' | translate}}
                              </label>
                              <div>
                                <select class="form-control" formControlName="title" (change)="updateEditorAndPostValidations(FORM_GROUP_CONST.editorAndPost,item);updateImageVersionValues(item,index,'title')">
                                  <option value=" ">{{'common.labels.select'| translate}}</option>
                                  <option *ngFor="let commercial of commercialTitleArr;let i = index;" [value]="commercial.title">{{commercial.title}}</option>
                                </select>
                                <div class="text-danger col-md-12 no-mg" *ngIf="item.controls['title']?.errors?.checkRequired && (item.controls['title']?.touched || item?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                                  translate}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-5 col-md-2">
                            <div class="form-group">
                              <label>{{'biddings.labels.versions'| translate}}</label>
                              <div>
                                <input class="form-control" (change)="updateEditorAndPostValidations(FORM_GROUP_CONST.editorAndPost,item);updateImageVersionValues(item,index,'version')"
                                  formControlName="version" placeholder="{{'biddings.labels.versions'| translate}}">
                                <div class="text-danger col-md-12 no-mg" *ngIf="item.controls['version']?.errors?.checkRequired && (item.controls['version']?.touched || item?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                                  translate}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-sm-5 col-md-3">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.editorAndAssistantCutdowns' | translate}}
                              </label>
                              <div>
                                <input class="form-control" (change)="updateEditorAndPostValidations(FORM_GROUP_CONST.editorAndPost,item)"
                                  formControlName="editorCutdowns" placeholder="{{'biddings.labels.editorAndAssistantCutdowns' | translate}}"
                                  title="{{'biddings.labels.editorAndAssistantCutdowns' | translate}}">
                                <div class="text-danger col-md-12 no-mg" *ngIf="item.controls['editorCutdowns']?.errors?.checkRequired && (item.controls['editorCutdowns']?.touched || item?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                                  translate}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-9 col-sm-5 col-md-4">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.postCoordinatorCutdowns' | translate}}
                              </label>
                              <div class="row">
                                <div class="col-9 col-sm-9">
                                  <input class="form-control" (change)="updateEditorAndPostValidations(FORM_GROUP_CONST.editorAndPost,item)"
                                    formControlName="pcCutdowns" placeholder="{{'biddings.labels.postCoordinatorCutdowns' | translate}}"
                                    title="{{'biddings.labels.postCoordinatorCutdowns' | translate}}">
                                  <div class="text-danger col-md-12 no-mg" *ngIf="item.controls['pcCutdowns']?.errors?.checkRequired && (item.controls['pcCutdowns']?.touched || item?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                                    translate}}</div>
                                </div>
                                <div class="col-3 col-sm-3 item-center pt-10">
                                  <a class="click-cursor mr-2" *ngIf="editingAndPostForm.controls.editorAndPost.controls.length > 1 ">
                                    <i class="fa fa-minus" (click)="removeFormGroup(editingAndPostForm.controls.editorAndPost, index,FORM_GROUP_CONST.editorAndPost);"></i>
                                  </a>
                                  <a class="click-cursor" *ngIf="lst && editingAndPostForm.controls.editorAndPost.controls.length > 0">
                                    <i class="fa fa-plus" (click)="addFormGroup(editingAndPostForm.controls.editorAndPost, FORM_GROUP_CONST.editorAndPost,true,item)"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </ng-container>
                    </ng-container>
                    <!-- <hr *ngIf="addEditorAndAssistantFlag" class="d-block d-lg-none d-xl-none"> -->
                    <ng-container *ngIf="(commercialTitleArr?.length==0) && editingAndPostForm['controls'].editorAndPost.dirty">
                      <div class="text-danger col-md-12 no-mg">{{'biddings.errorMessages.pleaseAddCommercialTitle'|
                        translate}}</div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                <h5 class="text-dark">
                  <strong>{{'biddings.labels.music'| translate}}</strong>
                </h5>
                <div class="panel panel-primary panel-inner-wrapper">
                  <div class="panel-body panel-inner-body">
                    <ng-container formArrayName="music" *ngFor="let item of editingAndPostForm['controls'].music['controls']; let index=index;let lst=last">
                      <ng-container [formGroupName]="index">
                        <div class="row">
                          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.originalProduction' | translate}}
                              </label>
                              <div class="row">
                                <div class="col-6 col-sm-6 pr-0">
                                  <div>
                                    <input class="form-control" formControlName="original" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                      (change)="checkIntegerValue(item,'original');originalValueChanged(item)"
                                      placeholder="{{'biddings.labels.amount'| translate}}">

                                  </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                  <select class="form-control" formControlName="originalCurrencyId">
                                    <option *ngFor="let currency of currencies;let i = index;" [value]="currency.id">{{currency.text}}</option>
                                  </select>
                                </div>
                                <div class="text-danger col-md-12" *ngIf="item.controls['original']?.errors?.checkRequired && (item.controls['original']?.touched || item?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                                  translate}}</div>
                                <div class="text-danger ml-3" *ngIf="!item.controls['original']?.errors?.checkRequired && item.controls['original']?.errors?.checkDecimal && item.controls['original']?.touched && item.controls['original']?.dirty">{{'pages.errorMessages.validDecimal'|
                                  translate}}</div>
                              </div>
                            </div>

                          </div>
                          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.rights' | translate}}
                              </label>
                              <div class="row">
                                <div class="col-6 col-sm-6 pr-0">
                                  <div>
                                    <input class="form-control" (change)="checkIntegerValue(item,'rights');rightsValueChanged(item)"
                                      formControlName="rights" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                      placeholder="{{'biddings.labels.amount'| translate}}">

                                  </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                  <select class="form-control" formControlName="rightsCurrencyId">
                                    <option *ngFor="let currency of currencies;let i = index;" [value]="currency.id">{{currency.text}}</option>
                                  </select>
                                </div>
                                <div class="text-danger col-md-12" *ngIf="item.controls['rights']?.errors?.checkRequired && (item.controls['rights']?.touched || item?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                                  translate}}</div>
                                <div class="text-danger ml-3" *ngIf="!item.controls['rights']?.errors?.checkRequired && item.controls['rights']?.errors?.checkDecimal && item.controls['rights']?.touched && item.controls['rights']?.dirty">{{'pages.errorMessages.validDecimal'|
                                  translate}}</div>
                              </div>
                            </div>

                          </div>
                          <div class="col-12 col-sm-8 col-md-8 col-lg-6">
                            <div class="form-group">
                              <label>
                                {{'biddings.labels.buyOut' | translate}}
                              </label>
                              <div class="row">

                                <div class="col-5 col-sm-3 pr-0">
                                  <input class="form-control" formControlName="buyOut" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                    (change)="checkIntegerValue(item,'buyOut');buyOutValueChanged(item)"
                                    placeholder="{{'biddings.labels.amount'| translate}}">

                                </div>
                                <div class="col-5 col-sm-3">
                                  <select class="form-control" formControlName="buyOutCurrencyId">
                                    <option *ngFor="let currency of currencies;let i = index;" [value]="currency.id">{{currency.text}}</option>
                                  </select>
                                </div>
                                <div class="col-2 col-sm-3 col-md-3 col-lg-3 col-xl-2 pt-8">
                                  <a class="click-cursor mr-2" *ngIf="editingAndPostForm.controls.music.controls.length > 1 ">
                                    <i class="fa fa-minus" (click)="removeFormGroup(editingAndPostForm.controls.music, index);"></i>
                                  </a>
                                  <a class="click-cursor" *ngIf="lst && editingAndPostForm.controls.music.controls.length > 0">
                                    <i class="fa fa-plus" (click)="addFormGroup(editingAndPostForm.controls.music, FORM_GROUP_CONST.music,true,item)"></i>
                                  </a>
                                </div>
                                <div class="text-danger col-md-12" *ngIf="item.controls['buyOut']?.errors?.checkRequired && (item.controls['buyOut']?.touched || item?.value?.invalidFlag || this.manageBidData.invalidFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                                  translate}}</div>
                                <div class="text-danger ml-3" *ngIf="!item.controls['buyOut']?.errors?.checkRequired && item.controls['buyOut']?.errors?.checkDecimal && item.controls['buyOut']?.touched && item.controls['buyOut']?.dirty">{{'pages.errorMessages.validDecimal'|
                                  translate}}</div>
                              </div>
                            </div>

                          </div>

                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <ng-container formGroupName="sound">
              <div class="row m-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                  <h5 class="text-dark">
                    <strong>{{'biddings.labels.sound'| translate}}</strong>
                  </h5>
                  <div class="panel panel-primary panel-inner-wrapper">
                    <div class="panel-body panel-inner-body">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4">
                          <div class="form-group">
                            <label>
                              {{'biddings.labels.soundEditing' | translate}}
                            </label>
                            <div class="row">
                              <div class="col-7 col-sm-7 pr-0">
                                <div>
                                  <input class="form-control" (change)="checkIntegerValue(editingAndPostForm.controls['sound'],'editing')"
                                    formControlName="editing" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                    placeholder="{{'biddings.labels.amount' | translate}}">
                                </div>
                              </div>
                              <div class="col-5 col-sm-5">
                                <select class="form-control" formControlName="editingCurrencyId">
                                  <option *ngFor="let currency of currencies;let i = index;" [value]="currency.id">{{currency.text}}</option>
                                </select>
                              </div>
                              <div class="text-danger  ml-3" *ngIf="!getFormGroupControls('sound', 'editing')?.errors?.checkRequired && getFormGroupControls('sound', 'editing')?.errors?.checkDecimal && (getFormGroupControls('sound', 'editing')?.touched) && getFormGroupControls('sound', 'editing')?.dirty">{{'pages.errorMessages.validDecimal'|
                                translate}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4">
                          <div class="form-group">
                            <label>
                              {{'biddings.labels.soundPost'| translate}}
                            </label>
                            <div class="row">
                              <div class="col-7 col-sm-7 pr-0">
                                <div>
                                  <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                    (change)="checkIntegerValue(editingAndPostForm.controls['sound'],'post')"
                                    formControlName="post" placeholder="{{'biddings.labels.amount'| translate}}">
                                </div>
                              </div>
                              <div class="col-5 col-sm-5">
                                <select class="form-control" formControlName="postCurrencyId">
                                  <option *ngFor="let currency of currencies;let i = index;" [value]="currency.id">{{currency.text}}</option>
                                </select>
                              </div>
                              <div class="text-danger  ml-3" *ngIf="!getFormGroupControls('sound', 'post')?.errors?.checkRequired && getFormGroupControls('sound', 'post')?.errors?.checkDecimal && (getFormGroupControls('sound', 'post')?.touched) && getFormGroupControls('sound', 'post')?.dirty">{{'pages.errorMessages.validDecimal'|
                                translate}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container formGroupName="image">
              <div class="row m-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                  <h5 class="text-dark">
                    <strong>{{'biddings.labels.image'| translate}}</strong>
                  </h5>
                  <div class="panel panel-primary panel-inner-wrapper">
                    <div class="panel-body panel-inner-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="panel panel-primary panel-inner-wrapper">
                            <div class="panel-body panel-inner-body">
                              <ng-container formArrayName="versions" *ngFor="let item of editingAndPostForm['controls'].image['controls'].versions['controls']; let index=index;let lst=last">
                                <ng-container [formGroupName]="index">
                                  <div class="row">
                                    <div class="col-12 col-sm-3">
                                      <div class="form-group">
                                        <label>{{'biddings.labels.commercialTitle'| translate}}</label>
                                        <div>
                                          <strong>{{item?.value?.title}}</strong>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-3">
                                      <div class="form-group">
                                        <label>{{'biddings.labels.versions'| translate}}</label>
                                        <div>
                                          <strong>{{item?.value?.version}}</strong>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-3">
                                      <div class="form-group">
                                        <label>{{'biddings.labels.colorTiming'| translate}}</label>
                                        <div>
                                          <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                            (change)="checkIntegerValue(item,'colorTiming')" formControlName="colorTiming"
                                            placeholder="{{'biddings.labels.numberOfHours'| translate}}">
                                          <div class="text-danger" *ngIf="item.controls['colorTiming']?.errors?.checkDecimal && item.controls['colorTiming']?.touched && item.controls['colorTiming']?.dirty">{{'pages.errorMessages.validDecimal'|
                                            translate}}</div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 col-sm-3">
                                      <div class="form-group">
                                        <label>{{'biddings.labels.online'| translate}}</label>
                                        <div>
                                          <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                            (change)="checkIntegerValue(item,'online')" formControlName="online"
                                            placeholder="{{'biddings.labels.numberOfHours'| translate}}">
                                          <div class="text-danger" *ngIf="item.controls['online']?.errors?.checkDecimal && item.controls['online']?.touched && item.controls['online']?.dirty">{{'pages.errorMessages.validDecimal'|
                                            translate}}</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-container>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4">
                          <div class="form-group">
                            <label>{{'biddings.labels.vfx'| translate}}</label>
                            <div class="row">
                              <div class="col-7 col-sm-7 pr-0">
                                <div>
                                  <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                    (change)="checkIntegerValue(editingAndPostForm.controls['image'],'vfx')"
                                    formControlName="vfx" placeholder="{{'biddings.labels.amount'| translate}}">
                                </div>
                              </div>
                              <div class="col-5 col-sm-5">
                                <select class="form-control" formControlName="vfxCurrencyId">
                                  <option *ngFor="let currency of currencies;let i = index;" [value]="currency.id">{{currency.text}}</option>
                                </select>
                              </div>
                              <div class="text-danger ml-3" *ngIf="!getFormGroupControls('image', 'vfx')?.errors?.checkRequired && getFormGroupControls('image', 'vfx')?.errors?.checkDecimal && getFormGroupControls('image', 'vfx')?.touched && getFormGroupControls('image', 'vfx')?.dirty">{{'pages.errorMessages.validDecimal'|
                                translate}}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-7">
                          <!-- <div class="row">
                            <div class="col-10 col-sm-6 col-md-6 col-lg-5 col-xl-4"> -->
                          <div class="form-group">
                            <label>
                              {{'biddings.labels.animation' | translate}}
                            </label>
                            <ng-container formArrayName="animation" *ngFor="let item of editingAndPostForm['controls'].image['controls'].animation['controls']; let index=index;let lst=last">
                              <ng-container [formGroupName]="index">
                                <div class="row mb-10">
                                  <div class="col-4 col-sm-4 pr-0">
                                    <div>
                                      <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                                        (change)="checkIntegerValue(item,'amount')" formControlName="amount"
                                        placeholder="{{'biddings.labels.amount'| translate}}">
                                      <div class="text-danger col-md-12 no-mg" *ngIf="item.controls['amount']?.errors?.checkRequired">{{'actors.freelancers.errorMessages.fieldRequired'|
                                        translate}}</div>
                                    </div>
                                  </div>
                                  <div class="col-3 col-sm-3">
                                    <select class="form-control" formControlName="currencyId">
                                      <option *ngFor="let currency of currencies;let i = index;" [value]="currency.id">{{currency.text}}</option>
                                    </select>
                                  </div>
                                  <div class="col-2 col-sm-2 item-center pt-8">
                                    <a class="click-cursor mr-2" *ngIf="editingAndPostForm.controls.image.controls.animation.controls.length > 1">
                                      <i class="fa fa-minus" (click)="removeFormGroup(editingAndPostForm.controls.image.controls.animation, index);"></i>
                                    </a>
                                    <a class="click-cursor" *ngIf="lst && editingAndPostForm.controls.image.controls.animation.controls.length > 0">
                                      <i (click)="addFormGroup(editingAndPostForm.controls.image.controls.animation, FORM_GROUP_CONST.animation,true,item)"
                                        class="fa fa-plus"></i>
                                    </a>
                                  </div>
                                  <div class="text-danger ml-3" *ngIf="!item.controls['amount']?.errors?.checkRequired && item.controls['amount']?.errors?.checkDecimal && item.controls['amount']?.touched && item.controls['amount']?.dirty">{{'pages.errorMessages.validDecimal'|
                                    translate}}</div>
                                </div>
                              </ng-container>
                            </ng-container>
                          </div>
                          <!-- </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <action-permission [actionType]="ACTION_TYPES.ADD" [MODULE_ID]="MODULE_ID"
          [permissionArr]="permissionObject">
          <div class="row p-0 m-0">
            <div class="col-12 pull-right">
              <button class="btn save-btn btn-success pull-right" [disabled]="this.manageBidData.disableButtonFlag"
                (click)="openAICPReflectionIntimationPopup()"><i *ngIf="this.manageBidData.spinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>{{
                (this.manageBidData.latestPassDetails &&
                (this.manageBidData.latestPassDetails?.status===STATUS_CODES.PUBLISH)) ||
                !this.manageBidData.AICPGeneratedStatus ?
                ('biddings.buttons.generateAICP'|translate):('biddings.buttons.updateAICP'|translate)}}</button>
            </div>
          </div>
          </action-permission>
        </div>
      </div>
    </form>
  </div>
</div>
