// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

#editing-and-post-info {
  .pull-right {
    float: right;
  }

  .panel-outer-body {
    // background-color: #f3f6f7;
  }

  .panel-inner-wrapper {
    // background-color: #fafafa;
    // box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0 rgba(0, 0, 0, 0.098), 0 0px 5px 0 rgba(0, 0, 0, 0.084);
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  }

  .panel-inner-body {
    // background-color: #f5f8f9;
    box-shadow: none;
    padding: 15px;
  }

  .item-center {
    align-items: center;
  }

  .item-center.d-flex .fa {
    padding-top: 15px;
  }

  .custom-fa-wrapper .fa {
    padding-top: 0px !important;
    padding-bottom: 20px;
  }

  .pl-15 {
    padding-left: 15px;
  }

  .pt-8 {
    padding-top: 8px;
  }
}
