.title-text {
    top: 15px;
    left: 45px;
    color: #63757e;
    font-size: 12px;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(
    to right,
    #c2c7cc 0,
    #c2c7cc 0,
    #c2c7cc 0
  ) !important;
  background-size: 1px 100% !important;
  background-repeat: repeat-x !important;
}