<ng-container *ngIf="!renderPage">
  <app-loader class="col-md-12" [loading]="!renderPage"></app-loader>
</ng-container>
<div *ngIf="renderPage">
  <div class="settle-po-vendor">
    <div class="panel panel-primary">
      <div class="panel-body">
        <form class="form-horizontal" [formGroup]="settlePOForm" novalidate>
          <div class="form-group ng-star-inserted">
            <h5 class="text-dark mt-1">
              <strong>{{'projects.labels.settlePurchaseOrder'| translate}}</strong>
            </h5>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <label>
                {{'projects.labels.consecutive'| translate}}#:
              </label>
              <span> {{poData?.consecutiveNumber}}</span>
            </div>
            <div class="col-md-8">
              <label>{{'projects.labels.purchaseOrderDate'| translate}}:</label>
              <span> {{poData?.orderDate | dateFormat}}</span>

            </div>

          </div>
          <div class="row">
            <div class="col-lg-3">
              <label>
                {{'projects.labels.purchaseOrder'| translate}}#:
              </label>
              <span> {{poData?.purchaseOrderNumber}}</span>
            </div>
            <div class="col-md-9">
              <label>{{'projects.labels.supplierName'| translate}}:</label>
              <span> {{poData?.i18n?.name}}</span>
              <span class="ml-4" *ngIf='poData?.thirdPartyVendor'>
                <label>{{'projects.labels.paidVia'| translate}}:</label>
                <span> {{poData?.thirdPartyVendor?.name}}</span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row mt-1">
                <div class="col-md-9">
                  <table class="table table-bordered text-center advances-table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>{{'common.labels.amount'| translate}}</th>
                        <th>{{'projects.labels.budgetLine'| translate}}</th>
                        <th>{{'common.labels.description'| translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let advance of poData?.services;let index=index;let first=first">
                        <td>{{index+1}}</td>
                        <td *ngIf = "advance?.amount">{{advance?.amount | twoDecimal | numberFormat}} {{poData?.currencyCode}}</td>
                        <td *ngIf = "!advance?.amount">-</td>
                        <td>{{advance?.budgetLine}}</td>
                        <td>{{advance?.itemDescription}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-4">
                  <label>{{'common.labels.totalAmount'| translate}}:</label>
                  <span class="ml-2">{{settlePOForm?.value?.settlementAmount ? (settlePOForm?.value?.settlementAmount |
                    twoDecimal | numberFormat):0.00}}</span>
                  <span> {{poData?.currencyCode}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-3">
              <label>{{'projects.labels.paymentDate'| translate}}
                  <span class="mandatory">*</span></label>
              <my-date-picker class = "bbdate" placeholder="{{'common.labels.datePickerPlaceholder'| translate}}" formControlName="date" [options]="datePickerOptions"></my-date-picker>
              <div class="bb-error col-md-12 no-mg" *ngIf="settlePOForm.controls['date']?.errors?.checkRequired && (settlePOForm.controls['date'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                translate}}</div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-12 no-mg">
              <div class="col-lg-12">
                <span>{{'projects.labels.receipts'| translate}}:</span>
                <span class="mandatory">*</span>
              </div>
              <!-- <div class="row mt-1"> -->
              <div class="col-md-12 mt-2">
                <button class="btn btn-primary" (click)="openReceiptModal($event)">+ {{'projects.labels.addReceipt'|
                  translate}}</button>
              </div>
              <!-- </div> -->
              <div class="mt-20">
                <div class="col-md-9">
                  <div class="form-group col-md-12">
                    <div class="row mt-1">

                      <table class="table table-bordered text-center receipt-table">
                        <thead>
                          <tr>
                            <th>{{'projects.labels.budgetLine'| translate}}</th>
                            <th>{{'common.labels.amount'| translate}}</th>
                            <th>{{'projects.labels.subTotal'| translate}}</th>
                            <th>{{'common.labels.type'| translate}}</th>
                            <th>{{'common.labels.description'| translate}}</th>
                            <th>{{'common.labels.action'| translate}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of  settlePOForm.controls.receiptsArr['controls'];let i = index;">
                            <td>{{item?.value?.budgetLineName}}</td>
                            <td>{{item?.value?.amount | numberFormat}}</td>
                            <td>{{item?.value?.subTotal | twoDecimal | numberFormat}}</td>
                            <td>{{receiptTypeKeyArr[item?.value?.receiptType]}}</td>
                            <td>{{item?.value?.description}}</td>
                            <td>
                              <i class="fa fa-pencil pencil-icon ptr" (click)="editReceipt(item,i)" data-toggle="tooltip"
                                data-placement="top" title="{{'common.labels.edit' | translate}}"></i>
                              <i class="fa fa-trash ml-1 ptr" *ngIf="settlePOForm.controls.receiptsArr['controls'].length > 1"
                                (click)="removeReceipt(i)" data-toggle="tooltip" data-placement="top" title="{{'common.labels.delete' | translate}}"></i>
                            </td>

                          </tr>
                          <tr *ngIf="settlePOForm.controls.receiptsArr['controls'].length == 0">
                            <td class="text-center bb-error" colspan="12"><span>{{'common.errorMessages.noReceiptsAdded'|
                                translate}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-4">
                  <label>{{'projects.labels.receiptsAmount'| translate}}:</label>
                  <span class="ml-2">{{settlePOForm?.value?.receiptAmount ? (settlePOForm?.value?.receiptAmount | twoDecimal):0.00}}</span>
                  <span> {{poData?.currencyCode}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-mg " style="margin-top: 20px;">
            <div class="row no-mg">

            </div>
            <div class="col-lg-12 no-mg" formArrayName="amountToBeReceivedArr">
              <div class="row mb-10" *ngFor="let amountObj of settlePOForm.controls.amountToBeReceivedArr['controls']; let i=index;let lst=last"
                [formGroupName]="i">
                <div class="col-md-4">
                  <label class=" control-label">{{'projects.labels.amountToBeReceived'| translate}}</label>
                  <span style="color:red;">*</span>
                  <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');" (keyup)="calculateAndUpdateStatus(false)" type="text" formControlName="amount">
                  <div class="bb-error col-md-12 no-mg" *ngIf="amountObj.controls['amount']?.errors?.checkRequired && (amountObj.controls['amount'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                    translate}}</div>
                  <div class="bb-error" *ngIf="!amountObj.controls['amount']?.errors?.checkRequired && amountObj.controls['amount']?.errors?.checkDecimal && (amountObj.controls['amount'].touched) && amountObj.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'|
                    translate}}</div>
                </div>
                <div class="col-md-1 mxn-class" style="padding-top: 35px;">
                  {{poData?.currencyCode}}
                </div>
                <div class="col-md-4">
                  <label class=" control-label">{{'projects.labels.modeOfPayment'| translate}}</label>
                  <span class="mandatory">*</span>
                  <ngx-select [items]="modesOfOperation" placeholder="{{'common.labels.selectMode'| translate}}"
                  [allowClear]="true" formControlName="mode"></ngx-select>
                  <div class="bb-error col-md-12 no-mg" *ngIf="amountObj.controls['mode']?.errors?.checkRequired && (amountObj.controls['mode'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                    translate}}</div>
                </div>
                <div class="col-md-2 ml-2 positive-add-class" style="padding-top: 30px;">
                  <a *ngIf="settlePOForm.controls.amountToBeReceivedArr['controls'].length > 1 " (click)="removeAmountToBeReceived(i)">
                    <i class="fa fa-minus ptr"></i>
                  </a>
                  <!-- <a (click)="addAmountToBeReceivedRow(amountObj)" *ngIf="lst && settlePOForm.controls.amountToBeReceivedArr['controls'].length > 0">
                  <i class="fa fa-plus ml-2 ptr"></i>
                </a> -->

                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-12 no-mg" style="margin-top: 15px;" formArrayName="paybackAmountArr">
            <div class="row mb-10" *ngFor="let amountObj of settlePOForm.controls.paybackAmountArr['controls']; let i=index;let lst=last"
              [formGroupName]="i">
              <div class="col-md-4">
                <label class=" control-label">{{'projects.labels.payBackAmount'| translate}}</label>
                <span style="color:red;">*</span>
                <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');" type="text" (keyup)="calculateAndUpdateStatus(false)" formControlName="amount">

                <div class="bb-error col-md-12 no-mg" *ngIf="amountObj.controls['amount']?.errors?.checkRequired && (amountObj.controls['amount'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                  translate}}</div>
                <div class="bb-error" *ngIf="!amountObj.controls['amount']?.errors?.checkRequired && amountObj.controls['amount']?.errors?.checkDecimal && (amountObj.controls['amount'].touched) && amountObj.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'|
                  translate}}</div>
              </div>
              <div class="col-md-1 mxn-class" style="padding-top: 35px;">
                {{poData?.currencyCode}}
              </div>
              <div class="col-md-4">
                <label class=" control-label">{{'projects.labels.modeOfPayment'| translate}}</label>
                <span class="mandatory">*</span>

                <ngx-select [items]="modesOfOperation" placeholder="{{'common.labels.selectMode'| translate}}"
                [allowClear]="true" formControlName="mode"></ngx-select>
                <div class="bb-error col-md-12 no-mg" *ngIf="amountObj.controls['mode']?.errors?.checkRequired && (amountObj.controls['mode'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                  translate}}</div>

              </div>

              <div class="col-md-2 ml-2 positive-add-class" style="padding-top: 30px;">
                <a *ngIf="settlePOForm.controls.paybackAmountArr['controls'].length > 1 " (click)="removePaybackAmount(i)">
                  <i class="fa fa-minus ptr"></i>
                </a>
                <!-- <a (click)="addPayBackAmountRow(amountObj)" *ngIf="lst && settlePOForm.controls.paybackAmountArr['controls'].length > 0">
                <i class="fa fa-plus ml-2 ptr"></i>
              </a> -->

              </div>
            </div>
          </div>

          <div class="col-lg-12 no-mg" style="margin-top: 15px;">

            <div class="row mb-10">
              <label class="col-md-2 control-label">{{'common.labels.status'| translate}}</label>

              <div class="col-md-4" *ngIf="settlePOForm?.value?.status == SETTLEMENT_APPROVAL_CONST.settled">
                <span class="settled-status">{{'projects.labels.settled'| translate}}</span>
              </div>
              <div class="col-md-4" *ngIf="settlePOForm?.value?.status != SETTLEMENT_APPROVAL_CONST.settled">
                <span class="non-settled-status">{{'projects.labels.nonSettled'| translate}}</span>

              </div>
            </div>
          </div>

          <div class="row no-mg mb-10 ">
            <div class="col-md-12 text-center">
              <button (click)="submitSettlement(SETTLEMENT_APPROVAL_CONST.settled)" [disabled]="settlePOForm?.value?.status!=SETTLEMENT_APPROVAL_CONST.settled || isClicked"
                class="btn save-btn btn-success"> <i *ngIf="submitSpinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>
                {{'projects.labels.submitForApproval'| translate}}</button>
              <button (click)="submitSettlement(SETTLEMENT_APPROVAL_CONST.draft)" [disabled]="isDraftClicked" class="btn save-btn btn-success ml-1"><i
                  *ngIf="submitDraftSpinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>
                {{'common.labels.saveAsDraft'|
                translate}}</button>

              <button (click)="navigateTo()" class="btn cancel-btn btn-danger ml-1">{{'common.labels.cancel'|
                translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<div class="modal receipt-modal" bsModal #addReceiptModal="bs-modal" (onShow) = "checkModalOpen(true)" (onHide) = "checkModalOpen(false)">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <p class="modal-title">
          <strong *ngIf="!editReceiptFlag">{{'projects.labels.addReceipt'| translate}}</strong>
          <strong *ngIf="editReceiptFlag">{{'projects.labels.editReceipt'| translate}}</strong>
        </p>
        <button type="button" class="close ptr" data-dismiss="modal" (click)="addReceiptModal.hide()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" [formGroup]="addReceiptForm" novalidate>
              <ng-container>
                <div class="col-lg-12 no-mg">
                  <div class="mb-10">
                    <div class="row">
                      <div class="col-lg-4">
                        <label>{{'projects.labels.budgetLine'| translate}} <span class="bb-error">*</span></label>
                        <ngx-select [items]="budgetLineList" (select)="budgetLineSelected($event)" formControlName="budgetLine"
                          placeholder="{{'projects.labels.budgetLine'| translate}}" [allowClear]="true"></ngx-select>
                        <div class="bb-error col-md-12 no-mg" *ngIf="addReceiptForm.controls['budgetLine']?.errors?.checkRequired && (addReceiptForm.controls['budgetLine'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'|
                          translate}}</div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-lg-4">
                        <label>{{'common.labels.amount'| translate}} <span class="bb-error">*</span></label>
                        <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                          formControlName="amount" placeholder="{{'common.labels.amount'| translate}}" (keyup)="updateSubtotal(addReceiptForm)" />
                        <div class="bb-error col-md-12 no-mg" *ngIf="addReceiptForm.controls['amount']?.errors?.checkRequired && (addReceiptForm.controls['amount'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'|
                          translate}}</div>
                        <div class="bb-error" *ngIf="!addReceiptForm.controls['amount']?.errors?.checkRequired && addReceiptForm.controls['amount']?.errors?.checkDecimal && (addReceiptForm.controls['amount'].touched || submitReceiptForm) && addReceiptForm.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'|
                          translate}}</div>
                      </div>
                      <div class="col-lg-1 no-mg" style="padding-top: 35px;">
                        <span>{{poData?.currencyCode}}</span>
                      </div>
                      <div class="col-lg-4">
                        <label>{{'projects.labels.vat'| translate}}(%) <span class="bb-error">*</span></label>
                        <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                          formControlName="vat" placeholder="{{'projects.labels.vat'| translate}}(%)" (keyup)="updateSubtotal(addReceiptForm)" />
                        <div class="bb-error col-md-12 no-mg" *ngIf="addReceiptForm.controls['vat']?.errors?.checkRequired && (addReceiptForm.controls['vat'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'|
                          translate}}</div>
                        <div class="bb-error" *ngIf="!addReceiptForm.controls['vat']?.errors?.checkRequired && addReceiptForm.controls['vat']?.errors?.checkUptoFourDecimal && (addReceiptForm.controls['vat'].touched || submitReceiptForm) && addReceiptForm.controls['vat'].dirty">{{'pages.errorMessages.validFourDecimal'|
                          translate}}</div>
                      </div>
                      <div class="col-lg-2 no-mg">
                        <label>{{'common.labels.subTotal'| translate}}</label>
                        <div class="currency pt-5">
                          <span class="mr-2">{{ addReceiptForm?.value?.subTotal ? (addReceiptForm?.value?.subTotal |
                            twoDecimal):0.00}}</span>
                          <span>{{poData?.currencyCode}}</span>
                        </div>
                      </div>

                    </div>
                    <div class="row mt-2">
                      <div class="col-lg-4">
                        <label>{{'common.labels.type'| translate}} <span class="bb-error">*</span></label>
                        <ngx-select [items]="DEDUCTION_TYPES" formControlName="receiptType" [allowClear]="true"
                          placeholder="{{'common.labels.select'| translate}}">

                        </ngx-select>
                        <div class="bb-error col-md-12 no-mg" *ngIf="addReceiptForm.controls['receiptType']?.errors?.checkRequired && (addReceiptForm.controls['receiptType'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'|
                          translate}}</div>

                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-lg-10">
                        <label>{{'common.labels.description'| translate}} <span class="bb-error">*</span></label>
                        <textarea rows="5" class="form-control" formControlName="description" placeholder="{{'common.labels.description'| translate}}"></textarea>
                        <div class="bb-error col-md-12 no-mg" *ngIf="addReceiptForm.controls['description']?.errors?.checkRequired && (addReceiptForm.controls['description'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'|
                          translate}}</div>

                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-lg-12">
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            <h5 class="text-dark">
                              <strong>{{'projects.labels.attachments'| translate}} <span class="bb-error">*</span>
                              </strong>
                              <em class="pull-right d-inline-flex" style="margin-bottom:5%;">
                                <div class="small f-italic mr-15 mt-10">{{'common.labels.settleFileTypes'|
                                  translate}}</div>
                                <div class="selectPicture">
                                  <label for="file2" class="file-upload">
                                    <button class="btn browse-btn upload-pictur-btn" style="width: 100px">{{'common.labels.browse'|
                                      translate}}</button>
                                    <input id="file2" type="file" title="{{'common.labels.noFileChosen' | translate}}" accept="image/jpeg,image/jpg,image/png,image/bmp,application/pdf" multiple (change)="fileChangeEvent($event)">
                                  </label>
                                </div>
                              </em>
                            </h5>
                          </div>
                          <div class="panel-body">
                            <div class="row w-100 receipt-doc" *ngFor="let file of addReceiptForm?.value?.files;let index=index">

                              <div class="col-md-12">
                                <div class="row mt-1 pl-25">
                                  <div class="col-md-4" *ngIf="file?.loader">
                                    <i class="fa fa-spinner fa-spin margin-right-5"></i>
                                  </div>
                                  <div class="col-md-4 textElipses" *ngIf="!file?.loader">
                                    <a href="{{file?.fileUrl}}" download="file?.name" data-toggle="tooltip"
                                      data-placement="top" title="{{ file?.name }}" class="document-link">{{file?.name}}</a>
                                  </div>
                                  <div class="col-md-4" *ngIf="!file?.loader">
                                    <em class="fa fa-trash ptr" (click)="deleteFile(index, file)"></em>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="bb-error" *ngIf="addReceiptForm?.value?.files?.length==0 && submitReceiptForm">{{'actors.freelancers.errorMessages.fieldRequired'|
                          translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <button (click)="addReceiptRow()" *ngIf="!editReceiptFlag" [disabled] = "disableButtonFlag" class="btn cancel-btn btn-danger ml-1">{{'common.labels.add'|
                translate}}</button>
              <button (click)="addReceiptRow()" *ngIf="editReceiptFlag" [disabled] = "disableButtonFlag" class="btn cancel-btn btn-danger ml-1">{{'common.labels.update'|
                translate}}</button>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
