cm-contracts {
    height: 85rem !important;
  }
  
  #add-button-div {
    text-align: right;
    margin-bottom: 1rem;
  
    >#add-button {
        background-color: #C75000;
        margin-left:2rem;
    }
  }

  i{
    cursor: pointer;
  }
  
  .cm-btn {
    box-shadow: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  
  .content-right {
    width: 100%;
  }
  
  .btn-container {
    padding-bottom: 3rem;
    padding-top: 3rem;
    justify-content: flex-end;
  }
  
  .action-items-i {
    padding: 20px !important;
  
    i{
      margin-left: 15px !important;
    }
  }
  
  .spacing-element {
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  i {
    cursor: pointer;
  }
  
  .select-prefix
  mat-select
  .mat-select-trigger
  .mat-select-arrow-wrapper
  .mat-select-arrow::before {
  left: -1rem;
}

.select-prefix.no-display-arrow
  mat-select
  .mat-select-trigger
  .mat-select-arrow-wrapper
  .mat-select-arrow::before {
  display: none;
}

.dropdown-currency {
  min-width: 4.5rem !important;
  transform: scale(1) translateY(1rem) !important;
}

.mat-select-value {
  color: #63757e;
}

.select-prefix mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
  left: -1rem;
}

.select-prefix.no-display-arrow mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
  left: -1rem;
}

.new-plus {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .mb-vw{
      display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .mb-vw{
      display: block;
  }
  .ds-vw{
    display: none;
  }
}

.btn-mob-container {
  display: flex !important;
  -webkit-box-pack: end;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.cm-mob-btn {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}
