<app-header [displayToggleMenuButton]="false"></app-header>
<div class="main-content">
    <!--<div *ngFor="let product of products">
        <button  (click)="onProductSelect(product)">{{product.productName}}</button>
    </div>-->

     <div [class.mar10]="products.length < 6" class="main-box" >
        <div class="cent" *ngFor="let product of products" >
            <div *ngIf="product.productName !== 'Super Admin' else showAdminImg ">
                <div *ngIf="(product.logo !== undefined && product.logo !== '' && product.logo !== null )  else showDefaultImg">
                    <img (click)="onProductSelect(product)" [src]="product.logo" class="box-icon img-responsive  center-block max-height-100" >
                </div>
                <ng-template #showDefaultImg><img src="../../../assets/images/Administration.png" class="box-icon img-responsive  center-block max-height-100" (click)="onProductSelect(product)"></ng-template>
            </div>
            <div class="box-footer">
                <h4 (click)="onProductSelect(product)" title="{{product.productName}}" class="product-name-ellipsis">{{product.productName}}</h4>
            </div>
            <ng-template #showAdminImg><img src="../../../assets/images/Administration.png" class="box-icon img-responsive  center-block max-height-100"   (click)="onProductSelect(product)"></ng-template>
        </div>
    </div>
    <app-footer></app-footer>
