@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
    ::ng-deep ng-data-tables {
        table {
            tbody {
                tr {
                    td {
                        @media(min-width: 992px) and (max-width: 999999px) {
                            &:nth-child(1) {
                                width: 15%;
                            }
                            &:nth-child(2) {
                                width: 10%;

                                span {
                                    display: block;
                                    width: 150px;
                                    overflow: hidden;
                                    @include wrap-text();
                                }
                            }

                            &:nth-child(3) {
                                width: 10%;
                            }

                            &:nth-child(4) {
                                width: 10%;

                                span {
                                    display: block;
                                    width: 170px;
                                    overflow: hidden;
                                    @include wrap-text();
                                }
                            }

                            &:nth-child(5) {
                                width: 10%;
                            }
                        }

                        @media(min-width: 100px) and (max-width: 991px) {
                            &:nth-child(2), &:nth-child(4) {                                
                                span {
                                    display: block;
                                    width: 160px;
                                    overflow: hidden;
                                    @include wrap-text();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.facility-name-nav {    
    margin-bottom: 15px;

    .inner {
        color: $primary_link;
        @include applyFont($fontSize: 18px, $fontWeight: bold);
        position: relative;
        cursor: pointer;
        display: inline-block;
    }

    i {        
        position: absolute;
        left: 0px;
        font-size: 28px;
        top: -3px;
    }

    span {
        display: inline-block;
        padding-left: 18px;
    }
}

.facility_card {
    color: $gray_shade2;
    @include applyFont($fontSize: 13px, $fontWeight: bold);  

    .mat-card {
        @include applyFont($fontSize: 13px, $fontWeight: bold);  
        margin-bottom: 15px;
        margin-top: 15px;
        color: $gray_shade2!important;
        padding: 9px 24px 24px!important;
    }
    
    i {
        color: $gray_shade2;	
        width: 20px;
    }

    .info-cols {
        margin-top: 15px;
        position: relative;

        i {
            display: block;
            position: absolute;
            top: 1px;
            font-size: 15px;
        }

        span {
            display: block;
            padding-left: 20px;
        }
    }
}