<div class="feature-setup-wrap">
    <form [formGroup]="menuSetupForm" novalidate>
        <div class="menu-features-setup-box-wrap col-sm-12">
            <div class="row">
                <div class="box box-1 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="inner">
                        <div class="box-heading mybox"><span i18n>Main Menu</span>
                            <div class="button-dropdown dropdown sub-menu">
                                <button mat-button data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a i18n (click)="addProductMenuPopup('level1')">Add</a>
                                    </li>
                                    <li>
                                        <a i18n (click)="addProductMenuPopup('level1_submenu')">Add Child</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="box-listing mybox inner_menu_box">
                            <ul>
                                <li *ngFor="let data of setupData" [class.active]="data.createdon + data._id == selectedSetupDateCreated  + selectedSetupId"
                                    (click)="onSetupSelect(data)">
                                    <div *ngIf="data.active!=='undefined' && data.active!=false">


                                        <div class="button-dropdown dropdown">
                                            <button mat-button data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a i18n (click)="editProductMenuPopup(data, 'level1')">Edit</a>
                                                </li>
                                                <li>
                                                    <a i18n (click)="onDeleteMenu(data)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>

                                        {{data.name}} ({{data.link}})
                                        <i class="fa fa-angle-right side-arrow"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .box-1 -->
                <div class="box box-2 col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="subMenusPannel  && subMenus.length>0">
                    <div class="inner">
                        <div class="box-heading mybox"> <span i18n>Sub Menu of {{selectedSetupName}}</span>

                            <div class="button-dropdown dropdown  sub-menu">
                                <button mat-button data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu ">
                                    <li>
                                        <a i18n (click)="addProductMenuPopup('level2')">Add</a>
                                    </li>
                                    <li>
                                        <a i18n (click)="addProductMenuPopup('level2_submenu')">Add Child</a>
                                    </li>
                                </ul>
                            </div>



                        </div>
                        <div class="box-listing mybox inner_menu_box">
                            <mat-radio-group>
                                <ul>
                                    <li *ngFor="let subMenu of subMenus" [class.active]="subMenu.createdon == selectedSubMenuDateCreated" (click)="onSubMenuSelect(subMenu)">
                                        <div *ngIf="subMenu.active!=='undefined' && subMenu.active!=false">
                                            <div class="button-dropdown dropdown">
                                                <button mat-button data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a i18n (click)="editProductMenuPopup(subMenu, 'level2')">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a i18n (click)="onDeleteMenu(subMenu)">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            {{subMenu.name}} ( {{subMenu.link}})
                                            <i class="fa fa-angle-right side-arrow"></i>
                                        </div>
                                    </li>
                                </ul>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                <!-- .box-2 -->
                <div class="box box-3 col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="featuresPannel  && features.length > 0">
                    <div class="inner">
                        <div  class="box-heading mybox"><span i18n>Sub Menu of {{selectedSubMenuName}}</span>
                            <div class="button-dropdown dropdown sub-menu">
                                <button mat-button data-toggle="dropdown">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a  i18n (click)="addProductMenuPopup('level3')">Add</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="box-listing mybox inner_menu_box">
                            <ul>
                                <li class="checkbox-wrap" *ngFor="let feature of features" [class.active]="feature.createdon == selectedFeatureDateCreated"
                                    (click)="onFeaturesSelect(feature)">
                                    <div *ngIf="feature.active!=='undefined' && feature.active!=false">
                                        <div class="button-dropdown dropdown">
                                            <button mat-button data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a i18n (click)="editProductMenuPopup(feature, 'level3')">Edit</a>
                                                </li>
                                                <li>
                                                    <a i18n (click)="onDeleteMenu(feature)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                        {{feature.name}} ({{feature.link}})
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .box-3 -->
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="action-wrap">
            <div class="text-right">
                <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="gotoClientVendorSetup()">Cancel</button>
                <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button" (click)="save(menuSetupForm)">Assign</button>
            </div>
        </div>
    </form>
</div>