<div class="top-section row-10 mar-20 heading-section-configure-add-contract">
  <div class="hidden-xs col-xs-12 col-sm-6">
      <app-heading-section heading="Configure Add Contracts">
          <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
      </app-heading-section>
  </div>        
  <div class="clearfix"></div>
</div>
<div class="col-md-12 tab-label">
  <div class="cm-card">
    <div class="cm-card-body">
      <mat-tab-group flex="1" vertical class="vertical-mat-tab" 
      #matGroupTab [(selectedIndex)]="selectedIndexTab" [ngStyle]="{'minHeight.rem': (arrayTabs.length+1)*4.8}">
        <mat-tab [disabled]="arrayTabs.length - 1 === index" *ngFor = "let tab of arrayTabs; let index = index">
          <ng-template matTabLabel *ngIf="arrayTabs.length - 1 !== index; else buttonView">
            <div>
              {{ tab.name }}
            </div>
          </ng-template>
          <ng-template matTabLabel #buttonView>
<!--               <div>
                  <a class="add-section" (click)="openDialogTab('CREATE')" aria-label="Add Section">
                      <i class="fa fa-plus"></i> Add Section
                  </a>
              </div> -->
          </ng-template>
          <ng-template matTabContent>
            <div *ngIf="arrayTabs.length - 1 !== index">
              <cm-dashboard-configuration-tab
                [dashboardConfigurationId]="dashboardConfigurationId" 
                (isDirty)="isChildDirty($event)"
                [tab]="tab"
                [matGroupTab]="matGroupTab"
              >
              </cm-dashboard-configuration-tab>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
