.content-left {
    i {
        font-size: 1.4rem;
    }
}

.content-left.btn-container-doc-history {
    width: 50%;
    mat-form-field input {
        font-size: 1.2rem;
    }
    i {
        font-size: 1.4rem;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cm-card-body {
    padding-top: 0;
}

.date-input {
    max-width: 27%;
}

.btn-container.content-right {
    width: 50%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
        padding-left: 1rem;
        font-size: 1.4rem;

        &.selected {
            opacity: 0.5;
        }
    }
}

.heading-section-doc-history {
    padding-left: 10px;
    margin-bottom: 10px;

    div {
        padding-left: 0;
    }
}

#reset,
#reset:hover,
#reset ::ng-deep .mat-button-focus-overlay {
  padding: 0.9rem;
  color: #3084b7;
  background-color: white !important;
}

#clear-filter,
#clear-filter:hover,
#clear-filter ::ng-deep .mat-button-focus-overlay {
  padding: 0.9rem;
  color: #3084b7;
  background-color: white !important;
}

#date-range-label {
  margin-left: 3rem;
  margin-top: 2.3rem;
  font-size: 1.2rem;
}