#zip-images-selection-view-page {
  #folder-structure {
    .list {
      margin: 5px;
      width: 202px;

      .list-item {
        padding: 5px !important;
        width: 200px;

        // overflow:hidden;
        // width: 100%;
        .category-name {
          width: 70%;
        }
      }

      .list-item-wrapper {
        border: 1px solid #ddd;
      }
    }

    .d-flex {
      display: flex;
      overflow: auto;
      max-height: 700px;
      width: 100%;
    }

    .closed-folder-color {
      color: #86bffb;
    }

    .open-folder-color {
      color: #0c66c8;
    }

    .loc-name {
      width: 100%;
    }


  }
  .select-img-count {
    text-align: right;
    padding-right: 15px;
  }
}
