<div class="add-edit-project-information">
  <form [formGroup]="projectInformationForm" novalidate>
    <div class="form-wrap row">
      <!--<div class="col-sm-3 col-xs-6">
        <div class="full-width-input-wrap select-box-wrap">
          <md-select placeholder="Client*" formControlName="organizationid">
            <md-option *ngFor="let client of clients" [value]="client.value">
              {{ client.text }}
            </md-option>
          </md-select>
          <md-error *ngIf="projectInformationForm.controls['organizationid'].touched && projectInformationForm.controls['organizationid'].invalid" >
            Client is <strong>required</strong>
          </md-error>
        </div>
      </div>-->
      <div class="col-sm-3 col-xs-6">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Project Code*" formControlName="code" maxlength="50">
          <mat-error i18n *ngIf="projectInformationForm.controls['code'].hasError('required')">
            Project Code is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3 col-xs-6">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Project Name*" formControlName="name" maxlength="30">
          <mat-error i18n *ngIf="projectInformationForm.controls['name'].hasError('required')">
            Project Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3 col-xs-6">
        <mat-form-field class="mat-select-full-width">
          <mat-select i18n-placeholder placeholder="Project Category" formControlName="category">
            <mat-option *ngFor="let projectCategory of projectCategories" [value]="projectCategory.key">
              {{ projectCategory.value }}
            </mat-option>
          </mat-select>
          <mat-error i18n *ngIf="projectInformationForm.controls['category'].touched && projectInformationForm.controls['category'].invalid">
            Project Category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3 col-xs-6">
        <mat-form-field class="mat-select-full-width">
          <mat-select placeholder="Priority" formControlName="priority">
            <mat-option *ngFor="let prio of priorities" [value]="prio.key">
              {{ prio.value }}
            </mat-option>
          </mat-select>
          <mat-error i18n *ngIf="projectInformationForm.controls['priority'].touched && projectInformationForm.controls['priority'].invalid">
            Priority is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-wrap row">
      <div class="col-sm-3 col-xs-6">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Open Date" readonly formControlName="opendate" dateTimePicker dateFormat="m/d/Y" enableTime="false"
            noCalendar="false">
        </mat-form-field>
      </div>
      <div class="col-sm-3 col-xs-6">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Target Close Date" readonly formControlName="targetclosedate" dateTimePicker dateFormat="m/d/Y"
            enableTime="false" noCalendar="false">
        </mat-form-field>
      </div>
      <div class="col-sm-3 col-xs-6">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Close Date" readonly formControlName="closedate" dateTimePicker dateFormat="m/d/Y" enableTime="false"
            noCalendar="false">
        </mat-form-field>
      </div>
       <div class="col-sm-3 col-xs-6">
        <mat-form-field class="mat-select-full-width">
          <mat-select i18n-placeholder  placeholder="Language" formControlName="language">
            <mat-option *ngFor="let lang of languages" [value]="lang.key">
              {{ lang.value }}
            </mat-option>
          </mat-select>
          <mat-error i18n *ngIf="projectInformationForm.controls['language'].touched && projectInformationForm.controls['language'].invalid">
            Language is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="action-wrap">
      <div class="text-right">
        <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="gotoProjectSetup()">Cancel</button>
        <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="saveClient(projectInformationForm)">Save</button>
      </div>
    </div>
  </form>
</div>