.cm-btn {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
}
.cm-mob-btn {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
}
.btn-container {
    display: flex !important;
    justify-content: flex-end;
    margin-right: 4%;
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.btn-mob-container {
    display: flex !important;
    -webkit-box-pack: end;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

mat-tab-group[vertical] {
    mat-tab-header {
        background: #FAFEFF;
    }
}

.vertical-mat-tab {
    & > .mat-tab-header {
        background: #FAFEFF;
    }
}
@media only screen and (min-width: 1024px) {
    .mb-vw{
        display: none;
    }
    .ds-vw {
        display: flex;
    }
  }
  @media only screen and (max-width: 1024px) {
    .mb-vw{
        display: block;
    }
    .ds-vw {
        display: none;
    }
  }
.accordion {
    background-color: #f1fbff;
    color: #444;
    border: 1px solid #dadada !important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 5%;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

   .active{
    background-color: #fff !important;
    color: #1277D9;
    border: none !important;
    padding-left: 5%;
}

