@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.add-edit-Product-information {
    padding: 30px 20px 30px;

    .action-wrap {
        margin-top: 15px;
    }

    .checkbox-wrap {
        margin-top: 15px;
        margin-bottom: 15px;

        .mat-checkbox {
            margin-left: 15px;

            &:first-child {
                margin-left: 0px;
            }
        } 

        @include checkbox-styled();
    }        

    .full-width-input-wrap .mat-select {
        padding-bottom: 1em;
    }

    textarea {
        height: 68px;
        resize: none;
    }

    .select-logo-error {
        @include applyFont($fontSize: 13px);        
        color: #f44336;
        margin-bottom: 14px;
    }
}

