@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.change-facility-popup-wrap {
    position: relative;
    height: 100%;

    .heading-wrap {
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: #fff;
        z-index: 2;
        padding: 17px 24px 15px;
        margin-bottom: 0px;
        border-bottom: 1px solid #F7F7F7;

        .popup-close {
            top: 14px;
            right: 20px;
        }
    }

    .middle-wrap {
        height: 100%;
        padding-top: 52px;
        padding-bottom: 68px;
    }

    .facility-items {
        height: 100%;
        overflow: auto;

        .facility-item-row {
            padding: 17px 24px;
            border-top: 1px solid #F7F7F7;         

            &:first-child {
                border-top: 0 none;
            }   

            .mat-radio-button .mat-radio-label-content {
                font-size: 15px;
                color: #000000;
                font-weight: 600;
            }

            .facility-details {
                padding-left: 28px;
                margin-top: 8px;
            }

            .address, .date-time, .current-facility-time {
                @include applyFont($fontSize: 14px);
                color: #797979;
                position: relative;

                span {
                    padding-left: 20px;
                    display: block;
                }

                i {
                    font-size: 15px;
                    position: absolute;
                }
            }

            .address, .date-time {                
                width: 45%;
                float: left;

                @media(min-width: 100px) and (max-width: 600px) {
                    width: 100%;
                    float: none;

                    &.date-time {
                        margin-top: 8px;
                    }
                }
            }            

            .current-facility-time {
                margin-top: 8px;
            }
        }
    }

    .error-text {
        @include applyFont($fontSize: 13px);
        color: #f44336;    
        position: absolute;
        top: 0px;    
    }

    .action-wrap {
        border-top: 1px solid #F7F7F7;
        margin-top: 0px;
        padding: 15px 24px;
        position: absolute;
        top: auto;
        bottom: 0px;
        width: 100%;
        background-color: #fff;
    }
}