<ng-container *ngIf='subtab.is_table_view; else formView'>
    <cm-contracts-meta-tab-subtab-table
      [oneSubtab]="oneSubtab" 
      [addContractMetaModelId]="addContractMetaModelId" 
      [addContractMetaModelTabId]="addContractMetaModelTabId" 
      [subtab]="subtab"
      [tab]="tab"
      [matGroupTab]="matGroupTab"
      [matGroupSubTab]="matGroupSubTab"
    >
    </cm-contracts-meta-tab-subtab-table>
</ng-container>
<ng-template #formView>
    <cm-contracts-meta-tab-subtab-form
      [oneSubtab]="oneSubtab" 
      [addContractMetaModelId]="addContractMetaModelId" 
      [addContractMetaModelTabId]="addContractMetaModelTabId" 
      [subtab]="subtab"
      [tab]="tab"
      [matGroupTab]="matGroupTab"
      [matGroupSubTab]="matGroupSubTab"
    >
    </cm-contracts-meta-tab-subtab-form>
</ng-template>
