
<div class="section-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section heading="ReachOut Module">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>        
        <div class="clearfix"></div>
    </div>
    <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [hasActionButtons]="hasActionButtons" 
    [showDeleteButton]="showDeleteButton" [showDeactivateButton]="showDeactivateButton"
    (edit)="editEventNotificationPopup($event)" 
    (delete)="deleteEventNotificationDetail($event)"
    (deActivate)="activateDeactivateEventNotification($event)">
        <div class="align-right" button-toolbar>
            <div class="inner">
            </div>
        </div>
    </ng-data-tables>
     
</div>

