@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.promotional-banner-wrap {

    .banner-required {
        @include applyFont($fontSize: 13px);        
        color: #f44336;        
    }

    .image-file-uploader-box {
        .uploader, .image-selection-wrap {
            height: 125px;
            margin-bottom: 5px;
        }
    }
    
    .action-wrap {
        margin-top: 40px;
    }
}