<div class="section-wrap self-registered-user-container">
    <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [hasActionButtons]="hasActionButtons"
    [showDeleteButton]="showDeleteButton" [showEditButton]="showEditButton"
    (edit)="editRecipient($event)" 
    (delete)="deleteRecipient($event)"
    (showUsers)="showUsers($event)" 
    [showDeleteButton]="true" >
        <div class="align-right" button-toolbar>
            <div class="inner"> 
                <div class="button-dropdown dropdown">
                    <button i18n mat-button data-toggle="dropdown">
                        Add Recipients <i class="fa fa-sort-desc"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li i18n><a href="javascript:void(0);" (click)="uploadListPopup()">Upload List</a></li>
                        <li i18n><a href="javascript:void(0);" (click)="addSelfRegisteredUserPopup()">Manual Add</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </ng-data-tables>
</div>