<!--
<nav class="mt-20">
  <a  *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
   {{link.label}}
 </a>
</nav> -->

<div class="col-md-12 no-mg project-tabs">
  <ul class="nav nav-pills nav-justified">
    <ui-control-permission [fieldName]="'projectConfigurationTab'" [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeTabs" [uiPermissionObj]="uiAccessPermissionsObj">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.configuration"  routerLinkActive="active">{{'projects.labels.configuration'| translate}}</a>
      </li>
    </ui-control-permission>
    
    <ui-control-permission [fieldName]="'projectPaymentTermsTab'" [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeTabs" [uiPermissionObj]="uiAccessPermissionsObj">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.paymentTerms"   routerLinkActive="active">{{'projects.labels.paymentTerms'| translate}}</a>
      </li>
    </ui-control-permission>
    <ui-control-permission [fieldName]="'projectApprovalHierarchyTab'" [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeTabs" [uiPermissionObj]="uiAccessPermissionsObj">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.approvalHirerachy" routerLinkActive="active">{{'projects.labels.approvalHierarchy'| translate}}</a>
      </li>
    </ui-control-permission>
    <ui-control-permission [fieldName]="'projectCurrencyTab'" [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeTabs" [uiPermissionObj]="uiAccessPermissionsObj">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="ROUTER_LINKS.currencies" routerLinkActive="active">{{'projects.labels.currencies'| translate}}</a>
      </li>
    </ui-control-permission>
  </ul>
</div>
<router-outlet></router-outlet>
