@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.branding-wrap {

    .action-wrap {
        margin-top: 40px;
    }

    .full-width-input-wrap .mat-select {
        padding-bottom: 1em;
    }
}

:host /deep/ .auto-complete {
  p-autoComplete {
    span {
      input {
        margin: 1px;
        padding: 0.7em;
        min-width: 315px;
      }
      .ui-autocomplete-panel {
        box-shadow: none;
        overflow: hidden;
        overflow-y: auto;
        min-width: 315px;
      }
    }
    &.ui-state-style {
      .ui-inputtext:focus {
        box-shadow: 0px 0px 5px #ffffff;
      }
      .ui-inputtext::-ms-clear {
        display: none;
      }
      .ui-inputtext {
        border: none;
        border-bottom: 1px solid #ccc;
        font-family: "Work Sans";
        font-size: 15px;
        font-weight: normal;
        line-height: normal;
        color: #666666;
      }
     
    }
  }
  .profile {
    width: 32px;
    display: inline-block;
    margin: 0px 0 2px 5px;
    border-radius: 100%;
    width: 35px !important;
    height: 35px !important;
  }
  .ui-helper-clearfix {
    border-bottom: none
  }
  .user-image {
    .material-icons {
      padding-top: 6px
    }
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #b4c0c7 !important;
    border-color: #ffffff !important;
    color: #E6E6E6;
    text-align: center;
    display:inline-block;
  }
  .mail-admin-details {
    .mail-admin-email {
      font-size: 11px;
      color: #3b423f;
      white-space: nowrap;
      max-width: 175px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
    font-size:15px;
    color: #3b423f;
    margin-bottom: 6px;
    white-space: nowrap;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .email-error {
    padding: 15px 1px 1px 1px;
  }
}
