<div class="component-wrap non-registered-users-upload-list-wrap">   
  <div *ngIf="!displayStatus"> 
    <div class="heading-wrap">
      <div class="inner">
        <div class="popup-heading" i18n>Upload Poi List</div>
        <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
      </div>
    </div>
  
 <div class="form-wrap row" >
    <div class="col-sm-12 col-xs-12 uploader-wrap">
      <label class="uploader" for="input-file">
            <div class="col-xs-12 text-center">
              <i class="icon-upload3" *ngIf="!fileSelected"></i>
              <i class="fa fa-file-excel-o file-selected-icon" *ngIf="fileSelected"></i>
            </div>
            <div class="col-xs-12 text-center">
              <span *ngIf="!fileSelected" i18n >Upload Files</span>
              <span class="file-selected-name" *ngIf="fileSelected">{{selectedFileName}}</span>
            </div>            
      </label>
      <input id="input-file" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="fileChange(input)" #input>
      <a href="assets/PoiListTemplate.xlsx" class="template-download" [ngStyle]="{'fontSize.px': 14, 'fontWeight': 400}"download>Download POI Template</a>
    </div>
  </div>

  <div class="action-wrap">
    <div class="text-right">
      <button i18n mat-button class="app-btn" id="cancel" (click)="closePopup()">Cancel</button>
      <button i18n mat-button class="app-btn mat-primary mat-flat-button" (click)="savePoiList()">Save</button>
    </div>
  </div>
</div>
<!-- <div *ngIf="displayStatus">
 <div class="heading-wrap">
      <div class="inner">
        <div class="popup-heading">Upload Recipients List Status</div>
        <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
      </div>
  </div> -->
 <!-- <div class="table-dth">
       <table>
        <thead>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email Id</td>
            <td>status</td>
        </thead>
        <tbody>
          <tr *ngFor="let entry of statusRecipientList">
              <td>{{ entry.FirstName }}</td>
              <td>{{ entry.LastName }}</td>
              <td>{{ entry.Email }}</td>
              <td>{{ entry.status }}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
 <!-- </div> -->
</div>


