<div class="component-wrap add-edit-queue-setup nav-page">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()">
        <i class="material-icons">close</i>
      </div>
    </div>
  </div>

  <div class="form-wrap row">
    <div class="col-sm-12 col-xs-12">
      <div class="widget-content">
        <perfect-scrollbar class="scroll-container-rule" [scrollIndicators]="true">
          <div class="recent-printed-jobs-wrap scrollable-content scrollBarBlock">
            <tree-root [nodes]="navigatorNodes" [options]="navigatorOptions"  (focus)="navigatorSelectionChange($event)"
              #fileCabinetTree>
              <ng-template #treeNodeTemplate let-node let-index="index">
                <span class="cabinateElementSpan">{{ node.data.name }}</span>
              </ng-template>
            </tree-root>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>

  <div class="action-wrap">
    <div class="text-right">
      <button type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="moveToFolder()">{{saveBtnTitle}}</button>
    </div>
  </div>
</div>
