<div class="panel panel-primary">
  <!-- <div class="panel-body"> -->

<div *ngIf="showFlag" class="col-md-9 no-mg project-tabs">
        <ul class="nav nav-pills nav-justified">
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="ROUTER_LINKS_FULL_PATH.purchaseOrderLocation " routerLinkActive="active">Location purchase order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="ROUTER_LINKS?.purchaseOrderSubLocation" routerLinkActive="active" >Sub location purchase order</a>
          </li> -->

        </ul>
      </div>
      <router-outlet></router-outlet>
    <!-- </div> -->
</div>
