<div class="add-edit-client-information">
  <form [formGroup]="addEditUserSetupForm" novalidate>
    <div class="form-wrap row">
      <div>
         <div class="col-sm-4 col-xs-12">
          <mat-form-field class="full-width-input-wrap home-input">
            <input autofocus i18n-placeholder matInput type="password" placeholder="Password*" formControlName="password" maxlength="50" #passwordInput>
            <i class="material-icons password-eye-icon" (click)="showPassword()">remove_red_eye</i>
            <mat-error  i18n *ngIf="addEditUserSetupForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="action-wrap">
      <div class="text-right">
        <button i18n  type="button" mat-button class="app-btn" id="cancel" (click)="gotoUserSetup()" aria-label="Cancel reset password"><span aria-hidden="true">Cancel</span></button>
        <button i18n  type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="saveUserSetup(addEditUserSetupForm)" [attr.aria-label]="saveBtnTitle+' reset Password'"><span aria-hidden="true">{{saveBtnTitle}}</span></button>
      </div>
    </div>
  </form>
</div>