<div class="store-front-setup-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section heading="Site Design Setup">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>          
        <div class="clearfix"></div>
    </div>

    <div class="store-front-setup-middle-section">
        <mat-card>
            <div class="row">
                <div class="col-xs-12 col-sm-12 align-right">
                    <div class="inner">
                        <button i18n mat-button class="app-btn mat-primary mat-flat-button save-btn" [routerLink]="['add']">
                            Add Theme
                        </button>
                    </div>
                </div>

                <div class="col-xs-12 themes-wrap"  *ngIf="themes.length>0;else showErrorMessage">
                    <div class="theme-selection-carousel-wrap">
                        <div class="theme-selection-carousel owl-carousel" #carousel carousel [options]="{items: 4, dots: false, nav: true, margin: 20}" [responsive]="responsive" [navText]="navText" [refresh]="refresh">    
                        <div *ngFor="let theme of themes" style="width: 210px;">
                            <div class="theme-wrap" [class.selected-theme]="selectedTheme == theme.name" >
                            <h2 class="theme-name-ellipsis" title="{{theme.name}}" >{{theme.name}}</h2>
                            <div class="delete" (click)="deleteTheme(theme, i)"><i class="fa fa-trash"></i></div>
                            <div class="colors-wrap">
                                <p i18n>Colors</p>
                                <div class="colors-boxes">
                                <div class="color-box" *ngFor="let color of theme.colors" [style.background-color]="color"></div>
                                </div>
                            </div>
                            <div class="font-wrap">
                                <p i18n>Font</p>
                                <span>{{theme.font}}</span>
                            </div>
                            <div class="select-link" (click)="editTheme(theme)">SELECT</div>        
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <ng-template i18n #showErrorMessage>No data available</ng-template>
            </div>
        </mat-card>
    </div>
</div>