.text-editor-wrap{
    margin-top:2%;
    margin-bottom:2%;
.cke_dialog_contents_body {
    padding: 50px !important;
}

.cke_dialog_title {
    border-bottom: 1px solid #ffffff !important;
    background: #ffffff !important;
}

.cke_dialog_footer {
    border-top: 1px solid #ffffff !important;
    background: #ffffff !important;
}

}