<div class="component-wrap add-edit-user-setup">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()" aria-label="Close Rule Group">
        <span aria-hidden="true"><i class="material-icons" title="Close Rule Group">close</i></span>
      </div>
    </div>
  </div>

  <form [formGroup]="addEditRuleGroupForm" novalidate>
    <div class="form-wrap col">

      <div class="col-sm-12 col-xs-12">
        <mat-form-field class="full-width-input-wrap">
          <label for="groupName" class="sr-only"></label>
          <input i18n-placeholder id="groupName" matInput placeholder="Name*" formControlName="groupName" maxlength="100">
          <mat-error i18n *ngIf="addEditRuleGroupForm.controls['groupName'].hasError('required')">
            Group Name is
            <strong>required</strong>
          </mat-error>
          <mat-error i18n *ngIf="addEditRuleGroupForm.controls['groupName'].hasError('pattern')">
            Enter valid <strong>Group Name</strong>

          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="action-wrap">
      <div class="text-right">
        <button role="button" i18n type="button" aria-label="Cancel Rule Group" mat-button class="app-btn" id="cancel"
          (click)="closePopup()">Cancel</button>
        <button role="submit" type="submit" aria-label="Save Rule Group" mat-button class="app-btn mat-primary mat-flat-button save-btn"
          (click)="addOrUpdateRuleGroup(addEditRuleGroupForm)">{{saveBtnTitle}}</button>
        <!--<button type="submit" md-button class="app-btn orange-button save-btn" (click)="saveSentiments(addEditRuleGroupForm)">{{saveBtnTitle}}</button>-->
      </div>
    </div>
  </form>

</div>
