@import '../../../styles/variables';
@import '../../../styles/mixins';

.role-setup-wrap {     

  .role-setup-card-wrap {
    margin-top: 25px;
  }

  mat-card {
    padding: 30px 25px 30px;
  }

  .assign-menu-text {
    margin-top: 25px;
    @include applyFont($fontSize: 17px, $fontWeight: 600);
    color: $primary_shade3;
  }

  .menu-features-setup-box-wrap {
    margin-top: 30px;

    .box {
      border: 1px solid $silver;
      padding: 0px;
      background-color: #FFFFFF;

      &.box-2 {
        background: #FCFCFC;
        border-left: 0 none;
      }

      &.box-3 {
        background: #F5F5F5;
        border-left: 0 none;
      }

      &.box-4 {
        background: #EDEDED;
        border-left: 0 none;
      }
    
      .box-heading {
        @include applyFont($fontSize: 14px, $fontWeight: 600);
        color: #222222;
        padding: 25px 12px 0px;
      }

      .box-listing {
        margin-top: 20px;

        ul {
          list-style-type: none;
          padding: 0px;
          margin: 0px;
          height: 260px;
          overflow: auto;

          li {
            @include applyFont($fontSize: 13px, $fontWeight:normal);
            padding: 0px 12px;
            cursor: pointer;
            position: relative;
            line-height: 36px;
            color: #222222;

            .side-arrow {
              position: absolute;
              color: #727375;
              font-size: 20px;
              left: auto;
              right: 12px;
              top: 7px;
            }

            &:hover, &.active {
              background-color: #D6EDFF;
            }

            &.checkbox-wrap {
              @include checkbox-styled();

              .mat-checkbox-layout {
                  margin: 0px 0px 2px;
              }

              .mat-checkbox-frame {
                  border-width: 1px;
                  border-radius: 0px;
              }

              .mat-checkbox-background {
                  background-color: #FFFFFF;
              }

              .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                  background-color: #FFFFFF;
                  border-color: #CFD2D3;

                  .mat-checkbox-checkmark-path {
                      stroke: #222222!important;
                  }
              }

              .mat-checkbox-label {
                  font-weight: normal;
                  line-height: 15px;
                  padding-top: 4px;
                  color: #222222;
              }
            }

            .mat-radio-button {            
              .mat-radio-container {
                background-color: #FFFFFF!important;
                border-radius: 0px;
              }
              .mat-radio-label {
                margin: 0px 0px 2px;
                white-space: initial;
              }
              .mat-radio-label-content {
                font-size: 13px;
                color: #222222!important;
              }
              .mat-radio-outer-circle {
                border-radius: 0px;
                border-color: $silver_shade1!important;
              }
              .mat-radio-inner-circle {
                  background-color: #222222!important;
                  border-radius: 0px;                
                  height: 15px;
                  left: 2.8px;                
                  top: 2.4px;                                
                  width: 14px;
              }
            }
          }
          
        }
      }
    }
  }

  .action-wrap {
    margin-top: 25px;
  }
}