<div class="section-wrap role-setup-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section heading="Role Setup">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="role-setup-card-wrap">
        <mat-card>
            <div class="md-card-inner">
                <form [formGroup]="roleSetupForm">
                    <div class="select-box-wrap">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                <div class="full-width-input-wrap select-box-wrap">
                                    <mat-select placeholder="Module*" formControlName="module">
                                        <mat-option *ngFor="let module of modules" [value]="module.managerId">
                                            {{ module.managerName1 }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="roleSetupForm.controls['module'].hasError('required') && roleSetupForm.controls['module'].touched">
                                        Module is <b>required</b>.
                                    </mat-error>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                <div class="full-width-input-wrap select-box-wrap">
                                    <mat-select placeholder="Role*" formControlName="role">
                                        <mat-option *ngFor="let role of roles" [value]="role.roleId">
                                            {{ role.roleName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="roleSetupForm.controls['role'].hasError('required') && roleSetupForm.controls['role'].touched">
                                        Role is <b>required</b>.
                                    </mat-error>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                                <div class="full-width-input-wrap select-box-wrap">
                                    <button type="submit" md-button class="app-btn orange-button save-btn" (click)="loadMenus(roleSetupForm)">Go</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="assign-menu-text">Assign Menu</div>

                    <div class="menu-features-setup-box-wrap col-sm-12">
                        <div class="row">
                            <div class="box box-1 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                <div class="inner">
                                    <div class="box-heading">Main Menu</div>
                                    <div class="box-listing">
                                        <ul>
                                            <li *ngFor="let data of setupData" [class.active]="data.menuName == selectedSetupName" (click)="onSetupSelect(data)">
                                                <mat-checkbox [value]="data.menuId" [checked]="data.isPresent" (change)="assignMenu($event, data)"> {{data.menuName}}</mat-checkbox>
                                                <i class="fa fa-angle-right side-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- .box-1 -->

                            <div class="box box-2 col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="subMenus.length > 0">
                                <div class="inner">
                                    <div class="box-heading">Sub Menu of {{selectedSetupName}}</div>
                                    <div class="box-listing">
                                        <mat-radio-group>
                                            <ul>
                                                <li *ngFor="let subMenu of subMenus" [class.active]="subMenu.menuName == selectedSubMenuName" (click)="onSubMenuSelect(subMenu)">
                                                    <mat-checkbox [value]="subMenu.menuId" [checked]="subMenu.isPresent"> {{subMenu.menuName}}</mat-checkbox>
                                                    <i class="fa fa-angle-right side-arrow"></i>
                                                </li>
                                            </ul>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>
                            <!-- .box-2 -->

                            <div class="box box-3 col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="features.length > 0">
                                <div class="inner">
                                    <div class="box-heading">Sub Menu of {{selectedSubMenuName}}</div>
                                    <div class="box-listing">
                                        <ul>
                                            <li class="checkbox-wrap" *ngFor="let feature of features" [class.active]="feature.menuName == selectedFeatureName" (click)="onFeaturesSelect(feature)">
                                                <mat-checkbox [value]="feature.menuId" [checked]="feature.isPresent">{{feature.menuName}}</mat-checkbox>
                                                <i class="fa fa-angle-right side-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- .box-3 -->

                            <div class="box box-4 col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="permissions.length > 0">
                                <div class="inner">
                                    <div class="box-heading">Sub Menu of {{selectedFeatureName}}</div>
                                    <div class="box-listing">
                                        <ul>
                                            <li class="checkbox-wrap" *ngFor="let permission of permissions">
                                                <mat-checkbox>{{permission}}</mat-checkbox>
                                                <i class="fa fa-angle-right side-arrow"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- .box-4 -->
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!--<div class="action-wrap">
                        <div class="text-right">
                            <button type="button" md-button class="app-btn gray-button">Cancel</button>
                            <button type="submit" md-button class="app-btn orange-button save-btn" (click)="save(roleSetupForm)">Assign</button>
                        </div>
                    </div>-->
                </form>
            </div>
        </mat-card>
    </div>
</div>