<mat-tab-group flex="1" vertical class="vertical-mat-tab" 
#matGroupSubTab [(selectedIndex)]="selectedIndexSubtab" [ngStyle]="{'minHeight.rem': (arraySubtabs.length+1)*4.8}">
  <mat-tab *ngFor = "let subtab of arraySubtabs; let index = index">
    <ng-template matTabLabel>
      <div class="dropBox" [id]="'list-vertical'+index" 
          cdkDropList
          cdkDragRootElement=".mat-tab-label"
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="dropSubTab($event)" 
          [cdkDropListConnectedTo]="getAllListSubTabConnections(index)">
        <div cdkDragBoundary=".mat-tab-labels" cdkDrag>{{ subtab.name }}</div>   
      </div>
      <div *ngIf="!subtab.fixed_visibility">
        <i class="fas fa-pencil-alt" style="color: black;" (click)="openDialogSubtab('UPDATE')"></i>
        <i class="fas fa-trash-alt" style="color: black; padding-left: 5px; padding-right: 5px;" (click)="openDialogSubtab('DELETE')"></i>
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(subtab) : null"
          [checked]="selection.isSelected(subtab)"
        >
        </mat-checkbox>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <cm-add-contract-meta-model-subtab 
        [addContractMetaModelId]="addContractMetaModelId" 
        [addContractMetaModelTabId]="addContractMetaModelTabId" 
        (isDirty)="isChildDirty($event)"
        [subtab]="subtab"
        [matGroupTab]="matGroupTab"
        [matGroupSubTab]="matGroupSubTab"
        [selectedIndexSubtab]="selectedIndexSubtab"
      >
      </cm-add-contract-meta-model-subtab>
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="true" *ngIf="tab.create_new_subtab || (arraySubtabs.length > 0 && atLeastOneWithoutFixedVisibility)">
    <ng-template matTabLabel>
      <div>
          <a *ngIf="tab.create_new_subtab" class="add-sub-section" (click)="openDialogSubtab('CREATE')" aria-label="Add Sub Section">
              <i class="fa fa-plus"></i> Add Sub Section
          </a>
      </div>
      <div *ngIf="arraySubtabs.length > 0 && atLeastOneWithoutFixedVisibility">
          <a class="save-sub-section" (click)="saveViewSubtabs()" aria-label="Save">
              Save
          </a>
      </div>
    </ng-template>
    </mat-tab>
</mat-tab-group>