<div class="shared-mailbox-wrap">
  <div class="row" style="padding: 30px 30px" *ngIf="!noShareMailbox"> 
    <div *ngFor="let sharedMailBox of sharedMailBoxes ">
      <div class="col-sm-3 col-xs-3">
        <mat-checkbox (change)="onChange($event,sharedMailBox)" [checked]="sharedMailBox.checked">{{sharedMailBox.mailboxName}}</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 30px 30px" *ngIf="noShareMailbox">
    <div >
        <span i18n>No shared mailbox available </span>
    </div>
  </div>
</div>
