<div class="component-wrap add-group-user-wrap">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <div class="section-tabs">
      <ul>
          <li [class.active]="activeTab == 1" (click)="selectTab(1)">Manual Add</li>
          <li [class.active]="activeTab == 2" (click)="selectTab(2)">Upload List</li>
      </ul>
  </div>
  <div class="manual-add-wrap" *ngIf="activeTab == 1">
        <div class="form-wrap radio-cols">   
            <div class="col-inner"> 
            <mat-radio-group [(ngModel)]="usernameMethod">
                <mat-radio-button value="1" (change)="byUserEmail(1)">By User Name</mat-radio-button>
                <mat-radio-button value="2" (change)="byUserEmail(2)">By Email</mat-radio-button>
            </mat-radio-group>
            </div>
        </div>
        <form [formGroup]="addUserForm" novalidate>
          <div class="form-wrap radio-cols">   
            <div class="col-inner add-group-input"> 
             <div class="col-xs-12 col-sm-12 padding-left-0 padding-right-0 selected-option-cols col-border" *ngIf="usernameMethod == 1">
                <mat-form-field class="full-width-input-wrap">
                    <input matInput placeholder="Enter User Name" formControlName="users">
                    <mat-error *ngIf="addUserForm.controls['users'].hasError('required')">
                        User Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <span class="blue_sublink"><i>For adding multiple users, use comma</i></span>
             </div>
              <div class="col-xs-12 col-sm-12 padding-left-0 padding-right-0 selected-option-cols col-border" *ngIf="usernameMethod == 2">
                <mat-form-field class="full-width-input-wrap">
                    <input matInput placeholder="Enter Email" formControlName="users">
                    <mat-error *ngIf="addUserForm.controls['users'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="addUserForm.controls['users'].hasError('pattern')">
                        Please enter a valid email id.
                    </mat-error>
                </mat-form-field>               
             </div>
            <div class="clearfix"></div>       

            <div class="action-wrap">
                <div class="text-right">
                    <button type="button" mat-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
                    <button type="submit" mat-button class="app-btn orange-button save-btn" (click)="saveUser(addUserForm)">{{saveBtnTitle}}</button>
                </div>
            </div>
            </div>
          </div>
        </form>
  </div>

  <div class="upload-list-wrap" *ngIf="activeTab == 2">
    <div class="uploader-wrap">
      <label class="uploader" for="input-file">
            <div class="col-xs-12 text-center">
              <i class="icon-upload3" *ngIf="!fileSelected"></i>
              <i class="fa fa-file-excel-o file-selected-icon" *ngIf="fileSelected"></i>
            </div>
            <div class="col-xs-12 text-center">
              <span *ngIf="!fileSelected">Upload Files</span>
              <span class="file-selected-name" *ngIf="fileSelected">{{selectedFileName}}</span>
            </div>            
      </label>
      <input id="input-file" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="fileChange(input)" #input>
      <a href="\assets\users-sample.xlsx" class="download-excel-template" download>Download Excel Template</a>
    </div>

    <div class="action-wrap">
        <div class="text-right">
            <button type="button" mat-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
            <button type="submit" mat-button class="app-btn orange-button save-btn" (click)="importUsers()">{{saveBtnTitle}}</button>
        </div>
    </div>
  </div>
</div>
