<div class="col-md-12" [formGroup]="formGroup">
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-12 textarea">
          <textarea matInput placeholder="Clause" formControlName="inputClause" aria-invalid="false"
            aria-required="false"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6" id="type-div">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Type" formControlName="inputType">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Notice Period" formControlName="inputNoticePeriod">
          <mat-error *ngIf="formGroup.get('inputNoticePeriod').invalid">
            {{ getErrorMessage(formGroup.get('inputNoticePeriod'), {'pattern': 'Enter Numeric, non-decimal value'}) }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" formControlName="selectedTimePeriod">
            <ng-container *ngFor="let timePeriod of arrayTimePeriods">
              <mat-option *ngIf="['YEARS', 'MONTHS', 'WEEKS', 'DAYS'].indexOf(timePeriod.code) !=-1"
                [value]="timePeriod.code" name="noticePeriodType" ngDefaultControl>
                {{ timePeriod.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Term"
            formControlName="selectedTerm">
            <mat-option *ngFor="let term of arrayTerminationTerms" [value]="term.code">
              {{term.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element mt-5">
    <div class="col-md-6">
      <mat-form-field class="col-md-12">
        <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Status"
          formControlName="selectedStatus">
          <mat-option *ngFor="let status of arrayTerminationStatus" [value]="status.code">
            {{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Reference No." formControlName="inputReferenceNo">
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-6 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Date From" aria-invalid="false" aria-required="false" formControlName="inputDateFrom"
            name="endDate" (dateChange)="dateFromChanged($event)" [max]="maxDateFrom" [matDatepicker]="dateFromPicker"
            required="false" (click)="dateFromPicker.open()" />
          <mat-datepicker-toggle matPrefix [for]="dateFromPicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Date To" aria-invalid="false" aria-required="false" formControlName="inputDateTo"
            name="endDate" (dateChange)="dateToChanged($event)" [min]="minDateTo" [matDatepicker]="dateToPicker"
            required="false" (click)="dateToPicker.open()" />
          <mat-datepicker-toggle matPrefix [for]="dateToPicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateToPicker></mat-datepicker>
          <mat-error *ngIf="formGroup.get('inputDateTo').invalid">
            {{ getErrorMessage(formGroup.get('inputDateTo')) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12 mat-form-field-has-prefix">
          <div (click)="focusSelect()">
            <input matInput
              class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored required"
              placeholder="Value" required='false' aria-invalid="false" aria-required="false"
              formControlName="inputValue" name="value">
          </div>
          <span class="select-prefix" [ngClass]="{'no-display-arrow' : (formGroup.get('currencyType').value &&
                                                formGroup.get('currencyType').value !== '')}" style="font-size: 1.6rem"
            matPrefix>
            <mat-select disableOptionCentering panelClass="select-dropdown-class" #currencyDropDown
              formControlName="currencyType" (selectionChange)="selectedCurrency()" panelClass="dropdown-currency">
              <mat-option *ngFor="let cur of arrayCurrencies" [value]="cur.code" required='false' name="currencyType"
                ngDefaultControl>
                {{cur.symbol}}
              </mat-option>
            </mat-select>
            &nbsp;
          </span>
          <mat-error *ngIf="formGroup.get('currencyType').invalid || formGroup.get('inputValue').invalid">
            {{getErrorMessage(formGroup.get('currencyType').invalid ? formGroup.get('currencyType') :
                              formGroup.get('inputValue'))}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing element">
    <div class="col-md-6" id="checkbox-div">

      <mat-checkbox class="form-checkbox" formControlName="alertContractOwner">
        Alert Contract Owner regarding Termination
      </mat-checkbox>

    </div>
    <div class="col-md-6">

    </div>
  </div>
  <!-- <div class="content-right btn-container spacing-element">
    <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-btn primary-pink-color" (click)="saveTermination()">
      SAVE AND CONTINUE
    </button>
  </div> -->
  <div class="content-right btn-container ds-vw">
    <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-btn primary-pink-color" (click)="saveTermination()">
      SAVE AND CONTINUE
    </button>
  </div>

  <div class="content-right btn-mob-container">
    <button color="primary" class="cm-mob-btn mb-vw" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-mob-btn mb-vw primary-pink-color" (click)="saveTermination()">
      SAVE AND CONTINUE
    </button>
  </div>
</div>