<mat-tab-group flex="1" vertical class="vertical-mat-tab ds-vw" [(selectedIndex)]="selectedIndex" #matgroupSla
  (selectedTabChange)="onTabChange()">
  <mat-tab label="TAT">
    <cm-tat [matgroupSla]="matgroupSla" [arrayCurrencies]="arrayCurrencies" (isDirty)="dirtyForm($event)"></cm-tat>
  </mat-tab>

  <mat-tab label="Quality" [disabled]="addMode">
    <cm-quality [matgroupSla]="matgroupSla" [arrayCurrencies]="arrayCurrencies" (isDirty)="dirtyForm($event)">
    </cm-quality>
  </mat-tab>

  <mat-tab label="Uptime" [disabled]="addMode">
    <cm-uptime [matgroup]="matgroup" [arrayCurrencies]="arrayCurrencies" (isDirty)="dirtyForm($event)"></cm-uptime>
  </mat-tab>
</mat-tab-group>


<div class="mb-vw">
  <button class="accordion active">TAT</button>
  <div class="panel show">
    <cm-tat [matgroupSla]="matgroupSla" [arrayCurrencies]="arrayCurrencies" (isDirty)="dirtyForm($event)"></cm-tat>
  </div>

  <button class="accordion">Quality</button>
  <div class="panel">
    <cm-quality [matgroupSla]="matgroupSla" [arrayCurrencies]="arrayCurrencies" (isDirty)="dirtyForm($event)">
    </cm-quality>
  </div>

  <button class="accordion">Uptime</button>
  <div class="panel">
    <cm-uptime [matgroup]="matgroup" [arrayCurrencies]="arrayCurrencies" (isDirty)="dirtyForm($event)"></cm-uptime>


  </div>
</div>