<div class="breadcrumbs-wrap">
    <ol class="breadcrumb">
        <li *ngFor="let bread of _breadcrumbs;let last = last;" [class.active]="bread.active == true">
            <a [routerLink]="[bread.link]" *ngIf="!bread.active" (click)="breadcrumbSelected(bread)">{{bread.text}}</a>
            <span class="active-text" *ngIf="bread.active">{{bread.text}}</span>
            <span class="slash" *ngIf="!last">/</span>
            <div class="clearfix"></div>
        </li>                    
    </ol>
</div>