@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
    ::ng-deep ng-data-tables {   
        table {
            tbody {
                tr {
                    td {
                        @media(min-width: 992px) and (max-width: 999999px) { 
                            
                        }                    
                    }
                }
            }
        }
    }
}
.padd0{
    padding: 0px;
    margin-left: -40px;
    margin-top: -7px;
}
.labelName{

    padding: 19px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
    margin-left: -23px;
}