<ng-container *ngIf="manageBidData.showLoaderFlag">
  <app-loader class="col-md-12" [loading]="this.manageBidData.showLoaderFlag"></app-loader>
</ng-container>
<div id="aicp-info" *ngIf="!manageBidData?.showLoaderFlag">
  <div class="container-fluid">
    <form class="form-horizontal" novalidate>
      <div class="panel panel-primary">
        <div class="panel-body panel-outer-body">
          <div *ngIf="PREBID_ENDPOINT">
            <div class="row no-mg">
              <div class="col-6 pass-name" *ngIf="passDetails?.passName">
                <strong>Pass Name:</strong> {{ passDetails?.passName }}
              </div>
              <div class="full-screen" [ngClass]="passDetails?.passName ? 'col-6' : 'col-12'">
                <button class="btn save-btn btn-default mr-5" (click)="toggleFullScreen()">View in Fullscreen</button>

                <ng-container *ngIf="editFlag">
                  <action-permission [actionType]="ACTION_TYPES.EDIT" [MODULE_ID]="MODULE_ID"
                    [permissionArr]="permissionObject">
                    <button class="btn save-btn btn-success mr-5" [disabled]="this.manageBidData.disableButtonFlag"
                      (click)="saveAICP(STATUS_CODES.DRAFT)">
                      <i *ngIf="this.manageBidData.updateAICPSpinnerFlag"
                        class="fa fa-spinner fa-spin margin-right-5"></i>{{'biddings.labels.updateAICP'|
                    translate}}</button>
                  </action-permission>
                  <action-permission [actionType]="ACTION_TYPES.ADD" [MODULE_ID]="MODULE_ID"
                    [permissionArr]="permissionObject">
                    <button class="btn save-btn btn-success" [disabled]="this.manageBidData.disableButtonFlag"
                      (click)="saveAICP(STATUS_CODES.PUBLISH)">
                      <i *ngIf="this.manageBidData.publishSpinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.publish'|
                    translate}}</button>
                  </action-permission>
                </ng-container>
                <action-permission [actionType]="ACTION_TYPES.ADD" [MODULE_ID]="MODULE_ID"
                  [permissionArr]="permissionObject">
                  <button *ngIf="!editFlag" class="btn save-btn btn-success pull-right" (click)="navigateTo()">

                    {{'biddings.buttons.next'|
                  translate}}
                  </button>
                </action-permission>

              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <iframe id="aicpSheet" [ngClass]="!loaded ? 'hidden' : ''" (load)="iframeLoaded()"
                [src]="(PREBID_ENDPOINT) | safe" width="100%" frameBorder="0" height="{{iframeHeight}}px"></iframe>
              <div class="center" *ngIf="!loaded">
                <i class="fa fa-spinner fa-2x fa-spin"></i>
              </div>
            </div>
          </div>
          <div *ngIf="!PREBID_ENDPOINT" class="text-center text-danger">
            {{'biddings.labels.pleaseCreateOnePass' | translate}}
          </div>
        </div>
      </div>
    </form>
  </div>

</div>