#aicp-info {
    .full-screen {
        margin-bottom: 10px;
        text-align: right;
    }
    .pass-name strong {
        font-size: 16px;
    }
    #aicpSheet html body {
        padding: 0px;
    }

    .hidden {
        display: none;
       }
}