<div class="col-md-12" [formGroup]="formGroup">
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-12 textarea">
          <textarea matInput placeholder="Clause" formControlName="inputClause" aria-invalid="false"
            aria-required="false"></textarea>
        </mat-form-field>
      </div>
      <div class="col-md-6" id="reference-no-div">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Reference No." formControlName="inputReferenceNo">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="col-md-6">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Percentage" formControlName="inputPercentage">
        <mat-error *ngIf="formGroup.get('inputPercentage').invalid">
          {{getErrorMessage(formGroup.get('inputPercentage'))}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="col-md-12">
        <input matInput placeholder="Type" formControlName="inputType">
      </mat-form-field>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-6 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Date From" aria-invalid="false" aria-required="false" formControlName="inputDateFrom"
            name="endDate" (dateChange)="dateFromChanged($event)" [max]="maxDateFrom" [matDatepicker]="dateFromPicker"
            required="false" (click)="dateFromPicker.open()" />
          <mat-datepicker-toggle matPrefix [for]="dateFromPicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateFromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-md-6 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Date To" aria-invalid="false" aria-required="false" formControlName="inputDateTo"
            name="endDate" (dateChange)="dateToChanged($event)" [min]="minDateTo" [matDatepicker]="dateToPicker"
            required="false" (click)="dateToPicker.open()" />
          <mat-datepicker-toggle matPrefix [for]="dateToPicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dateToPicker></mat-datepicker>
          <mat-error *ngIf="formGroup.get('inputDateTo').invalid">
            {{ getErrorMessage(formGroup.get('inputDateTo')) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Status"
            formControlName="selectedStatus">
            <mat-option *ngFor="let status of arrayIncentiveStatus" [value]="status.code">
              {{status.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="col-md-6">
          <input matInput placeholder="Notice Period" formControlName="inputNoticePeriod">
          <mat-error *ngIf="formGroup.get('inputNoticePeriod').invalid">
            {{getErrorMessage(formGroup.get('inputNoticePeriod'), {'pattern': 'Enter Numeric, non-decimal value'})}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" formControlName="selectedTimePeriod">
            <ng-container *ngFor="let timePeriod of arrayTimePeriods">
              <mat-option *ngIf="['YEARS', 'MONTHS', 'WEEKS', 'DAYS'].indexOf(timePeriod.code) !=-1"
                [value]="timePeriod.code" name="noticePeriodType" ngDefaultControl>
                {{ timePeriod.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6" id="checkbox-div">
        <mat-checkbox class="form-checkbox" formControlName="alertContractOwner">
          Alert Contract Owner regarding
          Incentives
        </mat-checkbox>
      </div>
    </div>
  </div>
  <!-- <div class="content-right btn-container">
    <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-btn primary-pink-color" (click)="saveIncentive()">
      SAVE AND CONTINUE
    </button>
  </div> -->
  <div class="content-right btn-container" *ngIf="showButton">
    <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-btn primary-pink-color" (click)="saveIncentive()">
      SAVE AND CONTINUE
    </button>
  </div>

  <div class="content-right btn-mob-container">
    <button color="primary" class="cm-mob-btn mb-vw" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-mob-btn mb-vw primary-pink-color" (click)="saveIncentive()">
      SAVE AND CONTINUE
    </button>
  </div>
</div>