.cm-menu-sidebar {
    float: left;
    width: 23rem; 
    background: #1D7AB5;
    height: calc(100vh - 7rem);
    position: fixed;
    overflow: auto;

    .menu-items {
        overflow: auto;
        &::-webkit-scrollbar-track {
            background: #f2f2f2;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #dadada;
            cursor: pointer;
            border-radius: 0.25rem;
        }
        
        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }
    }
    
    /deep/ .menu-items {
        height: 100%;
        width: 100%;
        padding-left: 0;

        & > .menu-item {
            & > a {
                font-size: 1.4rem;
                color: #ebf1f4;
                padding-left: 0;
            }    

            &.expanded > a > .fa-chevron-down:before {
                content: "\f077";
            }
        }

        & > .menu-item > a {
            display: block;
            padding: 1.5rem 2rem;
            position: relative;
            cursor: pointer; 
        }
        & > .menu-item > a > .menu-icon {
            width: 1.4rem;
            height: 1.4rem;

            &.menu-icon-right{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 2rem;
            }
        }

        & > .menu-item > a > .menu-title {
            padding-left: 1rem;
        }
    }

    &.compacted {
        width: 3.5rem;

        & > .menu-items > li.expanded {
            color : #ffffff !important; // TODO
            background: #124e73;
            background-color: #124e73 !important; // TODO
        }
        
        & > .menu-items > .menu-item > a {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.menu-item > ul > li > a {
    padding-left: 3.4rem;
    
    &.active-link, &.active-link:hover {
        color : #ffffff !important; // TODO
        background: #124e73;
        background-color: #124e73 !important; // TODO
    }
}