<!DOCTYPE html>
<html>
<body>

<div class="bgimg">
  <div class="middle">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <h1>{{'pages.labels.browserNotSupportedMessage'| translate}}</h1>
    <hr>
    <p>{{'pages.labels.browserNotSupportedSubMessage'| translate}}</p>
    <h4 *ngIf="isIE || isSafari || isEdge">{{'pages.labels.browserMsg'| translate}}:
        <span *ngIf="isIE">Internet Explorer </span>
        <span *ngIf="isSafari">Safari </span>
        <span *ngIf="isEdge">Microsoft Edge </span>
  
  
  </h4>
    <a *ngIf="!isSafari" href="javascript:window.open('','_self').close();"> <u>Click here to close window</u> </a>
   
  </div>
</div>

</body>
</html>
