<div class="feature-setup-wrap">
    <form [formGroup]="clientMenuSetupForm" novalidate>
        <!--<h2 class="heading-text">Feature Setup for Client Admin</h2>
        <div class="assign-menu-text">Assign Menu</div>-->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Select Project*" formControlName="project" (selectionChange)="onProjectChange($event)">
                    <mat-option *ngFor="let project of projects" [value]="project.value">
                        {{ project.text }}
                    </mat-option>
                </mat-select>
                <mat-error i18n *ngIf="clientMenuSetupForm.controls['project'].hasError('required') && clientMenuSetupForm.controls['project'].touched">
                    Project is <b>required</b>.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Select DocType*" formControlName="docType" (selectionChange)="onDocTypeChange($event)">
                    <mat-option *ngFor="let dt of docTypes" [value]="dt">
                        {{ dt.name }}
                    </mat-option>
                </mat-select>
                <mat-error i18n *ngIf="clientMenuSetupForm.controls['docType'].hasError('required') && clientMenuSetupForm.controls['docType'].touched">
                    DocType is <b>required</b>.
                </mat-error>
            </mat-form-field>
        </div>
        <br/><br/><br/><br/>
        <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [showEditButton]= "false" 
            (onClickEvent)="editFormType($event)" [showDeleteButton]="false">
        </ng-data-tables>
        <div class="clearfix"></div>
        <div class="action-wrap">
            <div class="text-right">
                <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="gotoClientVendorSetup()">Cancel</button>
                <!--<button type="submit" md-button class="app-btn orange-button save-btn" (click)="save(clientMenuSetupForm)">Save</button>-->
            </div>
        </div>
    </form>
</div>