<div class="mb-vw">
  <button class="accordion active">COLA</button>
  <div class="panel show">
    <cm-cola [matgroupCommercials]="matgroupCommercials" [arrayTimePeriods]="arrayTimePeriods"
      (isDirty)="isChildDirty($event)">
    </cm-cola>
  </div>

  <button class="accordion">Incentive</button>
  <div class="panel">
    <cm-incentive [matgroupCommercials]="matgroupCommercials" [arrayTimePeriods]="arrayTimePeriods"
      (isDirty)="isChildDirty($event)" [arrayIncentiveStatus]="arrayIncentiveStatus"></cm-incentive>
  </div>

  <button class="accordion">Penalty</button>
  <div class="panel">
    <cm-penalty [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"></cm-penalty>
  </div>
  <button class="accordion">Early Payment Discount</button>
  <div class="panel">
    <cm-early-payment-discount [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"
      [arrayEarlyPaymentDiscStatus]="arrayEarlyPaymentDiscStatus"></cm-early-payment-discount>
  </div>
  <button class="accordion">Late Payment Fee</button>
  <div class="panel">
    <cm-late-payment-fee [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"
      [arrayTimePeriods]="arrayTimePeriods"></cm-late-payment-fee>
  </div>
  <button class="accordion">Termination</button>
  <div class="panel">
    <cm-termination [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"
      [arrayTerminationTerms]="arrayTerminationTerms" [arrayTerminationStatus]="arrayTerminationStatus"
      [arrayTimePeriods]="arrayTimePeriods" [arrayCurrencies]="arrayCurrencies"></cm-termination>
  </div>
  <button class="accordion">Limitation of Liabillity</button>
  <div class="panel" style="overflow:auto;">
    <cm-limitation-of-liabillity [matgroup]="matgroup" [arrayCurrencies]="arrayCurrencies"
      (isDirty)="isChildDirty($event)"></cm-limitation-of-liabillity>
  </div>

</div>


<mat-tab-group flex="1" vertical class="vertical-mat-tab ds-vw" #matgroupCommercials [(selectedIndex)]="selectedIndex"
  (selectedTabChange)="onTabChange()">

  <mat-tab label="COLA">
    <ng-template matTabContent>
      <cm-cola [matgroupCommercials]="matgroupCommercials" [arrayTimePeriods]="arrayTimePeriods"
        (isDirty)="isChildDirty($event)">
      </cm-cola>
    </ng-template>
  </mat-tab>

  <mat-tab label="Incentive" [disabled]="addMode">
    <ng-template matTabContent>
      <cm-incentive [matgroupCommercials]="matgroupCommercials" [arrayTimePeriods]="arrayTimePeriods"
        (isDirty)="isChildDirty($event)" [arrayIncentiveStatus]="arrayIncentiveStatus"></cm-incentive>
    </ng-template>
  </mat-tab>

  <mat-tab label="Penalty" [disabled]="addMode">
    <ng-template matTabContent>
      <cm-penalty [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"></cm-penalty>
    </ng-template>
  </mat-tab>

  <mat-tab label="Early Payment Discount" [disabled]="addMode">
    <ng-template matTabContent>
      <cm-early-payment-discount [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"
        [arrayEarlyPaymentDiscStatus]="arrayEarlyPaymentDiscStatus"></cm-early-payment-discount>
    </ng-template>
  </mat-tab>

  <mat-tab label="Late Payment Fee" [disabled]="addMode">
    <ng-template matTabContent>
      <cm-late-payment-fee [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"
        [arrayTimePeriods]="arrayTimePeriods"></cm-late-payment-fee>
    </ng-template>
  </mat-tab>

  <mat-tab label="Termination" [disabled]="addMode">
    <ng-template matTabContent>
      <cm-termination [matgroupCommercials]="matgroupCommercials" (isDirty)="isChildDirty($event)"
        [arrayTerminationTerms]="arrayTerminationTerms" [arrayTerminationStatus]="arrayTerminationStatus"
        [arrayTimePeriods]="arrayTimePeriods" [arrayCurrencies]="arrayCurrencies"></cm-termination>
    </ng-template>
  </mat-tab>

  <mat-tab label="Limitation of Liabillity" [disabled]="addMode">
    <ng-template matTabContent>
      <cm-limitation-of-liabillity [matgroup]="matgroup" [arrayCurrencies]="arrayCurrencies"
        (isDirty)="isChildDirty($event)"></cm-limitation-of-liabillity>
    </ng-template>
  </mat-tab>

</mat-tab-group>