<div class="configurable-password-setup-wrap">
  <form [formGroup]="configurablePasswordForm" novalidate>
    <div class="form-wrap row">
      <div class="col-sm-12 col-xs-12">

        <div class="col-sm-5 col-xs-5">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder autofocus matInput placeholder="Minimum days to change password*" formControlName="forceChangePasswordDays"
              maxlength="4" autocomplete="off">
            <mat-error i18n *ngIf="configurablePasswordForm.controls['forceChangePasswordDays'].hasError('required')">
              Minimum days to change password is <strong>required</strong>
            </mat-error>
            <mat-error i18n *ngIf="configurablePasswordForm.controls['forceChangePasswordDays'].hasError('pattern')">
              Input must be a positive<strong> Number</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-sm-5 col-xs-5">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="No. of versions to restrict reuse of password" formControlName="restrictReusePasswordVersions"
              maxlength="4" autocomplete="off">
            <!--<md-error i18n *ngIf="configurablePasswordForm.controls['forceChangePasswordDays'].hasError('required')">
                        Minimum days to change password is <strong>required</strong>
                      </md-error>-->
            <mat-error i18n *ngIf="configurablePasswordForm.controls['restrictReusePasswordVersions'].hasError('pattern')">
              Input must be a positive<strong> Number</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="col-sm-1 col-xs-1"></div>
      </div>
    </div>

    <div class="form-wrap row">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-5 col-xs-12">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="Failed password attempts to block user account*" formControlName="failPasswordAttempts"
              maxlength="4" autocomplete="off">
            <mat-error i18n *ngIf="configurablePasswordForm.controls['failPasswordAttempts'].hasError('required')">
              Failed password attempts to block user account is <strong>required</strong>
            </mat-error>
            <mat-error i18n *ngIf="configurablePasswordForm.controls['failPasswordAttempts'].hasError('pattern')">
              Input must be a positive<strong> Number</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-1 col-xs-1"></div>
        <div class="col-sm-5 col-xs-12">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="Password minimum length*" formControlName="passwordMinLength" maxlength="4" autocomplete="off">
            <mat-error i18n *ngIf="configurablePasswordForm.controls['passwordMinLength'].hasError('required')">
              Password minimum length is <strong>required</strong>
            </mat-error>
            <mat-error i18n *ngIf="configurablePasswordForm.controls['passwordMinLength'].hasError('pattern')">
              Input must be a positive<strong> Number</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-1 col-xs-1"></div>
      </div>
    </div>

    <div class="form-wrap row">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-5 col-xs-5">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="Failed OTP attempts to block user account*" formControlName="failOtpAttempts"
              maxlength="4" autocomplete="off">
            <!--<md-error i18n *ngIf="configurablePasswordForm.controls['forceChangePasswordDays'].hasError('required')">
                        Minimum days to change password is <strong>required</strong>
                      </md-error>-->
            <mat-error i18n *ngIf="configurablePasswordForm.controls['failOtpAttempts'].hasError('required')">
              Failed OTP attempts to block user account is <strong>required</strong>
            </mat-error>
            <mat-error i18n *ngIf="configurablePasswordForm.controls['failOtpAttempts'].hasError('pattern')">
              Input must be a positive<strong> Number</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>
    </div>
    

    <div class="form-wrap row">
      <div class="col-sm-12 col-xs-12">

        <div class="col-sm-12 col-xs-12 configurable-password-setup-switch-button">
          <div class="row">
            <div class="col-sm-12">
              <div class="switch_div">
                <label i18n class="switch-label">Password should contain uppercase lowercase letter</label>
                <span [attr.aria-label]="configurablePasswordForm.get('lowercase').value?'Password Should Contain Uppercase Lowercase Letter Active':'Password Should Contain Uppercase Lowercase Letter Deactive'"
                 [title]="configurablePasswordForm.get('lowercase').value?'Password Should Contain Uppercase Lowercase Letter Active':'Password Should Contain Uppercase Lowercase Letter Deactive'">
                <label class="switch" aria-hidden="true">
                    <input type="checkbox" formControlName="lowercase" >
                    <span class="slider round" ></span>
                 </label>
                 </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="switch_div">
                <label i18n class="switch-label">Password should contain uppercase letter</label>
                <span  [attr.aria-label]="configurablePasswordForm.get('uppercase').value?'Password Should Contain Uppercase Letter Active':'Password Should Contain Uppercase Letter Deactive'" 
                [title]="configurablePasswordForm.get('uppercase').value?'Password Should Contain Uppercase Letter Active':'Password Should Contain Uppercase Letter Deactive'">
                <label class="switch" aria-hidden="true">
                    <input type="checkbox" formControlName="uppercase" >
                    <span class="slider round"></span>
               </label>
              </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="switch_div">
                <label i18n class="switch-label">Password should contain Number</label>
                <span [attr.aria-label]="configurablePasswordForm.get('numbers').value?'Password Should Contain Number Active':'Password Should Contain Number Deactive'"
                  [title]="configurablePasswordForm.get('numbers').value?'Password Should Contain Number Active':'Password Should Contain Number Deactive'">
                <label class="switch" aria-hidden="true">
                    <input type="checkbox" formControlName="numbers" >
                    <span class="slider round" ></span>
               </label>
             </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="switch_div">
                <label i18n class="switch-label">Password should contain Symbol</label>
                <span [attr.aria-label]="configurablePasswordForm.get('specialCharacters').value?'Password Should Contain Symbol Active':'Password Should Contain Symbol Deactive'"
                  [title]="configurablePasswordForm.get('specialCharacters').value?'Password Should Contain Symbol Active':'Password Should Contain Symbol Deactive'">
                <label class="switch"  aria-hidden="true" >
                 <input type="checkbox" formControlName="specialCharacters">
                 <span class="slider round"></span>
                </label>
               </span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="action-wrap">
      <div class="text-right">
        <button i18n type="button" aria-label="Cancel Client Password Rule" mat-button class="app-btn" id="cancel" (click)="gotoClientSetup()">Cancel</button>
        <button i18n type="submit" aria-label="Save Client Password Rule" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="updatePasswordRule(configurablePasswordForm)">Save</button>
      </div>
    </div>
  </form>
</div>