
.configurable-password-setup-wrap{
      padding: 30px 25px 30px;
    .action-wrap {
        margin-top: 45px;
    }

.configurable-password-setup-switch-button{
	.switch_div {
	  width: 100%;
	  margin-top: 20px;
	  text-align: right;
	  padding-left: 0px;
      display: inline-block;
	}
	.switch_div label {
	    vertical-align: middle;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: normal;
	    color: #40505B;
		float: left;
	}
    .switch_div label.switch{
		float: right;
	    margin-right: 50px;
	} 
	.switch {
		position: relative;
		display: inline-block;
		width: 33px;
		height: 17px;
	}
	.switch input {
		//display: none;
		opacity: 0;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
	}
	.slider.round {
		border-radius: 34px;
	}
	.slider.round:before {
		border-radius: 50%;
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 1px;
		bottom: 0;
		-webkit-transition: .4s;
		transition: .4s;
		background-color:#f2f2f2;
		border: 1px solid #9FB6C1;
	}
	.slider:before {
		position: absolute;
		content: "";
		height: 17px;
		width: 17px;
		left: -2px;
		bottom: -1px;
		-webkit-transition: .4s;
		transition: .4s;
		background-color:#f2f2f2;
		border: 1px solid #9FB6C1;
	}
	input:checked + .slider {
		background-color: #1277D9;
	}
	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(17px);
		-ms-transform: translateX(17px);
		transform: translateX(17px);
	}
	.button {
		padding-bottom: 10px;
	    padding-right: 10px;
	}
}
}
