<div [hidden]="!showPanels.previewPanel">
  <div class="top-section row-10 mar-20 heading-section-configure-add-contract">
    <div class="hidden-xs col-xs-12 col-sm-6">
        <app-heading-section heading="Configure Add Contracts">
            <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
        </app-heading-section>
    </div>        
    <div class="clearfix"></div>
  </div>
  <div class="col-md-12 tab-label">
    <div class="cm-card">
      <div class="cm-card-body">
        <div class="row-class">
            <div class="row-containers row-container-left">
                <span class="button-fields" style="padding-left: 2rem;">
                  <i class="fas fa-plus-circle" (click)="openDialogTab('CREATE')"><span>Add new tab</span></i> 
                </span>
            </div>
            <div class="row-containers row-container-right" *ngIf="arrayTabs && arrayTabs.length > 0">
                <span class="button-fields">
                    <i class="fas fa-pencil-alt" (click)="openDialogTab('UPDATE')"> <span>Edit</span> </i>
                </span>
                <span class="button-fields" *ngIf="!isDefaultTab">
                    <i class="fa fa-trash" (click)="openDialogTab('DELETE')"> <span>Delete</span> </i> 
                </span>
            </div>
        </div>
        <mat-tab-group #matGroupTab [(selectedIndex)]="selectedIndexTab">
          <mat-tab *ngFor = "let tab of arrayTabs; let index = index" [label]="tab.name">
              <ng-template matTabLabel>
                  <div [id]="'list-'+index" 
                  class="item-list"
                      cdkDropList 
                      cdkDragRootElement=".mat-tab-label"
                      cdkDropListOrientation="horizontal" 
                      (cdkDropListDropped)="dropTab($event)" 
                      [cdkDropListConnectedTo]="getAllListTabConnections(index)">
                    <div class="item-box" cdkDragBoundary=".mat-tab-labels" cdkDrag>{{ tab.name }}</div>
                  </div>
              </ng-template>
              <ng-template matTabContent>
                  <cm-add-contract-meta-model-tab 
                    (isDirty)="isChildDirty($event)" 
                    [addContractMetaModelId]="addContractMetaModelId" 
                    [tab]="tab" 
                    [matGroupTab] = "matGroupTab"
                    [selectedIndexSubtab]="selectedIndexSubtab"
                  >
                  </cm-add-contract-meta-model-tab>
              </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
<div [hidden]="!showPanels.addContractMetaModelPanel">
  <cm-preview-add-contract-meta-model
    [arrayTabs]="arrayTabs"
    [selectedIndexTab]="showPanels.selectedIndexTab"
    [selectedIndexSubtab]="showPanels.selectedIndexSubtab"
  >
  </cm-preview-add-contract-meta-model>
</div>