// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

#location-listing-page {
  .location-details-name {
    width: calc(100% - 60px);
  }

  .transform-none {
    transform: none;
  }

  .custom-modal-content {
    background-color: transparent;
  }

  .location-search-item {
    position: relative;
    // #location-search-item-name{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .45);
    margin: 0;
    padding: 7px;
    // } 
  }

.fl-right {
  float: right;
}
  .count-style {
    padding: 1px 8px;
    background-color: #e2e2e2;
    margin: 1px;
    border-radius: 50%;
  }

  .image-background {
    border: 1px solid #fff;
    background-size: cover;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    padding: 0px;
    background-color: #ddd;
  }

  .panel-body {
    padding: 15px 15px 0px 15px;
    position: relative;
  }

  .panel-footer {
    padding: 10px 15px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    // margin-top: 10px;
    margin-top: 30px;
  }

  .mid {
    text-align: center;
  }

  .ngx-gallery-thumbnails .ngx-gallery-active .ngx-gallery-clickable {
    border: 5px solid black;
  }

  .mr {
    margin-top: 8px;
  }

  // .ngx-gallery-image{
  //     background-size: 90%;
  // }
  .location-listing-model {
    background-color: black;
  }

  .location-search-card {
    // position: relative;
    // margin-top: -30px;
    // padding-right: 15px;
    position: absolute;
    right: 30px;
    bottom: -20px;
  }

  #image-info {
    color: #fff;
    position: absolute;
    left: 2%;
    top: 25%;
    z-index: 1;
    background-color: #000000a1;
    max-width: 15%;
    z-index: 1;
    .img-desc {
      color: #fff;
      white-space: pre-line;
    }
  }

  .zip-checkbox {
    color: #fff;
    position: absolute;
    right: 2%;
    top: 25%;
    z-index: 1;
    background-color: #000000a1;
    max-width: 15%;
  }

  .img-minus-btn {
    color: darkgray;
    font-size: 17px;
  }

  .close-button {
    right: 10px;
    color: white;
    position: absolute;
    font-size: 25px;
    top: 30px;
  }

  .custom-gallery-modal {
    max-width: 100% !important;
  }

  ngx-gallery-image {
    width: 800px !important;
    left: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ngx-gallery-thumbnails {
    width: 800px !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ngx-gallery-preview .ngx-gallery-preview-img-wrapper {
    background: #000;
  }

  .mt-8 {
    margin: 8px 0 0 0 !important;
  }

  .ml-2p {
    margin-left: 2%;
  }

  .vertical-middle {
    vertical-align: middle;
    margin: 0px 5px;
  }

  .category-name .close {
    float: initial;
  }

  .category-name {
    padding: 2px 5px;
    background-color: #e2e2e2;
    margin: 1px;
    border-radius: 15px;
  }

  .category-name-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 100px;
    border: 1px solid #dde6e9;
    min-height: 35px;
  }

  .textElipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .location-name {
    width: 50px;
  }

  .label-font {
    font-size: 17px;
  }

  .custom-img {
    max-width: 100%;
    max-height: 95px;
    width: auto;
    height: auto;
  }

  .gallery-modal-dialog {
    max-width: 100% !important;
  }

  .gallery-modal {
    background-color: #000;
  }

  .gallery-modal-content {
    background-color: transparent;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  #location-listing-page {
    #image-info {
      left: 10%;
      top: 10%;
    }
  }
}

@media only screen and (max-width: 1150px) {
  #location-listing-page {
    ngx-gallery-image {
      width: 650px !important;
      left: 0 !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    ngx-gallery-thumbnails {
      width: 650px !important;
      left: 0 !important;
      right: 0 !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}

@media only screen and (max-width: 991px) {
  #location-listing-page #image-info {
    display: none !important
  }
}
