<div id="add-agency-page">

  <div class="content-heading">
    <!-- Breadcrumb right aligned-->
    <breadcrumb class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-mg" [breadcrumbData]="breadcrumbData"></breadcrumb>
  </div>
  <ng-container *ngIf="!renderPage">
    <app-loader class="col-md-12" [loading]="!renderPage"></app-loader>
  </ng-container>
  <div class="container-fluid" [hidden]="!renderPage">
    <form class="form-horizontal" [formGroup]="manageAgencyForm" novalidate>
      <div class="row no-mg">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
          <!-- <div class="panel-heading"> -->
          <h5 class="text-dark">
            <strong>{{'talent.individuals.labels.personalDetails'| translate}}</strong>
            <em class="pull-right mandatory">*{{'common.labels.mandatory'| translate}}</em>
          </h5>
          <!-- </div> -->
          <div class="panel panel-primary">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.commercialName'|
                            translate}} <span class="mandatory">*</span></label>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input class="form-control" type="text" required formControlName="companyName"
                      placeholder="{{'common.labels.commercialName'| translate}}">
                    <div class="text-danger"
                      *ngIf="manageAgencyForm.controls['companyName']?.errors?.checkRequired && (manageAgencyForm.controls['companyName'].touched || submitAgencyForm)">{{'pages.errorMessages.fieldRequired'|
                          translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.legalName'|
                            translate}} <span class="mandatory">*</span></label>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input class="form-control" type="text" required formControlName="legalName"
                      placeholder="{{'common.labels.legalName'| translate}}">
                    <div class="text-danger"
                      *ngIf="manageAgencyForm.controls['legalName']?.errors?.checkRequired && (manageAgencyForm.controls['legalName'].touched || submitAgencyForm)">{{'pages.errorMessages.fieldRequired'|
                          translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.agency.labels.email'|
                              translate}} <span class="mandatory" *ngIf="!agencyId">*</span></label>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!agencyId">
                    <input class="form-control" type="text" required formControlName="email"
                      placeholder="{{'talent.agency.labels.email'| translate}}" (change)="transformToLowerCase()">
                    <div class="text-danger"
                      *ngIf="manageAgencyForm.controls['email']?.errors?.checkRequired && (manageAgencyForm.controls['email'].touched || submitAgencyForm)">{{'pages.errorMessages.fieldRequired'|
                      translate}}</div>
                    <div class="text-danger"
                      *ngIf="!manageAgencyForm.controls['email']?.errors?.checkRequired && manageAgencyForm.controls['email']?.errors?.checkEmail && (manageAgencyForm.controls['email'].touched || submitAgencyForm) && manageAgencyForm.controls['email'].dirty">{{'pages.errorMessages.invalidEmail'|
                      translate}}</div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="agencyId">
                    {{manageAgencyForm?.value?.email}}
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.agency.labels.phone'
                        | translate}} <span class="mandatory">*</span></label>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <input name="phone" class="form-control" formControlName="phone"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                      placeholder="{{'talent.agency.labels.phone' | translate}}">
                    <div class="text-danger"
                      *ngIf="manageAgencyForm.controls['phone']?.errors?.checkRequired && (manageAgencyForm.controls['phone'].touched || submitAgencyForm)">{{'pages.errorMessages.fieldRequired'|
                          translate}}</div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.individuals.labels.address'
                          | translate}}</label>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <textarea name="address" class="form-control" formControlName="address"
                      placeholder="{{'talent.individuals.labels.address' | translate}}"></textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <h4 class="text-dark">
          <strong>{{'talent.individuals.labels.paymentDetails'| translate}}</strong>
        </h4>
        <div class="panel panel-primary">

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.currency' |
                      translate}}
                </label>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <ngx-select [items]="CURRENCY_CONSTANTS" [allowClear]="true" formControlName="currency"
                    placeholder="{{'common.labels.select' | translate}}">
                  </ngx-select>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.mode' |
                      translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <ngx-select [allowClear]="true" [items]="operationTypesArr" formControlName="mode"
                    placeholder="{{'common.labels.select' | translate}}">
                  </ngx-select>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'projects.labels.accountName' |
                                            translate}}
                </label>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="accountName" class="form-control" placeholder="{{'projects.labels.accountName' |
                                          translate}}">

                </div>
              </div>
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'actors.freelancers.labels.accNumber' |
                                translate}}
                </label>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="accNumber" class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="{{'actors.freelancers.labels.accNumber' |
                              translate}}">

                </div>
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.agency.labels.bankName' |
                                    translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="bankName" class="form-control" placeholder="{{'talent.agency.labels.bankName' |
                                  translate}}">

                </div>
              </div>
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.agency.labels.branchName' |
                                  translate}}
                </label>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="branch" class="form-control" placeholder="{{'talent.agency.labels.branchName' |
                                  translate}}">

                </div>
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.agency.labels.clabe' |
                                        translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="clabe" class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');" maxlength="18" minlength="18" name="clabe"
                    placeholder="{{'talent.agency.labels.clabe' | translate}}">
                  <div class="text-danger no-mg"
                    *ngIf="manageAgencyForm.controls['clabe']?.errors && (manageAgencyForm.controls['clabe'].touched  || submitAgencyForm)">{{'common.errorMessages.clabeMessage'|
                        translate}}</div>
                </div>
              </div>
              <div class="col-md-6">

                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'common.labels.taxIdRFC' |
                                              translate}}
                </label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <input formControlName="taxID" class="form-control" placeholder="{{'common.labels.taxIdRFC' |
                                            translate}}">

                </div>
              </div>

            </div>
            <div class="row mt-3">

              <div class="col-md-6">
                <label class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 control-label">{{'talent.agency.labels.address' |
                                            translate}}
                </label>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <textarea name="address" class="form-control" formControlName="bankaddress"
                    placeholder="{{'talent.individuals.labels.address' | translate}}"></textarea>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <div class="panel panel-primary">
          <div class="panel-heading document-panel">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
              <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 no-mg">
                <h5 class="text-dark">
                  <strong>{{'common.labels.contractUpload'| translate}}
                  </strong>
                </h5>
              </div>
              <div class="col-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 no-mg text-right">
                <label for="file2" class="file-upload m-0">
                  <em class="text-right text-dark pr-10">
                    <span class="small f-italic">
                      {{'common.labels.talentDocumentTypes' | translate}}
                    </span>
                  </em>
                  <button class="btn btn-default browse-btn" type="button">{{'common.labels.browse'| translate}}</button>
                  <input id="file2" type="file" title="{{'common.labels.noFileChosen' | translate}}"
                    accept="{{AGENCY_ACCEPT_ATTACHMENT_FILE_FORMATS}}" multiple ng2FileSelect
                    [uploader]="contractAttachments" (change)="addFiles($event)" />
                </label>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="col-md-12">
              <div class="row attachment-section">
                <div class="col-md-6 dropZone">
                  <div ng2FileDrop [uploader]="contractAttachments" class="my-drop-zone dropzone">
                    <div class="attachUpload" *ngIf="contractAttachments.queue.length > 0">
                      <div class="listItem mb-2" *ngFor="let item of contractAttachments.queue;let i=index;">
                        <div class="row" *ngIf="item?.file !== undefined">
                          <div class="col-md-10  textElipses">
                            <a class="fileName document-link" data-toggle="tooltip" data-placement="top"
                              title="{{ item?.file?.name }}" target="_blank" *ngIf="item?.url" href="{{item.url}}"
                              download="{{item.url}}">


                              {{ item?.file?.name }}
                            </a>
                            <i *ngIf="item?.url == ''" class="fa fa-spinner fa-spin margin-right-5"></i>
                          </div>
                          <div class="col-md-2">
                            <a *ngIf="item?.url" class="attachRemoveBtn btn-default ptr">
                              <em class="fa fa-trash" (click)="removeFiles(i,item);"></em>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="bb-error" *ngIf="checkcontractAttachments && enableSaveButtonFlag">{{'actors.freelancers.errorMessages.fieldRequired'|
                        translate}}</div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <h5 class="text-dark">
          <strong>{{'actors.freelancers.labels.projectCategory'|
            translate}}/{{'actors.freelancers.labels.accountMapping'| translate}}</strong>

        </h5>
        <div class="card card-transparent">
          <tabset class="bg-white p-0" justified="true">
            <tab *ngFor="let tab of tabs;let tabIndex=index" (select)="showHideFloatingButtons(50)">
              <ng-template tabHeading>
                {{tab.name | translate}}
              </ng-template>
              <div class="min-ht">
                <ng-container *ngIf="showLoadingFlg">
                  <app-loader class="col-md-12" [loading]="showLoadingFlg"></app-loader>

                </ng-container>
                <table id="category-table" style="width: 50%;" class="table table-bordered"
                  *ngIf=" tab?.categories.length > 0" [ngClass]="{'hide-content': showLoadingFlg}">
                  <thead>
                    <tr>
                      <th>{{'projects.labels.budgetLine'| translate}}</th>
                      <th>{{'common.labels.category'| translate}}</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <ng-container *ngFor="let category of tab?.categories;let i = index;">
                      <tr [attr.cat]="category.id">
                        <td>{{category?.budgetLine}}</td>
                        <td class="category-name c-pointer id_{{category.id}}"
                          (click)="selectCategories(category.id,tabIndex,'category_cell_',(category?.accounts ? false:true), '','category')"
                          [ngClass]="'category_cell_'+category.id">
                          <ng-container *ngIf="category?.accounts">
                            <span class="expander">
                              <i class="category-plus fa fa-plus-circle" [ngClass]="'category_'+category.id"
                                (click)="subMenuShow(category.id, 'show',$event)"></i>
                            </span>
                            <span class="expander">
                              <i class="category-minus fa fa-minus-circle" [ngClass]="'category_'+category.id"
                                (click)="subMenuShow(category.id, 'hide',$event)"></i>
                            </span>
                          </ng-container>
                          <span> {{category?.i18n?.mappingName}}</span>
                          <i class="fa fa-check pull-right"></i>
                        </td>

                      </tr>
                      <ng-container *ngIf="category?.accounts">
                        <ng-container *ngFor="let subCategory of category?.accounts;let subIndex = index;">
                          <tr class="sub-category sub-category_{{category.id}}"
                            [ngClass]="subCategory?.accounts?.length > 0 ? 'parent-node':'' " [attr.cat]="category.id"
                            [attr.account]="subCategory.id">
                            <td>{{subCategory?.budgetLine}}</td>
                            <td class="subcategory-name c-pointer id_{{subCategory.id}} pl-60"
                              [ngClass]="'sub_category_cell_'+subCategory.id"
                              (click)="selectCategories(subCategory.id,tabIndex,'sub_category_cell_',(subCategory?.accounts ? false:true),category.id, 'account')">
                              <ng-container *ngIf="subCategory?.accounts">
                                <span class="expander">
                                  <i class="category-plus fa fa-plus-circle category-plus_{{category.id}}"
                                    [ngClass]="'category_'+subCategory.id"
                                    (click)="subSubMenuShow(subCategory.id, 'show',$event)"></i>
                                </span>
                                <span class="expander">
                                  <i class="category-minus fa fa-minus-circle category-minus_{{category.id}}"
                                    [ngClass]="'category_'+subCategory.id"
                                    (click)="subSubMenuShow(subCategory.id, 'hide',$event)"></i>
                                </span>
                              </ng-container>
                              <span> {{subCategory?.i18n?.mappingName}}</span>
                              <i class="fa fa-check pull-right"></i>
                            </td>
                          </tr>

                          <ng-container *ngFor="let subSubCategory of subCategory?.accounts;let subSubIndex = index;">
                            <tr
                              class="sub-sub-category sub-sub-category_{{subCategory.id}} sub-sub-category_{{category.id}}"
                              [attr.cat]="category.id" [attr.account]="subCategory.id"
                              [attr.sub_account]="subSubCategory.id">
                              <td>{{subSubCategory?.budgetLine}}</td>
                              <td class="sub-sub-category-name c-pointer id_{{subSubCategory.id}} pl-80"
                                (click)="selectCategories(subSubCategory.id,tabIndex,'sub_sub_category_cell_',true, '', 'subAccount')"
                                [ngClass]="'sub_sub_category_cell_'+subSubCategory.id">
                                <span> {{subSubCategory?.i18n?.mappingName}}</span>
                                <i class="fa fa-check pull-right"></i>
                              </td>
                            </tr>
                          </ng-container>

                        </ng-container>
                      </ng-container>
                    </ng-container>


                  </tbody>
                </table>
              </div>
            </tab>
          </tabset>
        </div>


      </div>
      <div class="floating-btn" *ngIf="showFloatingBtn">

        <button type="submit" (click)="saveAgency()" [disabled]="disableButton || !enableSaveButtonFlag"
          class="btn save-btn btn-success">
          <i *ngIf="spinnerFlag"
            class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'| translate}}</button>
        <button type="button" class="btn cancel-btn btn-danger ml-1"
          [routerLink]="ROUTER_LINKS_TALENT_FULL_PATH.agency">{{'common.labels.cancel'|
            translate}}</button>

      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 no-mg" id="fixed-btn">

        <button type="submit" (click)="saveAgency()" [disabled]="disableButton || !enableSaveButtonFlag"
          class="btn save-btn btn-success">
          <i *ngIf="spinnerFlag"
            class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'| translate}}</button>
        <button type="button" class="btn cancel-btn btn-danger ml-1"
          [routerLink]="ROUTER_LINKS_TALENT_FULL_PATH.agency">{{'common.labels.cancel'|
            translate}}</button>

      </div>
    </form>
  </div>
</div>
