@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';

.branding-wrap {
    .browse-btn {
        @include applyFont($fontSize: 12px);
        color: $primary_shade1;
        position: absolute;
        left: auto;
        right: 0px;
        top: 10px;
        width: 100%;
        text-align: right;
        padding-right: 10px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        margin: 0px;
    }

    .required-col {
        position: relative;

        mat-error {
            position: absolute;
            top: 45px; 
            @include applyFont($fontSize: 12px);
        }
    }

    .image-file-uploader-box {
        .uploader, .image-selection-wrap {
            height: 110px;
        }
    }

    .action-wrap {
        margin-top: 40px;
    }
}