<div id="reset-screen">
  <div class="wrapper reset-password-page" *ngIf="showPage">
    <div class="switch-field block-center mt-xxl wd-xxl">
      <input type="radio" id="switch_right" name="switch_2" [value]="LANGUAGE_CODES.en_US"
        (click)="setLanguage(LANGUAGE_CODES.en_US)" />
      <label class="ptr" [ngClass]="selectedLang == LANGUAGE_CODES.en_US ? 'selected-lang' : ''"
        for="switch_right">ENGLISH</label>
      <input type="radio" id="switch_left" name="switch_2" [value]="LANGUAGE_CODES.es_MX"
        (click)="setLanguage(LANGUAGE_CODES.es_MX)" />
      <label class="ptr" [ngClass]="selectedLang == LANGUAGE_CODES.es_MX ? 'selected-lang' : ''"
        for="switch_left">ESPAÑOL</label>
    </div>
    <div class="block-center mt-4 wd-xl">
      <!-- START card-->
      <div class="card card-flat">
        <div class="card-header text-center bg-dark">

          <a [routerLink]="ROUTER_LINKS_FULL_PATH.login">
            <img class="block-center rounded mw-35p" src="assets/img/LiftLogoTransparent.png" alt="Image" />
          </a>
        </div>
        <div class="card-body">
          <p class="text-center pv">{{'pages.labels.resetPassword' | translate}}</p>
          <div *ngIf="expiredMsg" class="alert alert-danger text-center">
            {{expiredMsg}}
          </div>
          <form [formGroup]="valForm" class="form-validate" role="form" name="recoverForm" novalidate=""
            (submit)="submitForm($event, valForm.value)" *ngIf="resetScreen">
            <div class="form-group">
              <label class="text-muted">{{'pages.labels.newPassword' | translate}}</label>
              <div class="input-group with-focus">
                <input class="form-control border-right-0" id="password" (focus)="showErrorBox=true" (blur)="showErrorBox=false"
                (keyup)="checkPasswordValidations()" type="password" name="password"
                  placeholder="{{'pages.labels.newPassword' | translate}}" formControlName="password" required="" />
                <div class="input-group-append">
                  <span class="input-group-text fa  text-muted bg-transparent border-left-0"></span>
                </div>
              </div>
              
              <span class="text-danger"
                *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">{{'pages.errorMessages.fieldRequired' | translate}}</span>
                <!-- <div *ngIf="valForm.controls['password'].errors?.checkPassword && !showErrorBox">
                    <span class="text-danger">{{'pages.errorMessages.invalidPassword' | translate}}</span>
                  </div> -->
              <div class="pswd_info" *ngIf="showErrorBox && !valForm.controls['password']?.errors?.required">
                <password-verification [passwordInfoArr]="passwordInfoArr"></password-verification>
              </div>
            </div>
            <div class="form-group">
              <label class="text-muted">{{'pages.labels.confirmPassword' | translate}}</label>
              <div class="input-group with-focus">
                <input class="form-control border-right-0" id="confirmPassword" type="password" name="confirmPassword"
                  placeholder="{{'pages.labels.confirmPassword' | translate}}" formControlName="confirmPassword"
                  required="" />
                <div class="input-group-append">
                  <span class="input-group-text  text-muted bg-transparent border-left-0"></span>
                </div>
              </div>
              <span class="text-danger"
                *ngIf="valForm.controls['confirmPassword'].hasError('MatchPassword') && (valForm.controls['confirmPassword'].dirty || valForm.controls['confirmPassword'].touched)">{{'pages.errorMessages.passwordMismatch' | translate}}</span>
              <span class="text-danger"
                *ngIf="valForm.controls['confirmPassword'].hasError('required') && (valForm.controls['confirmPassword'].dirty || valForm.controls['confirmPassword'].touched)">{{'pages.errorMessages.fieldRequired' | translate}}</span>
            </div>
            <button class="btn btn-danger btn-block clear-btn" [disabled]="isClicked"
              type="submit"><i *ngIf="spinnerFlag"
              class="fa fa-spinner fa-spin margin-right-5"></i>{{'pages.labels.Reset' | translate}}</button>
            <div class="pull-right mg">
              <a class="text-muted" [routerLink]="'/login'">{{'pages.labels.continueWithLogin' | translate}}</a>
            </div>
          </form>
          <div class="alert alert-success" *ngIf="thankyouScreen">
            {{'pages.errorMessages.passwordSetSuccess' | translate}}
          </div>
          <div *ngIf="notreset" class="alert alert-danger">
            {{'pages.errorMessages.passwordNotSet' | translate}}
          </div>
          <div class="pull-right mg" *ngIf="notreset">
            <a class="text-muted" [routerLink]="'/login'">{{'pages.labels.continueWithLogin' | translate}}</a>
          </div>
          <a class="btn btn-danger btn-block" *ngIf="thankyouScreen"
            [routerLink]="'/login'">{{'pages.labels.continueWithLogin' | translate}}</a>
        </div>
      </div>
      <!-- END card-->
      <div class="p-3 text-center">
        <span>&copy;</span>
        <span>{{ settings.app.year }}</span>
        <span class="mx-2">-</span>
        <span>{{ settings.app.name }}</span>

      </div>
    </div>
  </div>
</div>
