<div class="promotional-banner-wrap">
  <div class="form-wrap" [formGroup]="form">    
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="file-upload-inner image-file-uploader-box">
              <div class="image-selection-wrap" *ngIf="bannerSelected == true">
                <div class="selected-image">
                    <img src="{{form.controls['banner'].value}}" />
                </div>
                <div class="selected-image-actions">
                    <div class="i-actions-inner">
                      <label i18n class="i-actions replace" for="banner-input-file">REPLACE</label><br/>
                      <div i18n class="i-actions remove" (click)="removeBanner()">REMOVE</div>
                    </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <label class="uploader" for="banner-input-file" *ngIf="bannerSelected == false">
                  <div class="icon-text-wrap">
                      <i class="icon-upload3"></i><br/>
                      <span i18n class="file-upload-text" matTooltip="Upload images, then use site toolset to animate imagery (HTML5) that demands attention.">Upload and Animate Content Imagery</span>
                      <!-- <span class="file-upload-hint-text">(Max Size 1920px by 185px. File types : PNG, JPG, GIF)</span>                       -->
                  </div>
              </label>            
              <input id="banner-input-file" type="file" name="file" accept="image/*" (change)="selectBanner(input)" #input />            
          </div>
          <div i18n class="banner-required" *ngIf="bannerRequired">Please select banner image.</div>
      </div>
      <div class="col-sm-6 col-xs-12">
          <mat-form-field class="full-width-input-wrap">
            <input matInput placeholder="{{'Content Redirect Link' }}" formControlName="bannerDeepLink" maxlength="50">                          
          </mat-form-field>          
      </div>
      <div class="col-sm-6"></div>
    </div>
  </div>
  <div class="action-wrap">
    <div class="text-right">
        <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="previous()">Previous</button>
        <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="save(form)">Save</button>
    </div>
  </div>
</div>