<div class="facilities-wrap" *ngIf="selectedFacility == ''">
    <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [hasActionButtons]="hasActionButtons" 
    (rLink)="gotoLink($event)"
    (edit)="editFacilityPopup($event)"
    (delete)="deleteFacility($event)">
        <div class="align-right" button-toolbar>
            <div class="inner">
                <div class="button-dropdown dropdown">
                    <button mat-button data-toggle="dropdown">
                        Add Facility <i class="fa fa-sort-desc"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" (click)="uploadListPopup()">Upload List</a></li>
                        <li><a href="javascript:void(0);" (click)="addFacilityPopup()">Manual Add</a></li>                        
                    </ul>
                </div> 
            </div>
        </div>
    </ng-data-tables>
</div>

<app-groups [type]="type" [selectedFacility]="selectedFacility" (backToFacilities)="backToFacilities($event)" *ngIf="selectedFacility != ''"></app-groups>



