@import '../../../../styles/variables';
@import '../../../../styles/mixins';

/* File Uploader Styles  */

.uploader-wrap input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #EBEBEB;
  background-color: #FAFEFF;
  cursor: pointer;
  display: block;
  height: 150px;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top:55px;
  font-weight:normal;
  font-size: 13px;
}

.uploader .icon-upload3 {
  pointer-events: none;
}

.uploader,
.uploader .icon-upload3 {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon-upload3 {
  color: $secondary-color;
  font-size: 2em;
}

a.download-excel-template {
    @include applyFont($fontSize: 14px);
    text-decoration: none;
    outline: 0 none;
    color: $primary_shade3;
    margin-top: 6px;
    display: block;
}

.file-selected-icon {
    font-size: 30px;
    padding-bottom: 6px;
    color: #2E7D32;
}