.budget-module-list {
    .project-details{
        background-color:   #49495b;
        color: white;
        margin: 2% 3%;
        padding: 25px;
    }
    .budget-list-amount {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .p3 {
        padding: 0px 3px;
    }
    .project-list{
        padding:14px 12px;
        background-color: white;

    }
    .badge{
        border-radius: 0px !important;
    }
    #underL {
        text-decoration: underline;
    }
    .label-align { 
        margin-top: 7%;
    }
    h4 {
        margin-left: 48px;
    }
    .manage-project-btn{
        color: black;
        border: #eae7e7 solid 1px;
        background-color: white;
        font-size: 14px;
    }
    .dropdownMenu{
        padding: 10px;
    }
    .theLift {
        margin-bottom: 10px;
    }
    .projectList {
        min-height: 55px;
    }
    .panelTitle {
        min-height: 38px;
    }
    .pricing-border {
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        text-align: center;
        margin-bottom: 5px;
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .textElipses {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .download-icon {
        color: #656565;
    }
    .p-5-10{
        padding: 5px 10px;
    }
    .p-2p{
        padding: 2%;
    }
}


