<div class="feature-setup-wrap">
    <form [formGroup]="clientMenuSetupForm" novalidate>
        <!--<h2 class="heading-text">Feature Setup for Client Admin</h2>
        <div class="assign-menu-text">Assign Menu</div>-->
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Select Project*" formControlName="project" (selectionChange)="onProjectChange($event)">
                    <mat-option *ngFor="let project of projects" [value]="project.value">
                        {{ project.text }}
                    </mat-option>
                </mat-select>
                <mat-error i18n *ngIf="clientMenuSetupForm.controls['project'].hasError('required') && clientMenuSetupForm.controls['project'].touched">
                    Project is <b>required</b>.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="menu-features-setup-box-wrap col-sm-12">
            <div class="row">
                <div class="box box-1 col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="inner">
                        <div i18n class="box-heading">Project Queues</div>
                        <div class="box-listing">
                            <ul>
                                <li *ngFor="let data of setupData" [class.active]="data.name == selectedSetupName" (click)="onSetupSelect(data)">
                                    <mat-checkbox (change)="menuChange($event, data)" [checked]="data.selected!==undefined?data.selected:false">{{data.name}}</mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="action-wrap">
            <div class="text-right">
                <button i18n type="button" mat-button class="app-btn" (click)="gotoClientVendorSetup()">Cancel</button>
                <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="save(clientMenuSetupForm)">Assign</button>
            </div>
        </div>
    </form>
</div>