//  TABS/TABLES

.mat-tab-dashboard {
  /deep/ .mat-tab-body-wrapper {
    margin: 20px;
  }

  /deep/ .mat-tab-label-container {
    margin-left: 20px;
  }

  /deep/ .mat-tab-label {
    color: #1d7ab4;
  }

  background-color: white;
  > p {
    font-size: 18px;
  }
  /deep/ .completition-status-collumn {
    width: 100px;
  }
}

table {
  border: solid rgba(0, 0, 0, 0.12) 0.12px;
  width: 100%;
}


.top-section {
  padding-left: 10px;
  margin-bottom: 10px;
}
.autoscroll {
  min-height: 450px !important;
}


.cm-card-contract-store-paginate-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.cm-card-contract-store-paginate-dot:hover {
  background-color: #717171;
}

.cm-card-paginate-main {
  padding-top: 2rem;
  .cm-card-paginate-body {
    text-align: center;
  }
}