<mat-toolbar color="primary">
    <button mat-icon-button class="sidenav-toggle-btn" (click)="toggleSidenav()" *ngIf="displayToggleMenuButton">            
        <mat-icon class="md-24">menu</mat-icon>
    </button>
    <div class="visible-xs col-md-6">
        <div class="heading">{{heading}}</div>
    </div>   
    <span class="spacer"></span>
    <div class="all-search-box header_search" *ngIf="!hideGlobalSearch">
        <label><input type="search" placeholder="Search"  #filterInputs />
            <i class="fa fa-search" style="cursor:pointer" (click)="search(filterInputs.value)" aria-hidden="true"></i>
            </label>
    </div>
    <div class="search-toggle-wrap" [class.hide]="true">
        <button mat-icon-button class="search-toggle-btn"> 
            <mat-icon i18n>search</mat-icon>
        </button>
    </div>
    <div class="add-new-plus dropdown" *ngIf="!superAdmin && !isHomePage && checkUserRole()">
        <div data-toggle="dropdown">
            <div>
                <a class="search-toggle-btn">
                    <i matTooltip="Add" class="fa fa-plus"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="dropdown-menu">
          <div class="triangle"></div>
          <ul>
              <li><a i18n href="javascript:void(0);" (click)="openCreateContractUploadDialog()">Add Contract</a></li>
              <li><a i18n href="javascript:void(0);" (click)="navigateAddNotification()">Create Notification</a></li>
          </ul>
        </div>
    </div>
    <div class="notifications-toggle-wrap" *ngIf="!superAdmin && !isHomePage && checkUserRole()">
        <button mat-icon-button matTooltip="Notifications" matTooltipClass="tooltip-closer" class="notifications-toggle-btn" (click)="navigateToNotifications()"> 
            <mat-icon i18n>notifications</mat-icon>
        </button>
    </div>
    <div class="logged-user-info dropdown">
        <div data-toggle="dropdown">
            <div class="user-image">
                  <img *ngIf="profilePhoto" class=" img-responsive imgCircle center-block material-icons" src="{{profilePhoto}}"/>
                  <i  *ngIf="!profilePhoto" class="material-icons" style="padding-top:6px">perm_identity</i>
                </div>
            <div class="hidden-xs user-details">
                <span class="user-name">{{userFullName}}</span>
                <span class="user-role" [matTooltipClass]="{'align-on-right': true}" matTooltip="{{userRoleTitle}}">{{userRole}}</span>
            </div>
            <div class="arrow">
                <i class="fa fa-angle-down angle-arrow down-arrow"></i>
                <i class="fa fa-angle-up angle-arrow up-arrow"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="dropdown-menu mt-12">
            <!-- <li><a i18n href="javascript:void(0);" [routerLink]="['/home']">Home</a></li> -->
            <!--<li><a i18n href="javascript:void(0);" (click)="routingRule()" >Routing Rule</a></li>-->
            <li *ngIf="!isHomePage"><a i18n href="javascript:void(0);" (click)="myProfile()">Profile</a></li>
            <li *ngIf="!isHomePage"><a i18n href="javascript:void(0);" (click)="openChangePasswordDialog()">Change Password</a></li>
            <li *ngFor="let userRoleSpecific of userRoles" >
              <a *ngIf="!superAdmin && !isHomePage" i18n href="javascript:void(0);" (click)="switchToOtherRole(userRoleSpecific.roleName)">
                Switch to {{userRoleSpecific.roleName}} View
              </a>
            </li>
            <li><a i18n href="javascript:void(0);" (click)="openDialogToConfirmLogOut()">{{LogoutButtonName}}</a></li>
        </ul>
    </div>
</mat-toolbar>