.buttons-class {
    float: right;
}

.dialog-button {
    color: #ffffff;
    width: 90px;
}

.title-position {
  float:left;
  margin-right:5px;
  font-family: "Work Sans" !important;
}

.close-button-position {
  text-align: right;
  & > .close-button {
    line-height: normal;
    border: none;
    background: white;
  }
}