<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">
            <div class="brand-logo pull-left">
                <img class="img-fluid" src="assets/img/LiftLogo.png" alt="App Logo" width="55" />
            </div>
            <div class="brand-logo-collapsed pull-left">
                <img class="img-fluid" src="assets/img/LiftLogo.png" alt="App Logo" width="55"/>
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Left navbar-->
    <!-- END Left navbar-->

</nav>
<!-- END Top Navbar-->



<!-- START Top Navbar-->
