.category-name {
  text-align: left;
  padding-left: 20px;
}

.subcategory-name {
  text-align: left;
  padding-left: 40px;
}

.sub-sub-category-name {
  text-align: left;
  padding-left: 60px;
}

.sub-A-name {
  text-align: left;
  padding-left: 60px;
}

.sub-B-name {
  text-align: left;
  padding-left: 80px;
}

.sub-C-name {
  text-align: left;
  padding-left: 100px;
}

.category-plus {
  display: none;
}
// .sub-category {
//   display: none;
// }
// .sub-sub-category {
//   display: none;
// }
// .sub-A-category {
//   display: none;
// }
// .sub-B-category {
//   display: none;
// }
// .sub-C-category {
//   display: none;
// }

.expander {
  margin-left: 10px;
  cursor: pointer;
}

.project-configuration-page .check-box {
  height: 15px;
  width: 15px;
}

.project-configuration-page .category1-name {
  text-align: left;
  padding-left: 20px;
}

.project-configuration-page .category2-name {
  text-align: left;
  padding-left: 40px;
}

.project-configuration-page .category3-name {
  text-align: left;
  padding-left: 60px;
}

.project-configuration-page .category4-name {
  text-align: left;
  padding-left: 80px;
}

.project-configuration-page .category5-name {
  text-align: left;
  padding-left: 100px;
}

.project-configuration-page .category6-name {
  text-align: left;
  padding-left: 120px;
}

.hide-content{
  display: none;
}
.t-38 {
  top: 38%
}