<context-consumer consume="projectTypeId loadingFlag"></context-consumer>
<div id="list-invoice">
  <div class="container-fluid">
    <div class="row no-mg">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <div class="panel panel-primary">
          <div class="panel-body pb0">
            <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
              <!-- <div class="card card-default"> -->
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <form [formGroup]="invoiceFilterForm">
                  <div class="row mb-3">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg search-field-box">
                      <div class="row no-mg mb-3">
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-10">
                          <input class="form-control input-width search-filter" id="" type="text"
                            formControlName="poNumber" placeholder="{{'projects.labels.poWithoutDot'| translate}}#"
                            data-toggle="tooltip" data-placement="top"
                            title="{{'projects.labels.poWithoutDot'| translate}}#" />
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-10">
                          <input class="form-control input-width search-filter" id="" type="text"
                            formControlName="invoiceNumber"
                            placeholder="{{'projects.labels.paymentOrderNo'| translate}}" data-toggle="tooltip"
                            data-placement="top" title="{{'projects.labels.paymentOrderNo'| translate}}" />
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-10">
                          <ngx-select (typed)="searchSupplierName.next($event)" data-placement="top" [allowClear]='true'
                            title="{{'common.labels.supplierName' | translate}}" formControlName="supplierName"
                            [items]="supplierDropDown" placeholder="{{'common.labels.supplierName' | translate}}">

                            <ng-template ngx-select-option-not-found>
                              <ng-container *ngIf="isLoadingSupplierName; else elseBlock">
                                {{'biddings.labels.loading' | translate}}
                                <span class="fl-right">
                                  <i class="fa fa-spinner fa-spin margin-right-5"></i>
                                </span>
                              </ng-container>
                              <ng-template #elseBlock>
                                {{ 'common.labels.recordNotFound' | translate }}
                              </ng-template>
                            </ng-template>
                          </ngx-select>
                        </div>
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-10">
                          <ngx-select [allowClear]="true" class="list-freelancer-dropdown "
                            [items]="invoiceTypeDropdown" formControlName="type"
                            placeholder=" {{'projects.labels.type'| translate}}" data-toggle="tooltip"
                            data-placement="top" title="{{'projects.labels.type'| translate}}">
                          </ngx-select>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="row no-mg"> -->
                        <div id="date-picker-wrapper" class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-10">
                          <my-date-range-picker class="daterange-picker" formControlName="invoiceDateRange"
                            [options]="myDateRangePickerOptions" name="invoiceDateRange"
                            placeholder="{{'projects.labels.paymentOrderDateRange'| translate}}" data-toggle="tooltip"
                            data-placement="top" title="{{'projects.labels.paymentOrderDateRange'| translate}}">
                          </my-date-range-picker>
                        </div>
                        <div id="date-picker-wrapper" class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 mb-10">
                          <my-date-range-picker class="daterange-picker" formControlName="paymentDateRange"
                            [options]="myDateRangePickerOptions" name="paymentDateRange"
                            placeholder="{{'projects.labels.paymentDateRange'| translate}}" data-toggle="tooltip"
                            data-placement="top" title="{{'projects.labels.paymentDateRange'| translate}}">
                          </my-date-range-picker>
                        </div>
                        <div class="col-12 col-sm-4 col-md-6 col-lg-4 col-xl-3">
                          <button mat-button class="btn search-btn btn-primary mb-10" type="submit" (click)="search()"
                            [disabled]="showLoadingFlg || loadingFlag"> {{'common.labels.search'| translate}}</button>
                          <button mat-button class="btn clear-btn btn-primary mb-10" type="button" (click)="clear()"
                            [disabled]="showLoadingFlg || loadingFlag"> {{'common.labels.clear'| translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>


                <div class="">

                  <div class="panel panel-primary">
                    <!-- <div class="panel-body"> -->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg project-tabs">
                      <ul class="nav nav-pills nav-justified">
                        <ng-container *ngFor="let obj of INVOICE_LIST_STATUS_CONST;let index=index">
                          <li class="nav-item ptr" *ngIf="obj.id != INVOICE_APPROVAL_CONST.autoapproved">
                            <a class="nav-link nav-link_{{index}}" id="advances-tab"
                              (click)="showInvoices($event, obj?.id)">{{'projects.labels.'
                              + obj?.text | translate}}</a>
                          </li>
                        </ng-container>
                      </ul>
                    </div>

                    <div class="invoice-list-details">
                      <ng-container *ngIf="(invoiceList?.length == 0) && !showLoadingFlg && !loadingFlag">
                        <div class="row mt-1">
                          <div class="col-md-12 text-center">
                            <p class="text-danger">{{'common.labels.recordNotFound' | translate}}</p>
                          </div>
                        </div>
                      </ng-container>
                      <div *ngIf="showLoadingFlg || loadingFlag;else showListBlock">
                        <app-loader class="col-md-12" [loading]="true"></app-loader>
                      </div>
                      <ng-template #showListBlock>
                        <ng-container *ngFor="let invoice of invoiceList">
                          <div class="items" *ngIf="renderPage">
                            <div class="row"
                              *ngIf="(projectTypeId!==PROJECT_TYPES.corporate) && (invoice?.invoiceFor!==PURCHASE_ORDER_CONST.talent)">
                              <div class="col-md-12 text-danger"
                                *ngIf="!invoice?.palAccepted && !invoice?.contractAccepted; else showRespectiveMsgs">
                                <span>
                                  {{'common.labels.palContractNotAccepted'| translate}}
                                </span>
                              </div>
                              <ng-template #showRespectiveMsgs>
                                <div class="col-md-12 text-danger" *ngIf="!invoice?.palAccepted">
                                  <span>
                                    {{'common.labels.palNotAccepted'| translate}}
                                  </span>
                                </div>
                                <div class="col-md-12 text-danger" *ngIf="!invoice?.contractAccepted">
                                  <span>
                                    {{'common.labels.contractNotAccepted'| translate}}
                                  </span>
                                </div>
                              </ng-template>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                <div class="row mb-2">
                                  <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.poWithoutDot'| translate}}#:</strong>
                                    </span>
                                    <span class="consecutive-number">
                                      {{ invoice?.purchaseOrderNumber }}
                                    </span>
                                  </div>
                                  <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'common.labels.type'| translate}}:</strong>
                                    </span>
                                    <span>{{ 'common.labels.' + typeKeyArr[invoice?.invoiceFor] | translate }}</span>
                                  </div>
                                  <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.BudgetLine'| translate}}:</strong>
                                    </span>
                                    <strong class="ml-1">
                                      <ng-container *ngFor="let item of invoice?.budgetLines;let lst = last">
                                        {{item}}<span *ngIf="invoice?.budgetLines.length > 1 && !lst">,</span>
                                      </ng-container>
                                    </strong>
                                  </div>
                                  <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="invoice-status text-center ptr"
                                      [ngClass]="((invoice?.status==INVOICE_APPROVAL_CONST?.pending || invoice?.status==INVOICE_APPROVAL_CONST?.generated) ? 'pending':'') || ((invoice.status==INVOICE_APPROVAL_CONST?.approved) ? 'approved':'') || ((invoice?.status==INVOICE_APPROVAL_CONST?.rejected) ? 'rejected':'')|| ((invoice?.status==INVOICE_APPROVAL_CONST?.cancelled) ? 'cancelled':'')"
                                      (click)="openApprovalModal(invoice)">
                                      <span class="">
                                        <i class="fa fa-eye"></i>
                                        {{ invoice?.status ? ((('projects.labels.' + statusKeyArr[invoice?.status]) |
                                      translate) | uppercase):'common.labels.pending'| translate}}
                                      </span>
                                    </div>
                                    <div class="text-center">
                                      <span
                                        *ngIf="((!invoice?.status || invoice?.status==INVOICE_APPROVAL_CONST.pending || invoice?.status==INVOICE_APPROVAL_CONST.generated) &&  (invoice?.approverReasons?.length >= 1))"><u
                                          class="ptr" (click)="openReasonsModal(invoice)">{{'projects.labels.pendingReason'|
                                        translate}}</u></span>

                                      <span
                                        *ngIf="((invoice?.status==INVOICE_APPROVAL_CONST.rejected) &&  (invoice?.approverReasons?.length >= 1))"><u
                                          class="ptr" (click)="openReasonsModal(invoice)">{{'projects.labels.rejectionReason'|
                                        translate}}</u></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.paymentorder'|
                                      translate}}#:</strong>
                                    </span>
                                    <span class="invoice-number">
                                      {{invoice?.invoiceNumber}}
                                    </span>
                                  </div>
                                  <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.supplier'| translate}}:</strong>
                                    </span>
                                    <span>{{invoice?.supplierName}}</span>
                                    <span>({{ 'common.labels.'+supplierKeyArr[invoice?.supplierType] | translate }})</span>
                                  </div>
                                  <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.paidVia'| translate}}:</strong>
                                    </span>
                                    <ng-container>
                                      <span>{{invoice?.thirdPartyVendor}}</span>
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.paymentOrderDate'| translate}}:</strong>
                                    </span>
                                    <span>{{invoice?.invoiceDate | dateFormat}}</span>
                                  </div>
                                  <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.createdBy'| translate}}:</strong>
                                    </span>
                                    <span>{{invoice?.createdBy ?invoice?.createdBy:'-'}}</span>
                                  </div>
                                  <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <span>
                                      <strong>{{'projects.labels.paymentDate'| translate}}:</strong>
                                    </span>
                                    <span>{{invoice?.paymentDate ? (invoice?.paymentDate | dateFormat) : '-'}}</span>
                                  </div>
                                  <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <ng-container>
                                      <span>
                                        <strong>{{'projects.labels.paymentStatus'| translate}}:</strong>
                                      </span>
                                      <span class="ptr" (click)="openPaymentModal(invoice)"
                                        *ngIf="(invoice && invoice?.paymentStatus !== '')"><span
                                          *ngIf="invoice?.paymentStatus == INVOICE_PAYMENT_CONST.multiple">
                                          {{invoice?.paymentCount}}
                                        </span><u>{{ 'payments.labels.' + paymentStatusKeyArr[invoice?.paymentStatus] |
                                        translate }}</u>
                                      </span>
                                      <span *ngIf="(invoice && invoice?.paymentStatus === '')">-</span>
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="row">
                                  <div
                                    class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 action-items center display-inline-block">
                                    <ui-control-permission [fieldName]="'viewInvoice'"
                                      [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions"
                                      [uiPermissionObj]="uiAccessPermissionsObj">
                                      <div class="display-inline-flex mb-10">
                                        <span (click)="viewInvoice(invoice?.invoiceId, invoice?.purchaseOrderId)"
                                          class="">
                                          <i
                                            class="fa fa-eye view-icon"></i>{{'projects.labels.viewPaymentOrder'| translate}}
                                        </span>
                                      </div>
                                    </ui-control-permission>
                                    <div class="display-inline-flex mb-10">
                                      <ng-container>
                                        <span
                                          (click)="viewInvoiceDetails(invoice?.invoiceId, invoice?.purchaseOrderId);">
                                          <i class="fa fa-eye"></i>{{'projects.labels.viewInvoiceDetails'|
                                        translate}}
                                        </span>
                                      </ng-container>
                                    </div>
                                    <div class="display-inline-flex mb-10">
                                      <ng-container>
                                        <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID"
                                          [actionType]="ACTION_TYPES.EDIT">
                                          <span
                                            [ngClass]="(invoice?.canEdit && !invoice?.ownInvoice) ? '' : 'ptr-disabled'"
                                            (click)="editInvoice(invoice)">
                                            <i class="fa fa-edit edit-icon"></i>{{'projects.labels.editPaymentOrder'|
                                      translate}}
                                          </span>
                                        </action-permission>
                                      </ng-container>
                                    </div>
                                    <div class="display-inline-flex mb-10">
                                      <ng-container>
                                        <ui-control-permission [fieldName]="'cancelInvoice'"
                                          [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions"
                                          [uiPermissionObj]="uiAccessPermissionsObj">
                                          <span
                                            [ngClass]="(invoice?.canCancel && !invoice?.ownInvoice) ? '' : 'ptr-disabled'"
                                            (click)="cancelInvoice(invoice)">
                                            <i class="ptr fa fa-times-circle cancel-icon"></i>{{'projects.labels.cancelPaymentorder'|
                                          translate}}
                                          </span>
                                        </ui-control-permission>
                                      </ng-container>
                                    </div>
                                    <!-- <div class="display-inline-flex mb-10" *ngIf="invoice?.invoiceFile">
                                    <span class="">
                                      <a style="color: #656565;text-decoration:none;" href="{{invoice?.invoiceFile}}"
                                        download="{{invoice?.invoiceFile}}">
                                        <i class="fa fa-download download-icon"></i>{{'projects.labels.invoice'|
                                        translate}}
                                      </a>
                                    </span>
                                  </div> -->
                                    <ui-control-permission [fieldName]="'addPayment'"
                                      [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeActions"
                                      [uiPermissionObj]="uiAccessPermissionsObj">
                                      <div class="display-inline-flex mb-10">
                                        <span
                                          [ngClass]="(invoice?.status !=  INVOICE_APPROVAL_CONST.cancelled) && invoice?.canPay ? '' : 'ptr-disabled'"
                                          (click)="navigateToPaymment(invoice.invoiceId, invoice?.canPay)">
                                          <i class="fa fa-file-text-o"></i>{{'projects.labels.schedulePayment'|
                                        translate}}
                                        </span>
                                      </div>
                                    </ui-control-permission>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="amount-details center">
                                  <div class="details">
                                    <div class="currency">
                                      {{ this.currentCurrencyObj?.code ? this.currentCurrencyObj?.code
                                    :(invoice?.currencyCode) }}
                                    </div>
                                    <div class="amount">
                                      <strong>{{getConvertedValue(invoice?.defaultCurrencyAmount,invoice?.invoiceAmount)
                                      | twoDecimal | absolute | numberFormat}}</strong>
                                    </div>
                                  </div>
                                </div>
                                <div class="approval-details text-center mt-10">
                                  <div *ngIf="invoice?.approverStatus  == INVOICE_APPROVAL_CONST.pending">
                                    <span>
                                      <strong>{{'projects.labels.nextApprover'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div *ngIf="invoice?.approverStatus == INVOICE_APPROVAL_CONST.approved">
                                    <span>
                                      <strong>{{'projects.labels.finalApprovedBy'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div *ngIf="invoice?.approverStatus  == INVOICE_APPROVAL_CONST.rejected">
                                    <span>
                                      <strong>{{'projects.labels.rejectedBy'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div *ngIf="invoice?.approverStatus  == INVOICE_APPROVAL_CONST.cancelled">
                                    <span>
                                      <strong>{{'projects.labels.cancelledBy'| translate}}</strong>
                                    </span>
                                  </div>
                                  <div> {{ invoice?.approverName }}</div>
                                  <div>
                                    <small>({{ invoice?.approverRole }})</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="custom-pagination" *ngIf="totalItems > itemsPerPage">
                  <pagination class="pagination-sm" [(ngModel)]="currentPage" [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
                    (pageChanged)="pageChanged($event)" (numPages)="numPages = $event">
                  </pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" bsModal #approvalStatusModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{'projects.labels.invoiceApprovalDetails'| translate}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal"
            (click)="approvalStatusModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <app-common-approval-hierarchy #commonApprovalModal [listDetails]="invoiceDetails"
            [projectTypeId]="projectTypeId" [statusKeyArr]="statusKeyArr" [onHoldReasonArrConstant]="onHoldReasons"
            [otherReasonArrConstant]="OTHER_REASONS" [rejectionReasonArrConstant]="rejectionReasons"
            [approvalRejectURL]="invoiceApprovalHierarchyURL" [lisType]="LISTING_TYPE.invoice">
          </app-common-approval-hierarchy>
          <!-- <div class="row text-center" *ngIf="(projectTypeId!==PROJECT_TYPES.corporate) && (invoiceDetails?.invoiceFor!==PURCHASE_ORDER_CONST.talent)">
            <div class="col-md-12 text-danger"
              *ngIf="!invoiceDetails?.palAccepted && !invoiceDetails?.contractAccepted; else showRespectiveMsgs">
              <span>
                {{'common.labels.palContractNotAccepted'| translate}}
              </span>
            </div>
            <ng-template #showRespectiveMsgs>
              <div class="col-md-12 text-danger" *ngIf="!invoiceDetails?.palAccepted">
                <span>
                  {{'common.labels.palNotAccepted'| translate}}
                </span>
              </div>
              <div class="col-md-12 text-danger" *ngIf="!invoiceDetails?.contractAccepted">
                <span>
                  {{'common.labels.contractNotAccepted'| translate}}
                </span>
              </div>
            </ng-template>
          </div>
          <div class="approval-status-bar">
            <div class="progress" style="width:450px;">
              <div class="progress-bar" style="width:450px;background:#bbbbbb;">
                <div class="progress-value approved" tooltip="{{('common.labels.generated'| translate) | titlecase}}"
                  placement="right" [ngStyle]="{'left' : 'calc(0% - 15px)'}">
                  <span>
                    <i class="fa fa-check"></i>
                  </span>
                </div>
                <div class="approver-name" [ngStyle]="{'left' : 'calc(0% - 5px)'}">
                  <div>{{('common.labels.generated'| translate) | titlecase}}</div>
                </div>

                <ng-container *ngFor="let approval of approvalHierarchyArr; let srNo = index; let first = first">
                  <div class="progress-value {{statusKeyArr[approval?.status] | lowercase}}"
                    tooltip="{{ statusKeyArr[approval?.status] | titlecase }}" placement="right"
                    [ngStyle]="{'left' : 'calc(' + approval?.percent + '% - 15px)'}">
                    <span *ngIf="approval?.status == INVOICE_APPROVAL_CONST.approved">
                      <i class="fa fa-check"></i>
                    </span>
                    <span *ngIf="approval?.status == INVOICE_APPROVAL_CONST.autoapproved">
                      <i class="fa fa-check"></i>
                    </span>
                    <span *ngIf="approval?.status == INVOICE_APPROVAL_CONST.pending">
                      <i class="fa fa-question"></i>
                    </span>
                    <span *ngIf="approval?.status == INVOICE_APPROVAL_CONST.cancelled">
                      <i class="fa fa-ban"></i>
                    </span>
                    <span *ngIf="approval?.status == INVOICE_APPROVAL_CONST.rejected">
                      <i class="fa fa-remove"></i>
                    </span>
                  </div>
                  <div class="approver-name" [ngStyle]="{'left' : approval?.percent + '%'}">
                    <div>{{ approval?.approverName }}</div>
                    <div *ngIf="approval?.approverRole">
                      <small>({{ approval?.approverRole }})</small>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-20"
            *ngIf="((invoiceDetails?.status===INVOICE_APPROVAL_CONST.pending || invoiceDetails?.status===INVOICE_APPROVAL_CONST.generated) && (invoiceDetails?.approverId==userInfo.id))">
            <div class="form-group">
              <label>
                <strong>
                  {{'projects.labels.paymentOrderApprovalWaiting'| translate}}
                </strong>
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-warning" [disabled]="disableButtonFlag" (click)="showReasons('pending')">{{'projects.labels.onHold'|
                translate}}</button>
              <button [disabled]="disableButtonFlag" class="btn btn-success" (click)="approveInvoice()">
                <i *ngIf="approvedSpinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.approve'|
                translate}}</button>
              <button [disabled]="disableButtonFlag" class="btn btn-danger ml-1" (click)="showReasons('reject')">
                {{'common.labels.reject'|
                translate}}</button>
            </div>

          </div>
          <ng-container *ngIf="showReasonsBox">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-20  reason-section">
              <h4 class="text-center"> <u> {{(selectedStatus == 'pending') ? ('projects.labels.onHoldeReason'|
                  translate):('projects.labels.rejectionReason'| translate)}}</u></h4>
              <form [formGroup]="reasonsForm">
                <ng-container *ngIf="(selectedStatus === 'pending');else elseBlock">
                  <ng-container formArrayName="onHoldReasonsArr"
                    *ngFor="let item of reasonsForm['controls'].onHoldReasonsArr['controls']; let index=index;let lst=last">
                    <ng-container [formGroupName]="index">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                        <div class="form-check mb-2 mr-sm-2">
                          <div class="checkbox c-checkbox">
                            <label>
                              <input formControlName="selected" type="checkbox" class="ptr" value="1" name="check"
                                (click)="selectReason(item,$event)" />
                              <span class="fa fa-check"></span> {{item?.value?.text}}</label>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #elseBlock>
                  <ng-container formArrayName="rejectionReasonsArr"
                    *ngFor="let item of reasonsForm['controls'].rejectionReasonsArr['controls']; let index=index;let lst=last">
                    <ng-container [formGroupName]="index">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
                        <div class="form-check mb-2 mr-sm-2">
                          <div class="checkbox c-checkbox">
                            <label>
                              <input formControlName="selected" type="checkbox" class="ptr" value="1" name="check"
                                (click)="selectReason(item,$event)" />
                              <span class="fa fa-check"></span> {{item?.value?.text}}</label>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-template>


                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mb-2"
                  *ngIf="reasonsForm?.value?.showOthersReason">
                  <textarea placeholder="Reason" formControlName="othersReason" class="form-control ml-1"
                    rows="3"></textarea>
                </div>
                <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  *ngIf="!reasonsForm?.value?.showOthersReason && showSelectAtLeastOneReasonMsg">{{'projects.errorMessages.pleaseSelectOneReasonMsg'|
                  translate}}</div>
                <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
                  *ngIf="reasonsForm?.value?.showOthersReason && reasonsForm.controls['othersReason']?.errors?.checkRequired && (reasonsForm.controls['othersReason']?.touched || submittedReasonFlag)">
                  {{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  mt-20  text-center">
                  <div class="form-group">
                    <button class="btn btn-success" [disabled]="disableButtonFlag" (click)="submitReason()">
                      <i *ngIf="submitSpinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.submit'|
                      translate}}</button>
                    <button class="btn btn-danger ml-1" [disabled]="disableButtonFlag" (click)="hideReasons()">{{'common.labels.cancel'|
                      translate}}</button>
                  </div>
                </div>
              </form>
            </div>
          </ng-container> -->

        </div>
      </div>
    </div>
  </div>
  <div class="modal" bsModal #paymentHistoryModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <span class="modal-title">{{'projects.labels.paymentForPaymentOrder' | translate}}
            <strong>#{{selectedInvoiceNumber}},</strong>
            {{'payments.labels.supplierName' | translate}} <strong>{{selectedSupplierName}}</strong></span>
          <span *ngIf="selectedThirdPartyVendor">, {{'common.labels.thirdParty' | translate}}:
            <strong>{{selectedThirdPartyVendor}}</strong></span>
          <button type="button" class="close close-model-btn ptr" data-dismiss="modal"
            (click)="closeModal();">&times;</button>
        </div>

        <div class="modal-body">
          <table class="table table-bordered center">
            <thead>
              <tr>
                <th>{{ 'projects.labels.paymentId' | translate }}</th>
                <th>{{ 'projects.labels.paymentAmount' | translate }}</th>
                <th>{{ 'projects.labels.scheduleDate' | translate }}</th>
                <th>{{ 'projects.labels.paymentStatus' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of paymentHistory;let i=index">
                <td>{{item.paymentId}}</td>
                <td>{{item.paymentAmount | twoDecimal}} {{item.paymentCurrencyCode}}</td>
                <td>{{item.scheduleDate | dateFormat}}</td>
                <td>
                  <p *ngIf="item.paymentStatus == PAYMENT_STATUS[0].id">{{'payments.labels.' + PAYMENT_STATUS[0].text |
                    translate}}</p>
                  <p *ngIf="item.paymentStatus == PAYMENT_STATUS[1].id">{{'payments.labels.' + PAYMENT_STATUS[1].text |
                    translate}}</p>
                  <p *ngIf="item.paymentStatus == PAYMENT_STATUS[2].id">{{'payments.labels.' + PAYMENT_STATUS[2].text |
                    translate}}</p>
                  <p *ngIf="item.paymentStatus == PAYMENT_STATUS[3].id">{{'payments.labels.' + PAYMENT_STATUS[3].text |
                    translate}}</p>
                  <p *ngIf="item.paymentStatus == PAYMENT_STATUS[4].id">{{'payments.labels.' + PAYMENT_STATUS[4].text |
                    translate}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" bsModal #reasonsModal="bs-modal">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <p class="modal-title">
            <strong>{{((invoiceDetails?.status===INVOICE_APPROVAL_CONST.pending) ||
              (invoiceDetails?.status===INVOICE_APPROVAL_CONST.generated)) ? ('projects.labels.pendingReasons'|
              translate):('projects.labels.rejectionReasons'| translate)}}</strong>
          </p>
          <button type="button" class="close ptr" data-dismiss="modal" (click)="reasonsModal.hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <ng-container *ngFor="let reason of invoiceDetails?.approverReasons;let srNo = index;">
              <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>{{srNo+1}}.</span>
                <span
                  *ngIf="((reason?.id != OTHER_REASONS.onhold)&&(reason?.id != OTHER_REASONS.rejection));else showOtherLabel">
                  {{ ((invoiceDetails?.status===INVOICE_APPROVAL_CONST.pending) ||
                  (invoiceDetails?.status===INVOICE_APPROVAL_CONST.generated)) ?('projects.reasons.onHoldPaymentOrder.' +
                  onHoldReasonsKeyArr[reason?.id] | translate) :('projects.reasons.rejectPaymentOrder.' +
                  rejectionReasonsKeyArr[reason?.id] | translate) }}</span>
                <ng-template #showOtherLabel>
                  <span>{{reason?.text}}</span>
                </ng-template>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
