<div class="component-wrap add-edit-queue-setup">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <form [formGroup]="addEditMenuForm" novalidate>
    <div class="form-wrap row">        
        <div class="col-sm-6 col-xs-12">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="Menu Name" formControlName="name" maxlength="50">              
          <mat-error i18n *ngIf="addEditMenuForm.controls['name'].hasError('required')">
                Menu Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="Menu Link" formControlName="link" maxlength="50">              
           <mat-error i18n *ngIf="addEditMenuForm.controls['link'].hasError('required')">                                      
               Menu Link is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder  matInput placeholder="Menu Icon" formControlName="icon" maxlength="50">                          
          <mat-error i18n *ngIf="addEditMenuForm.controls['icon'].hasError('required')">
                Menu Icon is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mat-form-field class="full-width-input-wrap">
            <input i18n-placeholder matInput placeholder="Menu Key" formControlName="key" maxlength="50">                          
          <mat-error i18n *ngIf="addEditMenuForm.controls['key'].hasError('required')">
                Menu Key is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
    </div>

    <div class="action-wrap">
      <div class="text-right">
          <button i18n type="button" mat-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
          <button type="submit" mat-button class="app-btn orange-button save-btn" (click)="saveMenu(addEditMenuForm)">{{saveBtnTitle}}</button>
      </div>
    </div>
  </form>
</div>