@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

/* File Uploader Styles  */

.uploader-wrap input {
  display: none;
}

.uploader {
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #EBEBEB;
  background-color: #FAFEFF;
  cursor: pointer;
  display: block;
  height: 150px;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top:55px;
  font-weight:normal;
  font-size: 13px;
}

.uploader .icon-upload3 {
  pointer-events: none;
}

.uploader,
.uploader .icon-upload3 {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon-upload3 {
  color: $secondary-color;
  font-size: 2em;
}

a.download-excel-template {
    @include applyFont($fontSize: 14px);
    text-decoration: none;
    outline: 0 none;
    color: $primary_shade3;
    margin-top: 6px;
    display: block;
}

.file-selected-icon {
    font-size: 30px;
    padding-bottom: 6px;
    color: #2E7D32;
}
 .table-dth {
        width: 100%;
        padding: 10px 0px;
        margin: 15px 0px;
        overflow: hidden;
        height: auto;
        font-size: 13px;
        table {
            width: 100%;
            thead {
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                background-color: #ddd;
                display: table;
                overflow: auto;
                width: 100%;
                tr {
                    position: relative;
                }
                td {
                    padding-top: 5px;
                   padding-bottom: 5px;
                }
                td:first-child {
                    padding-left: 5px;
                }
                td:nth-child(1) {
                    width: 14%;
                }
                td:nth-child(2) {
                    width: 14%;
                }
                td:nth-child(3) {
                    width: 31%;
                }
                td:nth-child(4) {
                    width: 6%;
                }
            }
            tbody {
                display: block;
                max-height: 175px;
                overflow: auto;
                width: 100%;
                tr {
                    border-bottom: 1px solid #ccc;
                    td {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                    td:first-child {
                    padding-left: 5px;
                    }
                    td:nth-child(1) {
                        width: 20%;
                    }
                    td:nth-child(2) {
                        width: 20%;
                    }
                    td:nth-child(3) {
                        width: 40%;
                    }
                    td:nth-child(4) {
                    width: 10%;
                    }
                    .mat-radio-ripple {
                        left: -5px;
                        top: -5px;
                        right: -5px;
                        bottom: -5px;
                    }
                    .mat-radio-container {
                        height: 15px;
                        ;
                        width: 15px;
                        .mat-radio-outer-circle,
                        .mat-radio-inner-circle {
                            height: 15px;
                            ;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }