.padding-top{
    padding-top: 25px;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;                
    background-color:rgb(236, 236, 235);
    height: 1px;
}


#line {
    float: left;
    width: 99%;
    height: 1px;                
}

.add-minus{
    margin: auto;
}

.project-visibility{
    margin-top: 5px;
    margin-bottom: -10px;
}