<div *ngIf="showLoadingFlg; else elseBlock" style="margin-top: 150px;">
  <app-loader class="col-md-12" [loading]="showLoadingFlg"></app-loader>
</div>
<ng-template #elseBlock>
    <div *ngIf="downloadInvoiceURLFlag">
    <span >
      <a class="download-btn" href="{{downloadInvoiceUrl}}" target="_blank"
        [download]="downloadInvoiceUrl">
        {{'common.labels.download' | translate }} <i class="fa fa-download download-icon"></i>
      </a>
    </span>
      </div>
    <div id="view-invoice" class="table-responsive">
        <table class="view-table-structure" cellpadding='0' cellspacing='0'>
          <tbody>
            <tr>
              <td colspan="2" style="padding: 0px 15px;">
                <table style="border-collapse: collapse;table-layout: fixed; width:100%;">
                  <tr style="text-align: center;" *ngIf="poDetails.purchaseOrderFor !== PAYMENT_FOR.talent">
                    <td style="overflow: hidden;vertical-align:bottom;" colspan="2">
                      <span style="font-size:30px;color:#8793c9;">{{'projects.labels.capsPaymentOrder' | translate }}</span>
                    </td>
                  </tr>
                  <tr style="text-align: center;" *ngIf="poDetails.purchaseOrderFor === PAYMENT_FOR.talent">
                      <td style="overflow: hidden;vertical-align:bottom;" colspan="2">
                        <span style="font-size:30px;color:#8793c9;">{{'projects.labels.talentPaymentOrder' | translate }}</span>
                      </td>
                    </tr>
                  <tr>
                    <td style="vertical-align: top;">
                      <table style="border-collapse: collapse;table-layout: fixed; width:100%;">
                        <tbody>
                          <tr>
                            <td>
                              <img src="{{poDetails?.companyLogoUrl}}" style="max-width:100px;color:black;margin-top: 6px" alt="lift-image;">
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span>
                                {{poDetails?.companyName | uppercase}}
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 10px 0px;">
                              <span style="background:#4b558c;color:white;padding: 0px 30px;"> {{invoiceForLabel}} </span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <strong>
                                {{supplierDetails?.name}}
                              </strong>
                            </td>
                          </tr>
                          <tr *ngIf="supplierDetailsType != PURCHASE_ORDER_CONST.freelancer">
                            <td style="line-height: normal;">
                              <span>
                                {{'projects.labels.poAddress' | translate}}: {{supplierDetails?.address ? supplierDetails?.address:'-'}}
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td style="line-height: normal;">
                              <span>
                                {{'projects.labels.poPhone' | translate}}: {{supplierDetails?.phoneNumber ?supplierDetails?.phoneNumber:'-'}}
                              </span>
                            </td>
                          </tr>
                          <tr *ngIf="!(poDetails.purchaseOrderFor === PURCHASE_ORDER_CONST.location && !supplierDetails.taxId)">
                            <td style="line-height: normal;">
                              <span>
                                {{'projects.labels.poTaxId' | translate}}: {{invoiceDetails?.taxId ? invoiceDetails?.taxId:'-'}}
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>
                      <table style="border-collapse: collapse;table-layout: fixed; width:100%;">
                        <tr>
                          <td style="width:50%;text-align:right; vertical-align: top; line-height:normal;">
                            {{'projects.labels.poDate' | translate}}:
                          </td>
                          <td style="text-align:left;padding-left: 5px;line-height:normal;">
                            <strong>
                              {{invoiceDetails?.invoiceDate ? (invoiceDetails?.invoiceDate| date: 'MM-dd-yyyy') : '-' }}
                            </strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width:50%;text-align:right; vertical-align: top; line-height:normal;">
                            {{'projects.labels.paymentOrderNo' | translate}}:
                          </td>
                          <td style="text-align:left;padding-left: 5px;line-height:normal;">
                            <strong>
                              {{invoiceDetails.invoiceNumber ? invoiceDetails.invoiceNumber : '-' }}
                            </strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width:50%;text-align:right; vertical-align: top; line-height:normal;">
                            {{'projects.labels.viewPONumber' | translate}}:
                          </td>
                          <td style="text-align:left;padding-left: 5px;line-height:normal;">
                            <strong>
                              {{poDetails.purchaseOrderNumber ? poDetails.purchaseOrderNumber : '-' }}
                            </strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width:50%;text-align:right; vertical-align: top; line-height:normal;">
                            {{'projects.labels.viewPOAmount' | translate}}: </td>
                          <td style="text-align:left;padding-left: 5px;line-height:normal;">
                            <strong>
                              {{poDetails?.currencyCode}} {{poDetails.totalAmountRequested ? (poDetails.totalAmountRequested | numberFormat) : '-' }}
                            </strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width:50%;text-align:right; vertical-align: top; line-height:normal;">
                            {{'projects.labels.project' | translate}}:
                          </td>
                          <td style="text-align:left;padding-left: 5px;line-height:normal;">
                            <strong>
                              {{poDetails.projectName ? poDetails.projectName : '-' }}
                            </strong>
                          </td>
                        </tr>
                        <tr>
                          <td style="width:50%;text-align:right; vertical-align: top; line-height:normal;">
                            {{'common.labels.budgetType' | translate}}:
                          </td>
                          <td style="text-align:left;padding-left: 5px;line-height:normal;">
                            <strong>
                              {{poDetails.budgetName ? poDetails.budgetName : '-' }}
                            </strong>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding: 0px 15px;">
                <table style="border-collapse: collapse; font-family:Times New Roman !important; margin: auto; width: 100%; margin-top: 20px;"
                  cellpadding="0" cellspacing="0" width="658">
                  <tbody>
                    <tr>
                      <td>
                        <table style="width:100%;border-collapse: collapse;border: 1px solid black;">
                          <tr style="background:#4b558c;color:white;border-collapse: collapse;">
                            <th style="border: 1px solid black;text-align:center;">
                                {{'projects.labels.poLineNumber' | translate}}
                            </th>
                            <th style="border: 1px solid black;text-align:center;">
                                {{'projects.labels.capsServiceDescription' | translate}}
                            </th>
                           </tr>
                          <tr *ngFor="let budgetLine of poDetails.budgetLineArr;let i=index">
                            <td class="center" style="padding-left:5px;border:1px solid black;vertical-align: text-top;">
                                {{budgetLine?.budgetLine ? budgetLine?.budgetLine : "-"}}
                            </td>
                            <td style="padding-left:5px;border:1px solid black; vertical-align: text-top;">
                                {{budgetLine?.itemDescription ? budgetLine?.itemDescription : "-"}}
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="width: 40%; vertical-align: bottom; padding-left:15px;">
                <table style="border-collapse: collapse;table-layout: fixed; width:100%;">
                  <tbody>
                    <tr>
                      <td style="font-weight: bold;">
                        <u>
                          <strong>
                            {{'projects.labels.poBankDetails' | translate}}
                          </strong>
                        </u>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td style="vertical-align: top; padding-right:15px;">
                <table style="border-collapse: collapse;table-layout: fixed; width:100%;">
                  <tbody>
                    <tr>
                      <td style="width: 55%; vertical-align: top; padding-left: 8px;">
                          {{'projects.labels.poTotalReq' | translate}}:
                      </td>
                      <td style="text-align: right; padding-right: 5px;">
                          {{poDetails?.currencyCode}} {{invoiceDetails?.invoiceAmount | twoDecimal | numberFormat}}
                      </td>
                    </tr>
                    <tr *ngIf="poDetails.purchaseOrderFor === PAYMENT_FOR.talent">
                      <td style="width: 55%; vertical-align: top; padding-left: 8px;">
                        {{'projects.labels.agengyFee' | translate}} ({{invoiceDetails?.percentAgencyFee}} %):
                      </td>
                      <td style="text-align: right; padding-right: 5px;">
                       {{poDetails?.currencyCode}} {{agencyFeeAmount | twoDecimal | numberFormat}}
                      </td>
                    </tr>
                    <tr *ngIf="poDetails.purchaseOrderFor === PAYMENT_FOR.talent">
                      <td style="width: 55%; vertical-align: top; padding-left: 8px;">
                        {{'projects.labels.iva' | translate}} ({{invoiceDetails?.iva}} %):
                      </td>
                      <td style="text-align: right; padding-right: 5px;">
                        {{poDetails?.currencyCode}} {{ivaAmount | twoDecimal | numberFormat}}
                      </td>
                    </tr>
                    <tr *ngIf="poDetails.purchaseOrderFor === PAYMENT_FOR.talent">
                      <td style="width: 55%; vertical-align: top; padding-left: 8px;">
                        {{'projects.labels.markup' | translate}} ({{invoiceDetails?.percentMarkup}} %):
                      </td>
                      <td style="text-align: right; padding-right: 5px;">
                        {{poDetails?.currencyCode}} {{markupAmount | twoDecimal | numberFormat}}
                      </td>
                    </tr>
                    <tr *ngIf="poDetails.purchaseOrderFor !== PAYMENT_FOR.talent">
                      <td  style="width: 55%; vertical-align: top; padding-left: 8px;">
                          {{'projects.labels.poVAT' | translate}} ({{invoiceDetails?.percentVAT}} %):
                      </td>
                      <td style="text-align: right; padding-right: 5px;">
                          {{poDetails?.currencyCode}} {{this.amountObj?.vatAmount | twoDecimal | numberFormat}}
                      </td>
                    </tr>
                    <tr *ngIf="showIsrOrVatWithholdingAmount">
                      <td style="width: 55%; vertical-align: top; padding-left: 8px;">
                          {{'projects.labels.vatWithholding' | translate}} ({{invoiceDetails?.percentVATWithholding}} %):
                      </td>
                      <td style="text-align: right; padding-right: 5px;">
                          (-) {{poDetails?.currencyCode}} {{this.amountObj?.vatWithHoldingAmount | twoDecimal | numberFormat}}
                      </td>
                    </tr>
                    <tr *ngIf="showIsrOrVatWithholdingAmount">
                      <td style="width: 55%; vertical-align: top; padding-left: 8px;">
                          {{'projects.labels.isrWithholding' | translate}} ({{invoiceDetails?.percentISRWithholding}} %):
                      </td>
                      <td style="text-align: right; padding-right: 5px;">
                          (-) {{poDetails?.currencyCode}} {{this.amountObj?.isrWithHoldingAmount | twoDecimal | numberFormat}}
                      </td>
                    </tr>
              




                    <tr>
                      <td style="padding-left: 8px; background-color: lightgray;font-weight:bold;vertical-align:text-top;white-space: nowrap; border-top: 1px solid #000;text-align:left;">
                          {{'projects.labels.poTotal' | translate}}: </td>
                      <td *ngIf="poDetails.purchaseOrderFor !== PAYMENT_FOR.talent" style="background-color: lightgray;font-weight:bold;border-top: 1px solid #000;text-align:right;white-space: nowrap;padding: 5px 0px 5px 0px;vertical-align: text-top;">
                        <span style="padding-right:5px;">
                            {{poDetails?.currencyCode}} {{((invoiceDetails?.invoiceAmount + this.amountObj?.vatAmount) - (this.amountObj?.isrWithHoldingAmount
                              + this.amountObj?.vatWithHoldingAmount)) | twoDecimal | numberFormat}}
                        </span>
                      </td>
                      <td *ngIf="poDetails.purchaseOrderFor === PAYMENT_FOR.talent" style="background-color: lightgray;font-weight:bold;border-top: 1px solid #000;text-align:right;white-space: nowrap;padding: 5px 0px 5px 0px;vertical-align: text-top;">
                        <span style="padding-right:5px;">
                            {{poDetails?.currencyCode}} {{totalTalentPOAmount | twoDecimal | numberFormat}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding: 0px 15px;">
                <table style="border-collapse: collapse;table-layout: fixed; width:60%;">
                  <tbody>
                    <tr style="margin:4px 0px">
                      <td style="line-height: normal;">
                        <span>
                            {{supplierDetails?.name ? supplierDetails?.name : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poBankAccountNo' | translate}}:  {{invoiceDetails?.bankAccountNumber ? invoiceDetails?.bankAccountNumber
                              : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr *ngIf="invoiceDetails.bankAccountName">
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poBankAccountName' | translate}}: {{invoiceDetails?.bankAccountName ? invoiceDetails?.bankAccountName
                              : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poBankName' | translate}}: {{invoiceDetails?.bankName ? invoiceDetails?.bankName : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poBranchName' | translate}}: {{invoiceDetails?.branchName ? invoiceDetails?.branchName
                              : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr *ngIf="invoiceDetails.clabe">
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poCLABE' | translate}}: {{invoiceDetails?.clabe ? invoiceDetails?.clabe : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr *ngIf="invoiceDetails.sortCode">
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poSORTCode' | translate}}: {{invoiceDetails?.sortCode ? invoiceDetails?.sortCode : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr *ngIf="invoiceDetails.abaCode">
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poABACode' | translate}}: {{invoiceDetails?.abaCode ? invoiceDetails?.abaCode : "-"}}
                        </span>
                      </td>
                    </tr>
                    <tr *ngIf="invoiceDetails.swiftCode">
                      <td style="line-height: normal;">
                        <span>
                            {{'projects.labels.poSWIFTCode' | translate}}: {{invoiceDetails?.swiftCode ? invoiceDetails?.swiftCode
                              : "-"}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding: 0px 15px;">
                <table style="border-collapse: collapse;table-layout: fixed; width:100%; margin-top: 15px;border:1px solid #c2c2c2;">
                  <tr style="background:#4b558c;border-collapse: collapse;">
                    <th style="padding-left:5px;background:#c2c2c2;border:1px solid #c2c2c2;text-align:left;">
                        {{'projects.labels.ViewPoNotes' | translate}}
                    </th>
                  </tr>
                  <tr>
                    <td style="min-height: 20px;height: 20px;padding-left:5px;vertical-align: text-top;border: 1px solid #c2c2c2;">
                        {{ invoiceDetails.notes ? invoiceDetails.notes : "-" }}
                    </td>
                  </tr>
                </table>
                <hr style="margin: 15px 0px 15px 0px;border-color: #000;border-width: 0.5px;border-bottom: 1px;">
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align:center; padding: 0px 15px;">
                <table style="border-collapse: collapse; font-family:Times New Roman !important; margin: auto; width: 100%;" cellpadding="0"
                  cellspacing="0" width="700">
                  <tbody>
                    <tr style="margin:0; text-align: center;">
                      <td>
                        <span style="overflow-wrap: break-word;word-wrap: break-word;white-space: normal;">
                            {{poDetails?.companyAddressLine1}}
                        </span>
                        <span style="text-decoration:none;color:#333333">
                            {{poDetails?.companyAddressLine2}};
                        </span>
                        <span style="text-decoration:none;color:#333333">
                            {{'projects.labels.poPhone' | translate}}: {{poDetails?.companyPhoneNo}}
                        </span>
                      </td>
                    </tr>
                    <tr style="margin:0;padding-top: 5px; text-align: center;">
                      <td>
                        <span style="text-decoration:none;color:#333333">
                            {{'projects.labels.poTaxId' | translate}}: {{poDetails?.comanyTaxId}}
                        </span>
                      </td>
                    </tr>
                    <tr style="margin:0;padding-top: 10px; text-align: center;">
                      <td>
                        <span style="text-decoration:none;color:#333333">
                          <!-- <a href="https://thelift.mx/" style='text-decoration:none;color:#333333' target='_blank'> -->
                            {{poDetails?.companyWebsite}}
                          <!-- </a> -->
                        </span>
                      </td>
      
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>      
</ng-template>
