<div class="col-md-12" [formGroup]="formGroup">
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Line Item" formControlName="lineItem">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12 mat-form-field-has-prefix">
          <div (click)="focusSelect()">
            <input matInput
              class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored required"
              placeholder="Rate" aria-invalid="false" aria-required="false" formControlName="rate" name="rate">
          </div>
          <span class="select-prefix"
            [ngClass]="{'no-display-arrow' : (formGroup.get('currency').value && formGroup.get('currency').value !== '')}"
            style="font-size: 1.6rem" matPrefix>
            <mat-select disableOptionCentering panelClass="select-dropdown-class" #currencyDropDown
              formControlName="currency" (selectionChange)="selectedCurrency()" panelClass="dropdown-currency">
              <mat-option *ngFor="let cur of arrayCurrencies" [value]="cur.code">
                {{cur.symbol}}
              </mat-option>
            </mat-select>
            &nbsp;
          </span>
          <mat-error *ngIf="formGroup.get('currency').invalid || formGroup.get('rate').invalid">
            {{ getErrorMessage(formGroup.get('currency').invalid ? formGroup.get('currency') : formGroup.get('rate')) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select formControlName="uom" placeholder="UOM" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="uomFilterCtrl" [placeholderLabel]="'Find UOM'"
                  [noEntriesFoundLabel]="'No matching UOM found'"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor='let uom of filteredUoms | async' [value]="uom.code">{{uom.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('UOM','UOM')"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Advance Billing"
            formControlName="advanceBilling" (selectionChange)="selectedAdvanceBilling()">
            <mat-option [value]="true"> Yes </mat-option>
            <mat-option [value]="false"> No </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Effective Start Date" aria-invalid="false" aria-required="false"
            formControlName="effectiveStartDate" name="effectiveStartDate" [matDatepicker]="effectiveStartDatePicker"
            (click)="effectiveStartDatePicker.open()" (dateChange)="dateFromChanged($event)" [max]="maxDateFrom">
          <mat-datepicker-toggle matPrefix [for]="effectiveStartDatePicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #effectiveStartDatePicker></mat-datepicker>
          <mat-error *ngIf="formGroup.get('effectiveStartDate').invalid">
            {{ getErrorMessage(formGroup.get('effectiveStartDate')) }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12 mat-form-field-has-prefix">
          <input matInput readonly
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            placeholder="Effective End Date" aria-invalid="false" aria-required="false"
            formControlName="effectiveEndDate" name="effectiveEndDate" [matDatepicker]="effectiveEndDatePicker"
            (click)="effectiveEndDatePicker.open()" (dateChange)="dateToChanged($event)" [min]="minDateTo">
          <mat-datepicker-toggle matPrefix [for]="effectiveEndDatePicker">
            <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #effectiveEndDatePicker></mat-datepicker>
          <mat-error *ngIf="formGroup.get('effectiveEndDate').invalid">
            {{ getErrorMessage(formGroup.get('effectiveEndDate')) }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Applicable Period"
            formControlName="applicablePeriod">
            <mat-option *ngFor="let applicablePeriod of arrayApplicablePeriods" [value]="applicablePeriod.code">
              {{applicablePeriod.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Reference No." formControlName="referenceNo">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Related Reference No." formControlName="relatedReferenceNo">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Linked Opportunity" formControlName="selectedLinkedOpportunity" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="linkedOpportunityFilter"
                  [placeholderLabel]="'Find Linked Opportunity'"
                  [noEntriesFoundLabel]="'No matching Linked Opportunity found'">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let linkedOpportunity of filteredLinkedOpportunities | async"
                [value]="linkedOpportunity.code">
                {{ linkedOpportunity.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg"
            (click)="openCreateNewObjectDialog('Linked Opportunity','LINKED_OPPORTUNITY')"></i>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Related Doc"
            formControlName="relatedDoc">
            <mat-option *ngFor="let relatedDoc of arrayRelatedDoc" [value]="relatedDoc._id">
              {{relatedDoc.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="col-md-12">
      <div class="col-md-12">
        <h5><b>REPORTING FIELDS</b></h5>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input matInput placeholder="Platforms Applicable" formControlName="platformsApplicable">
        </mat-form-field>
      </div>
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Service" formControlName="service">
              <mat-option>
                <ngx-mat-select-search [formControl]="serviceFilter" [placeholderLabel]="'Find Service'"
                  [noEntriesFoundLabel]="'No matching Service found'">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let service of filteredService | async" [value]="service.code">
                {{service.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('Service','SERVICE')"></i>
        </div>
      </div>
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Sub Service" formControlName="subService">
              <mat-option>
                <ngx-mat-select-search [formControl]="subserviceFilter" [placeholderLabel]="'Find Sub Service'"
                  [noEntriesFoundLabel]="'No matching Sub Service found'">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let subservice of filteredSubService | async" [value]="subservice.code">
                {{subservice.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('Sub Service','SUB_SERVICE')"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 spacing-element">
    <div class="row">
      <div class="col-md-4 fields-with-plus">
        <div class="col-md-11">
          <mat-form-field class="col-md-12">
            <mat-select placeholder="Project" formControlName="project">
              <mat-option>
                <ngx-mat-select-search [formControl]="projectFilter" [placeholderLabel]="'Find Project'"
                  [noEntriesFoundLabel]="'No matching Project found'">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let project of filteredProject | async" [value]="project.code">
                {{project.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-1 new-plus-small-padding">
          <i class="fas fa-plus-circle fa-lg" (click)="openCreateNewObjectDialog('Project','PROJECT')"></i>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Sub Project"
            formControlName="subProject">
            <mat-option *ngFor="let subProject of arraySubProject" [value]="subProject.code">
              {{subProject.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="col-md-12">
          <input (keyup)="onManualChangeInputLocation($event)" matInput type="text"
            class="google-place-input mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
            #location formControlName="location" name="location" google-place placeholder="Location">
          <i class="fas fa-search" matSuffix></i>
          <mat-error *ngIf="formGroup.get('location').invalid">
            {{getErrorMessage(formGroup.get('location'))}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <cm-additional-reporting-fields formGroupName="additionalFormGroup" [numOfFieldsInRow]="3"
    [(additionalReportingFields)]="additionalReportingFields"
    [(additionalReportingFieldsArray)]="additionalReportingFieldsArray" [cdr]="cdr"></cm-additional-reporting-fields>
  <div class="content-right btn-container ds-vw">
    <button color="primary" class="cm-btn" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-btn primary-pink-color" (click)="saveFixedFee()">
      SAVE AND CONTINUE
    </button>
  </div>
  <div class="content-right btn-mob-container">
    <button color="primary" class="cm-mob-btn  mb-vw" id="cancel" (click)="cancel()">
      Cancel
    </button>
    <button color="primary" class="cm-mob-btn primary-pink-color  mb-vw" (click)="saveFixedFee()">
      SAVE AND CONTINUE
    </button>
  </div>
</div>