<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" opened="false" class="app-sidenav mat-sidenav-closed-init mat-sidenav-side">
        <app-sidenav [sidenav]="sidenav" [menus]="menus"></app-sidenav>
    </mat-sidenav>
    <app-header [sidenav]="sidenav" [menus]="menus"></app-header>
    <div class="main-content">
        <!-- <cm-breadcrumb></cm-breadcrumb> -->
        <router-outlet></router-outlet>
    </div>         
    <app-footer></app-footer>
</mat-sidenav-container>
