@keyframes openSidenav {
    0%   {
      transform: translateX(0);
      width: 64px;
    }

    79%   {
      transform: translateX(-100%);
      width: 64px;
    }

    80%   {
      transform: translateX(-100%);
      width: 230px;
    }

    100%   {
      transform: translateX(0);
      width: 230px;
    }
}

@keyframes openSidenavText {
  0%   {
    width: 0;
  }

  
  79%   {
    width: 0;
  }

  80%   {
    width: auto;
  }

  100%   {
    width: auto;
  }
}

@keyframes openSidenavMainLogo {
  0%   {
    width: 0
  }

  79%   {
    width: 0
  }

  80%   {
    width: 200px
  }

  100%   {
    width: 200px
  }
}

@keyframes openSidenavCollapsedLogo {
  0%   {
    width: auto
  }

  79%   {
    width: auto
  }

  80%   {
    width: 0
  }

  100%   {
    width: 0
  }
}

@keyframes closeSidenav {
  0%   {
    transform: translateX(0);
    width: 230px;
  }

  // 79%   {
  //   transform: translateX(-100%);
  //   width: 230px;
  // }

  // 80%   {
  //   transform: translateX(-100%);
  //   width: 64px;
  // }

  100%   {
    transform: translateX(0);
    width: 64px;
  }
}

@keyframes closeSidenavMainLogo {
  0%   {
    width: 200px
  }

  79%   {
    width: 200px
  }

  80%   {
    width: 0
  }

  100%   {
    width: 0
  }
}

@keyframes closeSidenavCollapsedLogo {
  0%   {
    width: 0
  }

  79%   {
    width: 0
  }

  80%   {
    width: auto
  }

  100%   {
    width: auto
  }
}

@keyframes closeSidenavText {
  0%   {
    width: auto;
  }

  
  79%   {
    width: auto;
  }

  80%   {
    width: 0;
  }

  100%   {
    width: 0;
  }
}

@keyframes closeSidenavIcon {
  0%   {
    margin-left: 0;
    margin-right: 0;
  }

  79%   {
    margin-left: 0;
    margin-right: 0;
  }

  80%   {
    margin-left: auto;
    margin-right: auto;
  }

  100%   {
    margin-left: auto;
    margin-right: auto;
  }
}

.mat-sidenav-opened {
    transform: translate3d(0,0,0) !important;
    transform: translateX(0) !important;
    width: 230px !important;
    // animation: openSidenav .5s ease;
}

.mat-drawer {
  transform: none !important;
}

.mat-drawer-transition .mat-drawer-content {
  transition: none !important;
}

.mat-sidenav-opened .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .mat-nav-list div .mat-list-item .mat-list-item-content span,
.mat-sidenav-opened .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .mat-nav-list div .mat-list-item .mat-list-item-content .arrow-up-down {
  overflow: hidden;
  // animation: openSidenavText .5s ease;
}

.mat-sidenav-closed .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .mat-nav-list div .mat-list-item .mat-list-item-content span,
.mat-sidenav-closed .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .mat-nav-list div .mat-list-item .mat-list-item-content .arrow-up-down {
  overflow: hidden;
  width: 0;
  // animation: closeSidenavText .5s ease;
}

// .mat-sidenav-closed .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .mat-nav-list div .mat-list-item .mat-list-item-content .menu-icon {
//   animation: closeSidenavIcon .5s ease;
// }

// .mat-sidenav-opened .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .logo-wrap div .main-logo {
//   animation: openSidenavMainLogo .5s ease;
// }

.mat-sidenav-opened .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .logo-wrap .collapsed-logo {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  // animation: openSidenavCollapsedLogo .5s ease;
}

.mat-sidenav-closed .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .logo-wrap div .main-logo {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  // animation: closeSidenavMainLogo .5s ease;
}

// .mat-sidenav-closed .mat-drawer-inner-container app-sidenav .scroll-container .ps-content .logo-wrap .collapsed-logo {
//   animation: closeSidenavCollapsedLogo .5s ease;
// }

// .mat-sidenav-opened .mat-nav-list .mat-list-item .menu-icon {
//   animation: openSidenavIcon .5s ease;
// }

.mat-sidenav-closed {
  transform: translate3d(0,0,0) !important;
  // animation: closeSidenav .5s ease;
}

mat-sidenav.mat-sidenav-side {
    border-right: none;
}
