.theme-fields {
    color: #1277d9 !important;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}

.is-default-field {
    padding-top: 1.5rem;
}

.remove-field {
    padding-top: 1.9rem;
}