<div class="add-edit-theme-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section [heading]="heading">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="add-edit-theme-middle-section">
        <mat-card>
            <form [formGroup]="addEditThemeForm" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 add-edit-theme-form">
                        <div class="inner">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <mat-form-field class="full-width-input-wrap">

                                        <input i18n-placeholder matInput placeholder="Theme Name" required formControlName="themeName" pattern="^[a-zA-Z0-9][a-zA-Z0-9-_() .,]+$" maxlength="100">

                                        <mat-error i18n *ngIf="addEditThemeForm.controls['themeName'].hasError('required')">
                                            Enter<strong> Theme Name</strong><br>

                                        </mat-error>
                                        <mat-error i18n *ngIf="addEditThemeForm.controls['themeName'].hasError('pattern')">
                                            First Charcter is<strong> alpha Numeric </strong>and From second Charcter <strong>., -_() allowed</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <mat-form-field class="full-width-input-wrap">
                                        <input i18n-placeholder matInput placeholder="Description" formControlName="description" maxlength="100">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <mat-form-field class="mat-select-full-width">
                                        <mat-select i18n-placeholder placeholder="Font" required formControlName="font">
                                            <mat-option *ngFor="let font of fonts" [value]="font.value">
                                                {{ font.text }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error i18n *ngIf="addEditThemeForm.controls['font'].hasError('required')">
                                            Select<strong> Font</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">1</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder matInput maxlength="7" placeholder="Main Header Color" required  formControlName="mainHeaderColor" readonly >
                                                <div class="color-picker-icon"></div>
                                                <mat-error i18n *ngIf="addEditThemeForm.controls['mainHeaderColor'].hasError('required')">
                                                    Select<strong> Main header color</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="mainHeaderColor" (onSelectColor)="onColorSelection($event)" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">2</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder matInput maxlength="7" placeholder="Header Text Color" required formControlName="headerTextColor" readonly >
                                                <div class="color-picker-icon"></div>
                                                <mat-error i18n *ngIf="addEditThemeForm.controls['headerTextColor'].hasError('required')">
                                                    Select<strong> Header text color</strong>

                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="headerTextColor" (onSelectColor)="onColorSelection($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">3</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder matInput  maxlength="7" placeholder="Left Panel Color" required formControlName="leftPanelColor" readonly >
                                                <div class="color-picker-icon"></div>
                                                <mat-error i18n *ngIf="addEditThemeForm.controls['leftPanelColor'].hasError('required')">
                                                   Select<strong> Left panel color</strong>

                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="leftPanelColor" (onSelectColor)="onColorSelection($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">4</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder matInput maxlength="7" placeholder="Left Panel Text Color" required formControlName="leftNavigationColor" readonly>
                                                <div class="color-picker-icon"></div>
                                                <mat-error i18n *ngIf="addEditThemeForm.controls['leftNavigationColor'].hasError('required')">
                                                    Select<strong> Left panel text color</strong>

                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="leftNavigationColor" (onSelectColor)="onColorSelection($event)"  />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">5</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder  matInput  maxlength="7" placeholder="Left Navigation Hover Color" required formControlName="leftNavigationHoverColor" readonly>
                                                <div class="color-picker-icon"></div>
                                                <mat-error i18n *ngIf="addEditThemeForm.controls['leftNavigationHoverColor'].hasError('required')">
                                                   Select<strong> Left navigation hover color</strong>

                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="leftNavigationHoverColor" (onSelectColor)="onColorSelection($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">6</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder matInput maxlength="7" placeholder="Body Text Color" required formControlName="bodyTextColor" readonly>
                                                <div class="color-picker-icon"></div>
                                                <mat-error i18n *ngIf="addEditThemeForm.controls['bodyTextColor'].hasError('required')">
                                                   Select<strong> Body text color</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="bodyTextColor" (onSelectColor)="onColorSelection($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">7</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder matInput maxlength="7" placeholder="Main Heading Color" required formControlName="mainHeadingColor" readonly>
                                                <div class="color-picker-icon"></div>

                                                <mat-error i18n *ngIf="addEditThemeForm.controls['mainHeadingColor'].hasError('required')">
                                                    Select<strong> Main heading color</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="mainHeadingColor" (onSelectColor)="onColorSelection($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">8</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder maxlength="7" matInput placeholder="Primary Button Color" required formControlName="primaryButtonColor" readonly>
                                                <div class="color-picker-icon"></div>

                                                <mat-error i18n *ngIf="addEditThemeForm.controls['primaryButtonColor'].hasError('required')">
                                                   Select<strong> Primary button color</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="primaryButtonColor" (onSelectColor)="onColorSelection($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-1">
                                            <div class="numbered">9</div>
                                        </div>
                                        <div class="col-xs-10 col-sm-11">
                                            <mat-form-field class="full-width-input-wrap">
                                                <input i18n-placeholder matInput maxlength="7" placeholder="Primary Button Hover Color" required formControlName="primaryHoverButtonColor" readonly>
                                                <div class="color-picker-icon"></div>

                                                <mat-error i18n *ngIf="addEditThemeForm.controls['primaryHoverButtonColor'].hasError('required')">
                                                   Select<strong> Primary hover button color</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <input type="hidden" colorPicker controlName="primaryHoverButtonColor" (onSelectColor)="onColorSelection($event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 ui-preview-col">
                        <img src="assets\images\store-front-preview.png" />
                    </div>
                    <div class="col-xs-12 action-wrap">
                        <div class="text-right">
                            <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="cancel()">Cancel</button>
                            <button i18n type="button" mat-button class="app-btn mat-accent mat-flat-button" (click)="testTheme()">{{testThemeTitle}}</button>
                            <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="saveTheme(addEditThemeForm)">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
