<div id="add-freelancer-page">
  <div class="content-heading">
    <!-- Breadcrumb right aligned-->
    <breadcrumb class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-mg" [breadcrumbData]="breadcrumbData"></breadcrumb>
  </div>

  <div class="container-fluid">
    <form class="form-horizontal" [formGroup]="addUserForm" novalidate>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg">
          <h4 class="text-dark">
            <strong>{{'actors.freelancers.labels.personalDetails'| translate}}</strong>
            <em class="pull-right mandatory">*{{'common.labels.mandatory'| translate}}</em>
          </h4>

          <div class="panel panel-primary">
            <div class="panel-body">
              <div class="form-group">
                <label class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 control-label">{{'actors.freelancers.labels.firstName'
                  | translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                  <input name="firstName" class="form-control" formControlName="firstName" placeholder="{{'actors.freelancers.labels.firstName' | translate}}">
                  <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="addUserForm.controls['firstName']?.errors?.checkRequired && (addUserForm.controls['firstName'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                    translate}}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 control-label">{{'actors.freelancers.labels.lastName'
                  | translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                  <input name="lastName" class="form-control" formControlName="lastName" placeholder="{{'actors.freelancers.labels.lastName' | translate}}">
                  <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="addUserForm.controls['lastName']?.errors?.checkRequired && (addUserForm.controls['lastName'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                    translate}}</div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label class="control-label">{{'actors.freelancers.labels.email' | translate}}
                        <span class="mandatory">*</span>
                      </label>
                      <!-- <div class="col-md-8"> -->
                      <input name="email" class="form-control" formControlName="email" oninput="this.value = this.value.replace(/[^@a-zA-Z0-9._-]/g, '');"
                        placeholder="{{'actors.freelancers.labels.email' | translate}}" (change)="changeEmailFormat()">
                      <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="addUserForm.controls['email']?.errors?.checkRequired &&  (addUserForm.controls['email'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                        translate}}</div>
                      <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="!addUserForm.controls['email']?.errors?.checkRequired && addUserForm.controls['email']?.errors?.checkEmail && addUserForm.controls['email'].touched && addUserForm.controls['email'].dirty">{{'actors.freelancers.errorMessages.invalidEmailId'
                        | translate}}</div>
                      <!-- </div> -->
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label class="control-label">{{'common.labels.role' | translate}}
                      </label>
                      <!-- <div class="col-md-8"> -->
                      <ngx-select [multiple]="true" [items]="roles" formControlName="roleIds" placeholder="{{'common.labels.select' | translate}}">
                      </ngx-select>

                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 no-mg">
          <h4 class="text-dark">
            <strong>{{'actors.freelancers.labels.paymentDetails'| translate}}</strong>
          </h4>
          <div class="panel panel-primary">

            <div class="panel-body">
              <!-- <div class="row no-mg">
              <div class="col-md-6 no-mg"> -->
              <div class="form-group">
                <label class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 control-label">{{'common.labels.currency' |
                  translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 control-label">
                  <ngx-select id="currencyDropdown"  [allowClear] = "true"  [items]="currency" formControlName="currency" placeholder="{{'common.labels.select' | translate}}">
                  </ngx-select>
                  <!-- <select class="form-control" name="operation" formControlName="currency">
                    <option value="">{{'common.labels.select' | translate}}</option>
                    <ng-container *ngFor="let currency of currencies">
                      <option [value]="currency.id">{{currency?.i18n?.name}}</option>
                    </ng-container>
                  </select> -->
                  <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="addUserForm.controls['currency']?.errors?.checkRequired &&  (addUserForm.controls['currency'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                    translate}}</div>

                </div>

              </div>
              <!-- </div>
              </div> -->
              <div class="form-group">
                <label class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 control-label">{{'common.labels.mode' |
                  translate}}
                  <span class="mandatory">*</span>
                </label>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 control-label">
                  <ngx-select id="modeOfOperationDropdown"  [allowClear] = "true"  [items]="operation" formControlName="mode" placeholder="{{'common.labels.select' | translate}}">
                  </ngx-select>
                  <!-- <select class="form-control" name="operation" formControlName="mode">
                  <option value="">{{'common.labels.select' | translate}}</option>
                  <ng-container *ngFor="let mode of modesOfOperation">
                    <option [value]="mode.id">{{mode?.i18n?.name}}</option>
                  </ng-container>
                </select> -->
                  <div class="text-danger col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-mg" *ngIf="addUserForm.controls['mode']?.errors?.checkRequired &&  (addUserForm.controls['mode'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'|
                    translate}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-2 no-mg">
            <h4 class="text-dark">
              <strong>{{'actors.freelancers.labels.projectCategory'| translate}} /
                {{'actors.freelancers.labels.accountMapping'|
                translate}}</strong>
            </h4>
            <!-- <div class="panel panel-primary">
              <div class="panel-body">
              </div>
            </div> -->
            <div class="card card-transparent">
              <tabset class="bg-white p-0" justified="true">
                <tab *ngFor="let tab of tabs;let tabIndex=index" (select)="showHideFloatingButtons(50)">
                  <ng-template tabHeading>
                    {{tab.name | translate}}
                  </ng-template>
                  <div class="min-ht">
                    <ng-container *ngIf="showLoadingFlg">
                      <app-loader class="col-md-12" [loading]="showLoadingFlg"></app-loader>

                    </ng-container>
                    <table id="category-table" class="table table-bordered" *ngIf=" tab?.categories.length > 0"
                      [ngClass]="{'hide-content': showLoadingFlg}">
                      <thead>
                        <tr>
                          <th>{{'projects.labels.budgetLine'| translate}}</th>
                          <th>{{'common.labels.category'| translate}}</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <ng-container *ngFor="let category of tab?.categories;let i = index;">
                          <tr [attr.cat]="category.id">
                            <td>{{category?.budgetLine}}</td>
                            <td class="category-name ptr id_{{category.id}} text-left pl-20" (click)="selectCategories(category.id,tabIndex,'category_cell_',(category?.accounts ? false:true), '','category')"
                              [ngClass]="'category_cell_'+category.id">
                              <ng-container *ngIf="category?.accounts">
                                <span class="expander">
                                  <i class="category-plus fa fa-plus-circle" [ngClass]="'category_'+category.id"
                                    (click)="subMenuShow(category.id, 'show',$event)"></i>
                                </span>
                                <span class="expander">
                                  <i class="category-minus fa fa-minus-circle" [ngClass]="'category_'+category.id"
                                    (click)="subMenuShow(category.id, 'hide',$event)"></i>
                                </span>
                              </ng-container>
                              <span> {{category?.i18n?.mappingName}}</span>
                              <i class="fa fa-check pull-right"></i>
                            </td>

                          </tr>
                          <ng-container *ngIf="category?.accounts">
                            <ng-container *ngFor="let subCategory of category?.accounts;let subIndex = index;">
                              <tr class="sub-category sub-category_{{category.id}}" [ngClass]="subCategory?.accounts?.length > 0 ? 'parent-node':'' "
                                [attr.cat]="category.id" [attr.account]="subCategory.id">
                                <td>{{subCategory?.budgetLine}}</td>
                                <td class="subcategory-name ptr id_{{subCategory.id}} text-left pl-60" [ngClass]="'sub_category_cell_'+subCategory.id"
                                  (click)="selectCategories(subCategory.id,tabIndex,'sub_category_cell_',(subCategory?.accounts ? false:true),category.id, 'account')">
                                  <ng-container *ngIf="subCategory?.accounts">
                                    <span class="expander">
                                      <i class="category-plus fa fa-plus-circle category-plus_{{category.id}}"
                                        [ngClass]="'category_'+subCategory.id" (click)="subSubMenuShow(subCategory.id, 'show',$event)"></i>
                                    </span>
                                    <span class="expander">
                                      <i class="category-minus fa fa-minus-circle category-minus_{{category.id}}"
                                        [ngClass]="'category_'+subCategory.id" (click)="subSubMenuShow(subCategory.id, 'hide',$event)"></i>
                                    </span>
                                  </ng-container>
                                  <span> {{subCategory?.i18n?.mappingName}}</span>
                                  <i class="fa fa-check pull-right"></i>
                                </td>
                              </tr>

                              <ng-container *ngFor="let subSubCategory of subCategory?.accounts;let subSubIndex = index;">
                                <tr class="sub-sub-category sub-sub-category_{{subCategory.id}} sub-sub-category_{{category.id}}"
                                  [attr.cat]="category.id" [attr.account]="subCategory.id" [attr.sub_account]="subSubCategory.id">
                                  <td>{{subSubCategory?.budgetLine}}</td>
                                  <td class="sub-sub-category-name ptr id_{{subSubCategory.id}} text-left pl-80"
                                    (click)="selectCategories(subSubCategory.id,tabIndex,'sub_sub_category_cell_',true, '', 'subAccount')"
                                    [ngClass]="'sub_sub_category_cell_'+subSubCategory.id">
                                    <span> {{subSubCategory?.i18n?.mappingName}}</span>
                                    <i class="fa fa-check pull-right"></i>
                                  </td>
                                </tr>
                              </ng-container>

                            </ng-container>
                          </ng-container>
                        </ng-container>


                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>

          </div>
          <div class="floating-btn" *ngIf="showFloatingBtn">

            <button (click)="addUser()" [disabled]="isClicked" class="btn btn-success save-btn">
              <i *ngIf="spinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'|
              translate}}</button>
            <button class="btn btn-danger cancel-btn ml-1" [routerLink]="ROUTER_LINKS_FULL_PATH.freelancers">{{'common.labels.cancel'|
              translate}}</button>

          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 no-mg" id="fixed-btn">

            <button (click)="addUser()" [disabled]="isClicked" class="btn btn-success save-btn">
              <i *ngIf="spinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'|
              translate}}</button>
            <button class="btn btn-danger cancel-btn ml-1" [routerLink]="ROUTER_LINKS_FULL_PATH.freelancers">{{'common.labels.cancel'|
              translate}}</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
