// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

#add-freelancer-page{
  // @include expander();
  @include selected-category();
  @include min-ht();
  @include parent-subcategory-name();
  @include padding-classes();
  .category-plus {
    display: none;
  }
  #category-table .category-name, #category-table .subcategory-name, #category-table .sub-sub-category-name {
      text-align: left;
  }
  .fa.fa-check {
    @include color($white-color);
  }
  // .c-pointer {
  //   @include cursor(pointer);
  // }
}

@media (min-width:992px) {
  #add-freelancer-page {
    .date-action-btns {
      @include date-action-btns();
    }
    #category-table{
      width:50%;
    }
  }
};


// .add-freelancer-page .categoryMapping {
//   margin-top: 20px;
// }

// .add-freelancer-page .row {
//   width: 100%;
// }

// .add-freelancer-page .mappingClass {
//   margin-top: 10px;
// }

// .add-freelancer-page .mt-4 {
//   margin-top: 2.2rem !important;
// }

// .add-freelancer-page .fa-plus {
//   color: #6e9eec !important;
// }

// .add-freelancer-page .fa-minus {
//   color: #6e9eec !important;
// }

// .add-freelancer-page .category-name {
//   text-align: left;
//   padding-left: 20px;
// }

// .add-freelancer-page .subcategory-name {
//   text-align: left;
//   padding-left: 60px;
// }

// .add-freelancer-page .sub-category.parent-node .subcategory-name {
//   text-align: left;
//   padding-left: 40px;
// }


// .add-freelancer-page .sub-sub-category-name {
//   text-align: left;
//   padding-left: 80px;
// }

// // .add-freelancer-page .sub-category.parent-node .sub-sub-category-name {
// //   padding-left: 80px;
// // }


// .add-freelancer-page .category-plus {
//   display: none;
// }
// //
// // .sub-category {
// //   display: none;
// // }
// //
// // .sub-sub-category {
// //   display: none;
// // }

// .add-freelancer-page .expander {
//   margin-left: 10px;
//   cursor: pointer;
// }

// .add-freelancer-page .selected-category {
//   background-color: #f9dcda;
// }

// .add-freelancer-page .fa.fa-check {
//   color: white;
// }

// .add-freelancer-page .c-pointer {
//   cursor: pointer;
// }

// .min-ht{
//   min-height: 47px !important;
// }
