<div class="add-edit-client-information">
    <form [formGroup]="roleInformationForm" novalidate>
      <div class="form-wrap row">
        <div class="col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-sm-3 col-xs-3">
              <mat-form-field class="full-width-input-wrap">
                <input i18n-placeholder matInput  placeholder="Role Name*" formControlName="roleName" maxlength="100">
                <mat-error i18n *ngIf="roleInformationForm.controls['roleName'].hasError('required')">
                  Role Name is <strong>required</strong>
                </mat-error>
                <mat-error i18n *ngIf="roleInformationForm.controls['roleName'].hasError('pattern')">
                    Enter valid Role Name 
                  </mat-error>
              </mat-form-field>
            </div>
            <!--<div class="col-sm-3 col-xs-3">
              <div class="full-width-input-wrap select-box-wrap">
                <md-select i18n-placeholder placeholder="Client*" formControlName="organizationId" (change)="onClientChange($event)">
                  <md-option *ngFor="let client of clients" [value]="client.value">
                    {{ client.text }}
                  </md-option>
                </md-select>
                 <md-error i18n *ngIf="roleInformationForm.controls['organizationId'].hasError('required')&& showClientError">
                    Client Name is <strong>required</strong>
                </md-error>
              </div>
            </div>-->
            <div class="col-sm-3 col-xs-3">
              <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Product*" formControlName="productId" (selectionChange)="onProductChange($event)">
                  <mat-option *ngFor="let product of products" [value]="product.value">
                    {{ product.text }}
                  </mat-option>
                </mat-select>
                <mat-error i18n *ngIf="roleInformationForm.controls['productId'].hasError('required') && showProductError">
                    Product Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
  
      <div class="action-wrap">
        <div class="text-right">
          <button i18n type="button" mat-button id="cancel" (click)="gotoClientSetup()">Cancel</button>
          <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="saveClient(roleInformationForm)">Save</button>
        </div>
      </div>
    </form>
  </div>