// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

#manage-location-review-page {
  bs-modal-backdrop.modal-backdrop.show {
    opacity: 0.80;
    background-color: black;
  }

  .review-panel {
    border: 1px solid #00000029;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
  }
  tag-input-form, tag-input-form input.ng2-tag-input__text-input {
    width: 100%;
  }

  .panel-alignment {
    margin-top: 4%;
  }

  .mb-50 {
    margin-bottom: 50px;
  }

  .validation {
    color: #f44336;
    margin: 5px;
  }

  .fix-h {
    height: 208px;
  }

  .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .width {
    width: 97%;
  }

  #review-input-images {
    overflow-y: scroll;
    height: 450px;
    border: 1px solid #dde6e9;
  }

  #filter-tags, #my-tags {
    border: 1px solid #dde6e9;
    padding-top: 10px;
  }
  #my-tags {
    max-height: 250px;
    overflow-y: scroll;
  }
  .total-tags {
    color: #f44336;
  }


  tag-input {
    border-radius: 0 !important;
  }

  .tag-input-class {
    margin-left: 2px;
  }

  .img-fluid {
    max-height: 200px;
  }

  .gallery-modal-dialog {
    max-width: 100% !important;
  }

  .gallery-modal {
    background-color: #000;
  }

  .mr-10 {
    margin: 20px;
  }

  .gallery-modal-content {
    background-color: transparent;
  }

  #tagListModal .modal-dialog {
    max-width: 80%;
  }

  #tagListModal .clear-all {
    color: #f44336;
    margin-right: 10px;
    text-decoration: underline;
  }

  .FilterDirectory-list {
    padding: 0px 18px 10px 18px !important;
    height: 480px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    list-style-type: none;
  }

  .FilterDirectory-listTitle {
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #282c3f;
    // margin-top: 20px !important;
  }

  .FilterDirectory-list li {
    margin: 0 90px 0 0;
    font-size: 14px;
    padding-left: 10px;
  }
}
