<div id="category-page" class="container-fluid">
  <form class="form-horizontal" [formGroup]="categoryForm" novalidate>
    <div class="modal fade mt-50" bsModal #addModal="bs-modal" tabindex="-1" role="dialog"
      aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: false}">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              {{addFlag ? ('common.labels.addas' | translate) : ('common.labels.edit' | translate)}}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="addModal.hide()">
              <i class="fa fa-times ptr f-15" aria-hidden="true"></i>
            </button>
          </div>

          <div class="modal-body">
            <ng-container *ngIf="addFlag">
              <label class="radio-inline">
                <input type="radio" formControlName="type" id="inlineRadio1" [value]="CATEGORY_TYPE_CONST.category"
                  checked> {{'common.labels.category' | translate}}
              </label> &nbsp; &nbsp;
              <label class="radio-inline">
                <input type="radio" formControlName="type" id="inlineRadio2" [value]="CATEGORY_TYPE_CONST.location">
                {{'common.labels.location'
                | translate}}
              </label>
            </ng-container>


            <div>
              <input name="entername" class="form-control" placeholder="{{'common.labels.enterTheName'
              | translate}}" onkeyup="this.value = this.value.toUpperCase();" formControlName="name">
              <div class="bb-error"
                *ngIf="categoryForm.controls['name']?.errors?.checkRequired && (categoryForm.controls['name'].touched || submmitedFormFlag)">{{'pages.errorMessages.fieldRequired'|
                translate}}
              </div>
            </div>
            <div class="text-center mt-15">
              <button class="addbtn" type="submit" [disabled]="disableButtonFlag" class="btn btn-danger"
                (click)="saveCategory()">
                <i *ngIf="spinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i> {{addFlag ?
                ('common.labels.add'
                | translate) : ('common.labels.update' | translate)}}
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>
  </form>







  <div class="container-fluid">
    <ng-container *ngIf="showLoader">
      <app-loader class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [loading]="showLoader"></app-loader>
    </ng-container>
    <div id="folder-structure" *ngIf="!showLoader">
      <div id="folder-structure-wrapper" class="col-12 p-0">
        <div id="inner-wrapper" class="card m-0">
          <div class="card-body d-flex" *ngIf="dataLists?.length > 0">
            <ng-container *ngFor="let list of dataLists; let parentIndex = index; let first = first;">
              <div id="containerDiv" class="list" *ngIf="list?.length>0">
                <div class="" [ngClass]="includeLocations ? 'list-item-wrapper' : 'list-item-wrapper1'">
                  <div *ngFor="let item of list;let index=index" class="list-item" [ngClass]="{'active': item.active}">
                    <label class="ptr textElipses" [ngClass]="includeLocations ? 'category-name' : 'category-name1'"
                      (click)="showSubCategories(item, parentIndex, list)" title="{{item.name | uppercase}}">
                      <span class="folder-icon" [ngClass]="item?.active ?'fw-bold':''"
                        *ngIf="item?.type==CATEGORY_TYPE_CONST.category">
                        <i class="fa mr-1 f-17  folder_{{item.id}}"
                          [ngClass]="item?.active ? 'fa-folder-open color-blue1' : 'fa-folder color-blue'"
                          aria-hidden="true"></i>
                        <i class="fa fa-refresh spinner_{{item.id}} mr-1 f-17 color-blue" aria-hidden="true"></i>
                        {{item.name | uppercase}}
                      </span>
                      <span *ngIf="includeLocations && (item?.type==CATEGORY_TYPE_CONST.location)">
                        <i class="fa fa-map-marker mr-1 f-17 color-blue" aria-hidden="true"></i>{{item.name |
                        uppercase}}
                      </span>
                    </label>
                    <span *ngIf="showActions">
                      <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID"
                        [actionType]="ACTION_TYPES.DELETE">
                        <i class="fa fa-trash f-17 ptr" title="{{'common.labels.delete'|translate}}"
                          style="float:right;" (click)="delete(item,parentIndex, index)" *ngIf="!first"
                          [ngClass]="item?.active ? 'gray-color1' : 'gray-color'" aria-hidden="true"></i>
                      </action-permission>
                      <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID"
                        [actionType]="ACTION_TYPES.EDIT">
                        <i class="fa fa-pencil f-17 mr-5 ptr" style="float:right;"
                          title="{{'common.labels.edit'|translate}}"
                          (click)="openAddModal(false, item,parentIndex,index)"
                          *ngIf="!first && (item?.type==CATEGORY_TYPE_CONST.category)"
                          [ngClass]="item?.active ? 'gray-color1' : 'gray-color'" aria-hidden="true"></i>
                      </action-permission>
                      <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID"
                        [actionType]="ACTION_TYPES.ADD">
                        <i class="fa fa-plus-circle f-17 mr-5 ptr" title="{{'common.labels.add'|translate}}"
                          style="float:right;" (click)="openAddModal(true, item,parentIndex,index)"
                          *ngIf="item?.type==CATEGORY_TYPE_CONST.category"
                          [ngClass]="item?.active ?'gray-color1' : 'gray-color'" aria-hidden="true"></i>
                      </action-permission>
                    </span>

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <ng-container *ngIf="dataLists?.length == 0">
            <div class="text-danger text-center p-10">{{'common.labels.recordNotFound' | translate}}</div>
          </ng-container>
        </div>
      </div>
    </div>

    <div style="margin-top: 15px;" class="col-md-12 text-center" *ngIf="showFooter">
      <button type="submit" class="btn btn-danger add-btn mr-5" [disabled]="disableOkButtonFlag"
        (click)="categorySelected()">
        {{'common.labels.ok'| translate}}</button>
      <button class="btn btn-danger add-btn" (click)="closeCategoryModal()" type="button">
        {{'common.labels.cancel'| translate}}</button>
    </div>
  </div>
</div>