// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

.modal-custom-lg {
  max-width: 80%;
}

#category-page {
  #folder-structure {
    .list {
      margin: 5px;
      width: 202px;

      .color-blue {
        color: #86bffb;
      }

      .color-blue1 {
        color: #0c66c8;
      }

      .gray-color {
        color: #afb0b1;
      }

      .gray-color1 {
        color: #616569;
      }

      .pull-right {
        float: right;
      }

      .list-item {
        padding: 5px;

        .category-name {
          width: 65%;
        }

        .category-name1 {
          width: 100%;
        }
      }

      .list-item-wrapper1 {
        max-height: 500px;
        overflow-y: auto;
        border: 1px solid #ddd;
        width: 200px;
        margin-bottom: 5px;
      }

      .list-item-wrapper {
        max-height: 500px;
        overflow-y: auto;
        border: 1px solid #ddd;
        width: 200px;
        margin-bottom: 5px;
      }
    }

    #folder-structure-wrapper {
      // overflow: auto;
      // max-height: 300px; 
      border: 1px solid #ddd;
      // width: 100%;
    }

    .d-flex {
      display: flex;
      // overflow: auto;
      max-height: 700px;
      width: 100%;
    }
    #inner-wrapper {
      overflow: auto;
    }

    .fw-bold {
      font-weight: bold;
    }
  }

  .ptr-disabled {
    cursor: not-allowed !important;
  }

  @include textElipses();

}

// .category-page #folder-structure .list-item {
//     padding: 5px !important;
//     cursor: pointer;
//     width: 200px;
//   }

//   .category-page .list {
//     border: 1px solid #ddd;
//     margin: 5px;
//     /* display: inline-grid; */
//   }

//   .category-page .color-blue {
//     color: #86bffb;
//   }

//   .category-page .color-blue1 {
//     color: #0c66c8;
//   }

//   .category-page .pull-right {
//     float: right;
//   }

//   .category-page .gray-color {
//     color: #afb0b1;
//   }

//   .category-page .gray-color1 {
//     color: #616569;
//   }

//   .category-page .addbtn {
//     margin: auto;
//   }
