cm-contracts {
  height: 85rem !important;
}

#add-button-div {
  text-align: right;
  margin-bottom: 1.5rem;

  >#add-button {
      background-color: #C75000;
      margin-left:1rem;
  }
}

i{
  cursor: pointer;
}

.cm-btn {
  box-shadow: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.content-right {
  width: 100%;
}

.btn-container {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.action-items-i {
  padding-top: 0.6rem !important;
  padding-left: 0 !important;

  i{
    margin-left: 15px !important;
  }
}

.spacing-element {
  margin-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
}

i {
  cursor: pointer;
}

.total-extended-rate {
  font-size: 14px;
  font-weight: 600;
  margin-left: 40vw;
}

.mat-form-cell {
  padding-left: 0; 
}

.new-plus {
  display: flex;
  align-items: center;
}

::ng-deep .datatable-body-cell .mat-form-field {
  padding-left: 0;
}

::ng-deep .datatable-header-cell:last-of-type {
  padding-left: 1.5rem !important;
}

::ng-deep .datatable-row-group datatable-body-cell:nth-child(2) .mat-form-field-infix{//Effective date
  border-top: .575em solid transparent !important;
}

::ng-deep .datatable-row-group datatable-body-cell:nth-child(3) .mat-form-field-wrapper{//Rate
  padding-bottom: 1.24em !important;
}

@media only screen and (min-width: 1024px) {
  .mb-vw{
      display: none;
  }
  .ds-vw {
      display: flex;
      justify-content: flex-end
  }
}
@media only screen and (max-width: 1024px) {
  .mb-vw{
      display: block ;
  }
  .ds-vw {
      display: none;
   
  }
}

.btn-mob-container {
  display: flex !important;
  -webkit-box-pack: end;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.cm-mob-btn {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: none;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}