<div class="section-wrap">
    <div class="top-section row-10">
        <div class="hidden-xs col-xs-12 col-sm-6">
            <app-heading-section heading="Lexicon">
                <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
            </app-heading-section>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 align-right">
            <div class="inner toolbar-button-inner">

            </div>
        </div> -->
        <div class="clearfix"></div>
    </div>

    <ng-data-tables [columns]="columns" [rows]="records" [totalRows]="totalRows" [searchBox]="searchBox" [hasActionButtons]="hasActionButtons"
        [showDeactivateButton]="showDeactivateButton" [showCheckBox]="showCheckbox" (checkBoxSelectionChange)="checkBoxSelectionChange($event)"
        (edit)="editLexiconPopup($event)" (delete)="deleteLexicon($event)" (deActivate)="activateDeactivateLexicon($event)"  (rLink)="gotoLink($event)">

       
        <div class="align-right" button-toolbar>
            <div class="inner">
                <div class="button-dropdown dropdown">
                    <button i18n mat-button class="mat-primary mat-flat-button" data-toggle="dropdown">
                         Add Sentiment <i class="fa fa-sort-desc"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a i18n href="javascript:void(0);" (click)="uploadSentiment()">Upload List</a></li>
                        <li><a i18n href="javascript:void(0);" (click)="addSentimentPopup()">Manual</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </ng-data-tables>
</div>