<div class="container-fluid project-payment-terms-page">

  <form class="form-horizontal" [formGroup]="paymentTermsForm" novalidate>
    <div class="row no-mg">

      <div class="col-md-12 no-mg">
        <div class="panel panel-primary">
          <div class="panel-body">
            <ng-container *ngIf="showLoadingFlg;else showForm">
              <app-loader class="col-md-12" [loading]="showLoadingFlg"></app-loader>
            </ng-container>
            <ng-template #showForm>

              <div class="container">
                <table class="table table-bordered ml-2 text-center" style="width:70%;">
                  <thead>
                    <tr>
                      <th></th>
                      <th>{{'projects.labels.applicable'| translate}}</th>
                      <th>{{'projects.labels.daysRate'| translate}}</th>

                    </tr>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="dayRates">
                      <tr *ngFor="let row of paymentTermsForm.controls.dayRates['controls']; let i=index;let lst=last;">
                        <ng-container [formGroupName]="i">
                          <td>{{ 'common.labels.' + row?.value?.name | translate}}</td>
                          <td>
                            <div class="col-md-6 checkbox c-checkbox">
                              <label>
                                <input type="checkbox" class="check-box" formControlName="check"
                                  (change)="rowChecked($event.target.checked,row)" />
                                <span class="fa fa-check"></span>
                              </label>
                            </div>
                          </td>
                          <td>
                            <input class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g,'');"
                              formControlName="value" type="text">
                            <div class="text-danger text-left"
                              *ngIf="row.controls['value']?.errors?.checkRequired && (row.controls['value'].touched || submmitedFormFlag)">
                              {{'pages.errorMessages.fieldRequired'| translate}}</div>

                          </td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </ng-template>

          </div>

        </div>
        <div class="col-md-12 mt-3 no-mg">
          <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID" [actionType]="ACTION_TYPES.EDIT">
            <button (click)="updatePaymentTerms()" [disabled]="isClicked || showLoadingFlg"
              class="btn btn-success save-btn"><i *ngIf="spinnerFlag"
                class="fa fa-spinner fa-spin margin-right-5"></i>{{'common.labels.save'| translate}}</button>
          </action-permission>
          <button (click)="navigateTo()"
            class="btn btn-danger ml-1 cancel-btn">{{'common.labels.cancel'| translate}}</button>

        </div>
      </div>
    </div>
  </form>

</div>
