<div class="col-md-12">
    <div class="top-section row-10 mar-20 heading-section-notification">
        <div class="hidden-xs col-xs-12 col-sm-6">
          <app-heading-section heading="Notification">
              <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
          </app-heading-section>
        </div>        
        <div class="clearfix"></div>
      </div>
    <div class="cm-card">
      <div class="cm-card-body" [formGroup]="formGroup">
        <div class="row aling-elements-rows-main">
          <div class="col-md-12">
            <label>General Information</label><br><br>
          </div>
          <div class="col-md-4">
            <mat-form-field class="col-md-10" hideRequiredMarker>
              <input matInput placeholder="Title" formControlName="inputTitle">
              <mat-error *ngIf="formGroup.get('inputTitle')">
                {{getErrorMessage(formGroup.get('inputTitle'))}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="col-md-10" hideRequiredMarker>
              <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Business Partner" (selectionChange)="selectedBusinessPartner()" formControlName="selectedBusinessPartner" required>
                <mat-option *ngFor="let businessPartner of arrayBusinessPartners" [value]="businessPartner.code" name="arrayBusinessPartner" ngDefaultControl>
                  {{businessPartner.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('selectedBusinessPartner')">
                {{getErrorMessage(formGroup.get('selectedBusinessPartner'))}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="col-md-10" hideRequiredMarker>
              <mat-select disableOptionCentering panelClass="select-dropdown-class" placeholder="Type" formControlName="selectedType" required>
                <mat-option *ngFor="let type of arrayNotificationType" [value]="type.code" name="arrayNotificationType" ngDefaultControl>
                  {{type.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('selectedType')">
                {{getErrorMessage(formGroup.get('selectedType'))}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row aling-elements-rows-main">
          <div class="col-md-4">
            <mat-form-field class="col-md-10">
              <input
                readonly  
                placeholder='Date' 
                matInput 
                formControlName="selectedNotificationDate" 
                [matDatepicker]="inputNotificationDate"
                (dateChange)="dateFromChangedDate($event)"
                (click)="inputNotificationDate.open()">
              <mat-datepicker-toggle matPrefix [for]="inputNotificationDate">
                <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #inputNotificationDate></mat-datepicker>
              <mat-error *ngIf="formGroup.get('selectedNotificationDate').invalid">
                {{getErrorMessage(formGroup.get('selectedNotificationDate'))}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
              <mat-form-field class="col-md-10" hideRequiredMarker>
                <mat-select disableOptionCentering panelClass="select-dropdown-class" (selectionChange)="selectedLinkedContractInformation()" placeholder="Linked Contract Information" formControlName="selectedLinkedContractInformation" required>
                  <mat-option *ngFor="let contractInfo of arrayLinkedContractInformation" [value]="contractInfo._id" name="arrayLinkedContractInformation" ngDefaultControl>
                    {{contractInfo.contract_title}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.get('selectedLinkedContractInformation')">
                  {{getErrorMessage(formGroup.get('selectedLinkedContractInformation'))}}
                </mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="row aling-elements-rows-main" style="padding-bottom: 7rem;">
          <div class="col-md-4">
            <mat-form-field class="col-md-10 textarea textarea-add-not">
              <textarea matInput class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
              placeholder="Description" aria-invalid="false" aria-required="false" formControlName="description"
              name="description">
              </textarea>
              <mat-error *ngIf="formGroup.get('description')">
                {{getErrorMessage(formGroup.get('description'))}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-8">
          </div>
        </div>
        <div class="row aling-elements-radio-button">
          <div class="col-md-12">
            <label>Reminder</label><br><br>
            <mat-radio-group (change)="sendNotificationReminder($event)" formControlName="radioReminder" ngDefaultControl>
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row aling-elements-rows-main" [ngClass]="{'disable-reminder': formGroup.get('radioReminder').value == 'false'}">
          <div class="col-md-3">
            <mat-form-field class="col-md-10">
              <input
                matInput
                class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                placeholder="Notice Period"
                
                aria-invalid="false"
                aria-required="false"
                formControlName="noticePeriod"
                name="noticePeriod"
                required="false"
              />
              <mat-error *ngIf="formGroup.get('noticePeriod').invalid">
                {{ getErrorMessage(formGroup.get('noticePeriod'), { pattern: 'Enter Numeric, non-decimal value' }) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="col-md-10">
              <mat-select disableOptionCentering panelClass="select-dropdown-class" formControlName="noticePeriodType">
                <ng-container *ngFor="let timePeriod of arrayTimePeriods">
                  <mat-option [value]="timePeriod.code" name="noticePeriodType">
                    {{ timePeriod.name }}
                  </mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="formGroup.get('noticePeriodType').invalid">
                {{ getErrorMessage(formGroup.get('noticePeriodType')) }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="col-md-10" hideRequiredMarker>
                <input 
                  placeholder='Reminder Start Date' 
                  matInput
                  readonly 
                  formControlName="selectedReminderStartDate" 
                  [matDatepicker]="inputStartDate"
                  (dateChange)="dateFromChanged($event)"
                  [max]="maxDateFrom"
                  [min]="minDateDateInput"
                  (click)="inputStartDate.open()">
                <mat-datepicker-toggle matPrefix [for]="inputStartDate">
                  <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #inputStartDate></mat-datepicker>
                <mat-error *ngIf="formGroup.get('selectedReminderStartDate').invalid">
                  {{getErrorMessage(formGroup.get('selectedReminderStartDate'))}}
                </mat-error>
            </mat-form-field>
          </div> 
          <div class="col-md-3">
              <mat-form-field class="col-md-10">
                  <input 
                    placeholder='Reminder End Date' 
                    matInput
                    readonly 
                    formControlName="selectedReminderEndDate" 
                    [matDatepicker]="inputEndDate"
                    (dateChange)="dateToChanged($event)"
                    [min]="minDateTo"
                    (click)="inputEndDate.open()">
                  <mat-datepicker-toggle matPrefix [for]="inputEndDate">
                    <mat-icon matDatepickerToggleIcon class="fa fa-calendar">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #inputEndDate></mat-datepicker>
                  <mat-error *ngIf="formGroup.get('selectedReminderEndDate').invalid">
                    {{getErrorMessage(formGroup.get('selectedReminderEndDate'))}}
                  </mat-error>
              </mat-form-field>
          </div>   
          <div class="aling-elements-radio-button-bell">
            <div class="col-md-12">
              <i class="fas fa-bell"></i>
              <mat-radio-group formControlName="radioBellGroup" ngDefaultControl>
                <mat-radio-button value="ACTIVE">Active</mat-radio-button>
                <mat-radio-button value="OVERDUE">Overdue</mat-radio-button>
                <mat-radio-button value="DISMISSED">Dismissed</mat-radio-button>
              </mat-radio-group>
            </div>
          </div> 
        </div>
        <div class="row aling-elements-send-email">
            Send Email Reminders.
        </div>
        <div class="send-email-reminders" [ngClass]="{'disable-reminder': formGroup.get('radioReminder').value == 'false'}">
          <div class="row">
            <div class="col-md-4">
                <mat-form-field class="col-md-12" hideRequiredMarker>
                  <mat-select disableOptionCentering panelClass="select-dropdown-class" multiple placeholder="Select Users" [(value)]="arrayForEmailsToOnly" 
                      [compareWith]="compareCategoryObjects" formControlName="selectedToUsers">
                    <mat-select-trigger>
                      <span *ngFor="let z of arrayForEmailsToOnly;let i = index">
                        {{(arrayForEmailsToOnly.length - 1 > i && arrayForEmailsToOnly.length > 1) ? z.fullname + ',' : z.fullname}}
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let userTo of arrayToUsers" [value]="userTo" name="arrayToUsers" ngDefaultControl>
                      {{userTo.fullname}} {{userTo.email}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formGroup.get('selectedToUsers')">
                    {{getErrorMessage(formGroup.get('selectedToUsers'))}}
                  </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="col-md-12" hideRequiredMarker>
                  <input formControlName="inputAddEmailAddress" matInput placeholder="Add Email Address">
                  <mat-error *ngIf="formGroup.get('inputAddEmailAddress')">
                    {{getErrorMessage(formGroup.get('inputAddEmailAddress'), { pattern: 'Please enter a valid email id.'})}}
                  </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4 mat-chip-list-field">
                <mat-form-field id="send-copy-to-field" class="scrollable col-md-12" hideRequiredMarker  style="position: relative;">
                  <mat-chip-list #chipList aria-label="Send Copy to" formArrayName="selectedCcUsers">
                    <mat-chip *ngFor="let sendCopy of formGroup.get('selectedCcUsers').controls;  let i=index;"
                     [selectable]="selectable" [removable]="removable" (removed)="remove(i)">
                      {{sendCopy.value}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Send Copy To"
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="add($event)" #copies>
                  </mat-chip-list>
                  <i class="fas fa-plus-circle" matSuffix (click)="add($event)"></i>
                  <mat-error style="position: relative;">
                    Invalid value for email
                  </mat-error>
                  
                </mat-form-field>
            </div>      
          </div>
          <div class="row">
              <div class="col-md-4 aling-elements-send-email-rows">
                  Email Reminder Frequency
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 aling-elements-send-email-rows">
                  <mat-radio-group formControlName="selectedReminderType" ngDefaultControl>
                    <mat-radio-button value="DAILY">Daily</mat-radio-button>
                    <mat-radio-button value="THREE_DAYS">Every three days</mat-radio-button>
                    <mat-radio-button value="WEEKLY">Once a week</mat-radio-button>
                    <mat-radio-button value="TWO_WEEKS">Every two weeks</mat-radio-button>
                    <mat-radio-button value="MONTHLY">Every month</mat-radio-button>
                  </mat-radio-group>
                </div>
          </div>  
        </div>
        <div class="content-right btn-container">
            <button class="cm-btn" id="cancel" (click)="cancel()">Cancel</button>
            <button class="cm-btn primary-pink-color" (click)="saveNotification()">Save</button>
        </div>
      </div>
    </div>
  </div>