.cm-btn {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.btn-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page-title {
    font-size: 2.2rem;
    position: relative;
    left: 1.5rem;
    top: -1rem;
    color: black;
}

.row.ng-star-inserted {
    padding-top: 1rem; 
}

.tab-label {
    /deep/ .row {
        padding-left: 1.5rem;
        padding-top: 1rem; 
    }
}

.cm-card-body {
    padding: 0;
}

.select-prefix mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
    left: -1rem;
}

.select-prefix.no-display-arrow mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
    left: -1rem;
}

.input-container {
    text-align: center;
    width: 100%;
}

.row {
    font-size: 1.4rem
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
  
:host ::ng-deep .mat-radio-container{
    height: 15px;
    width: 15px;
}

:host ::ng-deep .mat-radio-outer-circle{
    height: 15px;
    width: 15px;
}

:host ::ng-deep .mat-radio-inner-circle{
    height: 15px;
    width: 15px;
}

:host ::ng-deep .mat-radio-button .mat-radio-ripple{
    height: 20px; //double of your required circle radius
    width: 20px;  //double of your required circle radius
    left: calc(50% - 10px); //'10px'-same as your required circle radius
    top: calc(50% - 10px); //'10px'-same as your required circle radius
}

.row {
    font-size: 1.4rem;
}

.aling-elements-rows-main {
    padding-left: 14px !important;
    padding-top: 30px !important;
}

.aling-elements-radio-button {
    margin-left: 14px !important;
    padding-top: 80px !important;
}

.aling-elements-send-email {
    margin-left: 30px !important;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}

.aling-elements-send-email-rows {
    padding-left: 30px !important;
}

.send-email-reminders {
    border-style: solid;
    border-width: 0.5px;
    width: 94%;
    margin-left: 30px;
    padding-bottom: 30px;
}

.send-email-reminders > .row{
    padding-top: 30px !important;
}

.disable-reminder,
.disable-send-mail {
    opacity: 0.5;
    pointer-events: none;
  
    > * {
      opacity: 0.5;
      pointer-events: none;
    }
}

.textarea-add-not {
    position: absolute;
    top: -1.2rem;
}

.fa-bell {
  padding-right: 15px;
}

.aling-elements-radio-button-bell {
  margin-left: 3px !important;
  padding-top: 30px !important;
}

.example-chip-list {
  width: 100%;
}

::ng-deep #send-copy-to-field .mat-form-field-subscript-wrapper {
  position: relative;
}

.aling-elements-rows-main .col-md-4 .mat-form-field,
.aling-elements-rows-main .col-md-3 .mat-form-field {
  padding: 0rem;
}

  ::-webkit-scrollbar {
    height: 0;
  }
  
  ::ng-deep div.mat-chip-list-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 99%;
    white-space: nowrap;
    margin-left: 0px;
    .mat-chip {
      flex: 0 0 auto;
  
      color: var(--black);
    }
  }
  
  
  .mat-chip.mat-standard-chip .mat-chip-remove {
    color: var(--black);
  }

