<perfect-scrollbar class="scroll-container" [scrollIndicators]="true">
    <div class="logo-wrap scrollable-content">
        <div>
            <img [src]="logo" (click)="navigateToDashboard()"  class="main-logo" alt="Logo" [title]="logotooltip" />
        </div>
        <img [src]="collapseLogo" (click)="navigateToDashboard()" class="collapsed-logo" alt="Logo" />
    </div>
    <mat-nav-list>
        <div *ngFor="let menu of menusFiltrated">
            <a mat-list-item *ngIf="menu.link != 'no-link' && menu.active != 'false'" matTooltip="{{isSideNavOpen==false?menu.name:''}}" matTooltipPosition="right" [routerLink]="menu.link" routerLinkActive="active" (click)="gotoMenu()">
              <i class="{{menu.icon}} menu-icon"  ></i>
                <span>{{menu.name}}</span>
                <mat-icon class="material-icons arrow-up-down arrow-down" *ngIf="menu.submenus.length>0 && menu.subMenuOpened">keyboard_arrow_down</mat-icon>
                <mat-icon class="material-icons arrow-up-down arrow-up" *ngIf="menu.submenus.length>0 && !menu.subMenuOpened">keyboard_arrow_up</mat-icon>
            </a>

            <a mat-list-item *ngIf="menu.link == 'no-link' && menu.active != 'false'" matTooltip="{{isSideNavOpen==false?menu.name:''}}" matTooltipPosition="right" (click)="openSubmenu(menu)">
                <i class="{{menu.icon}} menu-icon"></i>
                <span>{{menu.name}}</span>
                <mat-icon class="material-icons arrow-up-down arrow-down" *ngIf="menu.submenus.length>0 && !menu.subMenuOpened">keyboard_arrow_down</mat-icon>
                <mat-icon class="material-icons arrow-up-down arrow-up" *ngIf="menu.submenus.length>0 && menu.subMenuOpened">keyboard_arrow_up</mat-icon>
            </a>

            <div class="submenu-dropdown" *ngIf="menu.subMenuOpened">
                <a mat-list-item *ngFor="let submenu of menu.submenus" [routerLink]="submenu.link" routerLinkActive="active" (click)="gotoMenu()">
                    <i class="{{submenu.icon}} menu-icon"></i>
                    <span>{{submenu.name}}</span>
                </a>
            </div>
        </div>
    </mat-nav-list>
</perfect-scrollbar>
