// import variables scss
@import "../../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../../assets/styles/mixins.style.scss";


#manage-budget-page {
  .currency-dropdown {
    &.w-150 {
      width: 150px;
    }
  }

  .convert-to {
    padding-right: 5px;
  }

  .project-title {
    position: relative;
    top: 10px;
    white-space: nowrap;
  }

  .error-block {
    overflow-y: scroll;
    height: 150px;
    // border: solid 1px rgb(169, 169, 169);
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    color: white;
    background-color: #f44336;
    border-radius: 3px;
  }
}


@media (max-width: 768px) {
  #manage-budget-page {
    .btn-group-justified button {
      padding: 6px 8px;
    }

    .btn-group .project-details-tab {
      margin-left: 0px;
    }
  }
}

// OLD CSS
// .manage-budget-sheet-page .right-btns{
//     padding-right: 15px;
// }
// .manage-budget-sheet-page .error-block {
//     overflow-y: scroll;
//     height: 150px;
//     // border: solid 1px rgb(169, 169, 169);
//     margin-left: 10px;
//     margin-right: 10px;
//     padding: 20px;
//     color: white;
//     background-color: #f44336;
//     border-radius: 3px;
//   }
//   .project-title{
//     position: relative;
//     top: 10px;
//   }
//   .convert-to{
//     padding-right: 5px;
//   }
