<div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
    <ng-template #loadingImage>
        <p>Loading Image...</p>
    </ng-template>
    <div *ngIf="isImageLoaded; else loadingImage" style="margin-bottom: 30px;">
        <img src="{{finalImageData}}" id="target-image" alt="Crop Image" #targetImage>
        <button type="button" (click)="saveModifiedPDF()">Fill Area</button>
        <button type="button" (click)="addTextOnImage()" [disabled]="shouldTextToImage">Add Text</button>
    </div>
    <div *ngIf="shouldTextToImage" id="text-area" style="width: 300px; height: 200px;"></div>
</div>