.new-plus {
    position: absolute;
    top: 50%;
    right: 15px;
}

.select-prefix.no-display-arrow
  mat-select
  .mat-select-trigger
  .mat-select-arrow-wrapper
  .mat-select-arrow::before {
  display: none;
}

.select-prefix.no-display-arrow mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
    left: -1rem;
}