@import '../../../../styles/variables';
@import '../../../../styles/mixins';


.add-edit-pulse-setup {
    .checkbox-wrap {
        margin-top: 15px;
        margin-bottom: 15px;

        .mat-checkbox {
            margin-left: 15px;

            &:first-child {
                margin-left: 0px;
            }

            @media(min-width: 100px) and (max-width: 767px) {
                margin-left: 0px;
                display: block;
            }
        } 

        @include checkbox-styled();
    }    

    .full-width-input-wrap .mat-select {
        padding-bottom: 1.29688em;
    } 
.input-file-pem {
  display: none !important;
}
.pad_bottom1{
 padding-bottom: 0.7em;;
}
a.download-pem-file {
    @include applyFont($fontSize: 14px);
    text-decoration: none;
    outline: 0 none;
    color: $primary_shade3;
    margin-top: 6px;
    display: block;
}
 .uploader {
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #EBEBEB;
  background-color: #FAFEFF;
  cursor: pointer;
  display: block;
  height: 92px;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top:27px;
  font-weight:normal;
  font-size: 13px;
}
.uploader_div{
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
}
.uploader .icon-upload3 {
  pointer-events: none;
}

.uploader,
.uploader .icon-upload3 {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -ms-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.uploader .icon-upload3 {
  color: $secondary-color;
  font-size: 2em;
}
.width_18{
    width: 18.666667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}  

.color-picker-wrap{
    width:6%;
    float:left;
    mat-chip-list{
    max-width: 100% !important; 
   }
}
.color-chips{
    padding: 6px 5px 6px 5px !important;
    border-radius: 0 !important;
}   
.color-chip{
     height: 11px;
     width: 11px;
     display: inline-flex;
     padding: 2px;
 }
.colopr-chips-wrap{
    width:94%;
    float:left;
    mat-form-field{
    width: 100% !important;
    border:0;    
    } 
}
}

.color-picker-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../../../assets/images/color-picker-icon.png');
    background-position: center;
    background-repeat: no-repeat;    
    position: absolute;
    right: 12px;
    top: 9px;
    left: auto;            
}
/*CSS for Toggle switch*/
 .switchText {
	font-size: 12.5px;
	color: #666;
	text-decoration: none !important;
	font-weight: normal;
	line-height: 34px;
	display: block;

}
.switch {
	position: relative;
	display: inline-block;
	width: 33px;
	height: 17px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 1px;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
	background-color:#f5f9fa;
	border: 1px solid #9c9c9c;
}
.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: -2px;
	bottom: -1px;
	-webkit-transition: .4s;
	transition: .4s;
	background-color:#f5f9fa;
	border: 1px solid #9c9c9c;
}
input:checked + .slider {
	background-color: #1277D9;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(17px);
	-ms-transform: translateX(17px);
	transform: translateX(17px);
}
/* Rounded sliders  */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.switch_div{
    padding-left: 127px;
    margin-top: -17px;
}
.switch_div105{
    padding-left: 105px;
    margin-top: -17px;
}
.top_pad_17{
padding-top: 17px
}
.top_pad_12{
    padding-top: 12px;
}
.top_pad_5{
    padding-top: 5px;
}
.mar-top-7{
 margin-top: -2em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.ui-chips > ul.ui-inputtext,
.ui-chips > ul.ui-inputtext:focus {
  border: none;
  box-shadow: none;
  background: none;
  display: inline-flex;
  list-style: none;
}
.ui-chips .ui-chips-input-token {
  display: none;
}