<div class="component-wrap add-edit-pulse-setup">
  <div class="heading-wrap">
    <div class="inner">

      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>

  <form [formGroup]="addEditPulseSetupForm" novalidate>

    <div class="form-wrap row">
      <div class="col-sm-4 col-xs-4">
        <mat-form-field class="full-width-input-wrap">
          <input matInput i18n-placeholder placeholder="Graph Name*" maxLength="40" formControlName="graphTitle">
          <mat-error i18n *ngIf="addEditPulseSetupForm.controls['graphTitle'].hasError('required')">
            Graph Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4 col-xs-4">
        <mat-form-field class="mat-select-full-width">
          <mat-select i18n-placeholder placeholder="Service Name*" formControlName="graphCode">
            <mat-option i18n *ngFor="let graphCode of graphCodes" [value]="graphCode.value">
              {{ graphCode.displayName }}
            </mat-option>
          </mat-select>
          <mat-error i18n *ngIf="addEditPulseSetupForm.controls['graphCode'].hasError('required') && graphCodeError">
            Service is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <!--<div class="col-sm-4 col-xs-4">
        <md-input-container class="full-width-input-wrap">
          <input mdInput placeholder="Graph Code*" maxLength="40" formControlName="graphCode">
          <md-error *ngIf="addEditPulseSetupForm.controls['graphCode'].hasError('required')">
            Graph Code is <strong>required</strong>
          </md-error>
        </md-input-container>
      </div>-->
      <div class="col-sm-4 col-xs-4">
        <mat-form-field class="mat-select-full-width">
          <mat-select i18n-placeholder placeholder="Graph Type*" formControlName="graphType" (selectionChange)="onGraphTypeSelect($event)">
            <mat-option *ngFor="let graphType of graphTypes" [value]="graphType.value">
              {{ graphType.displayName }}
            </mat-option>
          </mat-select>
          <mat-error i18n *ngIf="addEditPulseSetupForm.controls['graphType'].hasError('required') && graphTypeError">
            Graph Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-wrap row">
      <div class="col-sm-4 col-xs-4 hide">
        <mat-form-field class="full-width-input-wrap">
          <input i18n-placeholder matInput placeholder="Graph Sequence*" type="number" min="1" formControlName="sequence">
          <mat-error i18n [hidden]="addEditPulseSetupForm.controls['sequence'].valid">
            Graph Sequence<strong> Not Valid</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4 col-xs-4" formGroupName="options">
        <mat-form-field class="full-width-input-wrap" formGroupName="animation">
          <input i18n-placeholder matInput placeholder="Animation Duration (ms)" formControlName="duration">
          <mat-error i18n [hidden]="addEditPulseSetupForm.get('options.animation.duration').valid">
            Input maximum<strong> 8 digit number</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4 col-xs-4" formGroupName="options">
        <mat-form-field class="mat-select-full-width" formGroupName="animation">
          <mat-select i18n-placeholder placeholder="Animation Name*" formControlName="easing">
            <mat-option i18n *ngFor="let animation of animations" [value]="animation">
              {{animation}}
            </mat-option>
          </mat-select>
          <mat-error i18n *ngIf="addEditPulseSetupForm.get('options.animation.easing').invalid  && animationError">
            Animation Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="options">
      <div *ngIf="selectedChartType == 'barChart' || selectedChartType == 'horizontalBarChart'" formGroupName="scales">

        <div class="form-wrap row pad_bottom1" formArrayName="xAxes">
          <div formGroupName="0">
            <div class="col-sm-3 col-xs-3 top_pad_17">
              <span i18n>X-Title</span>
            </div>
            <div class="col-sm-3 col-xs-3" formGroupName="scaleLabel">
              <mat-form-field class="full-width-input-wrap">
                <input i18n-placeholder matInput placeholder="Axis Label" maxLength="30" formControlName="labelString">
              </mat-form-field>
            </div>
            <div class="col-sm-3 col-xs-3" formGroupName="scaleLabel">
              <mat-form-field class="full-width-input-wrap">
                <input i18n-placeholder matInput placeholder="Font Size" formControlName="fontSize">
                <mat-error i18n [hidden]="addEditPulseSetupForm.get('options.scales.xAxes.0.scaleLabel.fontSize').valid">
                  Input maximum<strong> 4 digit number</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3 col-xs-3" formGroupName="scaleLabel">
              <div class="top_pad_17">
                <span i18n>Show X-Title</span>
              </div>
              <div class="switch_div105">
                <label class="switch">
            <input type="checkbox" formControlName="display">
           <span class="slider round"> </span> </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-wrap row pad_bottom1" formArrayName="yAxes">
          <div formGroupName="0">
            <div class="col-sm-3 col-xs-3 top_pad_17">
              <span i18n>Y-Title</span>
            </div>
            <div class="col-sm-3 col-xs-3" formGroupName="scaleLabel">
              <mat-form-field class="full-width-input-wrap">
                <input i18n-placeholder matInput placeholder="Axis Label" maxLength="30" formControlName="labelString">
                <!--<mat-error [hidden]="addEditPulseSetupForm.get('options.scales.yAxes.0.scaleLabel.labelString').valid">
                Input maximum<strong> 30 characters</strong>
              </mat-error>-->
              </mat-form-field>
            </div>
            <div class="col-sm-3 col-xs-3" formGroupName="scaleLabel">
              <mat-form-field class="full-width-input-wrap">
                <input i18n-placeholder matInput placeholder="Font Size" formControlName="fontSize">
                <mat-error i18n [hidden]="addEditPulseSetupForm.get('options.scales.yAxes.0.scaleLabel.fontSize').valid">
                  Input maximum<strong> 4 digit number</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3 col-xs-3" formGroupName="scaleLabel">
              <div class="top_pad_17">
                <span i18n>Show Y-Title</span>
              </div>
              <div class="switch_div105">
                <label class="switch">
            <input type="checkbox" formControlName="display">
           <span class="slider round"> </span> </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  *ngIf="selectedChartType == 'pieChart' || selectedChartType == 'donutChart' || selectedChartType == 'polarAreaChart'">
        <div class="form-wrap row">
          <div formGroupName="legend">
            <div class="col-sm-3 col-xs-3 top_pad_17">
              <span>Legends</span>
            </div>
            <div class="col-sm-3 col-xs-3">
              <mat-form-field class="full-width-input-wrap" formGroupName="labels">
                <input i18n-placeholder matInput placeholder="Font Size" formControlName="fontSize">
                <mat-error i18n [hidden]="addEditPulseSetupForm.get('options.legend.labels.fontSize').valid">
                  Input maximum<strong> 4 digit number</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3 col-xs-3">
              <mat-form-field class="full-width-input-wrap" formGroupName="labels">
                <input i18n-placeholder matInput placeholder="Box Width" formControlName="boxWidth">
                <mat-error i18n [hidden]="addEditPulseSetupForm.get('options.legend.labels.boxWidth').valid">
                  Input maximum<strong> 4 digit number</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-3 col-xs-3">
              <mat-form-field class="mat-select-full-width">
                <mat-select i18n-placeholder placeholder="Legend Position" formControlName="position">
                  <mat-option i18n *ngFor="let pos of legendPosition" [value]="pos.value">
                    {{ pos.displayName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form-wrap row mar-top-7">
        <div class="col-sm-12 col-xs-12">
          <div class="color-picker-wrap">
            <mat-form-field style="display:inline">
              <input matInput formControlName="color">
              <div class="color-picker-icon"></div>
            </mat-form-field>
            <input #chip colorPicker controlName="color" (onSelectColor)="add(chip.value)" />
          </div>
          <div class="colopr-chips-wrap">
            <mat-form-field style="display:inline">
              <mat-chip-list matPrefix>
                <mat-chip class="color-chips" *ngFor="let chip of colorArray;  let i = index" color="accent" >
                  <div class="color-chip" [style.background-color]="chip"  [title]="chip"></div>
                  <i class="fa fa-close" style="cursor:pointer" (click)="remove(i)"></i>
                </mat-chip>
              </mat-chip-list>
              <input matInput readonly (keydown.backspace)="removeByKey(chip.value)" />
            </mat-form-field>
          </div>
        </div>
        <!--<div class="col-sm-4 col-xs-4">
          <mat-form-field class="full-width-input-wrap">
            <input matInput placeholder="Duration" formControlName="duration">
            <mat-error [hidden]="addEditPulseSetupForm.get('options.duration').valid">
              Input maximum<strong> 8 digit number</strong>
            </mat-error>
          </mat-form-field>
        </div>
         <div class="col-sm-4 col-xs-4">
          <mat-form-field class="full-width-input-wrap">
            <input matInput placeholder="Color" formControlName="color">
          </mat-form-field>
        </div>-->
        <!--<div class="col-sm-4 col-xs-4">
          <mat-form-field class="full-width-input-wrap">
            <input matInput placeholder="Height" formControlName="height">
            <mat-error [hidden]="addEditPulseSetupForm.controls['options'].controls['height'].valid">
              Input maximum<strong> 4 digit number</strong>
            </mat-error>
          </mat-form-field>
        </div>-->
        <div class="col-sm-4 col-xs-4  top_pad_5" formGroupName="tooltips">
          <div class="top_pad_12">
            <span i18n>Show Tooltip</span>
          </div>
          <div class="switch_div">
            <label class="switch">
            <input type="checkbox" formControlName="enabled">
           <span class="slider round"> </span> </label>
          </div>
        </div>

      </div>
    </div>
    <div class="action-wrap">
      <div class="text-right">
        <button type="button" i18n mat-button class="app-btn" id="cancel" (click)="closePopup()">Cancel</button>
        <button type="submit" i18n mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="savePulseSetup(addEditPulseSetupForm)">{{saveBtnTitle}}</button>
      </div>
    </div>
  </form>
</div>