// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

#edit-freelancer-page{
  @include upload-pictur-btn(150px);
  @include browse-btn();
  @include parent-subcategory-name();
  // @include expander();
  @include padding-classes();
  @include min-ht();
  .c-pointer {
    @include cursor(pointer);
  }
  .category-plus {
    display: none;
  }
  .selectPicture {
    padding-bottom: 5px;
  }
  .mt-50{
    margin-top: 50px;
  }
  .pr-10{
    padding-right: 10px;
  }
  #identity-documents .panel-heading {
    padding: 15px;
  }
  .selected-category {
  background-color: #f9dcda;
  }
  .fa
  {
    &.fa-check {
      color: white;
    }
  }
  #category-table .category-name, #category-table .subcategory-name, #category-table .sub-sub-category-name {
      text-align: left;
  }
}



@media (min-width:992px) {
  #edit-freelancer-page {
    .date-action-btns {
      @include date-action-btns();
    }
  }
  #category-table{
    width:50%;
  }
};

@media (max-width:991px) {
  #edit-freelancer-page .document-panel {
    padding-bottom: 30px;
  }
}

// @media (min-width:992px) {
//   .edit-freelancer-page .date-action-btns {
//     position: relative;
//     top: 35px;
//   }


// };
// @media (max-width:991px) {
// .edit-freelancer-page .document-panel {
//   padding-bottom: 30px;
// }
// }
// .edit-freelancer-page .download-btn {
//   color: #5d9cec;
// }

// .edit-freelancer-page .upload-pictur-btn {
//   width: 150px;
// }

// .edit-freelancer-page .Clickhere {
//   color: #d70827 !important;
//   cursor: pointer;
//   text-decoration: underline !important;
// }

// .edit-freelancer-page .col-md-2 {
//   max-width: 100% !important;
// }

// .edit-freelancer-page .col-md-4 {
//   max-width: 100% !important;
// }

// .edit-freelancer-page .freelancerPanel {
//   margin-right: 2% !important;
// }

// .edit-freelancer-page .selectPicture {
//   padding-bottom: 10px;
// }

// .edit-freelancer-page .changePassword {
//   padding: 15px;
// }

// .edit-freelancer-page .browse-btn {
//   color: black;
//   background-color: lightgray;
//   width: 70px !important;
//   padding: 6px !important;
//   font-style: normal;
// }

// .edit-freelancer-page .attachRemoveBtn em {
//   color: white !important;
//   background-color: red;
//   padding: 10px;
//   border-radius: 4px;
// }

// .edit-freelancer-page .categoryMapping {
//   margin-top: 20px;
// }

// .edit-freelancer-page .row {
//   width: 100%;
// }

// .edit-freelancer-page .mappingClass {
//   margin-top: 10px;
// }

// .edit-freelancer-page .mt-4 {
//   margin-top: 2.2rem !important;
// }

// // .edit-freelancer-page .fa-plus {
// //   color: #6e9eec !important;
// // }

// // .edit-freelancer-page .fa-minus {
// //   color: #6e9eec !important;
// // }


// .edit-freelancer-page .category-name {
//   text-align: left;
//   padding-left: 20px;
// }

// .edit-freelancer-page .subcategory-name {
//   text-align: left;
//   padding-left: 60px;
// }

// .edit-freelancer-page .sub-category.parent-node .subcategory-name {
//   text-align: left;
//   padding-left: 40px;
// }


// .edit-freelancer-page .sub-sub-category-name {
//   text-align: left;
//   padding-left: 80px;
// }



// // .edit-freelancer-page .category-name {
// //   text-align: left;
// //   padding-left: 20px;
// // }
// //
// // .edit-freelancer-page .subcategory-name {
// //   text-align: left;
// //   padding-left: 40px;
// // }
// //
// // .edit-freelancer-page .sub-sub-category-name {
// //   text-align: left;
// //   padding-left: 60px;
// // }

// .edit-freelancer-page .category-plus {
//   display: none;
// }
// // .sub-category {
// //   display: none;
// // }
// //
// // .sub-sub-category {
// //   display: none;
// // }

// .edit-freelancer-page .expander {
//   margin-left: 10px;
//   cursor: pointer;
// }

// .edit-freelancer-page .selected-category {
//   background-color: #f9dcda;
// }

// .edit-freelancer-page .fa.fa-check {
//   color: white;
// }

// .edit-freelancer-page .c-pointer {
//   cursor: pointer;
// }

// .edit-freelancer-page .attachRemoveBtn em {
//   color: white !important;
//   background-color: red;
//   padding: 10px;
//   border-radius: 4px;
// }

// .edit-freelancer-page .category-name {
//   text-align: left;
//   padding-left: 20px;
// }

// .edit-freelancer-page.subcategory-name {
//   text-align: left;
//   padding-left: 60px;
// }

// .edit-freelancer-page .sub-category.parent-node .subcategory-name {
//   text-align: left;
//   padding-left: 40px;
// }


// .edit-freelancer-page .sub-sub-category-name {
//   text-align: left;
//   padding-left: 80px;
// }
// .edit-freelancer-page .textElipses {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }
//   .min-ht{
//     min-height: 47px !important;
//   }