@import '../../../styles/mixins';

.lf-page-main-wrap {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.login-page-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: calc(100% - 415px);
    background-color: #1D7AB5 !important;
    text-align: center;
    @media(min-width: 768px) and (max-width: 991px) {
        width: 50%;
    }
    @media(min-width: 100px) and (max-width: 767px) {
        display: none;
    }
    .login-page-bg_pic {
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
    }
}

.login {
    margin: 0;
    width: 415px;
    max-width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.28);
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;

    @media(min-width: 768px) and (max-width: 991px) {
        width: 50%;
    }
    @media(min-width: 100px) and (max-width: 767px) {
        width: 100%;
        max-width: initial;
    }
    @media (min-height: 100px) and (max-height: 499px) {
        overflow: auto;
    }

    .back-arrow {
        height:25px
    }

    /deep/ .p-under-login {
        cursor:pointer;
        color: #1277d9;
        font-size: 10px !important;
        font-weight: 700 !important;
    }

    .digit-div .mat-input-element {
        text-align:center !important;
    }
}

.martop10 {
    margin-top:10px;
}

.back-btn .material-icons {
    position: absolute;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}

#goBack {
    margin: 20px;
    cursor:pointer;
    color:#748791;
}

.clearfix {
    box-sizing: border-box;
}

.wrapper-lg {
    padding: 30px;
    margin-top: 25px;
    .app-logo {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

.text-center {
    text-align: center;
}

.login-info {
    padding: 0px;
    margin-top: 60px;
}

.new-login-info {
    padding: 15px;
    margin-top: 30px;
}

.new-login p {
    font-size: 2rem;
    line-height: 22px;
    font-weight: 500;
}

.copyright-row {
    @media (min-height: 600px) and (max-height: 999999px) {
        position: absolute;
        width: 100%;
        bottom: 15px;
        left: 0px;
    }

    p small {
        font-size: 11px !important;
        font-weight: 400 !important;
    }
}

.loginBtn,
#resetBtn {
    background-color: #d71996;
    margin-bottom:15px;
}

#remember-me {
  margin-top: 1rem;
}

.loginBtn {
  min-width: 7rem;
  max-width: 8rem;
  float: right;
}

.new-password,
.confirm-new-password {
  width: 100%;
  margin-top: 3rem;
}

.form-control:focus {
    -webkit-box-shadow: none; 
    box-shadow: none; 
}

#sendBTN {
    width: 25%;
    background-color: #17a2b8;
    color:white;
}

#userIconAndName{
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color:white;
    border:1px solid lightgray;
}

.password-rule-text {
  color: red;
  margin: 2rem 0rem;
  text-align: justify;
  font-size:1.2rem;
  font-weight: bold;
}

.new-login-info H1{
    color:gray;
}

#userIconAndName {
    width: auto;
}