<div class="component-wrap add-edit-user-setup">
    <div class="heading-wrap">
        <div class="inner">
            <div class="popup-heading">{{heading}}</div>
            <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
        </div>
    </div>

    <form class="" [formGroup]="uploadLexiconFileGroup" novalidate>
        <div class="form-wrap col">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                <div class="file-upload-inner image-file-uploader-box">
                    <label class="uploader" for="input-file">
                        <div class="icon-text-wrap">
                            <div class="col-xs-12 text-center" >
                                <i class="icon-upload3" *ngIf="!fileSelected"></i>
                                <i class="fa fa-file-excel-o file-selected-icon" *ngIf="fileSelected" ></i>
                            </div>
                            <div class="col-xs-12 text-center">
                                <span i18n *ngIf="!fileSelected">Upload File</span>
                                <span class="file-selected-name" *ngIf="fileSelected">{{selectedFileName}}</span>
                            </div>
                        </div>
                    </label>
                    <input type="file" name="file" id="input-file" (change)="selectFile(input)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" #input>
                    <div i18n class="select-file-error" *ngIf="!isFileValid">Please select a file to upload</div>
                    <a i18n href="assets/LexiconUploadTemplate.xlsx" class="template-download" download>Download Lexicon Template</a>
                </div>
            </div>
        </div>

        <div class="action-wrap">
            <div class="text-right">
                <button i18n type="button" mat-button class="app-btn" id="cancel" (click)="closePopup()">Cancel</button>
                <button i18n type="submit" mat-button class="app-btn mat-primary mat-flat-button" (click)="uploadSelectedFile(uploadLexiconFileGroup)">Upload</button>
            </div>
        </div>

    </form>
</div>