.cm-btn {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

::ng-deep .cdk-overlay-pane .statusPanelClass {
  max-height: 129px !important;
}

::ng-deep .cdk-overlay-pane .parentPanelClass,
::ng-deep .cdk-overlay-pane .childPanelClass {
  max-height: 100px !important;
  min-height: 100px !important;
}

:host ::ng-deep .fa-calendar{
  font-size: 15px !important;
}

.new-plus {
  display : flex;
  align-items : center;
  justify-content: center;
  right: 2%;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.action-button {
  margin-top: 2.5rem;
}