// Common variables for SCSS

// theme colors
$theme-color1: #3a3f51;
$theme-color2: #e4e4e4;
$theme-color3: #f9dcda;
$theme-color4: #49495b;
$theme-color5: #f44336;
$theme-color6: #efefef;
$theme-color7: #ebeaea;
$white-color: #fff;
$blue-color: #5d9cec;
$light-blue-color: #6e9eec;
$red-color: #f32e06;
$black-color: #000000;
$transprent: transparent;

// border-colors
$border-color1: #cfdbe2;
$border-color2: #dddddd;
$border-color3: #eeeeee;

// single variable
$unset: unset;
$solid: solid;
