.loading-wrap {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
    background-color: rgba(0, 0, 0, 0.5);
}

.loading-icon {
  position: relative;
  top: 50%;
  left: 50%;
  border: 6px solid #cee3f8;
  border-radius: 50%;
  border-top: 6px solid #1277D9;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}