@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.add-edit-theme-wrap {
    .add-edit-theme-middle-section {
        margin-top: 25px;
        margin-bottom: 25px;

        .add-edit-theme-form {

            .numbered {
                @include applyFont($fontSize: 12px, $fontWeight: 600);
                color: $secondary-color;
                border: 2px solid $secondary-color;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                padding: 3px 0px;
                text-align: center;
                margin-top: 5px;            
            }            

            .color-picker-icon {
                width: 16px;
                height: 16px;
                background-image: url('../../../../assets/images/color-picker-icon.png');
                background-position: center;
                background-repeat: no-repeat;    
                position: absolute;
                right: 12px;
                top: 9px;
                left: auto;            
            }
        }

        .ui-preview-col {
            text-align: center;
            img {
                max-width: 100%;
            }
        }

        .action-wrap {
            margin-top: 45px;
        }
    }    
}