{{breadcrumbData?.title | translate}}
<span class="text-sm hidden-xs" *ngIf="breadcrumbData.subTitle">|
     <em>
        <strong>&nbsp;{{breadcrumbData?.subTitle | translate}}</strong></em><strong>
     </strong>
  </span>
<small>
  <span *ngFor="let data of breadcrumbData?.data">
    <a class="breadcumb" (click)="navigateToLink(data)"  routerLink="{{data?.link}}" *ngIf="data?.link">{{data?.text | translate}} </a>
  <span *ngIf="data?.link"> ></span>
    <span class="breadcumb" *ngIf="!data?.link">{{data?.text | translate}}</span>
  </span>
</small>
