<div class="section-wrap">
  <div class="top-section row-10">
    <div class="hidden-xs col-xs-12 col-sm-6">
      <app-heading-section [heading]="heading">
        <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
      </app-heading-section>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="middle-section client-setup-tabs-wrap">
    <mat-card class="client-setup-tabs-card" style="overflow:hidden">
      <perfect-scrollbar  class="scroll-container" [scrollIndicators]="true">
    <div class="scrollable-content">
      <div class="client-setup-tabs">
        <ul class="client-setup-tab-list">
          <li *ngFor="let tab of tabs; let i = index"   [class.current-tab]="currentTab == tab.key" [class.hide-tab]="tab.visible == false"
            (click)="onSelectTab(tab.key,$event)">
            <a class="client-setup-tab-anch" aria-label="tab" href="javascript:void(0)" tabindex="0"  [attr.aria-label]="tab.name">
                {{tab.name}}
            </a> 
          </li>
        </ul>
      </div>
      </div>
      </perfect-scrollbar>

        <div class="client-setup-tabs-content">
          <div class="information-tab" *ngIf="currentTab == 'information-tab'">
            <app-exela-client-setup-information-tab [mode]="mode" [organizationId]="organizationId"></app-exela-client-setup-information-tab>
          </div>
          <div class="product-tab" *ngIf="currentTab == 'product-tab'">
            <app-exela-client-setup-product-tab [organizationId]="organizationId"></app-exela-client-setup-product-tab>
          </div>
          <div class="menu-tab" *ngIf="currentTab == 'menu-tab'">
            <app-exela-client-setup-menu-tab [type]="type" [mode]="mode" [organizationId]="organizationId"></app-exela-client-setup-menu-tab>
          </div>
          <div class="non-registered-users-tab" *ngIf="currentTab == 'non-registered-users-tab'">
            <app-non-registered-client-users-setup [type]="type" [mode]="mode" [organizationId]="organizationId"></app-non-registered-client-users-setup>
          </div>
          <div class="self-registered-users-tab" *ngIf="currentTab == 'self-registered-users-tab'">
            <app-self-registered-client-users-setup [type]="type" [mode]="mode" [organizationId]="organizationId"></app-self-registered-client-users-setup>
          </div>
          <div class="assign-theme" *ngIf="currentTab == 'assign-theme'">
            <app-assign-store-front [organizationId]="organizationId"></app-assign-store-front>
          </div>
          <div class="action-tab" *ngIf="currentTab == 'action-tab'">
            <app-exela-client-setup-action-tab [organizationId]="organizationId"></app-exela-client-setup-action-tab>
          </div>
          <div class="shared-mailbox" *ngIf="currentTab == 'shared-mailbox'">
            <app-client-shared-mailbox-tab [organizationId]="organizationId"></app-client-shared-mailbox-tab>
          </div>
           <div  *ngIf="currentTab == 'configurable-password'">
            <app-configurable-password-setup-tab [organizationId]="organizationId"></app-configurable-password-setup-tab>
          </div>
        </div>
    </mat-card>
  </div>
</div>