<div class="component-wrap non-registered-users-upload-list-wrap">   
  <div *ngIf="!displayStatus"> 
    <div class="heading-wrap">
      <div class="inner">
        <div i18n class="popup-heading">Upload Recipients List</div>
        <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
      </div>
    </div>
  
 <div class="form-wrap row" >
    <div class="col-sm-12 col-xs-12 uploader-wrap">
      <label class="uploader" for="input-file">
            <div class="col-xs-12 text-center">
              <i class="icon-upload3" *ngIf="!fileSelected"></i>
              <i class="fa fa-file-excel-o file-selected-icon" *ngIf="fileSelected"></i>
            </div>
            <div class="col-xs-12 text-center">
              <span i18n *ngIf="!fileSelected">Upload Files</span>
              <span class="file-selected-name" *ngIf="fileSelected">{{selectedFileName}}</span>
            </div>            
      </label>
      <input id="input-file" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="fileChange(input)" #input>
      <a href="assets\upload_file_templates\email-recipient-template.xlsx" class="download-excel-template" download>Download Excel Template</a>
    </div>
  </div>

  <div class="action-wrap">
    <div class="text-right">
      <button i18n mat-button class="app-btn gray-button" (click)="closePopup()">Cancel</button>
      <button i18n mat-button class="app-btn orange-button" (click)="saveDealCodes()">Save</button>
    </div>
  </div>
</div>
<div *ngIf="displayStatus">
 <div class="heading-wrap">
      <div class="inner">
        <div i18n class="popup-heading">Upload Recipients List Status</div>
        <div i18n class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
      </div>
    </div>
    <div class="table-dth">
        <table>
          <thead>
            <td i18n>First Name</td>
            <td i18n>Last Name</td>
            <td i18n>Email Id</td>
            <td i18n>status</td>
          </thead>
          <tbody class="scrollable-content">
             <perfect-scrollbar class="scroll-container" [scrollIndicators]="true">
              <tr *ngFor="let entry of statusRecipientList">
                <td [title]="entry.FirstName">{{ entry.FirstName }}</td>
                <td [title]="entry.LastName">{{ entry.LastName }}</td>
                <td [title]="entry.Email">{{ entry.Email }}</td>
                <td [title]="entry.status">{{ entry.status }}</td>
              </tr>
             </perfect-scrollbar>
          </tbody>
        </table>
    </div>
  </div>
</div>
