<div class="component-wrap">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">{{heading}}</div>
      <div class="popup-close" (click)="closePopup()">
        <i class="material-icons">close</i>
      </div>
    </div>
  </div>
  <div class="form-wrap" [formGroup]="clientFormElementGroupForm">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-6 col-xs-12 required-col">
          <mat-form-field class="full-width-input-wrap">
            <input matInput placeholder="Group Name*" formControlName="groupName" maxlength="100">
            <mat-error *ngIf="clientFormElementGroupForm.controls['groupName'].hasError('required')">
              Group Name is
              <strong> required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-xs-12 required-col">
          <mat-form-field class="mat-select-full-width">
            <mat-select i18n-placeholder placeholder="Select Form Element" formControlName="formElement">
              <mat-option *ngFor="let element of formElements" [value]="element._id">
                {{element.displayname}}
              </mat-option>
            </mat-select>
            <mat-error i18n *ngIf="clientFormElementGroupForm.controls['formElement'].hasError('required') && clientFormElementGroupForm.controls['formElement'].touched ">
              Form Element is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="action-wrap">
    <div class="text-right">
      <button type="button" mat-button class="app-btn" id="cancel" (click)="closePopup()">Cancel</button>
      <button type="button" mat-button class="app-btn mat-primary mat-flat-button save-btn" (click)="saveFormElementGroup(clientFormElementGroupForm)">Save</button>
    </div>
  </div>
</div>