<div class="project-module-list">
  <div class="content-heading">

    <breadcrumb [breadcrumbData]="breadcrumbData"></breadcrumb>

    <div class="right-btn">
      <ui-control-permission [fieldName]="'companyDropdown'" [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeFields"
        [uiPermissionObj]="uiAccessPermissionsObj">

        <span class="fs-15 mr-5">{{'projects.labels.company'|
              translate}} </span>
        <button class="btn btn-primary dropdown-toggle" data-toggle="tooltip" data-placement="top"
          title="{{'projects.labels.company'|translate}}" [disabled]="showLoaderFlag || showSpinnerFlag" type="button"
          data-toggle="dropdown">{{selectedCompanyName ?selectedCompanyName: ('pages.labels.theLift'|translate)}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdownMenu">
          <li (click)="companyChanged(company)" class="theLift ptr" *ngFor="let company of companiesList">
            {{company?.i18n?.name}}
          </li>
        </ul>
      </ui-control-permission>
      <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID" [actionType]="ACTION_TYPES.ADD">
        <button class="btn default-btn btn-primary ml-1" [routerLink]="ROUTER_LINKS_FULL_PATH.addProject">{{'projects.labels.newProject'|
                translate}}</button>
      </action-permission>
    </div>
  </div>
  <div class="container-fluid">
    <form [formGroup]="projectFilterForm">
      <div class="col-md-12 no-mg">
        <div class="">
          <div class="row project-list">
            <ui-control-permission class="pull-left w-100" [fieldName]="'searchFilter'"
              [disableProperty]="UI_ACCESS_PERMISSION_CONST.removeFields" [uiPermissionObj]="uiAccessPermissionsObj">
              <div>
                <div class="form-group">
                  <div class="row no-mg">
                    <div class="col-md-3 mb-2">
                      <input class="form-control" formControlName="name"
                        placeholder="{{'common.labels.projectName'| translate}}" data-toggle="tooltip"
                        data-placement="top" title="{{'common.labels.projectName'| translate}}">
                    </div>

                    <div class="col-md-3  mb-2">
                      <ngx-select [allowClear]="true" [items]="PROJECT_TYPES_ARR"
                        placeholder="{{'common.labels.projectType'| translate}}" data-toggle="tooltip"
                        data-placement="top" title="{{'common.labels.projectType'| translate}}" formControlName="type">
                      </ngx-select>
                    </div>
                    <div class="col-md-3  mb-2">
                      <ngx-select [allowClear]="true" [items]="PROJECT_DIVISION" formControlName="division"
                        placeholder="{{'common.labels.projectDivision'| translate}}" data-toggle="tooltip"
                        data-placement="top" title="{{'common.labels.projectDivision'| translate}}">
                      </ngx-select>
                    </div>
                    <div class="col-md-3">
                      <button class="btn search-bth btn-primary" (click)="search()"
                        [disabled]="showLoaderFlag || showSpinnerFlag">{{'common.labels.search'|
                          translate}}</button>
                      <button class="btn clear-btn btn-primary" (click)="clear()"
                        [disabled]="showLoaderFlag || showSpinnerFlag">{{'common.labels.clear'|
                          translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="no-mg" />
              <div class="row ">&nbsp;</div>
              <div class="row ">&nbsp;</div>
            </ui-control-permission>
            <div class="row no-mg w-100" infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScrollDown()">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let project of projectsArr;let i = index;">
                <div class="panel panel-default">
                  <div class="panel-heading projectList">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 m0 panelTitle">
                        <h4 class="text-center">
                          <span>{{project?.name}}</span>
                        </h4>

                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 m0 text-center">
                      <label class="badge badge-primary">{{project?.type}}</label>
                      <label class="badge badge-primary" *ngIf="project?.division == PROJECT_DIVISION_CONST.domestic">{{'projects.labels.domestic'|
                            translate}}</label>
                      <label class="badge badge-primary"
                        *ngIf="project?.division == PROJECT_DIVISION_CONST.international">{{'projects.labels.international'|
                            translate}}</label>

                    </div>
                  </div>
                  <action-permission [permissionArr]="permissionObj" [MODULE_ID]="MODULE_ID"
                    [actionType]="ACTION_TYPES.VIEW">
                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 m0 text-center">
                          <button (click)="manageProject(project)" class="btn default-btn btn-default manageProjectbtn">
                            {{'projects.labels.manageProject'| translate}}
                          </button>
                        </div>

                      </div>
                    </div>
                  </action-permission>
                </div>
              </div>
              <ng-container *ngIf="showLoaderFlag  && !showSpinnerFlag">
                <app-loader class="col-md-12" [loading]="showLoaderFlag"></app-loader>
              </ng-container>
              <div class="col-md-12"
                *ngIf="projectsArr?.length == 0 && !isSearchClicked && !showSpinnerFlag && !showLoaderFlag && apiCallCount == 0">
                <h5 class="text-center text-danger">
                  {{'projects.labels.projectListMsg' | translate}}
                </h5>
              </div>
              <div class="col-md-12"
                *ngIf="projectsArr?.length == 0 && isSearchClicked && !showSpinnerFlag && !showLoaderFlag && apiCallCount == 0">
                <h5 class="text-center text-danger">
                  {{'common.labels.recordNotFound' | translate}}
                </h5>
              </div>
              <div class="col-md-12 text-center">
                <i class="fa fa-spinner fa-spin margin-right-5" *ngIf="showSpinnerFlag && !showLoaderFlag"></i>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
