.project-module-list .project-details {
  background-color: #49495b;
  color: white;
  margin: 2% 3%;
  padding: 25px;

}

.project-module-list .project-list {
  padding: 14px 12px;
  background-color: white;

}

.project-module-list .badge {
  border-radius: 0px !important;
}

.project-module-list .manageProjectbtn {
  color: black;
  border: #eae7e7 solid 1px;
  background-color: white;
  font-size: 14px;
}

.project-module-list .dropdownMenu {
  padding: 10px;
}

.project-module-list .theLift {
  margin-bottom: 10px;
}

.project-module-list .projectList {
  min-height: 103px;
}

.project-module-list .panelTitle {
  min-height: 38px;
}

.project-module-list .pricing-border {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  text-align: center;
  margin-bottom: 5px;
}
.fs-15{
  font-size: 15px;
}
