<div class="component-wrap dynamic-content-setup">
  <div class="heading-wrap">
    <div class="inner">
      <div class="popup-heading">Add Dynamic Content</div>
      <div class="popup-close" (click)="closePopup()"><i class="material-icons">close</i></div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12">
    <table *ngIf="dynamicContent.length !=0" class="table table-hover dynamic-content-table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Content Name</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let content of dynamicContent;let i=index;" (click)="onContentSelect(content)">
          <td>{{i+1}}</td>
          <td>{{content.key}}</td>
          <td [innerHTML]="content.example"></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="dynamicContent.length==0" class="no-content-Available">
      <div class="no-content-Available-inner">
        No Content Available
      </div>
    </div>
  </div>
</div>