@import '../../../../../../styles/variables';
@import '../../../../../../styles/mixins';
.dynamic-content-setup{
    .dynamic-content-table{
        tbody{
            tr{
               cursor: pointer;
                ::ng-deep table{
                    font-size: 14px;
                    border: #cccccc;
                    thead{
                        tr{
                            color: #6b6b6b;
                            th{
                            text-align: center;
                            }
                        }
                    }
                    tbody{
                        tr{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .no-content-Available{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
        .no-content-Available-inner{
           
        }
    }
   
}