// import variables scss
@import "../../../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../../../assets/styles/mixins.style.scss";

.manage-talent-po {

  .pure-checkbox input[type=checkbox]+label:before {
    color: red;
    border: 2px solid red;
  }

  .panel-body {
    @include background-color($white-color);
    @include padding(15px);
  }

  .media-dropdown .ngx-select .dropdown-header {
    color: #212529 !important;
    padding-left: 20px !important;
    font-weight: bold !important;
  }

  .media-dropdown .ngx-select .ngx-select__item.dropdown-item {
    padding-left: 35px !important;
  }

  .media-dropdown .ngx-select .dropdown-header.ngx-select__item_no-found {
    color: #a1a2a3;
    font-weight: normal;
  }

  .c-btn {
    border: 1px solid #dde6e9 !important;
  }


  .pure-checkbox input[type="checkbox"]:checked+label:before {
    background: red;
  }

  .selected-item {
    background: red;
  }

  .btn-iceblue {
    background: red;
    border: 1px solid #ccc;
    color: #fff;
  }

  .pure-checkbox input[type="checkbox"]+label:before {
    color: red;
    border: 2px solid red;
  }

  .pure-checkbox input[type="checkbox"]+label:after {
    background-color: red;
  }

  .pure-checkbox input[type="checkbox"]:focus+label:before,
  .pure-checkbox input[type="checkbox"]:hover+label:before {
    border-color: red;
    background-color: #f2f2f2;
  }

  .selected-list .c-list .c-token {
    background: #e2e2e2;
    ;
  }

  .selected-list .c-btn {
    padding: 0.550rem 1rem !important;
    margin: 0 !important;
    border-radius: 0px;
    color: #656565 !important;
  }

  .selected-list .c-list .c-token .c-label {
    fill: #656565 !important;
    color: #656565 !important;
  }

  .selected-list .c-list .c-token .c-remove svg {
    fill: #656565 !important;
    color: #656565 !important;
  }

  .c-angle-down:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  .c-angle-up, .c-angle-down {
    c-icon {
      display: none;
    }
  }
  .fl-right {
    float: right;
  }
}
