.cm-btn {
    box-shadow: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.btn-container {
    padding-bottom: 3rem;
}

.select-prefix mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
    left: -1rem;
}

.select-prefix.no-display-arrow mat-select .mat-select-trigger .mat-select-arrow-wrapper .mat-select-arrow::before {
    left: -1rem;
}

.input-container {
    text-align: center;
    width: 100%;
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-prefix {
    padding-right: .5rem;
    bottom: -.3rem;
}

mat-slide-toggle {
    height: 20px;
}

.new-plus {
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 1024px) {
    .mb-vw{
        display: none;
    }
    .ds-vw {
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .mb-vw{
        display: block;
    }
    .ds-vw {
        display: none;
    }
  }
  
  .btn-mob-container {
    display: flex !important;
    -webkit-box-pack: end;
    justify-content: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .cm-mob-btn {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
  }