.settlement-type {
    position: relative;
    left: 22px;
  }
  @media (min-width:992px) {
    .mode {
      margin-left: 30px;
    }
  };
  
  .non-settled-status {
    padding: 5px;
    background-color: yellow;
  }
  
  .settled-status {
    padding: 5px;
    background-color: #4caf50;
    color: white
  }
  
  .margin-class{
    margin-top: 5px;
  }

  .receipts-amount{
    margin-top: 15px;
  }

  .mxn-class{
    margin-top: 35px;
  }

  .positiveCase{
    width: 100%;
    margin-top: 5px;
  }

  .positive-add-class{
    margin-top: 35px;
  }

  .mappingClass{
    margin-bottom: 5px;
  }

.row-class{
  width: 100%;
}
.manage-settlement-page .upload-pictur-btn
{
  width:100px;
}

.border-class{
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
}

.mxn-class-left{
  text-align: 0px;
}
.manage-settlement-page .receipt-doc em {
  color: white !important;
  background-color: red;
  padding: 10px;
  border-radius: 4px;
}