<div class="container-fluid manage-settlement-page">
  <form class="form-horizontal" [formGroup]="settleAdvancesForm" novalidate>
    <div class="row no-mg">
      <div class="col-md-12 no-mg">
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="">
              <div class="row no-mg mb-10">
                <label class="col-md-1 control-label" style="margin-top:5px">
                  {{'common.labels.date'| translate}}
                  <span style="color:red;">*</span>
                </label>
                <div class="col-md-4 no-mg">
                  <my-date-picker class="bbdate" formControlName="date" [options]="datePickerOptions"></my-date-picker>
                  <div class="text-danger col-md-12 no-mg" *ngIf="settleAdvancesForm.controls['date']?.errors?.checkRequired && (settleAdvancesForm.controls['date'].touched  || submmitedFormFlag)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                </div>
              </div>
            </div>
            <div>
              <div class="row no-mg mb-10">
                <div class="col-md-12">
                  {{'projects.labels.advances' | translate}}
                  <span *ngIf="advancesFor==ADVANCES_FOR_CONST.freelancer">({{userName}} - {{'common.labels.freelancer'| translate}})</span>
                  <span *ngIf="advancesFor==ADVANCES_FOR_CONST.vendor">({{userName}} - {{'common.labels.vendor'| translate}})</span>
                </div>
              </div>
              <div>
                <div class="row no-mg mb-10">
                  <div class="col-md-10">
                    <table class="table table-bordered ml-2 text-center" style="width:100%;">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>{{'common.labels.amount'| translate}}</th>
                          <th>{{'projects.labels.budgetLine'| translate}}</th>
                          <th>{{'projects.labels.mode'| translate}}</th>
                          <th>{{'projects.labels.action'| translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let advance of advancesList;let index=index;let first=first">
                          <td>{{index+1}}</td>
                          <td>{{advance?.amount}} {{advance?.currency?.code}}</td>
                          <td>{{advance?.advanceBudgetLine?.budgetLine}}</td>
                          <td>{{advance?.modeOfOperation?.i18n?.name}}</td>
                          <td>
                            <i class="fa fa-trash delete-file-icon ml-2 ptr" tooltip="Delete" *ngIf="advancesList.length>1" (click)="deleteAdvance(index)"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>



                </div>
                <div class="row no-mg mb-10">
                  <label class="col-md-2 control-label">{{'projects.labels.settlementAmount' | translate}} :</label>
                  <div class="col-md-4">
                    <span>{{settleAdvancesForm?.value?.settlementAmount}} {{defaultCurrency.name}}</span>
                  </div>
                </div>
                <div class="row no-mg">
                  <label class="col-md-2 control-label">{{'projects.labels.receipts' | translate}} :
                    <span style="color:red;">*</span>
                  </label>

                </div>
                <div class="row no-mg" formArrayName="receiptsArr">
                  <div class="row no-mg">

                  </div>
                  <div class="row no-mg mappingClass border-class row-class" *ngFor="let receipt of settleAdvancesForm.controls.receiptsArr['controls']; let i=index;let lst=last"
                    [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-2">
                        <ngx-select [items]="budgetLineList" (select)="budgetLineSelected($event,receipt)" placeholder="{{'projects.labels.budgetLine' | translate}}"
                          [allowClear]="true" formControlName="budgetLine">

                        </ngx-select>
                        <div class="text-danger col-md-12 no-mg" *ngIf="receipt.controls['budgetLine']?.errors?.checkRequired && (receipt.controls['budgetLine'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                      </div>
                      <div class="col-md-1 no-mg">
                        <input class="form-control" tooltip="{{'common.labels.amount'|translate}}" (change)="updateAmount()"
                          oninput="this.value = this.value.replace(/[^0-9.]/g,'');" placeholder="{{'common.labels.amount' | translate}}"
                          formControlName="amount" />
                        <div class="text-danger col-md-12 no-mg" *ngIf="receipt.controls['amount']?.errors?.checkRequired && (receipt.controls['amount'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>
                        <div class="text-danger" *ngIf="!receipt.controls['amount']?.errors?.checkRequired && receipt.controls['amount']?.errors?.checkDecimal && (receipt.controls['amount'].touched) && receipt.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'| translate}}</div>

                      </div>

                      <div class="col-md-1 margin-class text-center">
                        <span>{{defaultCurrency.name}}</span>
                      </div>
                      <div class="col-md-1  no-mg">
                        <input class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                        tooltip="{{'projects.labels.vat'|translate}}" (change)="checkField(receipt)" placeholder="{{'projects.labels.vat' | translate}}" formControlName="vat"
                        />
                        <div class="text-danger" *ngIf="!receipt.controls['vat']?.errors?.checkRequired && receipt.controls['vat']?.errors?.checkDecimal && (receipt.controls['vat'].touched) && receipt.controls['vat'].dirty">{{'pages.errorMessages.validDecimal'| translate}}</div>

                      </div>
                      <div class="col-md-2">
                        <ngx-select [items]="DEDUCTION_TYPES" [allowClear]="true" formControlName="receiptType" placeholder="{{'common.labels.select' | translate}}">
                        </ngx-select>
                        <div class="text-danger col-md-12 no-mg" *ngIf="receipt.controls['receiptType']?.errors?.checkRequired && (receipt.controls['receiptType'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                      </div>
                      <div class="col-md-2 no-mg">
                        <input class="form-control" tooltip="{{'common.labels.description'|translate}}"
                          placeholder="{{'common.labels.description' | translate}}" formControlName="description" />
                        <div class="text-danger col-md-12 no-mg" *ngIf="receipt.controls['description']?.errors?.checkRequired && (receipt.controls['description'].touched  || submitReceiptForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                      </div>

                      <div class="col-md-2">
                        <div align="center" class="selectPicture">
                          <label for="file2" class="file-upload">
                            <button class="btn upload-pictur-btn browse-btn">{{'common.labels.browse'|translate}}</button>
                            <input id="file2" type="file" title ="{{'common.labels.noFileChosen' | translate}}" multiple (change)="fileChangeListener($event,receipt,i)" />
                            <div class="text-danger col-md-12 no-mg" *ngIf="!receipt?.value?.isAttachedImg && isSubmitClicked">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                          </label>
                        </div>
                      </div>

                      <div class="col-md-1 margin-class ">

                        <a id="remove_{{i}}" *ngIf="settleAdvancesForm.controls.receiptsArr['controls'].length > 1 " (click)="removeReceipt(i)">
                          <i class="fa fa-minus ptr"></i>
                        </a>

                        <a id="add_{{i}}" *ngIf="lst && settleAdvancesForm.controls.receiptsArr['controls'].length > 0" class="margin-left-20" (click)="addReceiptRow(receipt)">
                          <i class="fa fa-plus ml-2 ptr "></i>
                        </a>

                      </div>
                    </div>
                    <div class="row w-100 receipt-doc" *ngFor="let file of receipt?.value?.files;let index=index">

                      <div class="col-md-12">
                          <div class="row mt-1">
                          <div class="col-md-4" *ngIf="file?.loader">
                              <i class="fa fa-spinner fa-spin margin-right-5"></i>
                          </div>
                          <div class="col-md-4 pt-2" *ngIf="!file?.loader">
                              <a href="{{file?.fileUrl}}" download="file?.name" class="document-link">{{file?.name}}</a>
                          </div>
                          <div class="col-md-4" *ngIf="!file?.loader">
                              <em class="fa fa-trash delete-file-icon c-pointer" *ngIf="file?.fileUrl" (click)="deleteFile(receipt,index)"></em>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row no-mg receipts-amount">
                  <div class="col-md-2">
                    <span>{{'projects.labels.receiptsAmount'|translate}} : </span>
                  </div>

                  <div class="col-md-2">
                    <span>{{settleAdvancesForm?.value?.receiptAmount}} {{defaultCurrency.name}}</span>
                  </div>
                </div>


                <div class="row no-mg  receipts-amount" formArrayName="amountToBeReceivedArr">
                  <div class="row no-mg">

                  </div>

                  <div class="row no-mg positiveCase" *ngFor="let amountObj of settleAdvancesForm.controls.amountToBeReceivedArr['controls']; let i=index;let lst=last"
                    [formGroupName]="i">
                    <div class="col-md-4">
                      <label class=" control-label">{{'projects.labels.amountToBeReceived' | translate}}</label>
                      <span style="color:red;">*</span>
                      <input class="form-control" type="text" (change)="amountChanged(amountObj)" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                        formControlName="amount">
                      <div class="text-danger col-md-12 no-mg" *ngIf="amountObj.controls['amount']?.errors?.checkRequired && (amountObj.controls['amount'].touched  || submitAmountReceivedForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>
                      <div class="text-danger" *ngIf="!amountObj.controls['amount']?.errors?.checkRequired && amountObj.controls['amount']?.errors?.checkDecimal && (amountObj.controls['amount'].touched) && amountObj.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'| translate}}</div>

                    </div>
                    <div class="col-md-1 mxn-class">
                      {{defaultCurrency.name}}
                    </div>
                    <div class="col-md-4">
                      <label class=" control-label">{{'projects.labels.modeOfPayment'|translate}}</label>
                      <span style="color:red;">*</span>
                      <ngx-select [items]="modesOfOperation" placeholder="{{'common.labels.select' | translate}}" formControlName="mode" [allowClear]=true></ngx-select>
                      <div class="text-danger col-md-12 no-mg" *ngIf="amountObj.controls['mode']?.errors?.checkRequired && (amountObj.controls['mode'].touched  || submitAmountReceivedForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                    </div>
                    <div class="col-md-2 ml-2 positive-add-class">

                      <a id="removepoitive_{{i}}" *ngIf="settleAdvancesForm.controls.amountToBeReceivedArr['controls'].length > 1 " (click)="removeAmountToBeReceived(i)">
                        <i class="fa fa-minus ptr"></i>
                      </a>

                      <a id="addpositive_{{i}}" *ngIf="lst && settleAdvancesForm.controls.amountToBeReceivedArr['controls'].length > 0" class="margin-left-20"
                        (click)="addAmountToBeReceivedRow(amountObj)">
                        <i class="fa fa-plus ml-2 ptr"></i>
                      </a>

                    </div>
                  </div>
                </div>



                <div class="row no-mg  receipts-amount" formArrayName="paybackAmountArr">
                  <div class="row no-mg">

                  </div>

                  <div class="row no-mg positiveCase" *ngFor="let amountObj of settleAdvancesForm.controls.paybackAmountArr['controls']; let i=index;let lst=last"
                    [formGroupName]="i">
                    <div class="col-md-4">
                      <label class=" control-label">{{'projects.labels.payBackAmount'|translate}}</label>
                      <span style="color:red;">*</span>
                      <input class="form-control" type="text" (change)="amountChanged(amountObj)" oninput="this.value = this.value.replace(/[^0-9.]/g,'');"
                        formControlName="amount">
                      <div class="text-danger col-md-12 no-mg" *ngIf="amountObj.controls['amount']?.errors?.checkRequired && (amountObj.controls['amount'].touched  || submitPaybackAmountForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>
                      <div class="text-danger" *ngIf="!amountObj.controls['amount']?.errors?.checkRequired && amountObj.controls['amount']?.errors?.checkDecimal && (amountObj.controls['amount'].touched) && amountObj.controls['amount'].dirty">{{'pages.errorMessages.validDecimal'| translate}}</div>

                    </div>
                    <div class="col-md-1 mxn-class">
                      {{defaultCurrency.name}}
                    </div>
                    <div class="col-md-4">
                      <label class=" control-label">{{'projects.labels.modeOfPayment'|translate}}</label>
                      <span style="color:red;">*</span>

                      <ngx-select [items]="modesOfOperation" placeholder="{{'common.labels.select' | translate}}" formControlName="mode" [allowClear]=true></ngx-select>
                      <div class="text-danger col-md-12 no-mg" *ngIf="amountObj.controls['mode']?.errors?.checkRequired && (amountObj.controls['mode'].touched  || submitPaybackAmountForm)">{{'actors.freelancers.errorMessages.fieldRequired'| translate}}</div>

                    </div>
                    <div class="col-md-2 ml-2 positive-add-class">

                      <a id="removenegative_{{i}}" *ngIf="settleAdvancesForm.controls.paybackAmountArr['controls'].length > 1 " (click)="removePaybackAmount(i)">
                        <i class="fa fa-minus"></i>
                      </a>

                      <a id="addnegative_{{i}}" *ngIf="lst && settleAdvancesForm.controls.paybackAmountArr['controls'].length > 0" class="margin-left-20"
                        (click)="addPayBackAmountRow(amountObj)">
                        <i class="fa fa-plus ml-2"></i>
                      </a>

                    </div>
                  </div>
                </div>

                <div class="row no-mg mb-10 receipts-amount">
                  <label class="col-md-2 control-label">{{'common.labels.status'| translate}}</label>

                  <div class="col-md-4" *ngIf="settleAdvancesForm?.value?.status==SETTLEMENT_STATUS_CONST.settled">
                    <span class="settled-status">{{'projects.labels.settled'| translate}}</span>
                  </div>
                  <div class="col-md-4" *ngIf="settleAdvancesForm?.value?.status && (settleAdvancesForm?.value?.status!=SETTLEMENT_STATUS_CONST.settled)">
                    <span class="non-settled-status">{{'projects.labels.nonSettled'| translate}}</span>

                  </div>
                </div>
                <!-- <div class="row no-mg mb-10 receipts-amount">
                  <label class="col-md-2 control-label"></label>

                  <div class="col-md-4"  *ngIf="settleAdvancesForm?.value?.status!=SETTLEMENT_STATUS_CONST.settled">
                    <span class="non-settled-status">{{'projects.labels.nonSettled'| translate}}</span>

                  </div>
                </div> -->

                <div class="row no-mg mb-10 ">
                  <div class="col-md-12 text-center">
                    <button (click)="submitSettlement()" [disabled]="(settleAdvancesForm?.value?.status!=SETTLEMENT_STATUS_CONST.settled) || isClicked || disableButtonFlag"
                      class="btn btn-success save-btn">
                      <i *ngIf="submitSpinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i> {{'common.labels.submit'| translate}}</button>
                    <button (click)="saveAsDraftSettlement()" [disabled]="isClicked || disableButtonFlag" class="btn btn-success ml-1 save-btn">
                      <i *ngIf="saveSpinnerFlag" class="fa fa-spinner fa-spin margin-right-5"></i> {{'common.labels.saveAsDraft'| translate}}</button>

                    <button (click)="navigateTo()" class="btn btn-danger ml-1 cancel-btn">{{'common.labels.cancel'| translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>
