#backButton {
  color: #1277d9;
  background-color: white;
  margin-left:1rem;
  border: 0.1rem solid #1277d9;
}

.btn-container-bottom {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.content-right-cp {
    width: 100%;
    padding-right: 2rem;
    text-align: right;
}