// import variables scss
@import "../../../../../assets/styles/variables.style.scss";
// import mixins scss
@import "../../../../../assets/styles/mixins.style.scss";

.modal-custom-lg {
  max-width: 80%;
}

#custom-panel .panel {
  border-radius: 0px;
  box-shadow: none;
}

#custom-panel .panel-heading {
  padding: 0px;
  cursor: pointer;
}

#custom-panel .panel-body {
  padding: 0px;
  border: 1px solid #ddd;
}

#category-filter {
  #folder-structure {
    .levels {
      .level-name {
        text-align: center;
        font-weight: bold;
      }
    }

    .list {
      margin: 5px;
      width: 202px;

      .color-blue {
        color: #86bffb;
      }

      .color-blue1 {
        color: #0c66c8;
      }

      .gray-color {
        color: #afb0b1;
      }

      .gray-color1 {
        color: #616569;
      }

      .pull-right {
        float: right;
      }

      .list-item {
        padding: 5px;
      }

      .list-item-wrapper {
        max-height: 320px;
        overflow-y: auto;
        width: 200px;
      }

      .bold {
        font-weight: bold;
      }
    }

    #folder-structure-wrapper {
      overflow: auto;
      max-height: 400px;
      width: 100%;
    }

    .d-flex {
      display: flex;
    }

    #category-title {
      padding: 10px;
      background: #ddd;
    }
  }

  @include textElipses();

  // #acc-group_2_0:parent {
  //     color:red;
  // }

}
