.start-end-date {
  padding: 6.1px 10px;
}

.reset-button {
  padding: 17px 10px;
}

.ngx-datatable {
  box-shadow: none;
  width: 100%;

}

::ng-deep .datatable-header {
  background-color: gray !important;
}

// ::ng-deep .datatable-header-cell {
//   width: 100% !important;
// }

::ng-deep app-trash .datatable-row-center {
  
  .mat-checkbox-frame{
    background-color: white !important;
  }
}

.fa-history {
  padding-left: 1rem;
}