<div class="row" [formGroup]="formGroup">
    <div class="col-lg-3">
        <mat-form-field class="col-md-12">
        <mat-label>Widget Name</mat-label>
            <input matInput formControlName="widget_name" />
        <mat-error *ngIf="formGroup.get('widget_name').invalid">
            {{getErrorMessage(formGroup.get('widget_name'), { required: 'Widget Name is required', pattern: 'Widget Name can be only alphabetic',  maxlength: 'Field accepts alphabetic value up to 16 characters' })}}
        </mat-error>
        </mat-form-field>
    </div>
    <div class="col-lg-3">
        <mat-form-field class="col-md-12">
        <mat-label>Widget Status</mat-label>
        <mat-select disableOptionCentering panelClass="select-dropdown-class" formControlName="widget_status">
            <mat-option *ngFor="let contractStatus of arrayContractStatuses" [value]="contractStatus.code">
            {{ contractStatus.name }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('widget_status').invalid">
            {{getErrorMessage(formGroup.get('widget_status'), { required: 'Widget Status is required'})}}
        </mat-error>
        </mat-form-field>
    </div>
    <div class="col-lg-1 is-visible-div">
        <mat-checkbox formControlName="visibility"> Is Visible
        </mat-checkbox>
    </div>
    <div class="col-lg-3">
      <div class="col-sm-12 col-xs-12">
        <div class="col-sm-7 col-xs-6" style="padding-top: 3.3rem;">
              Color Code   
        </div>
        <div *ngIf="!this.defaultField" class="color-picker-wrap" style="padding-top: 1.3rem;">
          <mat-form-field style="display:inline">
            <input matInput formControlName="color">
            <div class="color-picker-icon"></div>
          </mat-form-field>
          <input type="hidden" #chip colorPicker controlName="color" (onSelectColor)="addColor(chip.value)" />
        </div>
        <div class="color-chips-wrap" style="padding-top: 1.3rem;">
          <mat-form-field style="display:inline">
            <mat-chip-list matPrefix>
              <mat-chip class="color-chips" *ngIf="chipValueColor !== ''" color="accent" >
                <div class="color-chip" [style.background-color]="chipValueColor"  [title]="chipValueColor"></div>
                <i class="fa fa-close" style="cursor:pointer" (click)="removeColor()"></i>
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <p class="remove-field" (click)="removeField()" *ngIf="!defaultField">Remove</p>
    </div>
</div>
