.color-picker-wrap{
    width: 0%;
    float: left;
    mat-chip-list {
        max-width: 100% !important; 
   }
}

.color-picker-icon {
    width: 16px;
    height: 16px;
    background-image: url('../../../../../assets/images/color-picker-icon.png');
    background-position: center;
    background-repeat: no-repeat;    
    position: absolute;
    right: 12px;
    top: 3px;
    left: auto;            
}

.color-chips-wrap {
    width: 20%;
    float: left;
    mat-form-field{
        width: 100% !important;
        border:0;    
    } 
}

.color-chips {
    padding: 6px 5px 6px 5px !important;
    border-radius: 0 !important;
}

.color-chip {
     height: 11px;
     width: 11px;
     display: inline-flex;
     padding: 2px;
}

.is-visible-div {
    padding-top: 2.5rem;
}

.remove-field {
  padding-top: 2.9rem;
  color: #1277d9 !important;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}